Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
    project:
      default:
        target: auto
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      app-payment-np-atobarai:
        flags: [np-atobarai]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]
      packages-domain:
        flags: [domain]
      packages-errors:
        flags: [errors]
      packages-apl-dynamo:
        flags: [apl-dynamo]
ignore:
  - "**/scripts/**"
  - "**/e2e/**"
  - "**/graphql/**"
  - "**/generated/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  np-atobarai:
    paths:
      - apps/np-atobarai/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/
  domain:
    paths:
      - packages/domain/
  errors:
      paths:
        - packages/errors/
  apl-dynamo:
      paths:
        - packages/apl-dynamo/

Anonymizer: erase checkouts and gift cards
  .changeset/anonymizer-checkouts-gift-cards.md
  apps/anonymizer/README.md
  apps/anonymizer/generated/graphql.ts
  apps/anonymizer/graphql/mutations/checkout-delete.graphql
  apps/anonymizer/graphql/mutations/gift-card-bulk-delete.graphql
  apps/anonymizer/graphql/queries/checkouts-for-deletion.graphql
  apps/anonymizer/graphql/queries/gift-cards-for-deletion.graphql
  apps/anonymizer/graphql/queries/shop-version.graphql
  apps/anonymizer/src/modules/anonymize/bulk-anonymize-section.tsx
  apps/anonymizer/src/modules/anonymize/checkouts.test.ts
  apps/anonymizer/src/modules/anonymize/checkouts.ts
  apps/anonymizer/src/modules/anonymize/gift-cards-section.tsx
  apps/anonymizer/src/modules/anonymize/gift-cards.test.ts
  apps/anonymizer/src/modules/anonymize/gift-cards.ts
  apps/anonymizer/src/modules/anonymize/run-state.tsx
  apps/anonymizer/src/modules/anonymize/saleor-version.test.ts
  apps/anonymizer/src/modules/anonymize/saleor-version.ts
  apps/anonymizer/src/modules/anonymize/scramble-orders-by-email.tsx
  apps/anonymizer/src/modules/anonymize/use-checkout-deletion-support.ts
  apps/anonymizer/src/pages/api/manifest.ts
  apps/anonymizer/src/pages/index.tsx
Due: none

Anonymizer: match gift cards sent to a customer by recipient email
  .changeset/anonymizer-giftcard-recipient-email.md
  apps/anonymizer/generated/graphql.ts
  apps/anonymizer/graphql/queries/gift-cards-for-deletion.graphql
  apps/anonymizer/src/modules/anonymize/gift-cards.test.ts
  apps/anonymizer/src/modules/anonymize/gift-cards.ts
Due: none

Potential fix for pull request finding
  .changeset/add-eslint-plugin-depend.md
Due: none

fix review
  apps/onboarding/.prettierignore
  apps/onboarding/generated/graphql.ts
  apps/onboarding/src/modules/onboarding/onboarding-context/use-onboarding-storage.ts
  apps/onboarding/src/modules/onboarding/onboarding-context/utils.test.ts
  apps/onboarding/src/modules/onboarding/onboarding-context/utils.ts
Due: none

Anonymizer: erase checkouts and gift cards (#2377)
  .changeset/anonymizer-checkouts-gift-cards.md
  .changeset/anonymizer-giftcard-recipient-email.md
  apps/anonymizer/README.md
  apps/anonymizer/generated/graphql.ts
  apps/anonymizer/graphql/mutations/checkout-delete.graphql
  apps/anonymizer/graphql/mutations/gift-card-bulk-delete.graphql
  apps/anonymizer/graphql/queries/checkouts-for-deletion.graphql
  apps/anonymizer/graphql/queries/gift-cards-for-deletion.graphql
  apps/anonymizer/graphql/queries/shop-version.graphql
  apps/anonymizer/src/modules/anonymize/bulk-anonymize-section.tsx
  apps/anonymizer/src/modules/anonymize/checkouts.test.ts
  apps/anonymizer/src/modules/anonymize/checkouts.ts
  apps/anonymizer/src/modules/anonymize/gift-cards-section.tsx
  apps/anonymizer/src/modules/anonymize/gift-cards.test.ts
  apps/anonymizer/src/modules/anonymize/gift-cards.ts
  apps/anonymizer/src/modules/anonymize/run-state.tsx
  apps/anonymizer/src/modules/anonymize/saleor-version.test.ts
  apps/anonymizer/src/modules/anonymize/saleor-version.ts
  apps/anonymizer/src/modules/anonymize/scramble-orders-by-email.tsx
  apps/anonymizer/src/modules/anonymize/use-checkout-deletion-support.ts
  apps/anonymizer/src/pages/api/manifest.ts
  apps/anonymizer/src/pages/index.tsx
Due: none

fix onboarding app sdk installation
  apps/onboarding/package.json
  pnpm-lock.yaml
Due: none

fix onboarding app sdk installation (#2378)
  apps/onboarding/package.json
  pnpm-lock.yaml
Due: none

fix lock
  pnpm-lock.yaml
Due: none

Bump @saleor/app-sdk to 1.11.0 and restore widget actions
  apps/dummy-payment-app/src/pages/app/widgets/order-details.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

cr fixes
  apps/dummy-payment-app/src/pages/app/transactions/index.tsx
Due: none

Add GDPR removal customer detail extension to anonymizer
  .changeset/gdpr-removal-customer-extension.md
  apps/anonymizer/generated/graphql.ts
  apps/anonymizer/graphql/queries/customer-by-id.graphql
  apps/anonymizer/src/modules/anonymize/gdpr-removal/customer.test.ts
  apps/anonymizer/src/modules/anonymize/gdpr-removal/customer.ts
  apps/anonymizer/src/modules/anonymize/gdpr-removal/gdpr-removal-view.tsx
  apps/anonymizer/src/modules/anonymize/gdpr-removal/verification.test.ts
  apps/anonymizer/src/modules/anonymize/gdpr-removal/verification.ts
  apps/anonymizer/src/pages/_app.tsx
  apps/anonymizer/src/pages/api/manifest.ts
  apps/anonymizer/src/pages/gdpr-removal.tsx
Due: none

Read customer id from `customerId` query param, not `id`
  apps/anonymizer/src/pages/gdpr-removal.tsx
Due: none

Add Finish button redirecting to customer list after removal
  apps/anonymizer/src/modules/anonymize/gdpr-removal/gdpr-removal-view.tsx
Due: none

Add new eslint rule (#2370)
  .changeset/add-eslint-plugin-depend.md
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

Add GDPR removal customer detail extension to anonymizer (#2380)
  .changeset/gdpr-removal-customer-extension.md
  apps/anonymizer/generated/graphql.ts
  apps/anonymizer/graphql/queries/customer-by-id.graphql
  apps/anonymizer/src/modules/anonymize/gdpr-removal/customer.test.ts
  apps/anonymizer/src/modules/anonymize/gdpr-removal/customer.ts
  apps/anonymizer/src/modules/anonymize/gdpr-removal/gdpr-removal-view.tsx
  apps/anonymizer/src/modules/anonymize/gdpr-removal/verification.test.ts
  apps/anonymizer/src/modules/anonymize/gdpr-removal/verification.ts
  apps/anonymizer/src/pages/_app.tsx
  apps/anonymizer/src/pages/api/manifest.ts
  apps/anonymizer/src/pages/gdpr-removal.tsx
Due: none

update graphql
  apps/dummy-payment-app/generated/graphql.ts
Due: none

INFRA-1670 Use full gift card code in sent email template
  .changeset/smtp-gift-card-full-code.md
  apps/smtp/src/modules/smtp/default-templates.ts
Due: smtp

Clarify onboarding app description in manifest
  .changeset/onboarding-manifest-about.md
  apps/onboarding/src/app/api/manifest/route.ts
Due: none

Remove pnpm audit CI job in favor of Socket.dev
  .github/workflows/main.yml
  adr/0003-use-socket-dev-for-dependency-security.md
Due: none

Clarify onboarding app description in manifest (#2384)
  .changeset/onboarding-manifest-about.md
  apps/onboarding/src/app/api/manifest/route.ts
Due: none

Remove pnpm audit CI job in favor of Socket.dev (#2385)
  .github/workflows/main.yml
  adr/0003-use-socket-dev-for-dependency-security.md
Due: none

INFRA-1670 Use full gift card code in sent email template (#2383)
  .changeset/smtp-gift-card-full-code.md
  apps/smtp/src/modules/smtp/default-templates.ts
Due: smtp

build: switch labeller to `pull_request` event
  .github/workflows/labeler.yml
Due: none

build: switch labeller to `pull_request` event (#2388)
  .github/workflows/labeler.yml
Due: none

Drop Saleor 3.20 support (#2342)
  .changeset/nine-chefs-stare.md
  apps/avatax/src/app/api/manifest/route.ts
  apps/cms/src/pages/api/manifest.ts
  apps/klaviyo/src/pages/api/manifest.ts
  apps/search/src/pages/api/manifest.ts
  apps/smtp/src/pages/api/manifest.ts
Due: avatax, cms, search, smtp

Update codecov config to match current apps and packages
  .github/workflows/main.yml
  codecov.yml
Due: none

Add dummy-payment-app and klaviyo to codecov config
  .github/workflows/main.yml
  codecov.yml
Due: none

PXTX-812 Use SEO description in Google feed when available
  .changeset/products-feed-seo-description.md
  apps/products-feed/src/modules/google-feed/get-description-attribute-value.test.ts
  apps/products-feed/src/modules/google-feed/get-description-attribute-value.ts
  apps/products-feed/src/modules/google-feed/product-variant-to-proxy.ts
Due: products-feed

Update codecov config to match current apps and packages (#2390)
  .github/workflows/main.yml
  codecov.yml
Due: none

PXTX-812 Use SEO description in Google feed when available (#2391)
  .changeset/products-feed-seo-description.md
  apps/products-feed/src/modules/google-feed/get-description-attribute-value.test.ts
  apps/products-feed/src/modules/google-feed/get-description-attribute-value.ts
  apps/products-feed/src/modules/google-feed/product-variant-to-proxy.ts
Due: products-feed

feat(products-feed): add useSkuAsGtin config field
  apps/products-feed/src/modules/app-configuration/app-config.test.ts
  apps/products-feed/src/modules/app-configuration/app-config.ts
  apps/products-feed/src/modules/app-configuration/attribute-mapping-form.tsx
  apps/products-feed/src/modules/google-feed/attribute-mapping.test.ts
Due: products-feed

feat(products-feed): fall back to SKU for GTIN when enabled
  apps/products-feed/src/modules/google-feed/product-variant-to-proxy.test.ts
  apps/products-feed/src/modules/google-feed/product-variant-to-proxy.ts
Due: products-feed

feat(products-feed): add Use SKU as GTIN toggle to settings
  apps/products-feed/src/modules/app-configuration/attribute-mapping-form.tsx
Due: products-feed

chore(products-feed): changeset for Use SKU as GTIN
  .changeset/products-feed-sku-as-gtin.md
  cspell.config.js
Due: none

test(products-feed): cover empty GTIN/SKU edge cases; clarify SKU fallback
  apps/products-feed/src/modules/google-feed/product-variant-to-proxy.test.ts
  apps/products-feed/src/modules/google-feed/product-variant-to-proxy.ts
Due: products-feed

Add custom price + reason for checkout lines in dummy-payment-app
  .changeset/dummy-checkout-custom-price-reason.md
  apps/dummy-payment-app/generated/graphql.ts
  apps/dummy-payment-app/graphql/mutations/create-checkout.graphql
  apps/dummy-payment-app/package.json
  apps/dummy-payment-app/src/pages/api/manifest.ts
  apps/dummy-payment-app/src/pages/app/checkout.tsx
  schema.graphql
Due: none

Run price-override checkout on server with logging, and disable controls while loading
  .changeset/dummy-checkout-custom-price-reason.md
  .changeset/dummy-checkout-price-override-logging.md
  apps/dummy-payment-app/.env.example
  apps/dummy-payment-app/src/env.ts
  apps/dummy-payment-app/src/pages/app/checkout.tsx
  apps/dummy-payment-app/src/server/routers/app-router.ts
  apps/dummy-payment-app/src/server/routers/checkout.router.ts
  apps/dummy-payment-app/turbo.json
Due: none
