Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
    project:
      default:
        target: auto
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      app-payment-np-atobarai:
        flags: [np-atobarai]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]
      packages-domain:
        flags: [domain]
      packages-errors:
        flags: [errors]
      packages-apl-dynamo:
        flags: [apl-dynamo]
ignore:
  - "**/scripts/**"
  - "**/e2e/**"
  - "**/graphql/**"
  - "**/generated/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  np-atobarai:
    paths:
      - apps/np-atobarai/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/
  domain:
    paths:
      - packages/domain/
  errors:
      paths:
        - packages/errors/
  apl-dynamo:
      paths:
        - packages/apl-dynamo/

Fixes after CR
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-goods.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/atobarai-line-calculation.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/atobarai-line-calculation.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/no-fullfillment-refund-goods-builders.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/transaction-goods-builder.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/transaction-goods-builder.ts
Due: np-atobarai

wip
  apps/stripe/src/app/api/connect/create/route.ts
  apps/stripe/src/app/api/connect/link/route.ts
  apps/stripe/src/modules/ui/stripe-configs/channel-config-section.tsx
  apps/stripe/src/pages/connect/link.tsx
  packages/ui/src/configs-list.tsx
Due: stripe

fix test
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
Due: np-atobarai

Take Atobarai Shipping Company code from private metadata of fullfilment (#2041)
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/subscriptions/fulfillment-tracking-number-updated.graphql
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
Due: np-atobarai

Add option to checkForMultipleResults to NP Atobarai API client
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategies.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/use-case-errors.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/api/types.ts
Due: np-atobarai

Add option to checkForMultipleResults to NP Atobarai API client (#2042)
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategies.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/use-case-errors.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/api/types.ts
Due: np-atobarai

Replace APL to dynamo from SDK
  apps/np-atobarai/package.json
  apps/np-atobarai/src/lib/saleor-app.ts
  apps/segment/package.json
  apps/segment/src/saleor-app.ts
  apps/stripe/package.json
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/lib/saleor-app.ts
  packages/apl-dynamo/CHANGELOG.md
  packages/apl-dynamo/eslint.config.js
  packages/apl-dynamo/lint-staged.config.js
  packages/apl-dynamo/package.json
  packages/apl-dynamo/src/apl/apl-db-model.ts
  packages/apl-dynamo/src/apl/apl-repository.ts
  packages/apl-dynamo/src/apl/dynamo-apl-repository.test.ts
  packages/apl-dynamo/src/apl/dynamo-apl-repository.ts
  packages/apl-dynamo/src/apl/dynamodb-apl.test.ts
  packages/apl-dynamo/src/apl/dynamodb-apl.ts
  packages/apl-dynamo/src/apl/memory-apl-repository.ts
  packages/apl-dynamo/src/apl/mocks/mocked-auth-data.ts
  packages/apl-dynamo/src/index.ts
  packages/apl-dynamo/tsconfig.json
  packages/apl-dynamo/turbo.json
  packages/apl-dynamo/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: segment, stripe, np-atobarai, apl-dynamo

WIP: First implementation
  apps/np-atobarai/src/__tests__/mocks/app-transaction/mocked-transaction-record.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/after-fulfillment-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/before-fulfillment-strategies.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/before-fulfillment-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/types.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/refund-goods-builders.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/refund-goods-builders.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb-transaction-record-repo.test.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb-transaction-record-repo.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb/entity.test.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb/entity.ts
  apps/np-atobarai/src/modules/transactions-recording/transaction-record.test.ts
  apps/np-atobarai/src/modules/transactions-recording/transaction-record.ts
Due: np-atobarai

update sdk
  .changeset/tasty-pumpkins-cry.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix imports
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-channels-mapping-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/remove-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/update-mapping-trpc-handler.test.ts
Due: np-atobarai

Replace APL to dynamo from SDK (#2043)
  .changeset/tasty-pumpkins-cry.md
  apps/np-atobarai/package.json
  apps/np-atobarai/src/lib/saleor-app.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-channels-mapping-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/remove-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/update-mapping-trpc-handler.test.ts
  apps/segment/package.json
  apps/segment/src/saleor-app.ts
  apps/stripe/package.json
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/lib/saleor-app.ts
  packages/apl-dynamo/CHANGELOG.md
  packages/apl-dynamo/eslint.config.js
  packages/apl-dynamo/lint-staged.config.js
  packages/apl-dynamo/package.json
  packages/apl-dynamo/src/apl/apl-db-model.ts
  packages/apl-dynamo/src/apl/apl-repository.ts
  packages/apl-dynamo/src/apl/dynamo-apl-repository.test.ts
  packages/apl-dynamo/src/apl/dynamo-apl-repository.ts
  packages/apl-dynamo/src/apl/dynamodb-apl.test.ts
  packages/apl-dynamo/src/apl/dynamodb-apl.ts
  packages/apl-dynamo/src/apl/memory-apl-repository.ts
  packages/apl-dynamo/src/apl/mocks/mocked-auth-data.ts
  packages/apl-dynamo/src/index.ts
  packages/apl-dynamo/tsconfig.json
  packages/apl-dynamo/turbo.json
  packages/apl-dynamo/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: segment, stripe, np-atobarai, apl-dynamo

fix test
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/after-fulfillment-refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/after-fulfillment-refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/base-refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/before-fulfillment-refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/before-fulfillment-refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/after-fulfillment-strategies.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/after-fulfillment-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/before-fulfillment-strategies.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/before-fulfillment-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/types.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/api/types.ts
  apps/np-atobarai/src/modules/transaction-result/refund-result.test.ts
  apps/np-atobarai/src/modules/transaction-result/refund-result.ts
Due: np-atobarai

fix typos
  apps/np-atobarai/src/__tests__/mocks/app-transaction/mocked-transaction-record.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/api/mocked-atobarai-report-fulfillment-payload.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-shipping-company-code.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/after-fulfillment-refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/after-fulfillment-strategies.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-fulfillment-report-payload.test.ts
Due: np-atobarai

fixes after copilot cr
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/after-fulfillment-refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/before-fulfillment-refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/after-fulfillment-strategies.ts
Due: np-atobarai

Refunds after fulfillment for NP Atobarai (#2044)
  apps/np-atobarai/src/__tests__/mocks/app-transaction/mocked-transaction-record.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/api/mocked-atobarai-report-fulfillment-payload.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-shipping-company-code.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/after-fulfillment-refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/after-fulfillment-refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/base-refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/before-fulfillment-refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/before-fulfillment-refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategies.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/after-fulfillment-strategies.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/after-fulfillment-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/before-fulfillment-strategies.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/before-fulfillment-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/types.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-fulfillment-report-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/api/types.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/refund-goods-builders.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/refund-goods-builders.ts
  apps/np-atobarai/src/modules/transaction-result/refund-result.test.ts
  apps/np-atobarai/src/modules/transaction-result/refund-result.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb-transaction-record-repo.test.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb-transaction-record-repo.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb/entity.test.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb/entity.ts
  apps/np-atobarai/src/modules/transactions-recording/transaction-record.test.ts
  apps/np-atobarai/src/modules/transactions-recording/transaction-record.ts
Due: np-atobarai

wip
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/mutations/order-note-add.graphql
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/modules/saleor/order-note-service.ts
Due: np-atobarai

Initialize dynamo apl
  .changeset/violet-forks-thank.md
  apps/avatax/saleor-app.ts
  apps/avatax/src/env.ts
  apps/avatax/src/modules/client-logs/client-logs.router.ts
  apps/avatax/src/modules/client-logs/dynamo-logs-table.test.ts
  apps/avatax/src/modules/client-logs/dynamo-logs-table.ts
  apps/avatax/src/modules/client-logs/log-transformer.ts
  apps/avatax/src/modules/client-logs/log-writer-factory.ts
  apps/avatax/src/modules/client-logs/logs-repository.test.ts
  apps/avatax/src/modules/client-logs/logs-repository.ts
  apps/avatax/src/modules/dynamodb/dynamo-client.ts
  apps/avatax/src/modules/dynamodb/dynamo-main-table.ts
  apps/avatax/src/setup-tests.ts
  apps/avatax/turbo.json
Due: avatax

setup table
  apps/avatax/.env.example
  apps/avatax/scripts/setup-dynamodb.sh
Due: avatax

Improve language correctness across documentation and code (#2046)
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  adr/0002-use-zod-branded-types.md
  apps/avatax/README.md
  apps/cms/README.md
  apps/klaviyo/README.md
  apps/np-atobarai/README.md
  apps/products-feed/README.md
  apps/products-feed/docs/s3BucketSetup.md
  apps/search/README.md
  apps/search/docs/configuration.md
  apps/search/src/lib/useIndicesSetup.tsx
  apps/search/src/lib/useWebhooksUpdate.tsx
  apps/segment/README.md
  apps/smtp/README.md
  apps/stripe/README.md
  packages/otel/README.md
  packages/react-hook-form-macaw/README.md
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

Initialize dynamo apl (#2048)
  .changeset/violet-forks-thank.md
  apps/avatax/.env.example
  apps/avatax/saleor-app.ts
  apps/avatax/scripts/setup-dynamodb.sh
  apps/avatax/src/env.ts
  apps/avatax/src/modules/client-logs/client-logs.router.ts
  apps/avatax/src/modules/client-logs/dynamo-logs-table.test.ts
  apps/avatax/src/modules/client-logs/dynamo-logs-table.ts
  apps/avatax/src/modules/client-logs/log-transformer.ts
  apps/avatax/src/modules/client-logs/log-writer-factory.ts
  apps/avatax/src/modules/client-logs/logs-repository.test.ts
  apps/avatax/src/modules/client-logs/logs-repository.ts
  apps/avatax/src/modules/dynamodb/dynamo-client.ts
  apps/avatax/src/modules/dynamodb/dynamo-main-table.ts
  apps/avatax/src/setup-tests.ts
  apps/avatax/turbo.json
Due: avatax

Use dedicated e2e env config
  .github/workflows/e2e.yml
  apps/avatax/e2e/env-e2e.ts
  apps/avatax/e2e/setup.ts
  apps/avatax/e2e/tests/draft-order-basic.spec.ts
  apps/avatax/e2e/tests/draft-order-catalog-promotion.spec.ts
  apps/avatax/e2e/tests/draft-order-changing-lines.spec.ts
  apps/avatax/e2e/tests/draft-order-with-entire-voucher.spec.ts
  apps/avatax/e2e/tests/draft-order-with-entity-code.spec.ts
  apps/avatax/e2e/tests/draft-order-with-manual-total-discount.spec.ts
  apps/avatax/e2e/tests/draft-order-with-order-promotion-subtotal.spec.ts
  apps/avatax/e2e/utils/saleor-version-compatibility.ts
  apps/avatax/eslint.config.js
Due: none

Use dedicated e2e env config (#2049)
  .github/workflows/e2e.yml
  apps/avatax/e2e/env-e2e.ts
  apps/avatax/e2e/setup.ts
  apps/avatax/e2e/tests/draft-order-basic.spec.ts
  apps/avatax/e2e/tests/draft-order-catalog-promotion.spec.ts
  apps/avatax/e2e/tests/draft-order-changing-lines.spec.ts
  apps/avatax/e2e/tests/draft-order-with-entire-voucher.spec.ts
  apps/avatax/e2e/tests/draft-order-with-entity-code.spec.ts
  apps/avatax/e2e/tests/draft-order-with-manual-total-discount.spec.ts
  apps/avatax/e2e/tests/draft-order-with-order-promotion-subtotal.spec.ts
  apps/avatax/e2e/utils/saleor-version-compatibility.ts
  apps/avatax/eslint.config.js
Due: none

Release apps (#2047)
  .changeset/tasty-pumpkins-cry.md
  .changeset/violet-forks-thank.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/np-atobarai/CHANGELOG.md
  apps/np-atobarai/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Due: avatax, segment, stripe, np-atobarai

Install dynamodb apl to apps
  apps/avatax/saleor-app.ts
  apps/cms/package.json
  apps/cms/src/modules/dynamodb/dynamo-main-table.ts
  apps/cms/src/modules/dynamodb/dynamodb-client.ts
  apps/cms/src/saleor-app.ts
  apps/cms/turbo.json
  apps/klaviyo/package.json
  apps/klaviyo/saleor-app.ts
  apps/klaviyo/src/dynamodb/dynamo-main-table.ts
  apps/klaviyo/src/dynamodb/dynamodb-client.ts
  apps/klaviyo/turbo.json
  apps/products-feed/package.json
  apps/products-feed/src/modules/dynamodb/dynamo-main-table.ts
  apps/products-feed/src/modules/dynamodb/dynamodb-client.ts
  apps/products-feed/src/saleor-app.ts
  apps/products-feed/turbo.json
  apps/search/package.json
  apps/search/saleor-app.ts
  apps/search/src/modules/dynamodb/dynamo-main-table.ts
  apps/search/src/modules/dynamodb/dynamodb-client.ts
  apps/search/turbo.json
  apps/smtp/package.json
  apps/smtp/src/modules/dynamodb/dynamo-main-table.ts
  apps/smtp/src/modules/dynamodb/dynamodb-client.ts
  apps/smtp/src/saleor-app.ts
  apps/smtp/turbo.json
  pnpm-lock.yaml
Due: avatax, cms, products-feed, search, smtp

changeset
  .changeset/strange-pears-tickle.md
Due: none

fix linter / build
  apps/cms/src/modules/dynamodb/dynamo-main-table.ts
  apps/klaviyo/src/dynamodb/dynamo-main-table.ts
  apps/products-feed/src/modules/dynamodb/dynamo-main-table.ts
  apps/search/src/modules/dynamodb/dynamo-main-table.ts
  apps/smtp/src/modules/dynamodb/dynamo-main-table.ts
Due: cms, products-feed, search, smtp

Install dynamodb apl to apps (#2050)
  .changeset/strange-pears-tickle.md
  apps/avatax/saleor-app.ts
  apps/cms/package.json
  apps/cms/src/modules/dynamodb/dynamo-main-table.ts
  apps/cms/src/modules/dynamodb/dynamodb-client.ts
  apps/cms/src/saleor-app.ts
  apps/cms/turbo.json
  apps/klaviyo/package.json
  apps/klaviyo/saleor-app.ts
  apps/klaviyo/src/dynamodb/dynamo-main-table.ts
  apps/klaviyo/src/dynamodb/dynamodb-client.ts
  apps/klaviyo/turbo.json
  apps/products-feed/package.json
  apps/products-feed/src/modules/dynamodb/dynamo-main-table.ts
  apps/products-feed/src/modules/dynamodb/dynamodb-client.ts
  apps/products-feed/src/saleor-app.ts
  apps/products-feed/turbo.json
  apps/search/package.json
  apps/search/saleor-app.ts
  apps/search/src/modules/dynamodb/dynamo-main-table.ts
  apps/search/src/modules/dynamodb/dynamodb-client.ts
  apps/search/turbo.json
  apps/smtp/package.json
  apps/smtp/src/modules/dynamodb/dynamo-main-table.ts
  apps/smtp/src/modules/dynamodb/dynamodb-client.ts
  apps/smtp/src/saleor-app.ts
  apps/smtp/turbo.json
  pnpm-lock.yaml
Due: avatax, cms, products-feed, search, smtp

Release apps (#2051)
  .changeset/strange-pears-tickle.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Due: avatax, cms, products-feed, search, smtp

handle InvalidZipForStateError error from avatax as expected
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/taxes/tax-error.ts
Due: avatax

Handle AvaTax get tax error
  .changeset/kind-dolphins-mix.md
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
Due: avatax

Handle AvaTax get tax error (#2052)
  .changeset/kind-dolphins-mix.md
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
Due: avatax

Add test
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
Due: avatax

update app-sdk
  .changeset/fuzzy-brooms-heal.md
  apps/avatax/saleor-app.ts
  apps/cms/src/saleor-app.ts
  apps/klaviyo/saleor-app.ts
  apps/np-atobarai/src/lib/saleor-app.ts
  apps/products-feed/src/saleor-app.ts
  apps/search/saleor-app.ts
  apps/segment/src/saleor-app.ts
  apps/smtp/src/saleor-app.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/lib/saleor-app.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

Release apps (#2053)
  .changeset/kind-dolphins-mix.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
Due: avatax

Add changeset
  .changeset/cool-swans-kneel.md
Due: none

Handle AvaTax GetTaxError faultSubCodes for proper HTTP status mapping
  .changeset/cool-swans-kneel.md
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/taxes/tax-error.ts
Due: avatax

Simplify error handling logic in calculate-taxes use case
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
Due: avatax

fix logger context in generate-chunk
  .changeset/wise-cameras-dance.md
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
Due: products-feed

update app-sdk (#2054)
  .changeset/fuzzy-brooms-heal.md
  apps/avatax/saleor-app.ts
  apps/cms/src/saleor-app.ts
  apps/klaviyo/saleor-app.ts
  apps/np-atobarai/src/lib/saleor-app.ts
  apps/products-feed/src/saleor-app.ts
  apps/search/saleor-app.ts
  apps/segment/src/saleor-app.ts
  apps/smtp/src/saleor-app.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/lib/saleor-app.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai
