Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, logger, shared, webhook-utils

Update CodeCov to be informational (#1716)
  codecov.yml
Due: none

allow functions multi region (#1715)
  .changeset/many-taxis-film.md
  .changeset/witty-islands-listen.md
  apps/avatax/vercel.json
  apps/products-feed/vercel.json
  apps/search/vercel.json
  apps/segment/vercel.json
  apps/smtp/vercel.json
Due: avatax, products-feed, search, segment, smtp

Send email to Segment
  apps/segment/src/modules/tracking-events/tracking-events.ts
Due: segment

Adding sku to the product variant fields for CMS app (#1692)
  .changeset/nervous-suns-hang.md
  apps/cms-v2/generated/graphql.ts
  apps/cms-v2/graphql/fragments/BulkImportProduct.graphql
  apps/cms-v2/graphql/fragments/WebhookProductVariant.graphql
  apps/cms-v2/src/modules/configuration/app-config.test.ts
  apps/cms-v2/src/modules/configuration/print-saleor-product-fields.ts
  apps/cms-v2/src/modules/configuration/schemas/saleor-provider-fields-mapping.schema.ts
  apps/cms-v2/src/modules/providers/builder.io/builder-io-bulk-sync-processor.ts
  apps/cms-v2/src/modules/providers/builder.io/builder-io-config-form.tsx
  apps/cms-v2/src/modules/providers/contentful/contentful-bulk-sync-processor.ts
  apps/cms-v2/src/modules/providers/contentful/contentful-client.test.ts
  apps/cms-v2/src/modules/providers/contentful/contentful-client.ts
  apps/cms-v2/src/modules/providers/contentful/contentful-config-form.tsx
  apps/cms-v2/src/modules/providers/contentful/contentful-webhooks-processor.test.ts
  apps/cms-v2/src/modules/providers/datocms/datocms-bulk-sync-processor.ts
  apps/cms-v2/src/modules/providers/datocms/datocms-config-form.tsx
  apps/cms-v2/src/modules/providers/fields-mapper.test.ts
  apps/cms-v2/src/modules/providers/fields-mapper.ts
  apps/cms-v2/src/modules/providers/payloadcms/payloadcms-bulk-sync-processor.ts
  apps/cms-v2/src/modules/providers/payloadcms/payloadcms-config-form.tsx
  apps/cms-v2/src/modules/providers/strapi/strapi-bulk-sync-processor.ts
  apps/cms-v2/src/modules/providers/strapi/strapi-config-form.tsx
  apps/cms-v2/src/modules/webhooks-operations/webhooks-processors-delegator.test.ts
Due: cms

Add `shipping_label` attribute to Product Feed(#1713)
  .changeset/flat-horses-yawn.md
  apps/products-feed/src/modules/app-configuration/app-config.test.ts
  apps/products-feed/src/modules/app-configuration/app-config.ts
  apps/products-feed/src/modules/app-configuration/attribute-mapping-form.tsx
  apps/products-feed/src/modules/google-feed/attribute-mapping.test.ts
  apps/products-feed/src/modules/google-feed/attribute-mapping.ts
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/products-feed/src/modules/google-feed/product-to-proxy.ts
  apps/products-feed/src/modules/google-feed/types.ts
  apps/products-feed/src/pages/configuration.tsx
Due: products-feed

await flush
  apps/segment/src/modules/segment/segment-events-tracker.ts
  apps/segment/src/pages/api/webhooks/order-confirmed.ts
Due: segment

Fix wrong migration logic
  apps/avatax/scripts/run-webhooks-migration.ts
  apps/segment/scripts/run-webhooks-migration.ts
Due: avatax, segment

feat: adding native redis APL support for all apps
  .changeset/shiny-feet-train.md
  apps/avatax/package.json
  apps/avatax/saleor-app.ts
  apps/avatax/src/env.ts
  apps/avatax/turbo.json
  apps/cms-v2/package.json
  apps/cms-v2/turbo.json
  apps/klaviyo/package.json
  apps/klaviyo/saleor-app.ts
  apps/klaviyo/turbo.json
  apps/products-feed/package.json
  apps/products-feed/src/saleor-app.ts
  apps/products-feed/turbo.json
  apps/search/package.json
  apps/search/saleor-app.ts
  apps/search/turbo.json
  apps/segment/package.json
  apps/segment/src/env.ts
  apps/segment/src/saleor-app.ts
  apps/segment/turbo.json
  apps/smtp/package.json
  apps/smtp/src/saleor-app.ts
  apps/smtp/turbo.json
  pnpm-lock.yaml
Due: avatax, cms, products-feed, search, segment, smtp

fix: outdated PNPM lock
  pnpm-lock.yaml
Due: none

Add changeset & fix tests
  .changeset/four-plants-repair.md
  .changeset/rare-grapes-burn.md
  apps/segment/src/modules/tracking-events/track-event.use-case.test.ts
  apps/segment/src/modules/tracking-events/tracking-events.test.ts
Due: segment

Fix Segment app issues & AvaTax app migration script (#1717)
  .changeset/four-plants-repair.md
  .changeset/rare-grapes-burn.md
  apps/avatax/scripts/run-webhooks-migration.ts
  apps/segment/scripts/run-webhooks-migration.ts
  apps/segment/src/modules/segment/segment-events-tracker.ts
  apps/segment/src/modules/tracking-events/track-event.use-case.test.ts
  apps/segment/src/modules/tracking-events/tracking-events.test.ts
  apps/segment/src/modules/tracking-events/tracking-events.ts
  apps/segment/src/pages/api/webhooks/order-confirmed.ts
Due: avatax, segment

Additional logs to debug e2e
  .changeset/gentle-gorillas-report.md
  apps/avatax/src/modules/avatax/extract-transaction-redacted-log-properties.ts
Due: avatax

Fix e2e for AvaTax app
  apps/avatax/e2e/tests/checkout_address_change.spec.ts
  apps/avatax/e2e/tests/checkout_basic_product_with_tax_code.spec.ts
  apps/avatax/e2e/tests/draft_order_basic.spec.ts
  apps/avatax/e2e/tests/draft_order_catalog_promotion.spec.ts
  apps/avatax/e2e/tests/draft_order_changing_lines.spec.ts
  apps/avatax/e2e/tests/draft_order_with_entity_code.spec.ts
  apps/avatax/e2e/tests/draft_order_with_manual_total_discount.spec.ts
Due: avatax

fix shipping price
  apps/avatax/e2e/tests/checkout_address_change.spec.ts
  apps/avatax/e2e/tests/checkout_basic_product_with_tax_code.spec.ts
  apps/avatax/e2e/tests/draft_order_basic.spec.ts
  apps/avatax/e2e/tests/draft_order_catalog_promotion.spec.ts
  apps/avatax/e2e/tests/draft_order_changing_lines.spec.ts
  apps/avatax/e2e/tests/draft_order_with_entity_code.spec.ts
  apps/avatax/e2e/tests/draft_order_with_manual_total_discount.spec.ts
Due: avatax

another fix
  apps/avatax/e2e/tests/draft_order_changing_lines.spec.ts
  apps/avatax/e2e/tests/draft_order_with_manual_total_discount.spec.ts
Due: avatax

fix price
  apps/avatax/e2e/tests/draft_order_with_manual_total_discount.spec.ts
Due: avatax

Fix e2e for AvaTax app (#1721)
  apps/avatax/e2e/tests/checkout_address_change.spec.ts
  apps/avatax/e2e/tests/checkout_basic_product_with_tax_code.spec.ts
  apps/avatax/e2e/tests/draft_order_basic.spec.ts
  apps/avatax/e2e/tests/draft_order_catalog_promotion.spec.ts
  apps/avatax/e2e/tests/draft_order_changing_lines.spec.ts
  apps/avatax/e2e/tests/draft_order_with_entity_code.spec.ts
  apps/avatax/e2e/tests/draft_order_with_manual_total_discount.spec.ts
Due: avatax

Release apps (#1710)
  .changeset/brave-snakes-ring.md
  .changeset/flat-horses-yawn.md
  .changeset/four-plants-repair.md
  .changeset/many-taxis-film.md
  .changeset/nervous-suns-hang.md
  .changeset/rare-grapes-burn.md
  .changeset/witty-islands-listen.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Due: avatax, cms, products-feed, search, segment, smtp

Setup Segment API func memory & max duration
  .changeset/silly-months-clean.md
  apps/segment/vercel.json
Due: segment

Update vercel.json
  apps/segment/vercel.json
Due: segment

Setup Segment API func memory & max duration (#1722)
  .changeset/silly-months-clean.md
  apps/segment/vercel.json
Due: segment

Fix tRPC wrapping in Segment app
  .changeset/warm-meals-roll.md
  apps/segment/src/pages/api/trpc/[trpc].ts
Due: segment

Fix tRPC wrapping in Segment app (#1724)
  .changeset/warm-meals-roll.md
  apps/segment/src/pages/api/trpc/[trpc].ts
Due: segment

Update silly-months-clean.md
  .changeset/silly-months-clean.md
Due: none

Update Segment changeset with proper memory value #1725
  .changeset/silly-months-clean.md
Due: none

reset tax rate to 0 if taxable amount is zero
  .changeset/gold-dryers-talk.md
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.ts
Due: avatax

reset tax rate to 0 if taxable amount is zero (#1726)
  .changeset/gold-dryers-talk.md
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.ts
Due: avatax

🚀 Release apps (#1723)
  .changeset/gold-dryers-talk.md
  .changeset/silly-months-clean.md
  .changeset/warm-meals-roll.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
Due: avatax, segment

Path conditions:
  avatax: any of: apps/avatax/
  cms: any of: apps/cms-v2/
  products-feed: any of: apps/products-feed/
  search: any of: apps/search/
  segment: any of: apps/segment/
  smtp: any of: apps/smtp/
  logger: any of: packages/logger/
  shared: any of: packages/shared/
  webhook-utils: any of: packages/webhook-utils/
