Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
    project:
      default:
        target: auto
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      app-payment-np-atobarai:
        flags: [np-atobarai]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]
      packages-domain:
        flags: [domain]
      packages-errors:
        flags: [errors]
      packages-apl-dynamo:
        flags: [apl-dynamo]
ignore:
  - "**/scripts/**"
  - "**/e2e/**"
  - "**/graphql/**"
  - "**/generated/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  np-atobarai:
    paths:
      - apps/np-atobarai/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/
  domain:
    paths:
      - packages/domain/
  errors:
      paths:
        - packages/errors/
  apl-dynamo:
      paths:
        - packages/apl-dynamo/

Validate template on render and on save, provide error details
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/src/modules/smtp/services/email-compiler.ts
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.ts
  apps/smtp/src/modules/smtp/services/mjml-compiler.ts
  apps/smtp/src/modules/trpc/trpc-server.ts
Due: smtp

Show error message in form, prevent save on form, show error tips
  apps/smtp/src/modules/smtp/ui/event-form.tsx
  apps/smtp/src/modules/smtp/ui/template-error-display.tsx
  apps/smtp/src/modules/smtp/ui/template-preview.tsx
Due: smtp

Change logger.error to warn for failed compilation error
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.ts
Due: smtp

Add additional changeset
  .changeset/fifty-pigs-rescue.md
Due: none

remove useless comment
  apps/smtp/src/modules/smtp/services/email-compiler.ts
Due: smtp

Add json payload error handling
  apps/smtp/src/modules/smtp/ui/template-error-display.tsx
Due: smtp

Re-use emailCompiler between requests
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
Due: smtp

Map multi-value attributes as arrays in Algolia indexing
  .changeset/purple-rocks-build.md
  AGENTS.md
  apps/search/src/lib/algolia/algoliaUtils.test.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
Due: search

fix single attr
  apps/search/src/lib/algolia/algoliaUtils.test.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
Due: search

Fix failing test due to invalid template
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
Due: smtp

fix agents
  AGENTS.md
Due: none

Map multi-value attributes as arrays in Algolia indexing (#2095)
  .changeset/purple-rocks-build.md
  AGENTS.md
  apps/search/src/lib/algolia/algoliaUtils.test.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
Due: search

Release apps (#2096)
  .changeset/purple-rocks-build.md
  apps/search/CHANGELOG.md
  apps/search/package.json
Due: search

Add tests for configuration router, service and email compiler
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/src/modules/smtp/services/email-compiler.test.ts
  apps/smtp/src/modules/smtp/services/email-compiler.ts
Due: smtp

Update .changeset/tough-bugs-hammer.md
  .changeset/tough-bugs-hammer.md
Due: none

Reuse ThemeProvider
  apps/avatax/src/pages/_app.tsx
  apps/cms/src/pages/_app.tsx
  apps/klaviyo/src/pages/_app.tsx
  apps/np-atobarai/src/pages/_app.tsx
  apps/products-feed/src/pages/_app.tsx
  apps/search/src/pages/_app.tsx
  apps/segment/src/pages/_app.tsx
  apps/smtp/src/pages/_app.tsx
  apps/stripe/src/pages/_app.tsx
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

Remove iframe check for order-details in avatax app
  apps/avatax/src/pages/_app.tsx
Due: avatax

feat: add support for custom ship-from address via private metadata in Avatax
  .changeset/funny-wasps-begin.md
  apps/avatax/e2e/generated/graphql.ts
  apps/avatax/e2e/graphql/mutations/UpdatePrivateMetadata.graphql
  apps/avatax/e2e/tests/checkout-with-ship-from-address-metadata.spec.ts
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/fragments/TaxBase.graphql
  apps/avatax/src/modules/avatax/avatax-ship-from-address-resolver.test.ts
  apps/avatax/src/modules/avatax/avatax-ship-from-address-resolver.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
Due: avatax

fix: source is not really needed just because of log
  apps/avatax/src/modules/avatax/avatax-ship-from-address-resolver.test.ts
  apps/avatax/src/modules/avatax/avatax-ship-from-address-resolver.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
Due: avatax

feat: use ZOD for validation
  apps/avatax/src/modules/avatax/avatax-ship-from-address-resolver.test.ts
  apps/avatax/src/modules/avatax/avatax-ship-from-address-resolver.ts
Due: avatax

adding draft order ship from test and making the test more valid by changing the state
  apps/avatax/e2e/tests/checkout-with-ship-from-address-metadata.spec.ts
  apps/avatax/e2e/tests/draft-order-with-ship-from-address-metadata.spec.ts
Due: none

add support for custom ship-from address via private metadata (#2098)
  .changeset/funny-wasps-begin.md
  apps/avatax/e2e/generated/graphql.ts
  apps/avatax/e2e/graphql/mutations/UpdatePrivateMetadata.graphql
  apps/avatax/e2e/tests/checkout-with-ship-from-address-metadata.spec.ts
  apps/avatax/e2e/tests/draft-order-with-ship-from-address-metadata.spec.ts
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/fragments/TaxBase.graphql
  apps/avatax/src/modules/avatax/avatax-ship-from-address-resolver.test.ts
  apps/avatax/src/modules/avatax/avatax-ship-from-address-resolver.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
Due: avatax

adding the addresses to this log to make it visible, what addresses actually got used in avatax
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
Due: avatax

make e2e work
  apps/avatax/e2e/tests/checkout-with-ship-from-address-metadata.spec.ts
  apps/avatax/e2e/tests/draft-order-with-ship-from-address-metadata.spec.ts
Due: none

changeset
  .changeset/lemon-vans-complain.md
Due: none

fix: removing the address again as PII
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
Due: avatax

fix changeset
  .changeset/lemon-vans-complain.md
Due: none

Fix avatax e2e (#2100)
  .changeset/lemon-vans-complain.md
  apps/avatax/e2e/tests/checkout-with-ship-from-address-metadata.spec.ts
  apps/avatax/e2e/tests/draft-order-with-ship-from-address-metadata.spec.ts
Due: none

Remove redundant error logging in Stripe app tRPC procedure
  .changeset/kind-lizards-hammer.md
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
Due: stripe

Remove redundant error logging in Stripe app tRPC procedure (#2101)
  .changeset/kind-lizards-hammer.md
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
Due: stripe

fix: should use staff token in checkout to update metadata
  apps/avatax/e2e/tests/checkout-with-ship-from-address-metadata.spec.ts
Due: none

Fix avatax e2e (#2102)
  apps/avatax/e2e/tests/checkout-with-ship-from-address-metadata.spec.ts
Due: none

Release apps (#2099)
  .changeset/funny-wasps-begin.md
  .changeset/kind-lizards-hammer.md
  .changeset/lemon-vans-complain.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Due: avatax, stripe

test: add unit tests for payment method details in transaction-process-session
  apps/stripe/e2e/generated/graphql.ts
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql.config.ts
  apps/stripe/graphql/mutations/transaction-event-report-with-payment-details.graphql
  apps/stripe/graphql/schema.graphql
  apps/stripe/package.json
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-payment-method.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/stripe/route.ts
  apps/stripe/src/app/api/webhooks/stripe/stripe-object-handlers/stripe-payment-intent-handler.test.ts
  apps/stripe/src/app/api/webhooks/stripe/stripe-object-handlers/stripe-payment-intent-handler.ts
  apps/stripe/src/app/api/webhooks/stripe/stripe-object-handlers/stripe-refund-handler.ts
  apps/stripe/src/app/api/webhooks/stripe/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/webhooks/stripe/transaction-event-report-variables-resolver.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-legacy-event.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
  apps/stripe/src/modules/saleor/saleor-payment-method-details.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.test.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/transactions-recording/domain/recorded-transaction.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/recorded-transaction-db-model.ts
  packages/shared/src/saleor-version-compatibility-validator.test.ts
  packages/shared/src/saleor-version-compatibility-validator.ts
Due: stripe, shared

test: add comprehensive unit tests for SaleorPaymentMethodDetails
  apps/stripe/src/modules/saleor/saleor-payment-method-details.test.ts
Due: stripe

test: add unit tests for getPaymentMethodDetails in stripe-payment-intent-handler
  apps/stripe/src/app/api/webhooks/stripe/stripe-object-handlers/stripe-payment-intent-handler.test.ts
Due: stripe

test: add comprehensive tests for paymentMethodDetails in use-case-response
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.test.ts
Due: stripe

fix: resolve TypeScript errors in saleor-version-compatibility-validator tests
  packages/shared/src/saleor-version-compatibility-validator.test.ts
Due: shared

fix test
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-payment-method.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/stripe/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/webhooks/stripe/transaction-event-report-variables-resolver.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.test.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/recorded-transaction-db-model.test.ts
Due: stripe

updates
  .changeset/restore-validator-methods.md
  .changeset/stripe-payment-method-details.md
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/stripe/stripe-object-handlers/stripe-payment-intent-handler.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
  packages/shared/src/saleor-version-compatibility-validator.test.ts
  packages/shared/src/saleor-version-compatibility-validator.ts
Due: stripe, shared
