Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, logger, shared, webhook-utils

codecov.yml:

coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms-v2/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/

fix eslint rule
  apps/avatax/eslint.config.js
Due: avatax

wip
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

Fixes after CR
  .changeset/four-melons-grin.md
  .changeset/six-apes-camp.md
  .changeset/tender-cars-count.md
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/lib/tracing.ts
  packages/logger/src/logger-context.ts
Due: avatax, logger

Introduce eslint recommended rules
  apps/avatax/eslint.config.js
  apps/avatax/src/modules/avatax/avatax-client-tax-code.service.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/saleor-order-to-avatax-lines-transformer.test.ts
  apps/cms/eslint.config.js
  apps/klaviyo/eslint.config.js
  apps/products-feed/eslint.config.js
  apps/products-feed/src/modules/google-feed/fetch-product-data.test.ts
  apps/search/eslint.config.js
  apps/segment/eslint.config.js
  apps/segment/src/modules/configuration/dynamo-app-config-manager.test.ts
  apps/smtp/eslint.config.js
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  packages/eslint-config/index.js
  packages/logger/eslint.config.js
  packages/otel/eslint.config.js
  packages/react-hook-form-macaw/src/components/Combobox.tsx
  packages/shared/eslint.config.js
  packages/shared/src/saleor-version-compatibility-validator.test.ts
  packages/trpc/src/context.ts
  packages/ui/eslint.config.js
Due: avatax, products-feed, search, segment, smtp, logger, shared

cleanup
  packages/eslint-config/lint-staged.config.js
  packages/eslint-config/package.json
Due: none

Wrap calls to OTEL external tracer in proxy (#1820)
  .changeset/four-melons-grin.md
  .changeset/six-apes-camp.md
  .changeset/tender-cars-count.md
  apps/avatax/eslint.config.js
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/lib/app-internal-tracer.ts
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
  apps/avatax/src/lib/tracing.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
  packages/logger/package.json
  packages/logger/src/logger-context.ts
  packages/logger/src/logger-vercel-runtime-transport.ts
  packages/otel/src/observability-attributes.ts
  pnpm-lock.yaml
Due: avatax, logger

Update pre-commit to use pnpm (#1824)
  .husky/pre-commit
Due: none

Update graphql configs
  .changeset/rotten-clocks-jump.md
  apps/avatax/tsconfig.json
  apps/cms/.graphqlrc.yml
  apps/cms/generated/graphql.ts
  apps/cms/graphql.config.ts
  apps/cms/package.json
  apps/cms/tsconfig.json
  apps/klaviyo/.graphqlrc.yml
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/graphql.config.ts
  apps/klaviyo/package.json
  apps/klaviyo/tsconfig.json
  apps/products-feed/.graphqlrc.yml
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql.config.ts
  apps/products-feed/package.json
  apps/products-feed/tsconfig.json
  apps/search/.graphqlrc.yml
  apps/search/generated/graphql.ts
  apps/search/graphql.config.ts
  apps/search/package.json
  apps/search/tsconfig.json
  apps/smtp/.graphqlrc.yml
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql.config.ts
  apps/smtp/package.json
  apps/smtp/tsconfig.json
  packages/webhook-utils/.graphqlrc.yml
  pnpm-lock.yaml
Due: avatax, products-feed, search, smtp, webhook-utils

fix tsc
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.test.ts
  apps/products-feed/src/modules/google-feed/get-related-media.test.ts
  apps/products-feed/src/modules/google-feed/get-related-media.ts
  apps/products-feed/src/modules/google-feed/get-weight-attribute-value.test.ts
  apps/search/src/components/WebhooksStatus.tsx
  apps/search/src/lib/algolia/algoliaUtils.test.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/search/src/test/handlers/webhooks-status-handler.test.ts
  apps/smtp/src/lib/get-event-form-status.test.ts
  apps/smtp/src/lib/get-event-form-status.ts
  apps/smtp/src/modules/event-handlers/default-payloads.ts
  apps/smtp/src/modules/webhook-management/webhook-management-service.test.ts
Due: products-feed, search, smtp

update
  .prettierignore
Due: none

regenerate graphql
  apps/cms/generated/graphql.ts
  apps/cms/generated/schema.graphql
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/generated/schema.graphql
  apps/products-feed/generated/graphql.ts
  apps/products-feed/generated/schema.graphql
  apps/search/generated/graphql.ts
  apps/search/generated/schema.graphql
  apps/smtp/generated/graphql.ts
  apps/smtp/generated/schema.graphql
Due: products-feed, search, smtp

revert prettierignore
  .prettierignore
Due: none

Enable recommended eslint rules (#1823)
  apps/avatax/eslint.config.js
  apps/avatax/src/modules/avatax/avatax-client-tax-code.service.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/saleor-order-to-avatax-lines-transformer.test.ts
  apps/cms/eslint.config.js
  apps/klaviyo/eslint.config.js
  apps/products-feed/eslint.config.js
  apps/products-feed/src/modules/app-configuration/attribute-fetcher.ts
  apps/products-feed/src/modules/category-mapping/categories-fetcher.ts
  apps/products-feed/src/modules/google-feed/fetch-product-data.test.ts
  apps/search/eslint.config.js
  apps/segment/eslint.config.js
  apps/segment/src/modules/configuration/dynamo-app-config-manager.test.ts
  apps/smtp/eslint.config.js
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/src/modules/smtp/services/email-compiler.test.ts
  packages/eslint-config/index.js
  packages/eslint-config/lint-staged.config.js
  packages/eslint-config/package.json
  packages/logger/eslint.config.js
  packages/otel/eslint.config.js
  packages/react-hook-form-macaw/src/components/Combobox.tsx
  packages/shared/eslint.config.js
  packages/shared/src/saleor-version-compatibility-validator.test.ts
  packages/trpc/src/context.ts
  packages/ui/eslint.config.js
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp, logger, shared

Metric: AvaTax API calls
  apps/avatax/package.json
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/instrumentations/otel-node.ts
  apps/avatax/src/lib/metrics.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
  apps/avatax/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax

add additional attributes
  apps/avatax/src/lib/metrics.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
Due: avatax

test tenat_domain
  apps/avatax/src/env.ts
  apps/avatax/src/lib/metrics.ts
  apps/avatax/src/lib/tenant-domain-resolver.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/turbo.json
Due: avatax

cleanup
  apps/avatax/package.json
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/instrumentations/otel-node.ts
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
  apps/avatax/src/lib/metrics.ts
  apps/avatax/src/lib/otel/meter-provider.ts
  apps/avatax/src/lib/otel/metrics.ts
  apps/avatax/src/lib/otel/otel-tenant-domain-resolver.ts
  apps/avatax/src/lib/otel/tracing.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  packages/otel/package.json
  packages/otel/src/metrics-reader-factory.ts
  packages/shared/index.ts
  packages/shared/src/race.ts
  pnpm-lock.yaml
Due: avatax, shared

add unit test
  apps/avatax/src/lib/otel/otel-tenant-domain-resolver.test.ts
  apps/avatax/src/lib/otel/otel-tenant-domain-resolver.ts
Due: avatax

add changeset & docs
  .changeset/chilly-tips-train.md
  .changeset/modern-eyes-sit.md
  .changeset/slow-lions-clap.md
  packages/shared/src/race.ts
Due: shared

cleanup
  apps/avatax/src/lib/otel/meter-provider.ts
  cspell.config.js
  packages/shared/src/race.ts
Due: avatax, shared

handle errors
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/lib/otel/meter-provider.ts
Due: avatax

add addtional resource attributes
  apps/avatax/package.json
  apps/avatax/src/lib/otel/meter-provider.ts
  packages/otel/src/metrics-reader-factory.ts
  pnpm-lock.yaml
Due: avatax

add addtional resource attributes
  apps/avatax/package.json
  apps/avatax/src/instrumentations/otel-node.ts
  apps/avatax/src/lib/otel/meter-provider.ts
  apps/avatax/src/lib/otel/shared-service-instance-id.ts
  apps/cms/src/instrumentations/otel-node.ts
  apps/klaviyo/src/instrumentations/otel-node.ts
  apps/products-feed/src/instrumentations/otel-node.ts
  apps/search/src/instrumentations/otel-node.ts
  apps/segment/src/instrumentations/otel-node.ts
  apps/smtp/src/instrumentations/otel-node.ts
  packages/otel/package.json
  packages/otel/src/service-instance-id-factory.ts
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp

add changeset
  .changeset/green-eels-film.md
Due: none

remove leftovers
  apps/avatax/src/lib/otel/metrics.ts
Due: avatax

render app
  apps/stripe/.env.example
  apps/stripe/CHANGELOG.md
  apps/stripe/README.md
  apps/stripe/__tests__/setup.ts
  apps/stripe/eslint.config.js
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql.config.ts
  apps/stripe/graphql/fragments/.gitkeep
  apps/stripe/graphql/mutations/.gitkeep
  apps/stripe/graphql/queries/.gitkeep
  apps/stripe/graphql/schema.graphql
  apps/stripe/graphql/subscriptions/.gitkeep
  apps/stripe/lint-staged.config.js
  apps/stripe/next-env.d.ts
  apps/stripe/next.config.ts
  apps/stripe/package.json
  apps/stripe/reset.d.ts
  apps/stripe/sentry.client.config.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/register/route.ts
  apps/stripe/src/app/global-error.tsx
  apps/stripe/src/instrumentation.ts
  apps/stripe/src/instrumentations/otel-node.ts
  apps/stripe/src/instrumentations/sentry-node.ts
  apps/stripe/src/lib/env.ts
  apps/stripe/src/lib/logger-context.ts
  apps/stripe/src/lib/saleor-app.ts
  apps/stripe/src/modules/trpc/trpc-app-router.ts
  apps/stripe/src/modules/trpc/trpc-client.ts
  apps/stripe/src/modules/trpc/trpc-server.ts
  apps/stripe/src/pages/_app.tsx
  apps/stripe/src/pages/index.tsx
  apps/stripe/tsconfig.json
  apps/stripe/turbo.json
  apps/stripe/vercel.json
  apps/stripe/vitest.config.ts
  packages/shared/src/GraphQLProvider.tsx
  packages/trpc/index.ts
  packages/trpc/src/context-app-router.ts
  pnpm-lock.yaml
Due: shared

update labeler
  .github/labeler.yml
Due: none

add coverage plugin
  apps/stripe/package.json
  pnpm-lock.yaml
Due: none

make app installable
  apps/stripe/next.config.ts
  apps/stripe/public/logo.png
  apps/stripe/src/__tests__/setup.ts
  apps/stripe/src/modules/trpc/trpc-app-router.ts
  apps/stripe/src/modules/trpc/trpc-client.ts
  apps/stripe/src/modules/trpc/trpc-router.ts
  apps/stripe/vitest.config.ts
  packages/shared/src/GraphQLProvider.tsx
  packages/shared/src/no-ssr-wrapper.tsx
  packages/shared/src/theme-synchronizer.tsx
  packages/shared/src/use-dashboard-notification.ts
Due: shared

Fix barrel file for shared pkg
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/app/api/register/route.ts
  apps/avatax/src/app/api/trpc/[trpc]/route.ts
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  packages/shared/index.ts
  packages/shared/package.json
Due: avatax, shared

fix tsc
  apps/smtp/src/pages/configuration/smtp/new.tsx
Due: smtp

test build
  apps/avatax/next.config.ts
  apps/search/next.config.ts
  apps/segment/next.config.ts
  packages/shared/package.json
Due: avatax, search, segment, shared

fixes after CR
  apps/avatax/.env.example
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/app/api/register/route.ts
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/env.ts
  apps/avatax/src/lib/otel/meter-provider.ts
  apps/avatax/src/lib/otel/otel-tenant-domain-resolver.test.ts
  apps/avatax/src/lib/otel/otel-tenant-domain-resolver.ts
  apps/avatax/src/lib/otel/with-flush-otel-metrics.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
  apps/avatax/turbo.json
  packages/otel/src/observability-attributes.ts
Due: avatax

test search build
  apps/search/src/components/ImportProductsToAlgolia/useBatchUpload.test.ts
  packages/shared/package.json
  packages/shared/src/editor-js/editor-js-plaintext-renderer.test.ts
  packages/shared/src/editor-js/editor-js-plaintext-renderer.ts
  packages/shared/src/index.ts
Due: search, shared
