Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

Notes added by 'git notes add'
  ff3f1300382b501241b49b16eedab88178de2c87
Due: none

fix cr
  apps/np-atobarai/package.json
  apps/stripe/package.json
  pnpm-lock.yaml
Due: stripe, np-atobarai

Notes added by 'git notes add'
  3e65361a374dc33ba18d29f9d28cf4e363101f6c
Due: none

Attach Saleor domain to Sentry events for better error aggregation (#2281)
  .changeset/nasty-poets-jog.md
  apps/avatax/src/modules/trpc/protected-client-procedure.ts
  apps/cms/src/modules/trpc/protected-client-procedure.ts
  apps/np-atobarai/package.json
  apps/np-atobarai/src/modules/trpc/protected-client-procedure.ts
  apps/products-feed/src/modules/trpc/protected-client-procedure.ts
  apps/search/src/modules/trpc/protected-client-procedure.ts
  apps/segment/src/modules/trpc/protected-client-procedure.ts
  apps/smtp/src/modules/trpc/protected-client-procedure.ts
  apps/stripe/package.json
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
  packages/otel/package.json
  packages/otel/src/with-span-attributes.ts
  packages/sentry-utils/index.ts
  packages/sentry-utils/package.json
  packages/sentry-utils/src/set-sentry-saleor-user.ts
  pnpm-lock.yaml
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

remove artifact_prefix (dashboard uses version for it)
  .github/workflows/run-dashboard-smoke-tests.yml
Due: none

Fix smoke test reference error (#2285)
  .github/workflows/run-dashboard-smoke-tests.yml
Due: none

Notes added by 'git notes add'
  cfe650f1876841602772dd21503fdf83d4f111b3
Due: none

Guard page import with page type filter and fix reactivity
  apps/search/src/components/ImportProductsToAlgolia/ImportPagesToAlgolia.tsx
  apps/search/src/components/PageTypesFilterForm.tsx
  apps/search/src/lib/algolia-fields.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/algolia/pageAlgoliaUtils.ts
  apps/search/src/views/configuration/configuration.view.tsx
Due: search

Notes added by 'git notes add'
  9c39e3741896b2ebee9403cd93079a268c2f838c
Due: none

Remove JSON content field from page indexing
  apps/search/src/lib/algolia-fields.ts
  apps/search/src/lib/algolia/pageAlgoliaUtils.ts
Due: search

Notes added by 'git notes add'
  45f60774a72d75b78272624b73b76715e6e81b66
Due: none

Split useBatchUpload into separate modules
  apps/search/src/components/ImportProductsToAlgolia/ImportCategoriesToAlgolia.tsx
  apps/search/src/components/ImportProductsToAlgolia/ImportPagesToAlgolia.tsx
  apps/search/src/components/ImportProductsToAlgolia/ImportProductsToAlgolia.tsx
  apps/search/src/components/ImportProductsToAlgolia/ImportToAlgoliaCard.tsx
  apps/search/src/components/ImportProductsToAlgolia/runBatchedUpload.ts
  apps/search/src/components/ImportProductsToAlgolia/useBatchUpload.test.ts
  apps/search/src/components/ImportProductsToAlgolia/useBatchUpload.ts
  apps/search/src/components/ImportProductsToAlgolia/useCategoriesBatchUpload.ts
  apps/search/src/components/ImportProductsToAlgolia/useGraphQLClient.ts
  apps/search/src/components/ImportProductsToAlgolia/usePagesBatchUpload.ts
  apps/search/src/components/ImportProductsToAlgolia/useProductsBatchUpload.ts
  apps/search/src/components/ImportProductsToAlgolia/useUploadState.ts
Due: search

Notes added by 'git notes add'
  bb3f639dee68643e728c10c4b44ac2d21c37c6e9
Due: none

changeset
  .changeset/six-carrots-shout.md
Due: none

Notes added by 'git notes add'
  be8849ae7125820bdd8b16bf03061624426ba667
Due: none

rewrite to useform
  apps/search/src/components/PageTypesFilterForm.tsx
Due: search

Notes added by 'git notes add'
  e52d514a8ef693499befd111134c23a7cca965f7
Due: none

memo
  apps/search/src/components/AlgoliaPageFieldsSelectionForm.tsx
Due: search

Notes added by 'git notes add'
  6da4241003376105b78e3b5e69d75190a2b0502e
Due: none

file names
  apps/search/src/pages/api/webhooks/saleor/page_created.ts
  apps/search/src/pages/api/webhooks/saleor/page_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/page_updated.ts
  apps/search/src/webhooks/definitions/page-created.ts
  apps/search/src/webhooks/definitions/page-deleted.ts
  apps/search/src/webhooks/definitions/page-updated.ts
Due: search

Notes added by 'git notes add'
  f949778ec1947a5b9d008e1bccc9b3e5b33336ca
Due: none

tests
  apps/search/src/components/ImportProductsToAlgolia/useBatchUpload.test.ts
Due: search

Notes added by 'git notes add'
  9f3b8f291f1362960e4a65c1671e68a837e406d0
Due: none

ui fixes
  apps/search/src/views/configuration/configuration.view.tsx
Due: search

Notes added by 'git notes add'
  def3de88f9fc0571a640d15b9b1da27cc8d97e31
Due: none

fix client logs validation
  .changeset/yummy-eels-buy.md
  apps/avatax/src/modules/client-logs/client-logs.router.test.ts
  apps/avatax/src/modules/client-logs/client-logs.router.ts
  apps/avatax/src/modules/client-logs/ui/logs-browser.tsx
Due: avatax

Notes added by 'git notes add'
  aa02883add730bdf115a86e2b2ca1b93bcf0ef5b
Due: none

fix client logs validation (#2287)
  .changeset/yummy-eels-buy.md
  apps/avatax/src/modules/client-logs/client-logs.router.test.ts
  apps/avatax/src/modules/client-logs/client-logs.router.ts
  apps/avatax/src/modules/client-logs/ui/logs-browser.tsx
Due: avatax

Fix search app crash caused by conditional hook calls
  apps/search/src/components/PageTypesFilterForm.tsx
Due: search

Notes added by 'git notes add'
  dc1c0d6fd7c9a8fd03965689ceee1ede1539a211
Due: none

Enable react hooks rules on eslint
  packages/eslint-config/index.js
Due: none

Notes added by 'git notes add'
  1da8f540f491bf3ca8ef90ccfedcdee842d09723
Due: none

Add permissios gate for missing MANAGE_PAGES in search app
  apps/search/src/components/permission-missing-warning.tsx
  apps/search/src/lib/use-has-permission.ts
  apps/search/src/pages/api/manifest.ts
  apps/search/src/views/configuration/configuration.view.tsx
Due: search

Notes added by 'git notes add'
  2441164c258ba755018f69afdb2e1eaf2a16398a
Due: none

add tests
  apps/search/src/lib/use-has-permission.test.ts
Due: search

Notes added by 'git notes add'
  9eb896b4466f8d96c4dd606e5978b3d8285dab1d
Due: none

Update e2e targets
  .github/workflows/e2e.yml
  .github/workflows/run-dashboard-smoke-tests.yml
  .github/workflows/run-e2e-cron.yml
  .github/workflows/run-e2e-dispatch.yml
Due: none

Notes added by 'git notes add'
  860bc6f73e2c4dcda08de507e83efd69c55b8f8c
Due: none

Fix search app crash caused by conditional hook calls (#2288)
  apps/search/src/components/PageTypesFilterForm.tsx
  packages/eslint-config/index.js
Due: search

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
