Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

update key rotation docs
  .changeset/curvy-ideas-write.md
  .changeset/rotate-key-inverted-flow.md
  packages/shared/src/key-rotation/README.md
Due: shared

update docs
  packages/shared/src/key-rotation/README.md
Due: shared

add log when app has no encrypted config
  packages/shared/src/key-rotation/secret-key-rotation-runner.test.ts
  packages/shared/src/key-rotation/secret-key-rotation-runner.ts
Due: shared

add structured `saleorApiUrl` log to all rotation runners
  packages/shared/package.json
  packages/shared/src/key-rotation/dynamodb-secret-key-rotation-runner.test.ts
  packages/shared/src/key-rotation/dynamodb-secret-key-rotation-runner.ts
  packages/shared/src/key-rotation/fetch-metadata-rotation-items.ts
  packages/shared/src/key-rotation/secret-key-rotation-runner.test.ts
  packages/shared/src/key-rotation/secret-key-rotation-runner.ts
  pnpm-lock.yaml
Due: shared

Update pactum dependency
  .changeset/cold-socks-cross.md
  apps/avatax/package.json
  pnpm-lock.yaml
Due: avatax

Drop Saleor 3.20 support
  .changeset/nine-chefs-stare.md
  apps/avatax/src/app/api/manifest/route.ts
  apps/cms/src/pages/api/manifest.ts
  apps/klaviyo/src/pages/api/manifest.ts
  apps/search/src/pages/api/manifest.ts
  apps/smtp/src/pages/api/manifest.ts
Due: avatax, cms, search, smtp

Apply suggestion from @lkostrowski
  packages/shared/src/key-rotation/README.md
Due: shared

Update key rotation docs (#2340)
  .changeset/curvy-ideas-write.md
  .changeset/rotate-key-inverted-flow.md
  packages/shared/package.json
  packages/shared/src/key-rotation/README.md
  packages/shared/src/key-rotation/dynamodb-secret-key-rotation-runner.test.ts
  packages/shared/src/key-rotation/dynamodb-secret-key-rotation-runner.ts
  packages/shared/src/key-rotation/fetch-metadata-rotation-items.ts
  packages/shared/src/key-rotation/secret-key-rotation-runner.test.ts
  packages/shared/src/key-rotation/secret-key-rotation-runner.ts
  pnpm-lock.yaml
Due: shared

app deleted shared handler
  .changeset/petite-days-watch.md
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/graphql/subscriptions/app-deleted.graphql
  packages/webhook-utils/package.json
  packages/webhook-utils/src/app-deleted-handler.ts
  pnpm-lock.yaml
Due: webhook-utils

apply in klaviyo wip
  apps/klaviyo/package.json
  apps/klaviyo/src/pages/api/manifest.ts
  apps/klaviyo/src/pages/api/webhooks/app-deleted.ts
  packages/webhook-utils/src/app-deleted-handler.ts
  pnpm-lock.yaml
Due: webhook-utils

fix build
  .changeset/open-eels-yell.md
  apps/klaviyo/src/pages/api/webhooks/app-deleted.ts
  packages/webhook-utils/src/app-deleted-handler.ts
Due: webhook-utils

Update pactum dependency (#2341)
  .changeset/cold-socks-cross.md
  apps/avatax/package.json
  pnpm-lock.yaml
Due: avatax

Rewrite to app router
  apps/klaviyo/next-env.d.ts
  apps/klaviyo/src/app/api/webhooks/app-deleted/route.ts
  apps/klaviyo/src/pages/api/manifest.ts
  apps/klaviyo/tsconfig.json
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/graphql.config.ts
  packages/webhook-utils/src/app-deleted-handler.ts
Due: webhook-utils

Impl in avatax
  apps/avatax/src/app/api/webhooks/app-deleted/route.ts
  apps/avatax/src/modules/client-logs/dynamo-logs-table.ts
  apps/avatax/src/modules/client-logs/logs-repository.ts
  packages/webhook-utils/src/app-deleted-handler.ts
Due: avatax, webhook-utils

logs repo - method for logs removal
  apps/avatax/src/modules/client-logs/logs-repository.ts
Due: avatax

exec repo
  apps/avatax/src/app/api/webhooks/app-deleted/route.ts
  apps/avatax/src/modules/client-logs/logs-repository.ts
Due: avatax

Fix types
  apps/klaviyo/src/app/api/webhooks/app-deleted/webhook-definition.ts
Due: none

Fix types
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/app/api/webhooks/app-deleted/route.ts
  apps/avatax/src/app/api/webhooks/app-deleted/webhook-definition.ts
  apps/klaviyo/src/app/api/webhooks/app-deleted/route.ts
  apps/klaviyo/src/pages/api/manifest.ts
Due: avatax

refactor
  apps/avatax/src/app/api/webhooks/app-deleted/webhook-definition.ts
Due: avatax

Support CMS app
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/app/api/webhooks/app-deleted/webhook-definition.ts
  apps/avatax/webhooks.ts
  apps/cms/package.json
  apps/cms/src/app/api/webhooks/app-deleted/route.ts
  apps/cms/src/app/api/webhooks/app-deleted/webhook-definition.ts
  apps/cms/src/pages/api/manifest.ts
  apps/klaviyo/src/app/api/webhooks/app-deleted/route.ts
  apps/klaviyo/src/pages/api/manifest.ts
  pnpm-lock.yaml
Due: avatax, cms

wip atobarai
  apps/np-atobarai/src/app/api/manifest/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/app-deleted/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/app-deleted/webhook-definition.ts
  packages/dynamo-config-repository/src/base-repository.ts
  packages/dynamo-config-repository/src/types.ts
Due: np-atobarai

fix passing payload to resolver
  .changeset/lucky-humans-type.md
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
Due: smtp

Potential fix for pull request finding
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
Due: smtp

Fix INVOICE_SENT email template (#2345)
  .changeset/lucky-humans-type.md
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
Due: smtp

Avatax: Add dates validation
  .changeset/avatax-logs-date-range-validation.md
  apps/avatax/src/modules/client-logs/client-logs.router.test.ts
  apps/avatax/src/modules/client-logs/client-logs.router.ts
  apps/avatax/src/modules/client-logs/ui/logs-browser.tsx
Due: avatax

Avatax: Add dates validation (#2346)
  .changeset/avatax-logs-date-range-validation.md
  apps/avatax/src/modules/client-logs/client-logs.router.test.ts
  apps/avatax/src/modules/client-logs/client-logs.router.ts
  apps/avatax/src/modules/client-logs/ui/logs-browser.tsx
Due: avatax

initial impl
  .changeset/dedicated-webhooks-replace-notify.md
  apps/smtp/generated/graphql.ts
  apps/smtp/scripts/build-email-previews.ts
  apps/smtp/src/modules/event-handlers/default-payloads.ts
  apps/smtp/src/modules/event-handlers/message-event-types.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/src/modules/smtp/configuration/smtp-default-empty-configurations.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-default-empty-configurations.ts
  apps/smtp/src/modules/smtp/default-templates.ts
  apps/smtp/src/modules/smtp/ui/event-form.tsx
  apps/smtp/src/modules/smtp/ui/smtp-events-section.tsx
  apps/smtp/src/modules/webhook-management/sync-webhook-status.test.ts
  apps/smtp/src/modules/webhook-management/webhook-management-service.ts
  apps/smtp/src/modules/webhook-management/webhook-status-dict.ts
  apps/smtp/src/pages/api/webhooks/account-change-email-requested.test.ts
  apps/smtp/src/pages/api/webhooks/account-change-email-requested.ts
  apps/smtp/src/pages/api/webhooks/account-confirmation-requested.test.ts
  apps/smtp/src/pages/api/webhooks/account-confirmation-requested.ts
  apps/smtp/src/pages/api/webhooks/account-delete-requested.test.ts
  apps/smtp/src/pages/api/webhooks/account-delete-requested.ts
  apps/smtp/src/pages/api/webhooks/account-email-changed.test.ts
  apps/smtp/src/pages/api/webhooks/account-email-changed.ts
  apps/smtp/src/pages/api/webhooks/account-set-password-requested.test.ts
  apps/smtp/src/pages/api/webhooks/account-set-password-requested.ts
  apps/smtp/src/pages/api/webhooks/fulfillment-approved.test.ts
  apps/smtp/src/pages/api/webhooks/fulfillment-approved.ts
  apps/smtp/src/pages/api/webhooks/fulfillment-canceled.test.ts
  apps/smtp/src/pages/api/webhooks/fulfillment-canceled.ts
  apps/smtp/src/pages/api/webhooks/fulfillment-created.test.ts
  apps/smtp/src/pages/api/webhooks/fulfillment-created.ts
  apps/smtp/src/pages/api/webhooks/fulfillment-tracking-number-updated.test.ts
  apps/smtp/src/pages/api/webhooks/fulfillment-tracking-number-updated.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/configuration/smtp/[configurationId]/event/[eventType].tsx
Due: smtp

types
  apps/smtp/src/modules/event-handlers/default-payloads.ts
Due: smtp

Handle JWT failures on the frontend
  .changeset/jwt-verification-401-no-sentry.md
  apps/avatax/src/modules/trpc/protected-client-procedure.ts
  apps/cms/src/modules/trpc/protected-client-procedure.ts
  apps/np-atobarai/src/modules/trpc/protected-client-procedure.ts
  apps/products-feed/src/modules/trpc/protected-client-procedure.ts
  apps/search/src/modules/trpc/protected-client-procedure.ts
  apps/segment/src/modules/trpc/protected-client-procedure.ts
  apps/smtp/src/modules/trpc/protected-client-procedure.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

Handle JWT failures on the frontend (#2349)
  .changeset/jwt-verification-401-no-sentry.md
  apps/avatax/src/modules/trpc/protected-client-procedure.ts
  apps/cms/src/modules/trpc/protected-client-procedure.ts
  apps/np-atobarai/src/modules/trpc/protected-client-procedure.ts
  apps/products-feed/src/modules/trpc/protected-client-procedure.ts
  apps/search/src/modules/trpc/protected-client-procedure.ts
  apps/segment/src/modules/trpc/protected-client-procedure.ts
  apps/smtp/src/modules/trpc/protected-client-procedure.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

fixes
  apps/onboarding/graphql/schema.graphql
  apps/onboarding/public/logo.png
Due: none

update manifest
  apps/onboarding/src/app/api/manifest/route.ts
Due: none

move frontend to pages router
  apps/onboarding/eslint.config.js
  apps/onboarding/next-env.d.ts
  apps/onboarding/src/app/_page-client.tsx
  apps/onboarding/src/app/_providers.tsx
  apps/onboarding/src/app/global-error.tsx
  apps/onboarding/src/app/layout.tsx
  apps/onboarding/src/app/page.tsx
  apps/onboarding/src/pages/_app.tsx
  apps/onboarding/src/pages/_error.tsx
  apps/onboarding/src/pages/index.tsx
Due: none

fix issues
  apps/onboarding/src/modules/graphql/graphql-provider.tsx
  apps/onboarding/src/modules/onboarding/components/buttons/extensions-button.tsx
  apps/onboarding/src/modules/onboarding/components/buttons/permission-gated-redirect-button.tsx
  apps/onboarding/src/modules/onboarding/onboarding-context/types.ts
  apps/onboarding/src/modules/onboarding/onboarding-context/use-onboarding-storage.ts
  apps/onboarding/src/pages/_app.tsx
Due: none

Fix storing unumering attributes as numbers
  .changeset/search-numeric-attributes-and-product-type-name.md
  apps/search/src/lib/algolia/algoliaUtils.test.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/search/src/lib/algolia/pageAlgoliaUtils.ts
Due: search

Fix storing numeric attributes as numbers (#2352)
  .changeset/search-numeric-attributes-and-product-type-name.md
  apps/search/src/lib/algolia/algoliaUtils.test.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/search/src/lib/algolia/pageAlgoliaUtils.ts
Due: search

deps: upgrade next.js to v15.5.16
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add changelog entry
  .changeset/cyan-cherries-behave.md
Due: none

Upgrade next.js to v15.5.18
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
