Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

[Stripe] Fix cancel payment intent error logger message (#2113)
  .changeset/large-cherries-cover.md
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
Due: stripe

Release apps (#2114)
  .changeset/large-cherries-cover.md
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Due: stripe

paypal merchent onboarding flow implemented
  apps/paypal/MERCHANT_ONBOARDING_IMPLEMENTATION.md
  apps/paypal/MERCHANT_ONBOARDING_USAGE_EXAMPLES.md
  apps/paypal/src/lib/database-schema.sql
  apps/paypal/src/lib/database.ts
  apps/paypal/src/modules/merchant-onboarding/merchant-onboarding-repository.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/create-merchant-referral-input-schema.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/create-merchant-referral-trpc-handler.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/get-merchant-status-trpc-handler.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/list-merchants-trpc-handler.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/merchant-onboarding-router.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/refresh-merchant-status-trpc-handler.ts
  apps/paypal/src/modules/paypal/partner-referrals/index.ts
  apps/paypal/src/modules/paypal/partner-referrals/partner-referral-builder.ts
  apps/paypal/src/modules/paypal/partner-referrals/paypal-partner-referrals-api-factory.ts
  apps/paypal/src/modules/paypal/partner-referrals/paypal-partner-referrals-api.ts
  apps/paypal/src/modules/paypal/partner-referrals/types.ts
  apps/paypal/src/modules/paypal/paypal-merchant-id.ts
  apps/paypal/src/modules/paypal/paypal-partner-referral-id.ts
  apps/paypal/src/modules/trpc/trpc-router.ts
Due: none

Added migration flow
  apps/paypal/IMPLEMENTATION_COMPLETE.md
  apps/paypal/MIGRATION_GUIDE.md
  apps/paypal/MULTI_TENANT_ARCHITECTURE.md
  apps/paypal/package.json
  apps/paypal/scripts/migrate-database.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/merchant-onboarding-router.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/update-merchant-id-trpc-handler.ts
Due: none

Add logging to update-mapping-trpc-handler
  apps/stripe/src/app/api/trpc/[trpc]/route.ts
  apps/stripe/src/modules/app-config/trpc-handlers/update-mapping-trpc-handler.ts
Due: stripe

Add changeset
  .changeset/gorgeous-nails-beg.md
Due: none

feat(paypal): implement global PayPal configuration management for WSM admin
  apps/flat-tax/README.md
  apps/paypal/IMPLEMENTATION_SUMMARY.md
  apps/paypal/README.md
  apps/paypal/package.json
  apps/paypal/scripts/migrate-database.ts
  apps/paypal/src/lib/database.ts
  apps/paypal/src/modules/merchant-onboarding/merchant-onboarding-repository.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/create-merchant-referral-trpc-handler.ts
  apps/paypal/src/modules/paypal/partner-referrals/paypal-partner-referrals-api.ts
  apps/paypal/src/modules/trpc/public-procedure.ts
  apps/paypal/src/modules/trpc/trpc-client.ts
  apps/paypal/src/modules/trpc/trpc-router.ts
  apps/paypal/src/modules/ui/merchant-connection/merchant-connection-section.tsx
  apps/paypal/src/modules/wsm-admin/global-paypal-config-repository.ts
  apps/paypal/src/modules/wsm-admin/global-paypal-config.ts
  apps/paypal/src/modules/wsm-admin/trpc-handlers/get-global-config-handler.ts
  apps/paypal/src/modules/wsm-admin/trpc-handlers/set-global-config-handler.ts
  apps/paypal/src/modules/wsm-admin/trpc-handlers/test-credentials-handler.ts
  apps/paypal/src/modules/wsm-admin/trpc-handlers/wsm-admin-input-schemas.ts
  apps/paypal/src/modules/wsm-admin/trpc-handlers/wsm-admin-router.ts
  apps/paypal/src/pages/config/index.tsx
  apps/paypal/src/pages/wsm-admin.tsx
  apps/zip2tax/README.md
  packages/errors/package.json
  pnpm-lock.yaml
Due: errors

Add logging to update-mapping-trpc-handler (#2115)
  .changeset/gorgeous-nails-beg.md
  apps/stripe/src/app/api/trpc/[trpc]/route.ts
  apps/stripe/src/modules/app-config/trpc-handlers/update-mapping-trpc-handler.ts
Due: stripe

Add Saleor API url to all logs
  .changeset/giant-roses-trade.md
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

Add Saleor API url to all logs (#2117)
  .changeset/giant-roses-trade.md
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

Release apps (#2116)
  .changeset/giant-roses-trade.md
  .changeset/gorgeous-nails-beg.md
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Due: products-feed, stripe

basic version
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql/mutations/DisableWebhook.graphql
  apps/products-feed/graphql/queries/FetchAppWebhooks.graphql
  apps/products-feed/package.json
  apps/products-feed/scripts/disable-webhooks.ts
Due: products-feed

feat: Add partner merchant ID support in PayPal API integration
  apps/paypal/src/app/api/webhooks/paypal/route.ts
  apps/paypal/src/lib/database.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/create-merchant-referral-trpc-handler.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/refresh-merchant-status-trpc-handler.ts
  apps/paypal/src/modules/paypal/partner-referrals/paypal-partner-referrals-api-factory.ts
  apps/paypal/src/modules/paypal/partner-referrals/paypal-partner-referrals-api.ts
  apps/paypal/src/modules/paypal/partner-referrals/types.ts
  apps/paypal/src/modules/paypal/paypal-client.ts
  apps/paypal/src/modules/ui/merchant-connection/merchant-connection-section.tsx
  apps/paypal/src/modules/wsm-admin/global-paypal-config-repository.ts
  apps/paypal/src/modules/wsm-admin/global-paypal-config.ts
  apps/paypal/src/modules/wsm-admin/trpc-handlers/get-global-config-handler.ts
  apps/paypal/src/modules/wsm-admin/trpc-handlers/set-global-config-handler.ts
  apps/paypal/src/modules/wsm-admin/trpc-handlers/wsm-admin-input-schemas.ts
  apps/paypal/src/pages/index.tsx
  apps/paypal/src/pages/paypal-callback.tsx
  apps/paypal/src/pages/wsm-admin.tsx
Due: none

Add script to disable webhooks for search app
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql/mutations/DisableWebhook.graphql
  apps/products-feed/graphql/queries/FetchAppWebhooks.graphql
  apps/products-feed/package.json
  apps/search/README.md
  apps/search/package.json
  apps/search/scripts/disable-webhooks.ts
Due: products-feed, search

Add script to disable webhooks for search app (#2118)
  apps/search/README.md
  apps/search/package.json
  apps/search/scripts/disable-webhooks.ts
Due: search

feat: Enhance PayPal integration with BN code support
  apps/paypal/scripts/migrate-database.ts
  apps/paypal/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/paypal/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/paypal/src/lib/database.ts
  apps/paypal/src/modules/app-config/domain/paypal-config.ts
  apps/paypal/src/modules/merchant-onboarding/merchant-onboarding-repository.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/refresh-merchant-status-trpc-handler.ts
  apps/paypal/src/modules/paypal/configuration/paypal-config-repo.ts
  apps/paypal/src/modules/paypal/configuration/paypal-config.ts
  apps/paypal/src/modules/paypal/configuration/paypal-multi-config-metadata-manager.ts
  apps/paypal/src/modules/paypal/paypal-client.ts
  apps/paypal/src/modules/paypal/paypal-orders-api-factory.ts
  apps/paypal/src/modules/paypal/paypal-orders-api.ts
  apps/paypal/src/modules/paypal/paypal-refunds-api-factory.ts
  apps/paypal/src/modules/paypal/paypal-refunds-api.ts
  apps/paypal/src/modules/paypal/types.ts
  apps/paypal/src/modules/wsm-admin/global-paypal-config-repository.ts
  apps/paypal/src/modules/wsm-admin/global-paypal-config.ts
  apps/paypal/src/modules/wsm-admin/trpc-handlers/get-global-config-handler.ts
  apps/paypal/src/modules/wsm-admin/trpc-handlers/set-global-config-handler.ts
  apps/paypal/src/modules/wsm-admin/trpc-handlers/wsm-admin-input-schemas.ts
  apps/paypal/src/pages/wsm-admin.tsx
Due: none

fixed all four instances where appContext was being passed as a local variable
  apps/paypal/MULTI_TENANT_ARCHITECTURE.md
  apps/paypal/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
Due: none

added the appContextContainer.wrapRequest wrapper to the route handler composition.
  apps/paypal/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
Due: none

added context provider
  apps/paypal/src/app/api/webhooks/saleor/transaction-process-session/route.ts
Due: none

fixed null obeject after successfull transaction
  apps/paypal/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
Due: none

Fixed the paypal capture payment issue
  apps/paypal/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/paypal/src/modules/saleor/resolve-saleor-money-from-paypal-order.ts
Due: none

Updated UI
  apps/paypal/src/modules/ui/app-header.tsx
  apps/paypal/src/modules/ui/merchant-connection/merchant-connection-section.tsx
  apps/paypal/src/modules/ui/paypal-configs/paypal-configs-list.tsx
  apps/paypal/src/pages/config/index.tsx
  apps/paypal/src/pages/index.tsx
Due: none

Added dynamic config
  apps/paypal/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/paypal/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
Due: none

Changed VARIANTS_PER_PAGE from 100 to 50
  .changeset/serious-llamas-reply.md
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
Due: products-feed

change PF to sequentially fetch variants
  .changeset/poor-otters-kick.md
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

change PF to sequentially fetch variants (#2120)
  .changeset/poor-otters-kick.md
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

Release apps (#2121)
  .changeset/poor-otters-kick.md
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
Due: products-feed

extract chunk
  apps/products-feed/.env.example
  apps/products-feed/src/lib/chunk-array.test.ts
  apps/products-feed/src/lib/chunk-array.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
  apps/products-feed/turbo.json
Due: products-feed

add parallelism to pf api calls
  .changeset/giant-dogs-fry.md
  apps/products-feed/src/lib/chunk-caller.test.ts
  apps/products-feed/src/lib/chunk-caller.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

fixed build error
  apps/paypal/next.config.ts
  apps/paypal/src/modules/ui/merchant-connection/merchant-connection-section.tsx
  apps/paypal/src/pages/wsm-admin.tsx
Due: none

fixed build error
  packages/shared/src/metadata-manager.ts
Due: shared

updated Auth-Assertion-Header - Using merchant_id instead of merchant_email
  apps/paypal/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/paypal/src/modules/paypal/paypal-client.ts
  apps/paypal/src/modules/paypal/paypal-orders-api-factory.ts
  apps/paypal/src/modules/paypal/paypal-orders-api.ts
  apps/paypal/src/modules/paypal/paypal-refunds-api-factory.ts
  apps/paypal/src/modules/paypal/paypal-refunds-api.ts
  apps/paypal/src/modules/paypal/types.ts
Due: none

defensive check in chunk-array
  apps/products-feed/src/lib/chunk-array.test.ts
  apps/products-feed/src/lib/chunk-array.ts
Due: products-feed

[SMTP] Fix webhook error status codes for email server failures
  .changeset/smtp-webhook-error-status.md
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
  apps/smtp/src/pages/api/webhooks/order-refunded.ts
Due: smtp

Extract settings
  apps/products-feed/.env.example
  apps/products-feed/src/lib/env-coerced-number.test.ts
  apps/products-feed/src/lib/env-coerced-number.ts
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
  apps/products-feed/src/settings.ts
  apps/products-feed/turbo.json
Due: products-feed

[SMTP] Fix webhook error status codes for email server failures (#2123)
  .changeset/smtp-webhook-error-status.md
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
  apps/smtp/src/pages/api/webhooks/order-refunded.ts
Due: smtp

Release apps (#2124)
  .changeset/smtp-webhook-error-status.md
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Due: smtp

refactor
  apps/products-feed/src/lib/chunk-caller.test.ts
  apps/products-feed/src/lib/chunk-caller.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

refactor
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

Add configurable parallelism control for Products Feed API calls (#2122)
  .changeset/giant-dogs-fry.md
  apps/products-feed/.env.example
  apps/products-feed/src/lib/chunk-array.test.ts
  apps/products-feed/src/lib/chunk-array.ts
  apps/products-feed/src/lib/chunk-caller.test.ts
  apps/products-feed/src/lib/chunk-caller.ts
  apps/products-feed/src/lib/env-coerced-number.test.ts
  apps/products-feed/src/lib/env-coerced-number.ts
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
  apps/products-feed/src/settings.ts
  apps/products-feed/turbo.json
Due: products-feed

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
