Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

Pass errors to logs
  .changeset/yummy-meals-stare.md
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/trpc/protected-client-procedure.ts
  apps/smtp/src/pages/api/trpc/[trpc].ts
Due: smtp

Notes added by 'git notes add'
  a9c45a8bed57e6842d63d3ca26eae2656868c661
Due: none

fix: update inventory-ops submodule with Codex review fixes
  pnpm-lock.yaml
Due: none

Pass errors to logs (#2273)
  .changeset/yummy-meals-stare.md
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/trpc/protected-client-procedure.ts
  apps/smtp/src/pages/api/trpc/[trpc].ts
Due: smtp

fix: MTG import audit — 12 critical/high bug fixes (#2)
  pnpm-lock.yaml
Due: none

fix: add MEILISEARCH_CHANNELS to turbo.json globalEnv + lint fixes
  turbo.json
Due: none

Notes added by 'git notes add'
  dd344cbfab6c77c96a27deff23ab2ceed4bd4b2d
Due: none

Extract dynamo schema (#2240)
  apps/avatax/eslint.config.js
  apps/cms/eslint.config.js
  apps/cms/src/env-dynamodb.ts
  apps/cms/src/env.ts
  apps/cms/src/modules/dynamodb/dynamo-main-table.ts
  apps/cms/src/modules/dynamodb/dynamodb-client.ts
  apps/cms/src/saleor-app.ts
  apps/klaviyo/eslint.config.js
  apps/klaviyo/saleor-app.ts
  apps/klaviyo/src/dynamodb/dynamo-main-table.ts
  apps/klaviyo/src/dynamodb/dynamodb-client.ts
  apps/klaviyo/src/env-dynamodb.ts
  apps/klaviyo/src/env.ts
  apps/products-feed/eslint.config.js
  apps/products-feed/src/env-dynamodb.ts
  apps/products-feed/src/env.ts
  apps/products-feed/src/modules/dynamodb/dynamo-main-table.ts
  apps/products-feed/src/modules/dynamodb/dynamodb-client.ts
  apps/products-feed/src/saleor-app.ts
  apps/search/eslint.config.js
  apps/search/saleor-app.ts
  apps/search/src/env-dynamodb.ts
  apps/search/src/env.ts
  apps/search/src/modules/dynamodb/dynamo-main-table.ts
  apps/search/src/modules/dynamodb/dynamodb-client.ts
  apps/segment/eslint.config.js
  apps/smtp/eslint.config.js
  apps/smtp/src/env-dynamodb.ts
  apps/smtp/src/env.ts
  apps/smtp/src/modules/dynamodb/dynamo-main-table.ts
  apps/smtp/src/modules/dynamodb/dynamodb-client.ts
  apps/smtp/src/saleor-app.ts
Due: cms, products-feed, search, smtp

Log original verifyJWT error in trpc protected procedures
  .changeset/kind-zebras-fail.md
  apps/avatax/src/app/api/order-details/route.ts
  apps/avatax/src/modules/trpc/protected-client-procedure.ts
  apps/cms/src/modules/trpc/protected-client-procedure.ts
  apps/np-atobarai/src/modules/trpc/protected-client-procedure.ts
  apps/products-feed/src/modules/trpc/protected-client-procedure.ts
  apps/search/src/modules/trpc/protected-client-procedure.ts
  apps/segment/src/modules/trpc/protected-client-procedure.ts
  apps/smtp/src/modules/trpc/protected-client-procedure.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

Notes added by 'git notes add'
  b5a2e587962d821b7fcf1647ca601ae5e72136ed
Due: none

Log original verifyJWT error in trpc protected procedures (#2274)
  .changeset/kind-zebras-fail.md
  apps/avatax/src/app/api/order-details/route.ts
  apps/avatax/src/modules/trpc/protected-client-procedure.ts
  apps/cms/src/modules/trpc/protected-client-procedure.ts
  apps/np-atobarai/src/modules/trpc/protected-client-procedure.ts
  apps/products-feed/src/modules/trpc/protected-client-procedure.ts
  apps/search/src/modules/trpc/protected-client-procedure.ts
  apps/segment/src/modules/trpc/protected-client-procedure.ts
  apps/smtp/src/modules/trpc/protected-client-procedure.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

initial approach
  apps/search/generated/graphql.ts
  apps/search/graphql/fragments/CategoryData.graphql
  apps/search/graphql/fragments/ProductData.graphql
  apps/search/graphql/queries/CategoriesData.graphql
  apps/search/graphql/subscriptions/categoryCreated.graphql
  apps/search/graphql/subscriptions/categoryDeleted.graphql
  apps/search/graphql/subscriptions/categoryUpdated.graphql
  apps/search/src/components/ImportProductsToAlgolia/useBatchUpload.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/algolia/algoliaUtils.test.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/search/src/lib/algolia/categoryAlgoliaUtils.test.ts
  apps/search/src/lib/algolia/categoryAlgoliaUtils.ts
  apps/search/src/lib/searchProvider.ts
  apps/search/src/lib/webhook-event-types.ts
  apps/search/src/pages/api/webhooks/saleor/category_created.ts
  apps/search/src/pages/api/webhooks/saleor/category_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/category_updated.ts
  apps/search/src/webhooks/definitions/category-created.ts
  apps/search/src/webhooks/definitions/category-deleted.ts
  apps/search/src/webhooks/definitions/category-updated.ts
  apps/search/webhooks.ts
Due: search

Notes added by 'git notes add'
  dda8b871afe12e063d8b55e8d294673401babaa4
Due: none

Simplify category Algolia object shape
  apps/search/generated/graphql.ts
  apps/search/graphql/fragments/CategoryData.graphql
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/algolia/categoryAlgoliaUtils.test.ts
  apps/search/src/lib/algolia/categoryAlgoliaUtils.ts
Due: search

Notes added by 'git notes add'
  bb3606750307b86bdcfbf62b0d1765c89976d7ec
Due: none

changeset
  .changeset/petite-islands-read.md
Due: none

Notes added by 'git notes add'
  8a8af2266f17bcb521ef6e6106573f7112f4d1ca
Due: none

change to product type
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
Due: search

Notes added by 'git notes add'
  8a0a4f98d6f1abb5969177d5e35720601fbfb258
Due: none

fix smoke test - add prefix for artifacts
  .github/workflows/run-dashboard-smoke-tests.yml
Due: none

Fix smoke tests - add prefix for artifact upload (#2276)
  .github/workflows/run-dashboard-smoke-tests.yml
Due: none

fix: update inventory-ops pointer + turbo.json globalEnv for lint
  turbo.json
Due: none

Apply suggestions from code review
  .changeset/petite-islands-read.md
Due: none

tests for new webhooks
  apps/search/src/pages/api/webhooks/saleor/category_created.test.ts
  apps/search/src/pages/api/webhooks/saleor/category_deleted.test.ts
  apps/search/src/pages/api/webhooks/saleor/category_updated.test.ts
Due: search

Notes added by 'git notes add'
  cfa0532299a22a2a6ba212255f4ac92c6b379652
Due: none

Make problem reporting work for categories too
  apps/search/src/lib/algolia/algolia-error-parser.test.ts
  apps/search/src/lib/algolia/algolia-error-parser.ts
  apps/search/src/modules/app-problems/search-problem-reporter.test.ts
  apps/search/src/modules/app-problems/search-problem-reporter.ts
  apps/search/src/pages/api/webhooks/saleor/category_created.test.ts
  apps/search/src/pages/api/webhooks/saleor/category_created.ts
  apps/search/src/pages/api/webhooks/saleor/category_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/category_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
Due: search

Notes added by 'git notes add'
  5dffb8d026d0ecb6f89d9408672b39070e78f7ba
Due: none

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
