Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

reregistration
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/subscriptions/transaction-refund-requested.graphql
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-reregister-transaction-payload.ts
  apps/np-atobarai/src/modules/atobarai/api/types.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.ts
Due: np-atobarai

Add build variables to turbo.json
  apps/stripe/turbo.json
Due: stripe

wip
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/subscriptions/transaction-refund-requested.graphql
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
Due: np-atobarai

Add debug URL for APL
  apps/stripe/src/pages/api/debug/apl.ts
Due: stripe

Add serve environment variables to turbo.json
  apps/stripe/turbo.json
Due: stripe

Add more debugging information
  apps/stripe/src/lib/saleor-app.ts
  apps/stripe/src/pages/api/debug/apl.ts
Due: stripe

Add ideal support
  apps/stripe/README.md
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/event-data-parser.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/payment-method-resolver.ts
  apps/stripe/src/modules/stripe/payment-methods/ideal.test.ts
  apps/stripe/src/modules/stripe/payment-methods/ideal.ts
Due: stripe

Add DynamoDB app transaction for NP Atobarai
  apps/np-atobarai/package.json
  apps/np-atobarai/src/__tests__/mocks/app-transaction/mocked-app-transaction-repo.ts
  apps/np-atobarai/src/__tests__/mocks/app-transaction/mocked-app-transaction.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/base-use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/modules/app-transaction/app-transaction-repo.test.ts
  apps/np-atobarai/src/modules/app-transaction/app-transaction-repo.ts
  apps/np-atobarai/src/modules/app-transaction/app-transaction.test.ts
  apps/np-atobarai/src/modules/app-transaction/app-transaction.ts
  apps/np-atobarai/src/modules/app-transaction/dynamodb-app-transaction-repo.test.ts
  apps/np-atobarai/src/modules/app-transaction/dynamodb-app-transaction-repo.ts
  apps/np-atobarai/src/modules/app-transaction/dynamodb/entity.test.ts
  apps/np-atobarai/src/modules/app-transaction/dynamodb/entity.ts
  apps/np-atobarai/src/modules/app-transaction/types.ts
  apps/np-atobarai/src/modules/dynamodb/dynamodb-main-table.ts
  pnpm-lock.yaml
Due: np-atobarai

fix typo
  apps/np-atobarai/src/modules/app-transaction/app-transaction.test.ts
  apps/np-atobarai/src/modules/app-transaction/app-transaction.ts
  apps/np-atobarai/src/modules/app-transaction/dynamodb/entity.test.ts
Due: np-atobarai

Add vendor support to the stripe app.
  apps/stripe/VENDOR_MARKETPLACE_IMPLEMENTATION.md
  apps/stripe/graphql/fragments/source-object.graphql
  apps/stripe/graphql/queries/fetch-vendor-by-id.graphql
  apps/stripe/graphql/queries/fetch-vendors.graphql
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/__tests__/vendor-integration.test.ts
  apps/stripe/src/modules/saleor/__tests__/vendor-fetcher.test.ts
  apps/stripe/src/modules/saleor/__tests__/vendor-integration.test.ts
  apps/stripe/src/modules/saleor/__tests__/vendor-resolver-simple.test.ts
  apps/stripe/src/modules/saleor/vendor-fetcher.ts
  apps/stripe/src/modules/saleor/vendor-resolver.ts
Due: stripe

Update unit tests
  apps/stripe/src/modules/saleor/__tests__/vendor-fetcher.test.ts
  apps/stripe/src/modules/saleor/__tests__/vendor-integration.test.ts
  apps/stripe/src/modules/saleor/__tests__/vendor-resolver-simple.test.ts
  apps/stripe/src/modules/saleor/__tests__/vendor-resolver.test.ts
Due: stripe

Add TS for graphQL
  apps/stripe/generated/graphql.ts
  apps/stripe/src/app/api/manifest/route.test.ts
Due: stripe

Fix build error
  apps/stripe/src/modules/saleor/vendor-fetcher.ts
Due: stripe

fixes after cr
  apps/np-atobarai/src/__tests__/mocks/app-transaction/mocked-app-transaction-repo.ts
  apps/np-atobarai/src/__tests__/mocks/app-transaction/mocked-app-transaction.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/modules/app-transaction/app-transaction-repo.ts
  apps/np-atobarai/src/modules/app-transaction/types.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb-transaction-record-repo.test.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb-transaction-record-repo.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb/entity.test.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb/entity.ts
  apps/np-atobarai/src/modules/transactions-recording/transaction-record-repo.test.ts
  apps/np-atobarai/src/modules/transactions-recording/transaction-record-repo.ts
  apps/np-atobarai/src/modules/transactions-recording/transaction-record.test.ts
  apps/np-atobarai/src/modules/transactions-recording/transaction-record.ts
  apps/np-atobarai/src/modules/transactions-recording/types.ts
Due: np-atobarai

Ensure the vendor-specific option is available
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
Due: stripe

Refactor transaction initialization to include dynamic GraphQL client and vendor resolver
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
Due: stripe

Add DynamoDB app transaction for NP Atobarai (#2034)
  apps/np-atobarai/package.json
  apps/np-atobarai/src/__tests__/mocks/app-transaction/mocked-app-transaction-repo.ts
  apps/np-atobarai/src/__tests__/mocks/app-transaction/mocked-app-transaction.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/base-use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/modules/dynamodb/dynamodb-main-table.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb-transaction-record-repo.test.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb-transaction-record-repo.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb/entity.test.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb/entity.ts
  apps/np-atobarai/src/modules/transactions-recording/transaction-record-repo.test.ts
  apps/np-atobarai/src/modules/transactions-recording/transaction-record-repo.ts
  apps/np-atobarai/src/modules/transactions-recording/transaction-record.test.ts
  apps/np-atobarai/src/modules/transactions-recording/transaction-record.ts
  apps/np-atobarai/src/modules/transactions-recording/types.ts
  pnpm-lock.yaml
Due: np-atobarai

Set metadata during refund creation
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-cancelation-requested.graphql
  apps/stripe/graphql/subscriptions/transaction-charge-requested.graphql
  apps/stripe/graphql/subscriptions/transaction-refund-requested.graphql
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/modules/stripe/stripe-refunds-api.ts
  apps/stripe/src/modules/stripe/types.ts
Due: stripe

Ignore events with missing metadata
  apps/stripe/src/app/api/webhooks/stripe/stripe-webhook-responses.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
  apps/stripe/src/modules/stripe/types.ts
Due: stripe

first working version
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/fragments/order-granted-refund.graphql
  apps/np-atobarai/graphql/fragments/source-object.graphql
  apps/np-atobarai/graphql/subscriptions/transaction-refund-requested.graphql
  apps/np-atobarai/src/__tests__/mocks/app-transaction/mocked-transaction-record-repo.ts
  apps/np-atobarai/src/__tests__/mocks/app-transaction/mocked-transaction-record.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-refund-requested-event.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-source-object.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/no-fulfillment-refund-handler.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction-id.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb-transaction-record-repo.test.ts
Due: np-atobarai

tests
  .changeset/quiet-trains-type.md
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-charge-refund-updated.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-succeeded.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
Due: stripe

fix tests
  apps/stripe/src/__tests__/integration/webhooks/fixtures/charge-refund-updated-event-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/payment-intent-succeeded-event-fixture.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-amount-capturable-updated.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-canceled.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-failed.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-processing.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-requires-action.ts
Due: stripe

fix tests
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-refund-request-event.ts
  apps/stripe/src/app/api/manifest/route.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
Due: stripe

Add tests for strategy
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-refund-requested-event.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/atobarai-goods-builder.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/atobarai-goods-builder.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/no-fulfillment-refund-handler.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-event-parser.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-event-parser.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategies.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.test.ts
Due: np-atobarai

fixes after naming change
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
Due: np-atobarai

fix types
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-cancelation-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-charge-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-refund-requested-fixture.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-cancelation-request-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-charge-requested-event.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
Due: stripe

Drop events not created by Saleor (#2035)
  .changeset/quiet-trains-type.md
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-cancelation-requested.graphql
  apps/stripe/graphql/subscriptions/transaction-charge-requested.graphql
  apps/stripe/graphql/subscriptions/transaction-refund-requested.graphql
  apps/stripe/src/__tests__/integration/webhooks/fixtures/charge-refund-updated-event-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/payment-intent-succeeded-event-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-cancelation-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-charge-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-refund-requested-fixture.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-cancelation-request-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-charge-requested-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-refund-request-event.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-charge-refund-updated.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-amount-capturable-updated.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-canceled.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-failed.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-processing.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-requires-action.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-succeeded.ts
  apps/stripe/src/app/api/manifest/route.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/stripe/stripe-webhook-responses.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
  apps/stripe/src/modules/stripe/stripe-refunds-api.ts
  apps/stripe/src/modules/stripe/types.ts
Due: stripe

readme about forks
  README.md
Due: none

improve messages
  apps/stripe/src/app/api/webhooks/stripe/stripe-webhook-responses.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
Due: stripe

fix tests
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
Due: stripe

improve messages for stripe handling events outside of app (#2039)
  apps/stripe/src/app/api/webhooks/stripe/stripe-webhook-responses.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
Due: stripe

Release apps (#2037)
  .changeset/quiet-trains-type.md
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Due: stripe

readme about forks (#2038)
  README.md
Due: none

first round of fixes
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/atobarai-goods-builder.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategies.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.ts
Due: np-atobarai

fixes
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-goods.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/atobarai-goods-builder.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/atobarai-goods-builder.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategies.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-change-transaction-payload.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-register-transaction-payload.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/atobarai-goods.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/atobarai-goods.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/atobarai-line-calculation.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/atobarai-line-calculation.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/no-fullfillment-refund-goods-builders.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/no-fullfillment-refund-goods-builders.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/no-refund-goods-builder.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/no-refund-goods-builder.ts
Due: np-atobarai

Add refunds after fulfillment
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategies.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/fulfillment-full-refund-strategy.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/fulfillment-partial-refund-with-line-items-strategy.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/fulfillment-partial-refund-without-line-items-strategy.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/no-fulfillment-full-refund-strategy.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/no-fulfillment-full-refund-strategy.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/no-fulfillment-partial-refund-with-line-items-strategy.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/no-fulfillment-partial-refund-with-line-items-strategy.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/no-fulfillment-partial-refund-without-line-items-strategy.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/no-fulfillment-partial-refund-without-line-items-strategy.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/types.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/no-fullfillment-refund-goods-builders.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/no-fullfillment-refund-goods-builders.ts
Due: np-atobarai

add tests
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/fulfillment-full-refund-strategy.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/fulfillment-partial-refund-with-line-items-strategy.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/fulfillment-partial-refund-with-line-items-strategy.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/fulfillment-partial-refund-without-line-items-strategy.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/fulfillment-partial-refund-without-line-items-strategy.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/no-fulfillment-partial-refund-with-line-items-strategy.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/no-fulfillment-partial-refund-with-line-items-strategy.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/no-fulfillment-partial-refund-without-line-items-strategy.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/no-fulfillment-partial-refund-without-line-items-strategy.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/refund-goods-builders.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/refund-goods-builders.ts
Due: np-atobarai

Draft code for account linking
  apps/stripe/package.json
  apps/stripe/src/app/api/connect/link/route.ts
  apps/stripe/src/app/api/connect/link/use-case.ts
  pnpm-lock.yaml
Due: stripe

Add "connect" button
  apps/stripe/scripts/setup-dynamodb.sh
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
Due: stripe

Take Atobarai Shipping Company code from private metadata of fullfilment
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/subscriptions/fulfillment-tracking-number-updated.graphql
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
Due: np-atobarai

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
