Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
    project:
      default:
        target: auto
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      app-payment-np-atobarai:
        flags: [np-atobarai]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]
      packages-domain:
        flags: [domain]
      packages-errors:
        flags: [errors]
      packages-apl-dynamo:
        flags: [apl-dynamo]
ignore:
  - "**/scripts/**"
  - "**/e2e/**"
  - "**/graphql/**"
  - "**/generated/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  np-atobarai:
    paths:
      - apps/np-atobarai/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/
  domain:
    paths:
      - packages/domain/
  errors:
      paths:
        - packages/errors/
  apl-dynamo:
      paths:
        - packages/apl-dynamo/

fix tests and other VOs
  apps/np-atobarai/src/modules/atobarai/api/atobarai-cancel-transaction-payload.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-cancel-transaction-success-response.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-change-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-change-transaction-payload.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-error-response.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-error-response.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-fulfillment-report-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-fulfillment-report-payload.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-fulfillment-report-success-response.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-fulfillment-report-success-response.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-register-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-register-transaction-payload.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-transaction-success-response.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-transaction-success-response.ts
Due: np-atobarai

tests
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
Due: np-atobarai

Saleor Transaction token better error
  apps/np-atobarai/src/modules/saleor/saleor-transaction-token.ts
Due: np-atobarai

format message
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction-id.ts
Due: np-atobarai

handle invalid shipping company code, route returns 202 now
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
Due: np-atobarai

TransactionInitialize tests
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
Due: np-atobarai

WIP
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
Due: np-atobarai

wip
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/use-case-errors.ts
  apps/np-atobarai/src/modules/atobarai/api/types.ts
Due: np-atobarai

Applying publish messages
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
Due: np-atobarai

Use Decimal.js for precise exemption amount calculations in AvaTax webhook
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
Due: avatax

Add entityUseCode to checkout exemption metadata
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/modules/app/checkout-metadata-manager.ts
Due: avatax

Remove version field from checkout exemption metadata
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/modules/app/checkout-metadata-manager.ts
Due: avatax

Change CheckoutMetadataManager.updateExemptionStatus to return void instead of result object
  apps/avatax/src/modules/app/checkout-metadata-manager.ts
Due: avatax

wip refactors
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-event-parser.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-event-parser.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/after-fulfillment-refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/base-refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/before-fulfillment-refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/after-fulfillment-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/before-fulfillment-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/types.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
Due: np-atobarai

Add avataxExemptionStatus field to GraphQL tax calculation queries
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/fragments/TaxBase.graphql
  apps/avatax/graphql/mutations/DeletePublicMetadata.graphql
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/modules/app/checkout-metadata-manager.ts
Due: avatax

Change calculatedAt field type from string to Date in checkout exemption metadata
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/modules/app/checkout-metadata-manager.ts
Due: avatax

fix tests
  .changeset/good-cobras-yell.md
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
Due: np-atobarai

Rename AvataxCalculateTaxesResponse type to AvataxCalculateTaxesResult
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
Due: avatax

Rename isExemptionStatusMetadataEnabled to isExemptionStatusPublicMetadataEnabled
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/lib/app-config.test.ts
  apps/avatax/src/modules/app/get-app-config.test.ts
  apps/avatax/src/modules/avatax/avatax-config-mock-generator.ts
  apps/avatax/src/modules/avatax/avatax-connection-schema.ts
  apps/avatax/src/modules/avatax/ui/avatax-configuration-settings-fragment.tsx
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
Due: avatax

restore public code unions
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
Due: np-atobarai

fix zod union
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/use-case-errors.ts
Due: np-atobarai

more verbose error for webhooks
  .changeset/eighty-foxes-shake.md
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/webhook-definition.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/webhook-definition.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/webhook-definition.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/webhook-definition.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: np-atobarai

extra log for apl
  apps/np-atobarai/src/lib/saleor-app.ts
Due: np-atobarai

fix tests
  apps/np-atobarai/src/modules/ui/use-has-app-access.test.ts
Due: np-atobarai

fix migration script
  apps/np-atobarai/src/lib/saleor-app.ts
Due: np-atobarai

remove sentry in APL logger
  apps/np-atobarai/src/lib/saleor-app.ts
Due: np-atobarai

remove sentry in onError in webhooks
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/webhook-definition.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/webhook-definition.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/webhook-definition.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/webhook-definition.ts
  apps/stripe/src/modules/ui/use-has-app-access.test.ts
Due: stripe, np-atobarai

more verbose error for webhooks in atobarai (#2187)
  .changeset/eighty-foxes-shake.md
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/webhook-definition.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/webhook-definition.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/webhook-definition.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/webhook-definition.ts
  apps/np-atobarai/src/lib/saleor-app.ts
  apps/np-atobarai/src/modules/ui/use-has-app-access.test.ts
  apps/stripe/src/modules/ui/use-has-app-access.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: stripe, np-atobarai

fix zod
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
Due: np-atobarai

Change Stripe api errors to warnings
  .changeset/nine-walls-poke.md
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
Due: stripe

Fixed how AWS sdk is initialized by explicitly passing credentials.
  .changeset/sweet-rocks-protect.md
  apps/cms/src/modules/dynamodb/dynamodb-client.ts
  apps/klaviyo/src/dynamodb/dynamodb-client.ts
  apps/np-atobarai/src/modules/dynamodb/dynamodb-client.ts
  apps/products-feed/src/modules/dynamodb/dynamodb-client.ts
  apps/search/src/modules/dynamodb/dynamodb-client.ts
  apps/segment/src/lib/dynamodb-client.ts
  apps/smtp/src/modules/dynamodb/dynamodb-client.ts
  apps/stripe/src/modules/dynamodb/dynamodb-client.ts
Due: cms, products-feed, search, segment, smtp, stripe, np-atobarai

Change Stripe api errors to warnings (#2189)
  .changeset/nine-walls-poke.md
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
Due: stripe

Fixed how AWS sdk is initialized by explicitly passing credentials. (#2190)
  .changeset/sweet-rocks-protect.md
  apps/cms/src/modules/dynamodb/dynamodb-client.ts
  apps/klaviyo/src/dynamodb/dynamodb-client.ts
  apps/np-atobarai/src/modules/dynamodb/dynamodb-client.ts
  apps/products-feed/src/modules/dynamodb/dynamodb-client.ts
  apps/search/src/modules/dynamodb/dynamodb-client.ts
  apps/segment/src/lib/dynamodb-client.ts
  apps/smtp/src/modules/dynamodb/dynamodb-client.ts
  apps/stripe/src/modules/dynamodb/dynamodb-client.ts
Due: cms, products-feed, search, segment, smtp, stripe, np-atobarai

Improve error handling in NP Atobarai webhook routes (#2186)
  .changeset/good-cobras-yell.md
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-event-parser.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-event-parser.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/after-fulfillment-refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/base-refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/before-fulfillment-refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/after-fulfillment-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/before-fulfillment-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/types.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/use-case-errors.ts
  apps/np-atobarai/src/modules/atobarai/api/types.ts
Due: np-atobarai

Fix AWS SDK initialization with explicit credentials
  .changeset/sour-gorillas-smile.md
  apps/avatax/src/modules/dynamodb/dynamo-client.ts
Due: avatax

Fix AWS SDK initialization with explicit credentials (#2191)
  .changeset/sour-gorillas-smile.md
  apps/avatax/src/modules/dynamodb/dynamo-client.ts
Due: avatax

Added DynamoDB apl logs to all apps
  apps/avatax/saleor-app.ts
  apps/cms/src/saleor-app.ts
  apps/klaviyo/saleor-app.ts
  apps/np-atobarai/src/lib/saleor-app.ts
  apps/products-feed/src/saleor-app.ts
  apps/search/saleor-app.ts
  apps/segment/src/saleor-app.ts
  apps/smtp/src/saleor-app.ts
  apps/stripe/src/lib/saleor-app.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

Add changeset
  .changeset/dynamo-apl-logging-avatax.md
  .changeset/dynamo-apl-logging-cms.md
  .changeset/dynamo-apl-logging-klaviyo.md
  .changeset/dynamo-apl-logging-np-atobarai.md
  .changeset/dynamo-apl-logging-products-feed.md
  .changeset/dynamo-apl-logging-search.md
  .changeset/dynamo-apl-logging-segment.md
  .changeset/dynamo-apl-logging-smtp.md
  .changeset/dynamo-apl-logging-stripe.md
Due: none

remove client logger user
  apps/search/src/modules/trpc/trpc-client.ts
Due: search
