Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

Update apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
Due: np-atobarai

Update apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
Due: np-atobarai

fix linters
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
Due: np-atobarai

changeset
  .changeset/five-mayflies-lay.md
Due: none

Update apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.ts
Due: np-atobarai

Propagate Atobarai API error codes to frontend (#2159)
  .changeset/five-mayflies-lay.md
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/api/types.ts
Due: np-atobarai

fix assign pr workflwo
  .github/workflows/assign-pr.yml
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
Due: np-atobarai

fix assign pr workflwo (#2161)
  .github/workflows/assign-pr.yml
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
Due: np-atobarai

Migrate tracing to OTEL shared package, update imports, use factory methods
  apps/search/src/domain/WebhookActivityToggler.service.ts
  apps/search/src/lib/algolia/algolia-credentials-verifier.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/algolia/getAlgoliaConfiguration.ts
  apps/search/src/lib/trace-effect-thresholds.ts
  apps/search/src/lib/trace-external-calls.ts
  apps/search/src/modules/configuration/configuration.router.ts
  apps/search/src/modules/trpc/protected-client-procedure.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/webhooks-status.ts
  apps/search/src/webhooks/webhook-context.ts
  packages/otel/package.json
  packages/otel/src/trace-effect.test.ts
  packages/otel/src/trace-effect.ts
  packages/otel/vitest.config.ts
  pnpm-lock.yaml
Due: search

Add changeset
  .changeset/small-foxes-hunt.md
Due: none

Apply suggestions from code review
  apps/search/src/domain/WebhookActivityToggler.service.ts
  apps/search/src/lib/trace-effect-thresholds.ts
Due: search

Move utility to separate package to avoid circular deps
  .changeset/small-foxes-hunt.md
  apps/search/src/domain/WebhookActivityToggler.service.ts
  apps/search/src/lib/algolia/algolia-credentials-verifier.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/algolia/getAlgoliaConfiguration.ts
  apps/search/src/modules/configuration/configuration.router.ts
  apps/search/src/modules/trpc/protected-client-procedure.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/webhooks-status.ts
  apps/search/src/webhooks/webhook-context.ts
  packages/logger/package.json
  packages/logger/src/trace-effect.ts
  packages/otel/package.json
  packages/otel/src/trace-effect.test.ts
  packages/otel/src/trace-effect.ts
  pnpm-lock.yaml
Due: search, logger

CR: allow object attributes in OTEL
  packages/otel/src/trace-effect.test.ts
  packages/otel/src/trace-effect.ts
Due: none

Increase search app allocated memory
  apps/search/vercel.json
Due: search

Increase smtp app memory
  apps/smtp/vercel.json
Due: smtp

Add changesets
  .changeset/eighty-squids-joke.md
  .changeset/empty-drinks-look.md
Due: none

Remove useless test
  packages/otel/src/trace-effect.test.ts
Due: none

[INC-677] Increase SMTP and Search app allocated memory (#2162)
  .changeset/eighty-squids-joke.md
  .changeset/empty-drinks-look.md
  apps/search/vercel.json
  apps/smtp/vercel.json
Due: search, smtp

Remove tracing effect from logger package, add per-app wrapper
  apps/search/src/domain/WebhookActivityToggler.service.ts
  apps/search/src/lib/algolia/algolia-credentials-verifier.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/algolia/getAlgoliaConfiguration.ts
  apps/search/src/lib/trace-effect.ts
  apps/search/src/modules/configuration/configuration.router.ts
  apps/search/src/modules/trpc/protected-client-procedure.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/webhooks-status.ts
  apps/search/src/webhooks/webhook-context.ts
  packages/logger/package.json
Due: search, logger

Add tests to OTEL package
  packages/otel/package.json
  pnpm-lock.yaml
Due: none

Add deffered sampler
  packages/otel/src/deferred-sampler.test.ts
  packages/otel/src/deferred-sampler.ts
Due: none

Add tail sampling processor
  packages/otel/src/tail-sampling-processor.test.ts
  packages/otel/src/tail-sampling-processor.ts
Due: none

Add fetch instrumentation
  packages/otel/src/fetch-instrumentation.ts
Due: none

Add tail sampling to search app
  apps/search/src/instrumentations/otel-node.ts
  cspell.config.js
  packages/otel/src/http-instrumentation-factory.ts
Due: search

Remove useless test
  packages/otel/src/deferred-sampler.test.ts
Due: none

Add better comments
  packages/otel/src/fetch-instrumentation.ts
Due: none

CR: fix test abstraction
  packages/otel/src/tail-sampling-processor.test.ts
Due: none

Add better description for Vercel OTEL hack
  packages/otel/src/tail-sampling-processor.ts
  packages/otel/src/vercel-resource-attributes.ts
Due: none

Revert OTEL imports
  apps/search/src/lib/trace-effect.ts
  packages/otel/package.json
Due: search

Loosen validation of atobarai response
  .changeset/friendly-cows-retire.md
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-transaction-success-response.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-transaction-success-response.ts
Due: np-atobarai

Update changeset
  .changeset/small-foxes-hunt.md
  .changeset/spotty-mirrors-sort.md
Due: none

Loosen validation of atobarai response (#2165)
  .changeset/friendly-cows-retire.md
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-transaction-success-response.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-transaction-success-response.ts
Due: np-atobarai

INC-624: Add logs when API requests are slow (#2154)
  .changeset/small-foxes-hunt.md
  .changeset/spotty-mirrors-sort.md
  apps/search/src/domain/WebhookActivityToggler.service.ts
  apps/search/src/lib/algolia/algolia-credentials-verifier.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/algolia/getAlgoliaConfiguration.ts
  apps/search/src/lib/trace-effect-thresholds.ts
  apps/search/src/lib/trace-effect.ts
  apps/search/src/modules/configuration/configuration.router.ts
  apps/search/src/modules/trpc/protected-client-procedure.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/webhooks-status.ts
  apps/search/src/webhooks/webhook-context.ts
  packages/otel/package.json
  packages/otel/src/trace-effect.test.ts
  packages/otel/src/trace-effect.ts
  packages/otel/vitest.config.ts
  pnpm-lock.yaml
Due: search

Update packages/otel/src/deferred-sampler.ts
  packages/otel/src/deferred-sampler.ts
Due: none

Add more explanation for hack
  packages/otel/src/fetch-instrumentation.ts
Due: none

Copy-paste actual files from @vercel/sdk, and apply patches
  cspell.config.js
  packages/otel/src/fetch-instrumentation.ts
  packages/otel/src/vercel-resource-attributes.ts
Due: none

WIP: Add sampling processor with buffering
  apps/search/src/instrumentations/otel-node.ts
  packages/otel/src/trace-buffering-tail-sampling-processor.test.ts
  packages/otel/src/trace-buffering-tail-sampling-processor.ts
  packages/otel/src/vercel-request-context.ts
Due: search

Increase search app memory
  .changeset/bright-socks-peel.md
  apps/search/vercel.json
Due: search

Update apps/search/vercel.json
  apps/search/vercel.json
Due: search

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
