Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, logger, shared, webhook-utils

codecov.yml:

coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms-v2/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/

Fixes after CR
  packages/otel/src/aws-instrumentation-factory.ts
  pnpm-lock.yaml
Due: none

Add AWS instrumentation for DynamoDB and disable HTTP instrumentation for Sentry requests (#1758)
  .changeset/little-bottles-battle.md
  .changeset/lovely-zoos-grab.md
  apps/avatax/src/instrumentations/otel-node.ts
  apps/segment/src/instrumentations/otel-node.ts
  package.json
  packages/otel/package.json
  packages/otel/src/aws-instrumentation-factory.ts
  packages/otel/src/http-instrumentation-factory.ts
  packages/otel/src/otel-urql-exchange-factory.ts
  pnpm-lock.yaml
Due: avatax, segment

Run e2e on latest version
  .github/workflows/e2e.yml
Due: none

Run AvaTax e2e on latest version (#1761)
  .github/workflows/e2e.yml
Due: none

first version
  apps/avatax/package.json
  apps/avatax/scripts/cleanup-client-logs.ts
  apps/avatax/scripts/generate-fake-logs.ts
  apps/avatax/scripts/setup-dynamodb.sh
  apps/avatax/src/logger.ts
Due: avatax

Cleanup client logs
  apps/avatax/package.json
  apps/avatax/scripts/cleanup-client-logs.ts
Due: avatax

cleanup leftovers
  apps/avatax/scripts/generate-fake-logs.ts
  apps/avatax/scripts/setup-dynamodb.sh
Due: avatax

Fix discord link (#1748)
  README.md
Due: none

add more info to logs
  apps/avatax/scripts/cleanup-client-logs.ts
Due: avatax

update script
  apps/avatax/scripts/cleanup-client-logs.ts
Due: avatax

renames
  apps/avatax/src/lib/app-internal-tracer.ts
  apps/avatax/src/lib/app-root-tracer.ts
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
Due: avatax

add spans to checkout calculate taxes
  apps/avatax/src/instrumentations/otel-node.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
Due: avatax

upate spans
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
Due: avatax

Refactor AvaTax client to use nevethrow
  .changeset/small-moles-tell.md
  apps/avatax/src/modules/avatax/avatax-client-tax-code.service.test.ts
  apps/avatax/src/modules/avatax/avatax-client-tax-code.service.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
  apps/avatax/src/modules/avatax/avatax-entity-type-matcher.test.ts
  apps/avatax/src/modules/avatax/avatax-entity-type-matcher.ts
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/configuration/avatax-address-validation.service.ts
  apps/avatax/src/modules/avatax/configuration/avatax-auth-validation.service.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.test.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-codes.service.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/src/modules/taxes/tax-error.ts
Due: avatax

use promise all
  apps/avatax/scripts/cleanup-client-logs.ts
Due: avatax

Refactor AvaTax client to use nevethrow (#1764)
  .changeset/small-moles-tell.md
  apps/avatax/src/modules/avatax/avatax-client-tax-code.service.test.ts
  apps/avatax/src/modules/avatax/avatax-client-tax-code.service.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
  apps/avatax/src/modules/avatax/avatax-entity-type-matcher.test.ts
  apps/avatax/src/modules/avatax/avatax-entity-type-matcher.ts
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/configuration/avatax-address-validation.service.ts
  apps/avatax/src/modules/avatax/configuration/avatax-auth-validation.service.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.test.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-codes.service.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/src/modules/taxes/tax-error.ts
Due: avatax

Add span to AvaTax API calls
  apps/avatax/src/modules/avatax/avatax-client.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
Due: avatax

extract enum
  apps/avatax/src/modules/avatax/avatax-client.ts
Due: avatax

add log
  apps/avatax/src/modules/avatax/avatax-client.ts
Due: avatax

add model to log
  apps/avatax/src/modules/avatax/avatax-client.ts
Due: avatax

fallback to Any
  apps/avatax/src/modules/avatax/avatax-client.ts
Due: avatax

wip
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
Due: avatax

add wip migration
  apps/avatax/next-env.d.ts
  apps/avatax/saleor-app.ts
  apps/avatax/scripts/run-webhooks-migration.ts
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/lib/app-metadata-cache.ts
  apps/avatax/src/lib/theme-synchronizer.tsx
  apps/avatax/src/modules/taxes/tax-provider-webhook.ts
  apps/avatax/src/modules/trpc/protected-client-procedure.ts
  apps/avatax/src/modules/webhooks/definitions/checkout-calculate-taxes.ts
  apps/avatax/src/modules/webhooks/definitions/order-calculate-taxes.ts
  apps/avatax/src/pages/_app.tsx
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: avatax

add spans to order cancelled / confirmed
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Due: avatax

move to other file
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/logger-context.ts
  packages/logger/src/logger-context.ts
Due: avatax, logger

Improve client logs
  .changeset/witty-fishes-tell.md
  apps/avatax/src/modules/avatax/avatax-client.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/client-logs/calculate-taxes-log-request.ts
  apps/avatax/src/modules/client-logs/order-cancelled-log-request.ts
  apps/avatax/src/modules/client-logs/order-confirmed-log-request.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Due: avatax

cleanup leftovers
  apps/avatax/src/instrumentations/otel-node.ts
Due: avatax

fix tests
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
Due: avatax

Improve OTEL provider GitHub integration
  .changeset/plenty-pets-pull.md
  .changeset/tame-weeks-warn.md
  apps/avatax/src/instrumentations/otel-node.ts
  apps/cms/src/instrumentations/otel-node.ts
  apps/klaviyo/src/instrumentations/otel-node.ts
  apps/products-feed/src/instrumentations/otel-node.ts
  apps/search/src/instrumentations/otel-node.ts
  apps/segment/src/instrumentations/otel-node.ts
  apps/smtp/src/instrumentations/otel-node.ts
  packages/otel/src/observability-attributes.ts
Due: avatax, products-feed, search, segment, smtp

Add custom spans to AvaTax app (#1763)
  .changeset/witty-fishes-tell.md
  apps/avatax/src/lib/app-internal-tracer.ts
  apps/avatax/src/lib/app-root-tracer.ts
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/client-logs/calculate-taxes-log-request.ts
  apps/avatax/src/modules/client-logs/order-cancelled-log-request.ts
  apps/avatax/src/modules/client-logs/order-confirmed-log-request.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Due: avatax

use env var
  apps/avatax/src/env.ts
  apps/avatax/src/instrumentations/otel-node.ts
  apps/cms/src/instrumentations/otel-node.ts
  apps/klaviyo/src/instrumentations/otel-node.ts
  apps/products-feed/src/instrumentations/otel-node.ts
  apps/search/src/instrumentations/otel-node.ts
  apps/segment/src/env.ts
  apps/segment/src/instrumentations/otel-node.ts
  apps/smtp/src/instrumentations/otel-node.ts
  turbo.json
Due: avatax, products-feed, search, segment, smtp

add dockerfile to avatax
  apps/avatax/Dockerfile
  apps/avatax/Dockerfile.dev
Due: avatax

Add changeset for AvaTax Dockerfile improvements
  .changeset/avatax-docker-fix.md
Due: none
