Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

Update changelog entry
  .changeset/cyan-cherries-behave.md
Due: none

deps: upgrade next.js to v15.5.18 (#2353)
  .changeset/cyan-cherries-behave.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

update schema
  schema.graphql
Due: none

updated app-sdk to 1.8.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

updated sdk
  apps/onboarding/src/app/api/manifest/route.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

wip server rendered
  apps/onboarding/src/app/api/manifest/route.ts
  apps/onboarding/src/app/api/test/route.ts
  apps/onboarding/src/app/layout.tsx
  apps/onboarding/src/app/test/page.tsx
Due: none

defense on customer_deleted suport
  .changeset/customer-deleted-webhook.md
  apps/smtp/generated/graphql.ts
  apps/smtp/src/lib/get-event-form-status.test.ts
  apps/smtp/src/lib/get-event-form-status.ts
  apps/smtp/src/modules/event-handlers/default-payloads.ts
  apps/smtp/src/modules/event-handlers/message-event-types.ts
  apps/smtp/src/modules/feature-flag-service/get-feature-flags.test.ts
  apps/smtp/src/modules/feature-flag-service/get-feature-flags.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/src/modules/smtp/default-templates.ts
  apps/smtp/src/modules/webhook-management/sync-webhook-status.test.ts
  apps/smtp/src/modules/webhook-management/webhook-management-service.ts
  apps/smtp/src/modules/webhook-management/webhook-status-dict.ts
  apps/smtp/src/pages/api/webhooks/customer-deleted.test.ts
  apps/smtp/src/pages/api/webhooks/customer-deleted.ts
Due: smtp

DX for env validation
  .changeset/env-validation-error-formatting.md
  apps/avatax/package.json
  apps/avatax/src/env.ts
  apps/cms/package.json
  apps/cms/src/env.ts
  apps/klaviyo/package.json
  apps/klaviyo/src/env.ts
  apps/np-atobarai/src/lib/env.ts
  apps/products-feed/package.json
  apps/products-feed/src/env.ts
  apps/search/package.json
  apps/search/src/env.ts
  apps/segment/package.json
  apps/segment/src/env.ts
  apps/smtp/next-env.d.ts
  apps/smtp/package.json
  apps/smtp/src/env.ts
  apps/stripe/package.json
  apps/stripe/src/lib/env.ts
  packages/errors/package.json
  packages/errors/src/env-validation.test.ts
  packages/errors/src/env-validation.ts
  packages/errors/src/index.ts
  pnpm-lock.yaml
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, errors

cr fixes
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  apps/stripe/package.json
  packages/errors/src/env-validation.test.ts
  packages/errors/src/env-validation.ts
  pnpm-lock.yaml
Due: avatax, cms, products-feed, search, segment, smtp, stripe, errors

fix(smtp): correct notify_event string literal for account_change_email_request
  apps/smtp/src/lib/notify-event-types.ts
Due: smtp

feat(smtp): send password-setup email on customerCreate
  .changeset/smtp-account-set-customer-password-email.md
  apps/smtp/src/lib/notify-event-types.test.ts
  apps/smtp/src/lib/notify-event-types.ts
  apps/smtp/src/modules/event-handlers/default-payloads.ts
  apps/smtp/src/modules/event-handlers/message-event-types.ts
  apps/smtp/src/modules/smtp/default-templates.ts
  apps/smtp/src/modules/webhook-management/webhook-management-service.ts
Due: smtp

Missing notify events (#2357)
  .changeset/smtp-account-set-customer-password-email.md
  apps/smtp/src/lib/notify-event-types.test.ts
  apps/smtp/src/lib/notify-event-types.ts
  apps/smtp/src/modules/event-handlers/default-payloads.ts
  apps/smtp/src/modules/event-handlers/message-event-types.ts
  apps/smtp/src/modules/smtp/default-templates.ts
  apps/smtp/src/modules/webhook-management/webhook-management-service.ts
Due: smtp

extra tests for notify event
  apps/smtp/package.json
  apps/smtp/src/pages/api/webhooks/notify.test.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  pnpm-lock.yaml
Due: smtp

move file
  apps/smtp/src/__tests__/pages-api-webhooks/notify.test.ts
Due: smtp

chore: upgrade protobufjs to v7.5.8
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add changelog entry
  .changeset/nice-pandas-repair.md
Due: none

chore: upgrade protobufjs to v7.5.8 (#2360)
  .changeset/nice-pandas-repair.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

SMTP: extra e2e tests for account password events (#2359)
  apps/smtp/package.json
  apps/smtp/src/__tests__/pages-api-webhooks/notify.test.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  pnpm-lock.yaml
Due: smtp

chore: upgrade Axios to v1.15.2
  .changeset/cute-cloths-jam.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Apply suggestion from @magul
  packages/errors/src/env-validation.ts
Due: errors

simplify assertions
  packages/errors/src/env-validation.test.ts
Due: errors

browser test
  packages/errors/src/env-validation.test.ts
Due: errors

Shared app-deleted handler in package
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/graphql.config.ts
  packages/webhook-utils/graphql/subscriptions/app-deleted.graphql
  packages/webhook-utils/package.json
  packages/webhook-utils/src/app-deleted-handler.ts
  pnpm-lock.yaml
Due: webhook-utils

Use in Klaviyo
  apps/klaviyo/next-env.d.ts
  apps/klaviyo/package.json
  apps/klaviyo/src/app/api/webhooks/app-deleted/route.ts
  apps/klaviyo/src/app/api/webhooks/app-deleted/webhook-definition.ts
  apps/klaviyo/src/pages/api/manifest.ts
  apps/klaviyo/tsconfig.json
  pnpm-lock.yaml
Due: none

changesets
  .changeset/loud-moles-mix.md
  .changeset/silent-items-thank.md
Due: none

chore: upgrade Axios to v1.15.2 (#2362)
  .changeset/cute-cloths-jam.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

DX for env validation (#2356)
  .changeset/env-validation-error-formatting.md
  apps/avatax/package.json
  apps/avatax/src/env.ts
  apps/cms/package.json
  apps/cms/src/env.ts
  apps/klaviyo/package.json
  apps/klaviyo/src/env.ts
  apps/np-atobarai/src/lib/env.ts
  apps/products-feed/package.json
  apps/products-feed/src/env.ts
  apps/search/src/env.ts
  apps/segment/package.json
  apps/segment/src/env.ts
  apps/smtp/next-env.d.ts
  apps/smtp/package.json
  apps/smtp/src/env.ts
  apps/stripe/package.json
  apps/stripe/src/lib/env.ts
  packages/errors/package.json
  packages/errors/src/env-validation.test.ts
  packages/errors/src/env-validation.ts
  packages/errors/src/index.ts
  pnpm-lock.yaml
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, errors

Error handling
  packages/webhook-utils/src/app-deleted-handler.ts
Due: webhook-utils

WIP tests
  .changeset/silent-items-thank.md
  packages/webhook-utils/src/app-deleted-handler.test.ts
Due: webhook-utils

Extra sdk handler
  apps/klaviyo/src/app/api/webhooks/app-deleted/webhook-definition.ts
  packages/webhook-utils/package.json
  packages/webhook-utils/src/app-deleted-handler/app-deleted-handler.test.ts
  packages/webhook-utils/src/app-deleted-handler/app-deleted-handler.ts
  packages/webhook-utils/src/app-deleted-handler/index.ts
Due: webhook-utils

Simplified tests
  packages/webhook-utils/src/app-deleted-handler/app-deleted-handler.test.ts
  packages/webhook-utils/src/app-deleted-handler/app-deleted-handler.ts
Due: webhook-utils

Normalize errors
  packages/webhook-utils/src/app-deleted-handler/app-deleted-handler.ts
Due: webhook-utils

update error assertion
  packages/webhook-utils/src/app-deleted-handler/app-deleted-handler.test.ts
Due: webhook-utils

update import
  apps/klaviyo/src/app/api/webhooks/app-deleted/webhook-definition.ts
Due: none

Fix tests
  apps/klaviyo/next.config.ts
  packages/webhook-utils/src/app-deleted-handler/app-deleted-handler.ts
Due: webhook-utils

extra logger params
  packages/webhook-utils/src/app-deleted-handler/app-deleted-handler.ts
Due: webhook-utils

`APP_DELETED` event handling (shared logic + Klaviyo implementaton) (#2363)
  .changeset/loud-moles-mix.md
  .changeset/silent-items-thank.md
  apps/klaviyo/next-env.d.ts
  apps/klaviyo/next.config.ts
  apps/klaviyo/package.json
  apps/klaviyo/src/app/api/webhooks/app-deleted/route.ts
  apps/klaviyo/src/app/api/webhooks/app-deleted/webhook-definition.ts
  apps/klaviyo/src/pages/api/manifest.ts
  apps/klaviyo/tsconfig.json
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/graphql.config.ts
  packages/webhook-utils/graphql/subscriptions/app-deleted.graphql
  packages/webhook-utils/package.json
  packages/webhook-utils/src/app-deleted-handler/app-deleted-handler.test.ts
  packages/webhook-utils/src/app-deleted-handler/app-deleted-handler.ts
  packages/webhook-utils/src/app-deleted-handler/index.ts
  pnpm-lock.yaml
Due: webhook-utils

updated app-sdk to 1.8.0 (#2355)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add APP_DELETED webhook handling for CMS, PF, Search, SMTP
  .changeset/apps-app-deleted-handler.md
  apps/cms/next.config.ts
  apps/cms/package.json
  apps/cms/src/app/api/webhooks/app-deleted/route.ts
  apps/cms/src/app/api/webhooks/app-deleted/webhook-definition.ts
  apps/cms/src/pages/api/manifest.ts
  apps/products-feed/src/app/api/webhooks/app-deleted/route.ts
  apps/products-feed/src/app/api/webhooks/app-deleted/webhook-definition.ts
  apps/products-feed/src/pages/api/manifest.ts
  apps/search/src/app/api/webhooks/app-deleted/route.ts
  apps/search/src/app/api/webhooks/app-deleted/webhook-definition.ts
  apps/search/src/pages/api/manifest.ts
  apps/smtp/next.config.ts
  apps/smtp/src/app/api/webhooks/app-deleted/route.ts
  apps/smtp/src/app/api/webhooks/app-deleted/webhook-definition.ts
  apps/smtp/src/pages/api/manifest.ts
  pnpm-lock.yaml
Due: cms, products-feed, search, smtp

fix build
  apps/cms/next-env.d.ts
  apps/cms/tsconfig.json
  apps/products-feed/next-env.d.ts
  apps/products-feed/tsconfig.json
  apps/search/next-env.d.ts
  apps/search/tsconfig.json
  apps/smtp/next-env.d.ts
  apps/smtp/tsconfig.json
Due: cms, products-feed, search, smtp

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
