Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils

wip
  apps/np-atobarai/package.json
  apps/stripe/src/modules/saleor/saleor-api-url.ts
  packages/domain/package.json
  pnpm-lock.yaml
Due: stripe, np-atobarai

move files to catalog
  apps/avatax/package.json
  apps/np-atobarai/package.json
  apps/segment/package.json
  apps/smtp/package.json
  apps/stripe/package.json
  packages/domain/package.json
  packages/logger/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, segment, smtp, stripe, np-atobarai, logger, webhook-utils

changeset
  .changeset/few-ducks-lay.md
  packages/domain/package.json
Due: none

cr fixes
  packages/domain/eslint.config.js
  packages/domain/package.json
  packages/domain/src/base-error.ts
  packages/domain/src/saleor-api-url.test.ts
  packages/domain/src/saleor-api-url.ts
Due: none

Add unit tests
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/subscriptions/transaction-initialize-session.graphql
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-customer.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-delivery-destination.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-goods.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-merchant-code.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-money.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-register-transaction-payload.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-shop-order-date.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-sp-code.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-terminal-id.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-transaction-initialize-session-event.ts
  apps/np-atobarai/src/__tests__/mocks/saleor/mocked-saleor-app-id.ts
  apps/np-atobarai/src/__tests__/mocks/saleor/mocked-saleor-channel-id.ts
  apps/np-atobarai/src/__tests__/mocks/saleor/mocked-saleor-transaction-token.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client-factory.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-merchant-code.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-merchant-code.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-money.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-money.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-payload.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shop-order-date.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shop-order-date.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-sp-code.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-sp-code.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-terminal-id.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-terminal-id.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction.ts
  apps/np-atobarai/src/modules/atobarai/types.ts
  apps/np-atobarai/src/modules/saleor/saleor-transaction-id.ts
  apps/np-atobarai/src/modules/saleor/saleor-transaction-token.ts
Due: np-atobarai

Add domain package (#1994)
  .changeset/few-ducks-lay.md
  apps/avatax/package.json
  apps/np-atobarai/package.json
  apps/segment/package.json
  apps/smtp/package.json
  apps/stripe/package.json
  packages/domain/eslint.config.js
  packages/domain/lint-staged.config.js
  packages/domain/package.json
  packages/domain/src/base-error.ts
  packages/domain/src/saleor-api-url.test.ts
  packages/domain/src/saleor-api-url.ts
  packages/domain/src/setup-tests.ts
  packages/domain/tsconfig.json
  packages/domain/turbo.json
  packages/domain/vitest.config.ts
  packages/webhook-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, segment, smtp, stripe, np-atobarai, webhook-utils

wip config
  apps/np-atobarai/package.json
  apps/np-atobarai/src/lib/env.ts
  apps/np-atobarai/src/modules/app-config/domain/app-channel-config.ts
  apps/np-atobarai/src/modules/app-config/domain/app-root-config.ts
  apps/np-atobarai/src/modules/app-config/repositories/app-config-repo-impl.test.ts
  apps/np-atobarai/src/modules/app-config/repositories/app-config-repo-impl.ts
  apps/np-atobarai/src/modules/app-config/repositories/app-config-repo.ts
  apps/np-atobarai/src/modules/app-config/repositories/dynamodb/__tests__/app-config-dynamodb-mocks.ts
  apps/np-atobarai/src/modules/app-config/repositories/dynamodb/app-config-db-model.test.ts
  apps/np-atobarai/src/modules/app-config/repositories/dynamodb/app-config-db-model.ts
  apps/np-atobarai/src/modules/app-config/repositories/dynamodb/channel-config-mapping-db-model.test.ts
  apps/np-atobarai/src/modules/app-config/repositories/dynamodb/channel-config-mapping-db-model.ts
  apps/np-atobarai/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.test.ts
  apps/np-atobarai/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-stripe-configs-channels-mapping-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-stripe-configs-channels-mapping-trpc-handler.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-stripe-configs-list-trpc-handler.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/remove-stripe-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/remove-stripe-config-trpc-handler.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/update-mapping-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/update-mapping-trpc-handler.ts
  apps/np-atobarai/src/modules/dynamodb/dynamo-main-table.ts
  apps/np-atobarai/src/modules/dynamodb/dynamodb-client.ts
  apps/np-atobarai/turbo.json
  pnpm-lock.yaml
Due: np-atobarai

upload coverage
  .github/workflows/main.yml
Due: none

wip
  apps/np-atobarai/package.json
  apps/np-atobarai/src/modules/app-config/domain/app-channel-config.ts
  apps/np-atobarai/src/modules/app-config/repositories/app-config-repo.ts
  apps/np-atobarai/src/modules/app-config/repositories/dynamodb/app-config-db-model.ts
  pnpm-lock.yaml
Due: np-atobarai

Add codecov for domain pkg
  .github/workflows/main.yml
  codecov.yml
Due: none

wip
  apps/np-atobarai/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.test.ts
  apps/np-atobarai/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
Due: np-atobarai

Add codecov for domain pkg (#1996)
  .github/workflows/main.yml
  codecov.yml
Due: none

wip
  apps/products-feed/src/modules/file-storage/s3/urls-and-names.ts
  apps/products-feed/src/modules/google-feed/feed-xml-builder.test.ts
  apps/products-feed/src/modules/google-feed/feed-xml-builder.ts
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/products-feed/src/modules/google-feed/product-variant-to-proxy.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

wip
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

wip
  apps/products-feed/src/modules/file-storage/s3/urls-and-names.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

wip
  apps/products-feed/src/modules/google-feed/feed-xml-builder.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
Due: products-feed

extract feed builder
  apps/products-feed/src/modules/google-feed/feed-xml-builder.ts
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
Due: products-feed

recursive work
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

fix cursors
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql/queries/FetchBasicProductData.graphql
  apps/products-feed/graphql/queries/FetchProductAttributesData.graphql
Due: none

remove test
  apps/products-feed/src/modules/google-feed/feed-xml-builder.test.ts
Due: products-feed

test
  apps/products-feed/src/modules/google-feed/feed-xml-builder.test.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
Due: products-feed

changelog
  .changeset/loud-garlics-brake.md
  apps/products-feed/.env.example
  apps/products-feed/src/modules/google-feed/fetch-product-data.test.ts
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/modules/google-feed/product-processing-limit.test.ts
  apps/products-feed/src/modules/google-feed/product-processing-limit.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
  apps/products-feed/turbo.json
Due: products-feed

simplify data fetching
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql/queries/FetchBasicProductData.graphql
  apps/products-feed/graphql/queries/FetchProductAttributesData.graphql
  apps/products-feed/src/modules/google-feed/fetch-product-data.test.ts
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
Due: products-feed

merger
  apps/products-feed/src/modules/google-feed/feed-xml-builder.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

wip - cursors fixes
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
Due: products-feed

fix validation logic
  apps/products-feed/src/modules/app-configuration/app-configuration.router.ts
  apps/products-feed/src/modules/file-storage/s3/check-bucket-access.ts
  apps/products-feed/src/pages/configuration.tsx
Due: products-feed

CR fixes
  apps/products-feed/package.json
  apps/products-feed/src/modules/feed-dto.ts
  apps/products-feed/src/modules/google-feed/product-variant-to-proxy.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
  apps/products-feed/tsconfig.json
  apps/products-feed/vitest.config.ts
  pnpm-lock.yaml
Due: products-feed

fixing sort
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql/queries/FetchProductCursors.graphql
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
Due: products-feed

delete chunks
  apps/products-feed/src/modules/file-storage/s3/file-remover.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

sign url
  apps/products-feed/package.json
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.test.ts
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
  pnpm-lock.yaml
Due: products-feed

test
  apps/products-feed/src/modules/google-feed/fetch-product-data.test.ts
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
Due: products-feed

wip
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
Due: products-feed

wip recursive
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
Due: products-feed

sign url if cached
  apps/products-feed/src/modules/file-storage/s3/urls-and-names.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

fix example copy
  apps/products-feed/src/pages/configuration.tsx
Due: products-feed

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
