Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

changeset
  .changeset/smart-snails-relate.md
Due: none

Notes added by 'git notes add'
  390092e64c98856542c92482224a36e5a3ee1265
Due: none

fix(lint): add SMTP env vars to turbo.json and update inventory-ops
  turbo.json
Due: none

agents md for app problems
  apps/products-feed/src/modules/app-problems/products-feed-problem-reporter.ts
  packages/app-problems/AGENTS.md
  packages/app-problems/CLAUDE.md
Due: products-feed

Notes added by 'git notes add'
  303441ac501fd8327f12c3295cdf1330452b2a5f
Due: none

clear problems
  apps/products-feed/src/modules/app-configuration/app-configuration.router.ts
Due: products-feed

Notes added by 'git notes add'
  44d8b371c4aad07c600d26edd5a8cd7fc04a77ac
Due: none

dont await problems
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

Notes added by 'git notes add'
  d66e7589b65b022d9e3e2fc9cee1e4e322392943
Due: none

Products Feed: Add Problems API integration for reporting feed issues to Saleor Dashboard (#2265)
  .changeset/smart-snails-relate.md
  apps/products-feed/package.json
  apps/products-feed/src/modules/app-configuration/app-configuration.router.ts
  apps/products-feed/src/modules/app-problems/create-products-feed-problem-reporter.ts
  apps/products-feed/src/modules/app-problems/index.ts
  apps/products-feed/src/modules/app-problems/products-feed-problem-reporter.test.ts
  apps/products-feed/src/modules/app-problems/products-feed-problem-reporter.ts
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
  packages/app-problems/AGENTS.md
  packages/app-problems/CLAUDE.md
  pnpm-lock.yaml
Due: products-feed

fix(health,price-sync): deep health checks and price sync alerting
  apps/mtg-import/src/pages/api/health.ts
Due: none

fix: CI build and lint fixes across custom apps
  turbo.json
Due: none

Better error shapes
  .changeset/funny-items-thank.md
  apps/cms/src/pages/api/webhooks/product-updated.ts
  apps/cms/src/pages/api/webhooks/product-variant-created.ts
  apps/cms/src/pages/api/webhooks/product-variant-deleted.ts
  apps/cms/src/pages/api/webhooks/product-variant-updated.ts
  apps/klaviyo/src/pages/api/configuration.ts
  apps/klaviyo/src/pages/api/webhooks/customer-created.ts
  apps/klaviyo/src/pages/api/webhooks/fulfillment-created.ts
  apps/klaviyo/src/pages/api/webhooks/order-created.ts
  apps/klaviyo/src/pages/api/webhooks/order-fully-paid.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/webhooks-status.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_back_in_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_out_of_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-confirmed.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
  apps/smtp/src/pages/api/webhooks/order-refunded.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
Due: cms, products-feed, search, segment, smtp, stripe, np-atobarai

Notes added by 'git notes add'
  a46d97633e3692a8946bec9bb7ce4012679f7b00
Due: none

fix: add Prisma connection_limit=5 across all apps (#30)
  apps/mtg-import/src/lib/prisma.ts
Due: none

fix(security): migrate PINs to bcrypt, add manager override lockout (#31)
  pnpm-lock.yaml
Due: none

fix test
  apps/search/src/pages/api/webhooks/saleor/product_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.test.ts
Due: search

Notes added by 'git notes add'
  20f8d61125213e5c7b795e3a88c156cae597d313
Due: none

fix test
  apps/products-feed/src/tests/google-route.test.ts
Due: products-feed

Notes added by 'git notes add'
  1fd25456ec8defbb65fa5ce90b105f660c042747
Due: none

Update funny-items-thank.md
  .changeset/funny-items-thank.md
Due: none

poc shadcn
  apps/smtp/components.json
  apps/smtp/package.json
  apps/smtp/postcss.config.js
  apps/smtp/src/components/ui/button.tsx
  apps/smtp/src/lib/utils.ts
  apps/smtp/src/styles/globals.css
  apps/smtp/tailwind.config.js
  apps/smtp/tsconfig.json
  apps/stripe/.env.old
  opencode.json
  pnpm-lock.yaml
Due: smtp, stripe

chore: remove price-sync submodule (migrated to inventory-ops)
  .gitmodules
Due: none

Segment: Add Problems API integration for reporting issues to Saleor Dashboard
  apps/segment/package.json
  apps/segment/src/modules/app-problems/create-segment-problem-reporter.ts
  apps/segment/src/modules/app-problems/index.ts
  apps/segment/src/modules/app-problems/segment-problem-reporter.test.ts
  apps/segment/src/modules/app-problems/segment-problem-reporter.ts
  apps/segment/src/modules/configuration/configuration.router.ts
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-confirmed.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
  pnpm-lock.yaml
Due: segment

Notes added by 'git notes add'
  37811304049fcb63b4a03754045ef90dd437f07c
Due: none

changest
  .changeset/warm-limes-kneel.md
Due: none

Notes added by 'git notes add'
  2c0a885992289cc0aaf2a31612ee96b4c3587f1e
Due: none

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
