Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, logger, shared, webhook-utils

codecov.yml:

coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms-v2/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/

Update typescript to 5.8.2
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  packages/e2e/package.json
  packages/logger/package.json
  packages/otel/package.json
  packages/react-hook-form-macaw/package.json
  packages/sentry-utils/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

Shuffle tests
  apps/avatax/vitest.config.ts
  apps/cms/vitest.config.ts
  apps/products-feed/vitest.config.ts
  apps/search/vitest.config.ts
  apps/segment/vitest.config.ts
  apps/smtp/vitest.config.ts
  packages/logger/vitest.config.ts
  packages/shared/vitest.config.ts
  packages/webhook-utils/vitest.config.ts
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

fix logger config
  packages/logger/vitest.config.ts
Due: logger

fix test
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
Due: smtp

setup sequence differenly for avatax
  apps/avatax/package.json
  apps/avatax/vitest.config.ts
Due: avatax

Release apps (#1808)
  .changeset/clever-bees-brush.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
Due: avatax, products-feed, search, segment, smtp, logger

Migrate AvaTax to Next.js app router (#1809)
  .changeset/gorgeous-rivers-begin.md
  .changeset/weak-taxis-camp.md
  apps/avatax/next-env.d.ts
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/app/api/register/route.ts
  apps/avatax/src/app/api/trpc/[trpc]/route.ts
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/lib/app-metadata-cache.ts
  apps/avatax/src/logger-context.ts
  apps/avatax/src/modules/app/metadata-manager.test.ts
  apps/avatax/src/modules/trpc/trpc-context.ts
  apps/avatax/src/modules/webhooks/definitions/checkout-calculate-taxes.ts
  apps/avatax/src/modules/webhooks/definitions/order-calculate-taxes.ts
  apps/avatax/src/modules/webhooks/definitions/order-cancelled.ts
  apps/avatax/src/modules/webhooks/definitions/order-confirmed.ts
  apps/avatax/src/pages/api/trpc/[trpc].ts
  apps/avatax/tsconfig.json
  apps/avatax/turbo.json
  packages/logger/node.ts
  packages/logger/src/logger-context.test.ts
  packages/logger/src/logger-context.ts
  packages/otel/src/with-span-attributes.ts
Due: avatax, logger

Export tRPC handler once in app route
  .changeset/twelve-planets-relate.md
  apps/avatax/src/app/api/trpc/[trpc]/route.ts
Due: avatax

Update typescript to 5.8.2 (#1811)
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  packages/e2e/package.json
  packages/logger/package.json
  packages/otel/package.json
  packages/react-hook-form-macaw/package.json
  packages/sentry-utils/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

Shuffle tests order to avoid side effects (#1812)
  apps/avatax/package.json
  apps/cms/vitest.config.ts
  apps/products-feed/vitest.config.ts
  apps/search/vitest.config.ts
  apps/segment/vitest.config.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/vitest.config.ts
  packages/logger/vitest.config.ts
  packages/shared/vitest.config.ts
  packages/webhook-utils/vitest.config.ts
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

remove not used pkg
  apps/avatax/package.json
  pnpm-lock.yaml
Due: avatax

Migrate AvaTax
  apps/avatax/.eslintrc.cjs
  apps/avatax/next-env.d.ts
  apps/avatax/next.config.ts
  apps/avatax/package.json
  apps/avatax/src/app/global-error.tsx
  apps/avatax/src/instrumentation.ts
  apps/avatax/tsconfig.json
  apps/avatax/turbo.json
  packages/eslint-config/index.cjs
  packages/eslint-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax

test sentry error
  apps/avatax/src/app/api/manifest/route.ts
Due: avatax

Migrate CMS
  apps/cms/next-env.d.ts
  apps/cms/next.config.ts
  apps/cms/src/instrumentation.ts
  apps/cms/tsconfig.json
Due: none

Migrate Klaviyo
  apps/avatax/src/app/api/manifest/route.ts
  apps/klaviyo/next-env.d.ts
  apps/klaviyo/next.config.ts
  apps/klaviyo/src/instrumentation.ts
  apps/klaviyo/tsconfig.json
Due: avatax

Migrate Products-feed
  apps/products-feed/next-env.d.ts
  apps/products-feed/next.config.ts
  apps/products-feed/src/instrumentation.ts
  apps/products-feed/tsconfig.json
Due: products-feed

Migrate search
  apps/search/next-env.d.ts
  apps/search/next.config.ts
  apps/search/src/instrumentation.ts
  apps/search/tsconfig.json
Due: search

Migrate segment
  apps/segment/.eslintrc.cjs
  apps/segment/next-env.d.ts
  apps/segment/next.config.ts
  apps/segment/src/instrumentation.ts
  apps/segment/tsconfig.json
Due: segment

Migrate SMTP
  apps/smtp/next-env.d.ts
  apps/smtp/next.config.ts
  apps/smtp/src/instrumentation.ts
  apps/smtp/tsconfig.json
Due: smtp

fix wrong eslint config
  packages/logger/.eslintrc.cjs
Due: logger

Add changeset
  .changeset/plenty-pumas-occur.md
Due: none

Release apps (#1813)
  .changeset/gorgeous-rivers-begin.md
  .changeset/weak-taxis-camp.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
Due: avatax, products-feed, search, segment, smtp, logger

Migrate to Next.js 15 (#1815)
  .changeset/plenty-pumas-occur.md
  apps/avatax/.eslintrc.cjs
  apps/avatax/next-env.d.ts
  apps/avatax/next.config.ts
  apps/avatax/package.json
  apps/avatax/src/app/global-error.tsx
  apps/avatax/src/instrumentation.ts
  apps/avatax/tsconfig.json
  apps/avatax/turbo.json
  apps/cms/next-env.d.ts
  apps/cms/next.config.ts
  apps/cms/src/instrumentation.ts
  apps/cms/tsconfig.json
  apps/klaviyo/next-env.d.ts
  apps/klaviyo/next.config.ts
  apps/klaviyo/src/instrumentation.ts
  apps/klaviyo/tsconfig.json
  apps/products-feed/next-env.d.ts
  apps/products-feed/next.config.ts
  apps/products-feed/src/instrumentation.ts
  apps/products-feed/tsconfig.json
  apps/search/next-env.d.ts
  apps/search/next.config.ts
  apps/search/src/instrumentation.ts
  apps/search/tsconfig.json
  apps/segment/.eslintrc.cjs
  apps/segment/next-env.d.ts
  apps/segment/next.config.ts
  apps/segment/src/instrumentation.ts
  apps/segment/tsconfig.json
  apps/smtp/next-env.d.ts
  apps/smtp/next.config.ts
  apps/smtp/src/instrumentation.ts
  apps/smtp/tsconfig.json
  packages/eslint-config/index.cjs
  packages/eslint-config/package.json
  packages/logger/.eslintrc.cjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, products-feed, search, segment, smtp, logger

Export tRPC handler once in app route (#1814)
  .changeset/twelve-planets-relate.md
  apps/avatax/src/app/api/trpc/[trpc]/route.ts
Due: avatax

Remove e2e package
  packages/e2e/.env.example
  packages/e2e/.eslintrc.cjs
  packages/e2e/.gitignore
  packages/e2e/CHANGELOG.md
  packages/e2e/lint-staged.config.js
  packages/e2e/package.json
  packages/e2e/playwright.config.ts
  packages/e2e/setup/configuration.ts
  packages/e2e/setup/routing.ts
  packages/e2e/tests/apps-installation.spec.ts
  packages/e2e/tests/apps/klaviyo/klaviyo-configuration.spec.ts
  packages/e2e/tests/apps/product-feed/assertions/assert-app-render.ts
  packages/e2e/tests/apps/product-feed/operations/fill-aws-s3-form.ts
  packages/e2e/tests/apps/product-feed/operations/fill-channel-config.ts
  packages/e2e/tests/apps/product-feed/operations/navigate-to-category-mapping.ts
  packages/e2e/tests/apps/product-feed/operations/set-category-mapping.ts
  packages/e2e/tests/apps/product-feed/product-feed-configuration.spec.ts
  packages/e2e/tests/assertions/assert-app-available.ts
  packages/e2e/tests/operations/install-app.ts
  packages/e2e/tests/operations/log-in-to-dashboard.ts
  packages/e2e/tests/operations/open-app.ts
  packages/e2e/tsconfig.json
  packages/e2e/turbo.json
  pnpm-lock.yaml
Due: none

Remove e2e package (#1817)
  packages/e2e/.env.example
  packages/e2e/.eslintrc.cjs
  packages/e2e/.gitignore
  packages/e2e/CHANGELOG.md
  packages/e2e/lint-staged.config.js
  packages/e2e/package.json
  packages/e2e/playwright.config.ts
  packages/e2e/setup/configuration.ts
  packages/e2e/setup/routing.ts
  packages/e2e/tests/apps-installation.spec.ts
  packages/e2e/tests/apps/klaviyo/klaviyo-configuration.spec.ts
  packages/e2e/tests/apps/product-feed/assertions/assert-app-render.ts
  packages/e2e/tests/apps/product-feed/operations/fill-aws-s3-form.ts
  packages/e2e/tests/apps/product-feed/operations/fill-channel-config.ts
  packages/e2e/tests/apps/product-feed/operations/navigate-to-category-mapping.ts
  packages/e2e/tests/apps/product-feed/operations/set-category-mapping.ts
  packages/e2e/tests/apps/product-feed/product-feed-configuration.spec.ts
  packages/e2e/tests/assertions/assert-app-available.ts
  packages/e2e/tests/operations/install-app.ts
  packages/e2e/tests/operations/log-in-to-dashboard.ts
  packages/e2e/tests/operations/open-app.ts
  packages/e2e/tsconfig.json
  packages/e2e/turbo.json
  pnpm-lock.yaml
Due: none

Migrate AvaTax
  .cspell.json
  apps/avatax/.eslintrc.cjs
  apps/avatax/eslint.config.js
  apps/avatax/graphql.config.ts
  apps/avatax/package.json
  apps/avatax/src/modules/avatax/ui/tax-code-select.tsx
  apps/avatax/tsconfig.json
  packages/eslint-config/index.cjs
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax

Migrate CMS
  apps/cms/.eslintrc.cjs
  apps/cms/eslint.config.js
  apps/cms/tsconfig.json
Due: none

Migrate Klaviyo
  apps/klaviyo/.eslintrc.cjs
  apps/klaviyo/eslint.config.js
  apps/klaviyo/src/hooks/useAppApi.tsx
  apps/klaviyo/tsconfig.json
Due: none

Migrate products feed
  apps/products-feed/.eslintrc.cjs
  apps/products-feed/eslint.config.js
  apps/products-feed/src/pages/index.tsx
  apps/products-feed/tsconfig.json
Due: products-feed

Migrate search
  apps/search/.eslintrc.cjs
  apps/search/eslint.config.js
  apps/search/src/lib/useWebhooksStatus.tsx
  apps/search/tsconfig.json
Due: search
