Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, logger, shared, webhook-utils

codecov.yml:

coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/

fix snapshot test
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
Due: stripe

update react types
  .changeset/red-elephants-ring.md
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  apps/stripe/package.json
  apps/stripe/src/pages/index.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, cms, products-feed, search, segment, smtp, stripe

restore file
  apps/stripe/src/pages/index.tsx
Due: stripe

config layouts
  apps/stripe/package.json
  apps/stripe/src/modules/ui/app-header.tsx
  apps/stripe/src/pages/config/index.tsx
  apps/stripe/src/pages/index.tsx
  pnpm-lock.yaml
Due: stripe

empty conifg view
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/app-root-config.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-list-trpc-handler.ts
  apps/stripe/src/modules/ui/stripe-configs/channel-config-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/empty-configs.tsx
  apps/stripe/src/pages/config/index.tsx
Due: stripe

form and validation
  apps/stripe/package.json
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/ui/app-breadcrumbs.tsx
  apps/stripe/src/modules/ui/app-header.tsx
  apps/stripe/src/modules/ui/stripe-configs/channel-config-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/empty-configs.tsx
  apps/stripe/src/modules/ui/stripe-configs/new-stripe-config-form.tsx
  apps/stripe/src/pages/config/new.tsx
  pnpm-lock.yaml
Due: stripe

ui form
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/ui/stripe-configs/new-stripe-config-form.tsx
Due: stripe

fix bindings
  apps/stripe/src/app/api/stripe/webhook/route.ts
  apps/stripe/src/modules/stripe/stripe-webhook-signature-validator.ts
Due: stripe

Fix Stripe app Saleor Charge Failure API response
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: stripe

add logs
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-file.ts
  packages/otel/src/observability-attributes.ts
Due: stripe

fix build
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
Due: stripe

Fix Stripe app Saleor Charge Failure API response (#1866)
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: stripe

Fix Stripe API request params
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
Due: stripe

gql
  apps/stripe/generated/graphql.ts
Due: stripe

comment
  apps/stripe/src/modules/stripe/stripe-webhook-signature-validator.ts
Due: stripe

Fix Stripe API request params (#1867)
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
Due: stripe

Fix graphql generated types
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql.config.ts
  apps/avatax/lint-staged.config.js
  apps/cms/generated/graphql.ts
  apps/cms/graphql.config.ts
  apps/cms/lint-staged.config.js
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/graphql.config.ts
  apps/klaviyo/lint-staged.config.js
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql.config.ts
  apps/products-feed/lint-staged.config.js
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/search/generated/graphql.ts
  apps/search/graphql.config.ts
  apps/search/lint-staged.config.js
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/search/src/lib/safe-parse-json.ts
  apps/segment/generated/graphql.ts
  apps/segment/graphql.config.ts
  apps/segment/lint-staged.config.js
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql.config.ts
  apps/smtp/lint-staged.config.js
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql.config.ts
  apps/stripe/lint-staged.config.js
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/graphql.config.ts
  packages/webhook-utils/lint-staged.config.js
Due: avatax, cms, products-feed, search, segment, smtp, stripe, webhook-utils

Fix graphql generated types
  lint-staged.config.js
Due: none

commit changed files
  lint-staged.config.js
Due: none

fix lint-staged
  apps/avatax/generated/graphql.ts
  apps/avatax/lint-staged.config.js
  apps/cms/generated/graphql.ts
  apps/cms/lint-staged.config.js
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/lint-staged.config.js
  apps/products-feed/generated/graphql.ts
  apps/products-feed/lint-staged.config.js
  apps/search/generated/graphql.ts
  apps/search/lint-staged.config.js
  apps/segment/generated/graphql.ts
  apps/segment/lint-staged.config.js
  apps/smtp/generated/graphql.ts
  apps/smtp/lint-staged.config.js
  apps/stripe/generated/graphql.ts
  apps/stripe/lint-staged.config.js
  lint-staged.config.js
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/lint-staged.config.js
Due: avatax, cms, products-feed, search, segment, smtp, stripe, webhook-utils

fix workflow
  .github/workflows/main.yml
Due: none

Fix typo in filename
  apps/stripe/src/__tests__/mocks/transaction-initialize-session-event.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
Due: stripe

Improve GraphQL codegen (#1868)
  .github/workflows/main.yml
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql.config.ts
  apps/avatax/lint-staged.config.js
  apps/cms/generated/graphql.ts
  apps/cms/graphql.config.ts
  apps/cms/lint-staged.config.js
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/graphql.config.ts
  apps/klaviyo/lint-staged.config.js
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql.config.ts
  apps/products-feed/lint-staged.config.js
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/search/generated/graphql.ts
  apps/search/graphql.config.ts
  apps/search/lint-staged.config.js
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/search/src/lib/safe-parse-json.ts
  apps/segment/generated/graphql.ts
  apps/segment/graphql.config.ts
  apps/segment/lint-staged.config.js
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql.config.ts
  apps/smtp/lint-staged.config.js
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql.config.ts
  apps/stripe/lint-staged.config.js
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/graphql.config.ts
  packages/webhook-utils/lint-staged.config.js
Due: avatax, cms, products-feed, search, segment, smtp, stripe, webhook-utils

Remove __typename from GraphQL types
  apps/avatax/graphql.config.ts
  apps/cms/generated/graphql.ts
  apps/cms/graphql.config.ts
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/graphql.config.ts
  apps/products-feed/graphql.config.ts
  apps/search/graphql.config.ts
  apps/segment/generated/graphql.ts
  apps/segment/graphql.config.ts
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql.config.ts
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql.config.ts
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/graphql.config.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, webhook-utils

Fix typo in filename (#1869)
  apps/stripe/src/__tests__/mocks/transaction-initialize-session-event.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
Due: stripe

fix type
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
Due: stripe

Stripe webhook: payment success handling (#1862)
  apps/stripe/.gitignore
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/mutations/transaction-event-report.graphql
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-payment-intent-id.ts
  apps/stripe/src/__tests__/mocks/mocked-transaction-recorder.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-succeeded.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/resolved-webhook-events.test.ts
  apps/stripe/src/app/api/stripe/webhook/resolved-webhook-events.ts
  apps/stripe/src/app/api/stripe/webhook/route.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-webhook-response.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/lib/app-config-persistence.ts
  apps/stripe/src/modules/saleor/saleor-money.test.ts
  apps/stripe/src/modules/saleor/saleor-money.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.test.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/stripe/stripe-event-date.test.ts
  apps/stripe/src/modules/stripe/stripe-event-date.ts
  apps/stripe/src/modules/stripe/stripe-webhook-signature-validator.ts
  apps/stripe/src/modules/transaction-flow.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-file.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-impl.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder.ts
  packages/otel/src/observability-attributes.ts
Due: stripe

Change webhook secret to zod brand
  apps/stripe/src/modules/stripe/stripe-webhook-secret.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.ts
Due: stripe

Stripe PK VO conversion
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
Due: stripe

Stripe RK vo
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/src/modules/stripe/stripe-webhook-signature-validator.ts
Due: stripe

wip
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
Due: stripe

fix after merge
  apps/stripe/generated/graphql.ts
Due: stripe

Remove __typename from GraphQL types (#1870)
  apps/avatax/graphql.config.ts
  apps/cms/generated/graphql.ts
  apps/cms/graphql.config.ts
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/graphql.config.ts
  apps/products-feed/graphql.config.ts
  apps/search/graphql.config.ts
  apps/segment/generated/graphql.ts
  apps/segment/graphql.config.ts
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql.config.ts
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql.config.ts
  apps/stripe/src/__tests__/mocks/transaction-initialize-session-event.ts
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/graphql.config.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, webhook-utils
