Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, logger, shared, webhook-utils

codecov.yml:

coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms-v2/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/

update lock
  pnpm-lock.yaml
Due: none

WIP: AvaTax dockerfile
  Dockerfile.avatax.dev
Due: none

Change imports & add README
  .cspell.json
  apps/avatax/README.md
  apps/avatax/src/lib/app-configuration-logger.test.ts
  apps/avatax/src/lib/app-configuration-logger.ts
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/avatax/src/otel-instrumentation.node.ts
  apps/avatax/src/pages/api/manifest.ts
  apps/avatax/src/pages/api/register.ts
  apps/avatax/src/pages/api/trpc/[trpc].ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
  packages/otel/README.md
  packages/otel/index.ts
  packages/otel/package.json
Due: avatax

update readme & remove example sampler
  .cspell.json
  apps/avatax/README.md
  apps/avatax/src/lib/otel-sampler.ts
  apps/avatax/src/otel-instrumentation.node.ts
Due: avatax

add otel instrumentation hook to CMS
  apps/cms/README.md
  apps/cms/next.config.js
  apps/cms/package.json
  apps/cms/src/instrumentation.ts
  apps/cms/src/modules/otel/app-root-tracer.ts
  apps/cms/src/modules/trpc/create-instrumented-graphql-client.ts
  apps/cms/src/otel-instrumentation.node.ts
  apps/cms/src/pages/api/manifest.ts
  apps/cms/src/pages/api/register.ts
  apps/cms/src/pages/api/trpc/[trpc].ts
  apps/cms/src/pages/api/webhooks/product-updated.ts
  apps/cms/src/pages/api/webhooks/product-variant-created.ts
  apps/cms/src/pages/api/webhooks/product-variant-deleted.ts
  apps/cms/src/pages/api/webhooks/product-variant-updated.ts
  apps/cms/turbo.json
  packages/otel/src/resource-factory.ts
  pnpm-lock.yaml
Due: none

migrate klaviyo
  apps/klaviyo/README.md
  apps/klaviyo/next.config.js
  apps/klaviyo/package.json
  apps/klaviyo/src/instrumentation.ts
  apps/klaviyo/src/lib/app-root-tracer.ts
  apps/klaviyo/src/otel-instrumentation.node.ts
  apps/klaviyo/src/pages/api/configuration.ts
  apps/klaviyo/src/pages/api/manifest.ts
  apps/klaviyo/src/pages/api/register.ts
  apps/klaviyo/src/pages/api/webhooks/customer-created.ts
  apps/klaviyo/src/pages/api/webhooks/fulfillment-created.ts
  apps/klaviyo/src/pages/api/webhooks/order-created.ts
  apps/klaviyo/src/pages/api/webhooks/order-fully-paid.ts
  apps/klaviyo/turbo.json
  packages/otel/README.md
  pnpm-lock.yaml
Due: none

migrate products-feed
  apps/products-feed/README.md
  apps/products-feed/next.config.js
  apps/products-feed/package.json
  apps/products-feed/src/instrumentation.ts
  apps/products-feed/src/lib/app-root-tracer.ts
  apps/products-feed/src/lib/create-instrumented-graphql-client.ts
  apps/products-feed/src/otel-instrumentation.node.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
  apps/products-feed/src/pages/api/manifest.ts
  apps/products-feed/src/pages/api/register.ts
  apps/products-feed/src/pages/api/trpc/[trpc].ts
  apps/products-feed/tsconfig.json
  apps/products-feed/turbo.json
  apps/products-feed/vitest.config.ts
  pnpm-lock.yaml
Due: products-feed

migrate search
  apps/search/README.md
  apps/search/next.config.js
  apps/search/package.json
  apps/search/src/instrumentation.ts
  apps/search/src/lib/app-root-tracer.ts
  apps/search/src/lib/create-instrumented-graphql-client.ts
  apps/search/src/otel-instrumentation.node.ts
  apps/search/src/pages/api/manifest.ts
  apps/search/src/pages/api/register.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/trpc/[trpc].ts
  apps/search/src/pages/api/webhooks-status.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_back_in_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_out_of_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
  apps/search/turbo.json
  pnpm-lock.yaml
Due: search

migrate segment
  apps/segment/README.md
  apps/segment/next.config.js
  apps/segment/package.json
  apps/segment/src/env.ts
  apps/segment/src/instrumentation.ts
  apps/segment/src/lib/app-root-tracer.ts
  apps/segment/src/lib/create-instrumented-graphql-client.ts
  apps/segment/src/lib/dynamodb-apl.ts
  apps/segment/src/otel-instrumentation.node.ts
  apps/segment/src/pages/api/manifest.ts
  apps/segment/src/pages/api/register.ts
  apps/segment/src/pages/api/trpc/[trpc].ts
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-confirmed.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
  apps/segment/turbo.json
  pnpm-lock.yaml
Due: segment

migrate smtp
  apps/segment/next.config.js
  apps/smtp/README.md
  apps/smtp/next.config.js
  apps/smtp/package.json
  apps/smtp/src/instrumentation.ts
  apps/smtp/src/lib/app-root-tracer.ts
  apps/smtp/src/lib/create-instrumented-graphql-client.ts
  apps/smtp/src/otel-instrumentation.node.ts
  apps/smtp/src/pages/api/manifest.ts
  apps/smtp/src/pages/api/register.ts
  apps/smtp/src/pages/api/trpc/[trpc].ts
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
  apps/smtp/src/pages/api/webhooks/order-refunded.ts
  apps/smtp/turbo.json
  packages/otel/README.md
  pnpm-lock.yaml
Due: segment, smtp

revert not needed change
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
  apps/products-feed/tsconfig.json
  apps/products-feed/vitest.config.ts
Due: products-feed

Add changesets
  .changeset/brave-crabs-reflect.md
  .changeset/rich-dogs-push.md
Due: none

Cleanup OTEL pkgs & remove not needed log transport
  .changeset/orange-rings-tease.md
  package.json
  packages/logger/src/logger-otel-transport.ts
  packages/logger/src/root-logger.test.ts
  pnpm-lock.yaml
Due: logger

fix import
  packages/logger/node.ts
Due: logger

Cleanup OTEL pkgs & remove not needed log transport (#1743)
  .changeset/orange-rings-tease.md
  package.json
  packages/logger/node.ts
  packages/logger/src/logger-otel-transport.ts
  packages/logger/src/root-logger.test.ts
  pnpm-lock.yaml
Due: logger

Add debug log for AvaTax calc taxes
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
Due: avatax

Add debug log for AvaTax calc taxes (#1744)
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
Due: avatax

Fix e2e for AvaTax
  apps/avatax/e2e/tests/checkout_with_customer_metadata.spec.ts
Due: avatax

cleanup
  .github/workflows/e2e.yml
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
Due: avatax

Fix e2e for AvaTax (#1745)
  .github/workflows/e2e.yml
  apps/avatax/e2e/tests/checkout_with_customer_metadata.spec.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
Due: avatax

working spans
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
  apps/avatax/src/lib/otel-tracers.ts
  apps/avatax/src/pages/api/manifest.ts
  package.json
  packages/otel/package.json
  packages/otel/src/batch-span-processor-factory.ts
  pnpm-lock.yaml
Due: avatax

add metrics
  apps/avatax/src/lib/otel-metrics.ts
  apps/avatax/src/otel-instrumentation.node.ts
  apps/avatax/src/pages/api/manifest.ts
  package.json
  packages/otel/package.json
  packages/otel/src/metric-reader-factory.ts
  pnpm-lock.yaml
Due: avatax

update sdk and paritally migrate
  apps/avatax/saleor-app.ts
  apps/cms/src/modules/trpc/protected-client-procedure.ts
  apps/cms/src/pages/api/webhooks/product-updated.ts
  apps/cms/src/pages/api/webhooks/product-variant-created.ts
  apps/cms/src/pages/api/webhooks/product-variant-deleted.ts
  apps/cms/src/pages/api/webhooks/product-variant-updated.ts
  apps/cms/src/saleor-app.ts
  apps/klaviyo/saleor-app.ts
  apps/klaviyo/src/pages/api/configuration.ts
  apps/klaviyo/src/pages/api/webhooks/customer-created.ts
  apps/klaviyo/src/pages/api/webhooks/fulfillment-created.ts
  apps/klaviyo/src/pages/api/webhooks/order-created.ts
  apps/klaviyo/src/pages/api/webhooks/order-fully-paid.ts
  apps/products-feed/scripts/migrations/migration-utils.ts
  apps/products-feed/src/modules/trpc/protected-client-procedure.ts
  apps/products-feed/src/saleor-app.ts
  apps/search/saleor-app.ts
  apps/segment/src/saleor-app.ts
  apps/smtp/src/modules/trpc/protected-client-procedure.ts
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
  apps/smtp/src/pages/api/webhooks/order-refunded.ts
  apps/smtp/src/saleor-app.ts
  package.json
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp

test metrics
  apps/avatax/src/otel-instrumentation.node.ts
  apps/avatax/src/pages/api/manifest.ts
  packages/otel/src/metric-reader-factory.ts
Due: avatax

use 19 sec
  apps/avatax/src/otel-instrumentation.node.ts
Due: avatax

pass args to reader
  apps/avatax/src/lib/otel-metrics-reader.ts
  apps/avatax/src/otel-instrumentation.node.ts
  packages/otel/src/metric-reader-factory.ts
Due: avatax

use 19 sec
  apps/avatax/src/lib/otel-metrics-reader.ts
Due: avatax

update coebase to sdk v1
  apps/avatax/scripts/run-webhooks-migration.ts
  apps/avatax/src/modules/taxes/tax-provider-webhook.ts
  apps/avatax/src/modules/trpc/protected-client-procedure.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/cms/src/modules/trpc/protected-client-procedure.ts
  apps/products-feed/src/modules/trpc/protected-client-procedure.ts
  apps/search/src/modules/trpc/protected-client-procedure.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/webhooks-status.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_back_in_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_out_of_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
  apps/search/src/test/handlers/webhooks-status-handler.test.ts
  apps/segment/package.json
  apps/segment/src/lib/dyanmodb-apl.test.ts
  apps/segment/src/modules/db/dynamo-apl-mapper.ts
  apps/segment/src/modules/trpc/protected-client-procedure.ts
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-confirmed.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
  apps/smtp/src/modules/trpc/protected-client-procedure.ts
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  package.json
  packages/test-utils/.eslintrc.cjs
  packages/test-utils/fixtures/auth-data.ts
  packages/test-utils/fixtures/index.ts
  packages/test-utils/index.ts
  packages/test-utils/package.json
  packages/test-utils/tsconfig.json
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp

use metric with flush
  apps/avatax/src/lib/otel-metrics-reader.ts
  apps/avatax/src/lib/race.ts
  apps/avatax/src/otel-instrumentation.node.ts
  apps/avatax/src/pages/api/manifest.ts
  packages/otel/src/metric-reader-factory.ts
Due: avatax

dont flush metrics
  apps/avatax/package.json
  apps/avatax/scripts/run-otel-tests.ts
  apps/avatax/src/lib/otel-metrics-reader.ts
  apps/avatax/src/otel-instrumentation.node.ts
  apps/avatax/src/pages/api/manifest.ts
  packages/otel/src/metric-reader-factory.ts
Due: avatax

force flush of metric
  apps/avatax/scripts/run-otel-tests.ts
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/otel-instrumentation.node.ts
  apps/avatax/src/pages/api/manifest.ts
Due: avatax

set default interval
  apps/avatax/src/otel-instrumentation.node.ts
Due: avatax

use 5sec of interval
  apps/avatax/src/otel-instrumentation.node.ts
  apps/avatax/src/pages/api/manifest.ts
Due: avatax
