Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, logger, shared, webhook-utils

codecov.yml:

coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms-v2/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/

🚀 Release apps (#1723)
  .changeset/gold-dryers-talk.md
  .changeset/silly-months-clean.md
  .changeset/warm-meals-roll.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
Due: avatax, segment

working 3.20
  apps/avatax/e2e/data/maps/channel.json
  apps/avatax/e2e/data/templates/order.json
Due: avatax

Update e2e workflow
  .github/workflows/e2e.yml
Due: none

Update e2e for AvaTax to use staging env (#1727)
  .github/workflows/e2e.yml
  apps/avatax/e2e/data/maps/channel.json
  apps/avatax/e2e/data/templates/order.json
Due: avatax

Add ADR
  .adr-dir
  README.md
  adr/0001-record-architecture-decisions.md
Due: none

Add ADR (#1728)
  .adr-dir
  README.md
  adr/0001-record-architecture-decisions.md
Due: none

Basic working version
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/setup-dynamodb.sh
Due: none

Setup dynamodb
  .devcontainer/docker-compose.yml
Due: none

Use AvaTax in devcontainer
  .devcontainer/avatax/Dockerfile
  .devcontainer/avatax/devcontainer.json
  .devcontainer/avatax/docker-compose.yml
  .devcontainer/avatax/setup-dynamodb.sh
Due: none

Update README
  Dockerfile.avatax.dev
  apps/avatax/README.md
  apps/avatax/docker-compose.yaml
  apps/avatax/scripts/setup-dynamodb.sh
Due: avatax

Fix cspell errors & dont fail on CI for typos
  .cspell.json
  .github/workflows/check-spelling.yml
Due: none

Fix cspell errors & dont fail on CI for typos (#1730)
  .cspell.json
  .github/workflows/check-spelling.yml
Due: none

working version
  apps/avatax/scripts/setup-dynamodb.sh
Due: avatax

update compose
  .devcontainer/avatax/docker-compose.yml
Due: none

Fixes after CR
  .devcontainer/avatax/docker-compose.yml
  .devcontainer/avatax/setup-dynamodb.sh
  .gitignore
  apps/avatax/README.md
Due: avatax

update compose
  .devcontainer/avatax/devcontainer.json
Due: none

update compose
  .devcontainer/avatax/devcontainer.json
  .devcontainer/avatax/docker-compose.yml
Due: none

Setup dynamodb
  .devcontainer/avatax/Dockerfile
  .devcontainer/avatax/docker-compose.yml
  apps/avatax/scripts/setup-dynamodb.sh
Due: avatax

Use devcontainers for AvaTax app (#1729)
  .devcontainer/avatax/Dockerfile
  .devcontainer/avatax/devcontainer.json
  .devcontainer/avatax/docker-compose.yml
  .gitignore
  Dockerfile.avatax.dev
  apps/avatax/README.md
  apps/avatax/docker-compose.yaml
  apps/avatax/scripts/setup-dynamodb.sh
Due: avatax

Rename devcontainer docker compose & add recommended vs code extensions
  .devcontainer/avatax/devcontainer.json
  .devcontainer/avatax/docker-compose.yml
Due: none

Rename devcontainer docker compose & add recommended vs code extensions (#1731)
  .devcontainer/avatax/devcontainer.json
  .devcontainer/avatax/docker-compose.yml
Due: none

init version
  .devcontainer/cms-v2/Dockerfile
  .devcontainer/cms-v2/devcontainer.json
  .devcontainer/cms-v2/docker-compose.yml
  .devcontainer/klaviyo/Dockerfile
  .devcontainer/klaviyo/devcontainer.json
  .devcontainer/klaviyo/docker-compose.yml
  .devcontainer/products-feed/Dockerfile
  .devcontainer/products-feed/devcontainer.json
  .devcontainer/products-feed/docker-compose.yml
  .devcontainer/search/Dockerfile
  .devcontainer/search/devcontainer.json
  .devcontainer/search/docker-compose.yml
  .devcontainer/segment/Dockerfile
  .devcontainer/segment/devcontainer.json
  .devcontainer/segment/docker-compose.yml
  .devcontainer/smtp/Dockerfile
  .devcontainer/smtp/devcontainer.json
  .devcontainer/smtp/docker-compose.yml
Due: none

Update README
  .devcontainer/cms-v2/devcontainer.json
  .devcontainer/segment/devcontainer.json
  apps/cms-v2/README.md
  apps/klaviyo/README.md
  apps/products-feed/README.md
  apps/search/README.md
  apps/segment/README.md
  apps/segment/docker-compose.yml
  apps/segment/scripts/setup-dynamodb.sh
  apps/smtp/README.md
Due: cms, products-feed, search, segment, smtp

Add devcontainers to other apps (#1732)
  .devcontainer/cms-v2/Dockerfile
  .devcontainer/cms-v2/devcontainer.json
  .devcontainer/cms-v2/docker-compose.yml
  .devcontainer/klaviyo/Dockerfile
  .devcontainer/klaviyo/devcontainer.json
  .devcontainer/klaviyo/docker-compose.yml
  .devcontainer/products-feed/Dockerfile
  .devcontainer/products-feed/devcontainer.json
  .devcontainer/products-feed/docker-compose.yml
  .devcontainer/search/Dockerfile
  .devcontainer/search/devcontainer.json
  .devcontainer/search/docker-compose.yml
  .devcontainer/segment/Dockerfile
  .devcontainer/segment/devcontainer.json
  .devcontainer/segment/docker-compose.yml
  .devcontainer/smtp/Dockerfile
  .devcontainer/smtp/devcontainer.json
  .devcontainer/smtp/docker-compose.yml
  apps/cms-v2/README.md
  apps/klaviyo/README.md
  apps/products-feed/README.md
  apps/search/README.md
  apps/segment/README.md
  apps/segment/docker-compose.yml
  apps/segment/scripts/setup-dynamodb.sh
  apps/smtp/README.md
Due: cms, products-feed, search, segment, smtp

add max-params rule to eslint
  packages/eslint-config-saleor/index.js
Due: none

add max-params rule to eslint (#1733)
  packages/eslint-config-saleor/index.js
Due: none

Rename apps to saleor-app-*
  .devcontainer/avatax/Dockerfile
  .devcontainer/cms/Dockerfile
  .devcontainer/cms/devcontainer.json
  .devcontainer/cms/docker-compose.yml
  .devcontainer/klaviyo/Dockerfile
  .devcontainer/products-feed/Dockerfile
  .devcontainer/search/Dockerfile
  .devcontainer/segment/Dockerfile
  .devcontainer/smtp/Dockerfile
  .github/labeler.yml
  .github/workflows/e2e.yml
  README.md
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  codecov.yml
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp

Add changeset
  .changeset/great-geese-collect.md
Due: none

Rename changelogs
  apps/avatax/CHANGELOG.md
  apps/cms/CHANGELOG.md
  apps/segment/CHANGELOG.md
  apps/smtp/CHANGELOG.md
Due: avatax, segment, smtp
