Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
    project:
      default:
        target: auto
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      app-payment-np-atobarai:
        flags: [np-atobarai]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]
      packages-domain:
        flags: [domain]
      packages-errors:
        flags: [errors]
      packages-apl-dynamo:
        flags: [apl-dynamo]
ignore:
  - "**/scripts/**"
  - "**/e2e/**"
  - "**/graphql/**"
  - "**/generated/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  np-atobarai:
    paths:
      - apps/np-atobarai/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/
  domain:
    paths:
      - packages/domain/
  errors:
      paths:
        - packages/errors/
  apl-dynamo:
      paths:
        - packages/apl-dynamo/

add dependency to route
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/stripe/route.ts
Due: stripe

Notes added by 'git notes add'
  43da1040a39f1eb418e31a6cdbaf0fc9a52b77ab
Due: none

update successful tests
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-legacy-event.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
Due: stripe

Notes added by 'git notes add'
  f7f5ac4e7ea4ff57da21bb4143d9260e834045eb
Due: none

clear problems in trpc when removed
  apps/stripe/src/modules/app-config/trpc-handlers/remove-stripe-config-trpc-handler.ts
Due: stripe

Notes added by 'git notes add'
  445eb08dd934573db3f4ae7e81b78d6cd8b799ff
Due: none

calling problems in use cases
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
Due: stripe

Notes added by 'git notes add'
  57c838f6f77391da817c0dd91a2a52582f7d4f03
Due: none

tests for problems execution
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-problems.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-problems.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-problems.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-problems.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-problems.test.ts
Due: stripe

Notes added by 'git notes add'
  875770e50a6fcf2b31b634706aea1bfa0c8ec67a
Due: none

changeset
  .changeset/olive-moles-deliver.md
Due: none

Notes added by 'git notes add'
  1015945670fb9a23222e7de177807cfe90ed6fe3
Due: none

fix build
  packages/app-problems/src/app-problems-reporter.ts
Due: none

Notes added by 'git notes add'
  98e162d95ec7659613d2222212549505a580e0b3
Due: none

derer problem reporting
  apps/stripe/src/__tests__/setup.units.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
  apps/stripe/src/modules/app-config/trpc-handlers/remove-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/app-problems/stripe-problem-reporter.ts
Due: stripe

Notes added by 'git notes add'
  62a8aff11056c78d4ee65b55a4aacbba19676851
Due: none

set critical problems
  apps/stripe/src/modules/app-problems/stripe-problem-reporter.test.ts
  apps/stripe/src/modules/app-problems/stripe-problem-reporter.ts
Due: stripe

Notes added by 'git notes add'
  208a154356f980123c551e8ecd78d3f8d463eb52
Due: none

extra problem for payment method
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-problems.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/app-problems/stripe-problem-reporter.ts
Due: stripe

Notes added by 'git notes add'
  8f613675492a794f9b427194985a1441ef30eac2
Due: none

fix tests
  apps/stripe/src/modules/app-problems/stripe-problem-reporter.test.ts
  apps/stripe/src/modules/app-problems/stripe-problem-reporter.ts
Due: stripe

Notes added by 'git notes add'
  d5836d65165b1aeb04130821fe397d4a4e636757
Due: none

Stripe: add App Problems reporting for configuration and API errors (#2255)
  .changeset/olive-moles-deliver.md
  apps/stripe/package.json
  apps/stripe/src/__tests__/mocks/mock-stripe-problem-reporter.ts
  apps/stripe/src/__tests__/setup.units.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-problems.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-problems.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-problems.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-problems.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-problems.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/stripe/route.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-legacy-event.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
  apps/stripe/src/modules/app-config/trpc-handlers/remove-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/app-problems/create-stripe-problem-reporter.ts
  apps/stripe/src/modules/app-problems/index.ts
  apps/stripe/src/modules/app-problems/stripe-problem-reporter.test.ts
  apps/stripe/src/modules/app-problems/stripe-problem-reporter.ts
  packages/app-problems/src/app-problems-reporter.ts
  pnpm-lock.yaml
Due: stripe

fix missing secret declaration for workflow
  .github/workflows/run-dashboard-smoke-tests.yml
Due: none

remove loading secrets, pass 1Password token only
  .github/workflows/run-dashboard-smoke-tests.yml
Due: none

forward error message to dashboard
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
  apps/smtp/src/pages/api/webhooks/order-refunded.ts
  apps/smtp/src/pages/api/webhooks/send-event-messages-response-handler.test.ts
  apps/smtp/src/pages/api/webhooks/send-event-messages-response-handler.ts
Due: smtp

Notes added by 'git notes add'
  8c686d038d17b4341ef3867b2c8ac4d9de6d855e
Due: none

safe error message
  apps/smtp/src/pages/api/webhooks/send-event-messages-response-handler.test.ts
  apps/smtp/src/pages/api/webhooks/send-event-messages-response-handler.ts
Due: smtp

Notes added by 'git notes add'
  24f8c342c85165bfb96025b05ce72a1cdce28fa4
Due: none

Fix failing smoke tests workflow (#2256)
  .github/workflows/run-dashboard-smoke-tests.yml
Due: none

Update apps/smtp/src/pages/api/webhooks/send-event-messages-response-handler.test.ts
  apps/smtp/src/pages/api/webhooks/send-event-messages-response-handler.test.ts
Due: smtp

Notes added by 'git notes add'
  01df81b49578f6bed472396d64cbf67ffa63da4b
Due: none

changeset
  .changeset/nice-panthers-drum.md
Due: none

add problems for search app
  .changeset/sharp-cheetahs-bathe.md
  apps/search/package.json
  apps/search/src/modules/app-problems/create-search-problem-reporter.ts
  apps/search/src/modules/app-problems/index.ts
  apps/search/src/modules/app-problems/search-problem-reporter.test.ts
  apps/search/src/modules/app-problems/search-problem-reporter.ts
  apps/search/src/modules/configuration/configuration.router.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_back_in_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_out_of_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
  pnpm-lock.yaml
Due: search

Notes added by 'git notes add'
  16f74893f4ead8ee8b1e32c3dd890bf68e2b0f17
  8130bff0d329713e846bf479f0cd8ed6abe517cd
Due: none

Update .changeset/sharp-cheetahs-bathe.md
  .changeset/sharp-cheetahs-bathe.md
Due: none

Smtp error forwarding (#2257)
  .changeset/nice-panthers-drum.md
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
  apps/smtp/src/pages/api/webhooks/order-refunded.ts
  apps/smtp/src/pages/api/webhooks/send-event-messages-response-handler.test.ts
  apps/smtp/src/pages/api/webhooks/send-event-messages-response-handler.ts
Due: smtp

Apply suggestion from @witoszekdev
  apps/search/src/modules/app-problems/search-problem-reporter.ts
Due: search

Apply suggestions from code review
  apps/search/src/modules/app-problems/search-problem-reporter.ts
Due: search

Apply suggestions from code review
  .changeset/sharp-cheetahs-bathe.md
Due: none
