Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

Remove fillMissingAddress field (#2020)
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/np-atobarai/src/modules/app-config/app-config.test.ts
  apps/np-atobarai/src/modules/app-config/app-config.ts
  apps/np-atobarai/src/modules/app-config/repo/app-config-repo.ts
  apps/np-atobarai/src/modules/app-config/repo/dynamodb/entity.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-channels-mapping-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-input-schema.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-input-schema.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.test.ts
  apps/np-atobarai/src/modules/ui/new-config-form.tsx
Due: np-atobarai

Remove Discord badge
  README.md
Due: none

Remove Discord badge (#2021)
  README.md
Due: none

Remove old creds (#2022)
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/route.ts
Due: np-atobarai

implement generic repo
  apps/stripe/package.json
  apps/stripe/src/modules/app-config/repositories/app-config-repo-impl.ts
  pnpm-lock.yaml
Due: stripe

change repo implementation
  apps/stripe/src/__tests__/integration/config-repo/config-repo.integration.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/setup.units.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-legacy-event.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
  apps/stripe/src/modules/app-config/repositories/app-config-repo.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/channel-config-mapping-db-model.test.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/channel-config-mapping-db-model.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/stripe-config-db-model.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-channels-mapping-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/remove-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/trpc/context-app-router.ts
Due: stripe

changeset
  .changeset/tame-eagles-perform.md
Due: none

entity name v2
  apps/stripe/src/modules/app-config/repositories/dynamodb/stripe-config-db-model.ts
Due: stripe

Rename SP Code to incldue secret
  apps/np-atobarai/.env-example
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-secret-sp-code.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-sp-code.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/modules/app-config/app-config.test.ts
  apps/np-atobarai/src/modules/app-config/app-config.ts
  apps/np-atobarai/src/modules/app-config/repo/app-config-repo.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-list-trpc-handler.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-input-schema.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client-factory.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-secret-sp-code.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-secret-sp-code.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-sp-code.ts
  apps/np-atobarai/src/modules/atobarai/types.ts
  apps/np-atobarai/src/modules/ui/new-config-form.tsx
Due: np-atobarai

fix tests
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-channels-mapping-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-input-schema.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.test.ts
Due: np-atobarai

Rename SP Code to incldue secret (#2025)
  apps/np-atobarai/.env-example
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-secret-sp-code.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-sp-code.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/modules/app-config/app-config.test.ts
  apps/np-atobarai/src/modules/app-config/app-config.ts
  apps/np-atobarai/src/modules/app-config/repo/app-config-repo.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-channels-mapping-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-list-trpc-handler.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-input-schema.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-input-schema.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client-factory.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-secret-sp-code.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-secret-sp-code.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-sp-code.ts
  apps/np-atobarai/src/modules/atobarai/types.ts
  apps/np-atobarai/src/modules/ui/new-config-form.tsx
Due: np-atobarai

filter channels to be only JPY
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.ts
  apps/np-atobarai/src/modules/saleor/channel-fetcher.test.ts
  apps/np-atobarai/src/modules/saleor/channel-fetcher.ts
  apps/np-atobarai/src/modules/ui/channel-configs/channel-config-mapping-section.tsx
Due: np-atobarai

wip
  .devcontainer/np-atobarai/devcontainer.json
  apps/np-atobarai/README.md
  apps/np-atobarai/bruno/.env.example
  apps/np-atobarai/bruno/07-complete-checkout.bru
  apps/np-atobarai/bruno/08-fulfill-order.bru
  apps/np-atobarai/bruno/environments/Saleor.bru
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/subscriptions/fulfillment-tracking-number-updated.graphql
  apps/np-atobarai/package.json
  apps/np-atobarai/scripts/setup-dynamodb.sh
  apps/np-atobarai/scripts/setup-dynamodb.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-channels-mapping-trpc-handler.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-fulfillment-report-payload.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-fulfillment-report-success-response.ts
  apps/np-atobarai/src/modules/atobarai/types.ts
  pnpm-workspace.yaml
Due: np-atobarai

filter channels to be only JPY (#2027)
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.ts
  apps/np-atobarai/src/modules/saleor/channel-fetcher.test.ts
  apps/np-atobarai/src/modules/saleor/channel-fetcher.ts
  apps/np-atobarai/src/modules/ui/channel-configs/channel-config-mapping-section.tsx
Due: np-atobarai

Fix logo
  apps/np-atobarai/.env-example
  apps/np-atobarai/public/logo.png
Due: np-atobarai

Fix logo (#2028)
  apps/np-atobarai/.env-example
  apps/np-atobarai/public/logo.png
Due: np-atobarai

base implementation
  apps/np-atobarai/.env.example
  apps/np-atobarai/bruno/08-fulfill-order.bru
  apps/np-atobarai/bruno/bruno.json
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/subscriptions/fulfillment-tracking-number-updated.graphql
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-shipping-compnay-code.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/modules/app-config/app-config.test.ts
  apps/np-atobarai/src/modules/app-config/app-config.ts
  apps/np-atobarai/src/modules/app-config/repo/app-config-repo.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-channels-mapping-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-channels-mapping-trpc-handler.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-fulfillment-report-payload.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shipping-company-code.ts
Due: np-atobarai

refactor
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-report-fulfilment-payload.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-transaction-id.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-fulfillment-tracking-number-updated-event.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-change-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-change-transaction-payload.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-fulfillment-report-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-fulfillment-report-payload.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-fulfillment-report-success-response.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-fulfillment-report-success-response.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shipping-company-code.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shipping-company-code.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction-id.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction-success-response.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction-success-response.ts
Due: np-atobarai

Release apps (#2026)
  .changeset/calm-taxis-fail.md
  .changeset/fast-bats-obey.md
  .changeset/large-brooms-rhyme.md
  .changeset/spotty-news-share.md
  .changeset/swift-spiders-rest.md
  .changeset/swift-suits-crash.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/np-atobarai/CHANGELOG.md
  apps/np-atobarai/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

bump app-sdk
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/webhook-definition.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: np-atobarai

use repo impl
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/route.ts
Due: np-atobarai

Fixes after merge
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-channels-mapping-trpc-handler.test.ts
Due: np-atobarai

Fix copy
  apps/np-atobarai/src/modules/ui/app-header.tsx
  apps/np-atobarai/src/pages/config/new.tsx
Due: np-atobarai

fixes after cr
  apps/np-atobarai/README.md
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-error-response.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-fulfillment-report-success-response.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction-success-response.ts
  apps/np-atobarai/src/modules/atobarai/shipping-company-codes.ts
  apps/np-atobarai/src/modules/ui/new-config-form.tsx
Due: np-atobarai

Add BaseUseCase to NP Atobarai / copilot instructions
  .github/copilot-instructions.md
  apps/np-atobarai/src/app/api/webhooks/saleor/base-use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/base-use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
Due: np-atobarai

Fix use case
  apps/np-atobarai/src/app/api/webhooks/saleor/base-use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/base-use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
Due: np-atobarai

Add BaseUseCase to NP Atobarai / copilot instructions (#2031)
  .github/copilot-instructions.md
  apps/np-atobarai/src/app/api/webhooks/saleor/base-use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/base-use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
Due: np-atobarai

migrate mocks
  apps/np-atobarai/src/__tests__/mocks/atobarai/api/mocked-atobarai-change-transaction-payload.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/api/mocked-atobarai-register-transaction-payload.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/api/mocked-atobarai-report-fulfilment-payload.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.test.ts
Due: np-atobarai

Basic version
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/subscriptions/transaction-refund-requested.graphql
  apps/np-atobarai/src/__tests__/mocks/atobarai/api/mocked-atobarai-api-client.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-refund-requested-event.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/api/types.ts
  apps/np-atobarai/src/modules/transaction-result/refund-result.ts
Due: np-atobarai

Content and repo impl (#2030)
  apps/np-atobarai/src/modules/ui/app-header.tsx
  apps/np-atobarai/src/pages/config/new.tsx
Due: np-atobarai

Add tests
  apps/np-atobarai/src/__tests__/mocks/atobarai/api/mocked-atobarai-cancel-transaction-payload.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-cancel-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-cancel-transaction-success-response.test.ts
Due: np-atobarai

Fix tests
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.ts
Due: np-atobarai

fixes after cr
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-cancel-transaction-success-response.test.ts
Due: np-atobarai

Force update form-data@3.0.1 to 3.0.4
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix comment
  pnpm-workspace.yaml
Due: none

Force update form-data@3.0.1 to 3.0.4 (#2033)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
