Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
    project:
      default:
        target: auto
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      app-payment-np-atobarai:
        flags: [np-atobarai]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]
      packages-domain:
        flags: [domain]
      packages-errors:
        flags: [errors]
      packages-apl-dynamo:
        flags: [apl-dynamo]
ignore:
  - "**/scripts/**"
  - "**/e2e/**"
  - "**/graphql/**"
  - "**/generated/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  np-atobarai:
    paths:
      - apps/np-atobarai/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/
  domain:
    paths:
      - packages/domain/
  errors:
      paths:
        - packages/errors/
  apl-dynamo:
      paths:
        - packages/apl-dynamo/

Fixed loading secrets in smoke test workflow (#2233)
  .github/workflows/run-dashboard-smoke-tests.yml
Due: none

fix: use item in shared vault (no access to "Everyone" in CI)
  .github/workflows/run-dashboard-smoke-tests.yml
Due: none

remove unused secret
  .github/workflows/run-dashboard-smoke-tests.yml
Due: none

Notes added by 'git notes add'
  01f557229764077a13542614b4529fdcb926d10d
Due: none

Reverse the Dynamo related changes (made to enable local dev)
  apps/smtp/src/env.ts
  apps/smtp/src/modules/dynamodb/dynamo-main-table.ts
Due: smtp

Notes added by 'git notes add'
  49b34f295a793a36bd0db6ce9013c5cb5ac61300
Due: none

restore env
  apps/smtp/.env.example
Due: smtp

fix TS error
  apps/smtp/src/saleor-app.ts
Due: smtp

fix(smtp): missing `3000` port and over-exposed ports
  .devcontainer/smtp/docker-compose.yml
Due: none

Add changelog
  .changeset/modern-trains-add.md
Due: none

feat(smtp): add deny-list for domains
  apps/smtp/src/const.ts
  apps/smtp/src/env.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/smtp/configuration/smtp-config-schema.ts
  apps/smtp/turbo.json
Due: smtp

Reject stripe events not created by proper app
  .changeset/quick-trees-check.md
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
  apps/stripe/src/modules/stripe/types.ts
Due: stripe

Notes added by 'git notes add'
  a12c90ad35bbb852c79e8e05811ad21999a79657
  e14d2d7f14b00325b9d4455e690b0f0f1138a148
Due: none

Notes added by 'git notes add'
  b899c5ddddd31892984c34a70b5d68ec642158e9
Due: none

Update schema
  .changeset/neat-dolphins-own.md
  apps/avatax/graphql/schema.graphql
  apps/avatax/package.json
  apps/cms/graphql/schema.graphql
  apps/cms/package.json
  apps/klaviyo/graphql/schema.graphql
  apps/klaviyo/package.json
  apps/np-atobarai/graphql/schema.graphql
  apps/products-feed/graphql/schema.graphql
  apps/products-feed/package.json
  apps/search/graphql/schema.graphql
  apps/search/package.json
  apps/segment/graphql/schema.graphql
  apps/segment/package.json
  apps/smtp/graphql/schema.graphql
  apps/smtp/package.json
  apps/stripe/graphql/schema.graphql
Due: avatax, cms, products-feed, search, segment, smtp

Notes added by 'git notes add'
  4c6c0b95ece140615e462f426bd3cea1a60511d3
Due: none

fix: failing type check
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
Due: smtp

regenreate types
  apps/avatax/e2e/generated/types.ts
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql.config.ts
  apps/cms/generated/graphql.ts
  apps/cms/graphql.config.ts
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/graphql.config.ts
  apps/np-atobarai/generated/graphql.ts
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql.config.ts
  apps/search/generated/graphql.ts
  apps/search/graphql.config.ts
  apps/segment/generated/graphql.ts
  apps/segment/graphql.config.ts
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql.config.ts
  apps/stripe/e2e/generated/graphql.ts
  apps/stripe/generated/graphql.ts
Due: none

Notes added by 'git notes add'
  cb45b71e26a384e66c2d6ddea6678d54aa15b4ea
Due: none

fix: add missing changelog entry
  .changeset/gentle-ways-pretend.md
Due: none

fix: accidentally removed test case
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
Due: smtp

fix: crash when passing FALLBACK_BLOCKED_EMAIL_DOMAINS
  apps/smtp/src/env.ts
Due: smtp

Notes added by 'git notes add'
  c5e31977577bd3572e2a3cf69bbd82a26deb5bb4
Due: none

Notes added by 'git notes add'
  68dcf9da697ceb9fbe2fcf4748f15132deece51a
Due: none

Notes added by 'git notes add'
  848d6c858efb80f6a6d0ba3f4e65b37eed7eb1ef
Due: none

Notes added by 'git notes add'
  991b2b20ed7a9785a87766e4265a543d4b4632bd
Due: none

Notes added by 'git notes add'
  95a3184379176e0317c23b3610cb4b85942966a3
Due: none

Notes added by 'git notes add'
  63076da311bd2a45a0bf9888e2ed690670c71107
Due: none

Notes added by 'git notes add'
  158978e007df6175c3bbdfae1e65a862ccebbaa4
Due: none

Notes added by 'git notes add'
  3146e80539dc6007ad1de82745c72e1117e372fe
Due: none

Notes added by 'git notes add'
  be60875d9769dc2722b7507aa0fc659982be1603
Due: none

Notes added by 'git notes add'
  8ce511650f3d81a710abb36f1645420842acf625
Due: none

add consisten imports rule
  .changeset/happy-teachers-camp.md
  packages/eslint-config/index.js
Due: none

Notes added by 'git notes add'
  94591e571d0bc61fc5ad8598dcc1269ec3867fa8
Due: none

Update .changeset/happy-teachers-camp.md
  .changeset/happy-teachers-camp.md
Due: none

Notes added by 'git notes add'
  833aaa0608fffe20cd94c6fe63a01fa7b42227a5
Due: none

Add GHCR workflow, Dockerfile and compose
  .github/workflows/build-and-push-images.yml
  Dockerfile
  docker-compose.yml
Due: none

Set Next.js output to standalone for apps
  apps/avatax/next.config.ts
  apps/cms/next.config.ts
  apps/klaviyo/next.config.ts
  apps/np-atobarai/next.config.ts
  apps/products-feed/next.config.ts
  apps/search/next.config.ts
  apps/segment/next.config.ts
  apps/smtp/next.config.ts
  apps/stripe/next.config.ts
Due: none

apply eslint --fix
  apps/klaviyo/next.config.ts
Due: none
