Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

Notes added by 'git notes add'
  d9f3dc7900fbdb4ad95c8eca93f4fa69de715133
Due: none

Fix permissions
  apps/search/src/lib/use-has-permission.test.ts
  apps/search/src/lib/use-has-permission.ts
  apps/search/src/modules/configuration/configuration.router.ts
Due: search

Apply suggestion from @Copilot
  apps/search/src/components/permission-missing-warning.tsx
Due: search

Update e2e targets (#2290)
  .github/workflows/e2e.yml
  .github/workflows/run-dashboard-smoke-tests.yml
  .github/workflows/run-e2e-cron.yml
  .github/workflows/run-e2e-dispatch.yml
Due: none

"try fixing source maps"
  apps/avatax/next.config.ts
  apps/avatax/turbo.json
  apps/cms/next.config.ts
  apps/cms/turbo.json
  apps/klaviyo/next.config.ts
  apps/klaviyo/turbo.json
  apps/np-atobarai/next.config.ts
  apps/np-atobarai/turbo.json
  apps/products-feed/next.config.ts
  apps/products-feed/turbo.json
  apps/search/next.config.ts
  apps/search/turbo.json
  apps/segment/next.config.ts
  apps/segment/turbo.json
  apps/smtp/next.config.ts
  apps/smtp/turbo.json
  apps/stripe/next.config.ts
  apps/stripe/turbo.json
  turbo.json
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

Notes added by 'git notes add'
  528941a5bd0f731aa9be909bbbdb296da0534977
  dc1a7ad3b61bfb52bf4d0920d4975c94e9966078
Due: none

update to dev sdk version
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

add repository for fallback config
  apps/smtp/src/modules/fallback-smtp/fallback-register-data.test.ts
  apps/smtp/src/modules/fallback-smtp/fallback-register-data.ts
  apps/smtp/src/modules/fallback-smtp/fallback-smtp-config-repository.test.ts
  apps/smtp/src/modules/fallback-smtp/fallback-smtp-config-repository.ts
  apps/smtp/src/modules/fallback-smtp/fallback-smtp-service.test.ts
  apps/smtp/src/modules/fallback-smtp/fallback-smtp-service.ts
Due: smtp

save on register
  apps/smtp/src/pages/api/register.ts
Due: smtp

save on register
  apps/smtp/src/modules/fallback-smtp/on-auth-apl-saved.test.ts
  apps/smtp/src/modules/fallback-smtp/on-auth-apl-saved.ts
  apps/smtp/src/pages/api/register.ts
Due: smtp

update fallback repostiroy
  apps/smtp/src/modules/fallback-smtp/fallback-register-data.test.ts
  apps/smtp/src/modules/fallback-smtp/fallback-smtp-config-repository.test.ts
  apps/smtp/src/modules/fallback-smtp/fallback-smtp-config-repository.ts
  apps/smtp/src/modules/fallback-smtp/fallback-smtp-service.test.ts
  apps/smtp/src/modules/fallback-smtp/fallback-smtp-service.ts
Due: smtp

update use case to override receiver email if set in config
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.factory.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
Due: smtp

update frontend
  apps/smtp/src/modules/app-configuration/ui/configuration-fallback.tsx
  apps/smtp/src/modules/trpc/protected-client-procedure-with-services.ts
  apps/smtp/src/pages/configuration/index.tsx
Due: smtp

add setup for dynamodb
  .devcontainer/smtp/docker-compose.yml
  apps/smtp/.env.example
  apps/smtp/README.md
  apps/smtp/package.json
  apps/smtp/scripts/setup-dynamodb.ts
Due: smtp

add changeset
  .changeset/metal-crews-chew.md
Due: none

Fix NP Atobarai rejecting orders with ghost transactions
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/subscriptions/fulfillment-tracking-number-updated.graphql
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-fulfillment-tracking-number-updated-event.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
Due: np-atobarai

Notes added by 'git notes add'
  89e4e3901f2fe84ab0118412743083912ffffa38
Due: none

update handlebars to 4.7.9
  apps/products-feed/package.json
  apps/smtp/package.json
  pnpm-lock.yaml
Due: products-feed, smtp

add changeset
  .changeset/heavy-chairs-make.md
Due: none

order note on failures
  .changeset/shy-months-accept.md
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
Due: np-atobarai

Notes added by 'git notes add'
  d53dfd85074f7429e5dd938fd584353f71313d2b
Due: none

add override for handlebars for handlebars-helpers
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update handlebars (#2294)
  .changeset/heavy-chairs-make.md
  apps/products-feed/package.json
  apps/smtp/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: products-feed, smtp

Fix NP Atobarai rejecting orders with ghost transactions (#2295)
  .changeset/shy-months-accept.md
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/subscriptions/fulfillment-tracking-number-updated.graphql
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-fulfillment-tracking-number-updated-event.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
Due: np-atobarai

chore: add audit to main workflow on pr
  .github/workflows/main.yml
Due: none

swap handlebars-helpers to internal package with list of allowed helpers
  apps/products-feed/next.config.ts
  apps/products-feed/package.json
  apps/products-feed/src/modules/handlebarsTemplates/render-handlebars-template.ts
  apps/smtp/next.config.ts
  apps/smtp/package.json
  apps/smtp/scripts/build-email-previews.ts
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.ts
  packages/handlebars/eslint.config.js
  packages/handlebars/package.json
  packages/handlebars/src/allowed-helpers.ts
  packages/handlebars/src/index.ts
  packages/handlebars/src/register-allowed-helpers.test.ts
  packages/handlebars/src/register-allowed-helpers.ts
  packages/handlebars/tsconfig.json
  packages/handlebars/vitest.config.ts
  pnpm-lock.yaml
Due: products-feed, smtp

add more tests, change definition of allowed helpers
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.test.ts
  packages/handlebars/src/allowed-helpers.ts
  packages/handlebars/src/register-allowed-helpers.test.ts
  packages/handlebars/src/register-allowed-helpers.ts
Due: smtp

udpate lockfile
  pnpm-lock.yaml
Due: none

add changeset
  .changeset/secure-handlebars-helpers.md
Due: none

fix eslint
  packages/handlebars/package.json
  packages/handlebars/src/index.ts
  packages/handlebars/src/register-allowed-helpers.test.ts
  packages/handlebars/src/register-allowed-helpers.ts
  pnpm-lock.yaml
Due: none

fix import issues by importing handlebars-helpers in apps only
  apps/products-feed/next.config.ts
  apps/products-feed/package.json
  apps/products-feed/src/modules/handlebarsTemplates/render-handlebars-template.ts
  apps/smtp/next.config.ts
  apps/smtp/package.json
  apps/smtp/scripts/build-email-previews.ts
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.ts
  packages/handlebars/package.json
  packages/handlebars/src/register-allowed-helpers.test.ts
  packages/handlebars/src/register-allowed-helpers.ts
  pnpm-lock.yaml
Due: products-feed, smtp

fix failing tests, fix failing ci
  apps/products-feed/package.json
  apps/smtp/package.json
  packages/handlebars/package.json
  packages/handlebars/src/register-allowed-helpers.ts
Due: products-feed, smtp

remove unused export
  packages/handlebars/src/index.ts
Due: none

Remove some handlebars helpers (#2296)
  .changeset/secure-handlebars-helpers.md
  apps/products-feed/package.json
  apps/products-feed/src/modules/handlebarsTemplates/render-handlebars-template.ts
  apps/smtp/package.json
  apps/smtp/scripts/build-email-previews.ts
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.test.ts
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.ts
  packages/handlebars/eslint.config.js
  packages/handlebars/package.json
  packages/handlebars/src/allowed-helpers.ts
  packages/handlebars/src/index.ts
  packages/handlebars/src/register-allowed-helpers.test.ts
  packages/handlebars/src/register-allowed-helpers.ts
  packages/handlebars/tsconfig.json
  packages/handlebars/vitest.config.ts
  pnpm-lock.yaml
Due: products-feed, smtp

add changeset
  .changeset/violet-dots-begin.md
Due: none

add audit logs for smtp template changes
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
Due: smtp

add docs
  apps/smtp/docs/audit-handlebars-helpers.md
Due: smtp

add script
  apps/smtp/package.json
  apps/smtp/scripts/audit-handlebars-helpers.ts
  apps/smtp/scripts/dump-templates.ts
Due: smtp

fix failing script
  apps/smtp/package.json
  apps/smtp/scripts/require-shim.mjs
Due: smtp

apply review comments
  apps/smtp/docs/audit-handlebars-helpers.md
  apps/smtp/scripts/audit-handlebars-helpers.ts
Due: smtp

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
