Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, logger, shared, webhook-utils

codecov parallel
  .github/workflows/main.yml
Due: none

use one step
  .github/workflows/main.yml
Due: none

update path
  .github/workflows/main.yml
Due: none

update path again
  .github/workflows/main.yml
Due: none

upload path
  .github/workflows/main.yml
Due: none

update paths
  .github/workflows/main.yml
Due: none

fix additional path
  .github/workflows/main.yml
Due: none

disable search
  .github/workflows/main.yml
Due: none

Upload codecov projects one by one (#1977)
  .github/workflows/main.yml
Due: none

wip
  apps/cms/src/modules/providers/strapi/strapi-client.ts
Due: cms

Add bulk processing to strapi
  apps/cms/src/modules/bulk-sync/bulk-sync-view.tsx
  apps/cms/src/modules/providers/strapi/strapi-bulk-sync-processor.ts
  apps/cms/src/modules/providers/strapi/strapi-client.ts
  apps/cms/turbo.json
Due: cms

adjust defaults
  apps/cms/src/modules/providers/strapi/strapi-bulk-sync-processor.ts
Due: cms

Add changeset
  .changeset/angry-dots-jog.md
Due: none

Add bulk processing for Strapi CMS provider (#1978)
  .changeset/angry-dots-jog.md
  apps/cms/src/modules/bulk-sync/bulk-sync-view.tsx
  apps/cms/src/modules/providers/strapi/strapi-bulk-sync-processor.ts
  apps/cms/src/modules/providers/strapi/strapi-client.ts
  apps/cms/turbo.json
Due: cms

Add TypeScript types for Stripe app webhook responses
  .changeset/ninety-fans-look.md
  apps/stripe/generated/json-schema/payment-gateway-initialize-session.ts
  apps/stripe/generated/json-schema/transaction-cancelation-requested.ts
  apps/stripe/generated/json-schema/transaction-charge-requested.ts
  apps/stripe/generated/json-schema/transaction-initialize-session.ts
  apps/stripe/generated/json-schema/transaction-process-session.ts
  apps/stripe/generated/json-schema/transaction-refund-requested.ts
  apps/stripe/package.json
  apps/stripe/scripts/generate-app-webhooks-types.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/transaction-result/action-required-result.ts
  apps/stripe/src/modules/transaction-result/cancel-result.ts
  apps/stripe/src/modules/transaction-result/failure-result.ts
  apps/stripe/src/modules/transaction-result/refund-result.ts
  apps/stripe/src/modules/transaction-result/success-result.ts
  pnpm-lock.yaml
Due: stripe

fix integration test
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
Due: stripe

Add TypeScript types for Stripe app webhook responses (#1979)
  .changeset/ninety-fans-look.md
  apps/stripe/generated/json-schema/payment-gateway-initialize-session.ts
  apps/stripe/generated/json-schema/transaction-cancelation-requested.ts
  apps/stripe/generated/json-schema/transaction-charge-requested.ts
  apps/stripe/generated/json-schema/transaction-initialize-session.ts
  apps/stripe/generated/json-schema/transaction-process-session.ts
  apps/stripe/generated/json-schema/transaction-refund-requested.ts
  apps/stripe/package.json
  apps/stripe/scripts/generate-app-webhooks-types.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/transaction-result/action-required-result.ts
  apps/stripe/src/modules/transaction-result/cancel-result.ts
  apps/stripe/src/modules/transaction-result/failure-result.ts
  apps/stripe/src/modules/transaction-result/refund-result.ts
  apps/stripe/src/modules/transaction-result/success-result.ts
  pnpm-lock.yaml
Due: stripe

Update links to examples & remove 3.x from links to docs
  .changeset/gold-dogs-decide.md
  README.md
  apps/avatax/.env.example
  apps/avatax/README.md
  apps/avatax/src/modules/avatax/avatax-customer-code-resolver.ts
  apps/avatax/src/modules/avatax/calculate-taxes/extract-integer-rate-from-tax-details.ts
  apps/avatax/src/modules/provider-connections/ui/providers-section.tsx
  apps/cms/.env.example
  apps/cms/README.md
  apps/cms/src/modules/providers/payloadcms/payloadcms.tsx
  apps/cms/src/pages/api/manifest.ts
  apps/klaviyo/.env.example
  apps/klaviyo/README.md
  apps/products-feed/.env.example
  apps/products-feed/README.md
  apps/search/.env.example
  apps/search/README.md
  apps/search/src/components/MainInstructions.tsx
  apps/search/src/pages/api/manifest.ts
  apps/segment/.env.example
  apps/segment/README.md
  apps/segment/src/modules/ui/app-header.tsx
  apps/smtp/.env.example
  apps/smtp/README.md
  apps/smtp/src/pages/api/manifest.ts
  apps/stripe/.env.example
  apps/stripe/README.md
  packages/shared/src/create-graphql-client.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, shared

WIP extension with details
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/queries/GetOrderAvataxId.graphql
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/app/api/order-details.ts
  apps/avatax/src/app/layout.tsx
  apps/avatax/src/modules/avatax/avatax-transaction-details-fetcher.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax

Update links to examples & remove 3.x from links to docs (#1980)
  .changeset/gold-dogs-decide.md
  README.md
  apps/avatax/.env.example
  apps/avatax/README.md
  apps/avatax/src/modules/avatax/avatax-customer-code-resolver.ts
  apps/avatax/src/modules/avatax/calculate-taxes/extract-integer-rate-from-tax-details.ts
  apps/avatax/src/modules/provider-connections/ui/providers-section.tsx
  apps/cms/.env.example
  apps/cms/README.md
  apps/cms/src/modules/providers/payloadcms/payloadcms.tsx
  apps/cms/src/pages/api/manifest.ts
  apps/klaviyo/.env.example
  apps/klaviyo/README.md
  apps/products-feed/.env.example
  apps/products-feed/README.md
  apps/search/.env.example
  apps/search/README.md
  apps/search/src/components/MainInstructions.tsx
  apps/search/src/pages/api/manifest.ts
  apps/segment/.env.example
  apps/segment/README.md
  apps/segment/src/modules/ui/app-header.tsx
  apps/smtp/.env.example
  apps/smtp/README.md
  apps/smtp/src/pages/api/manifest.ts
  apps/stripe/.env.example
  apps/stripe/README.md
  packages/shared/src/create-graphql-client.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, shared

wi
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/app/api/order-details.ts
  apps/avatax/src/app/api/order-details/route.ts
  apps/avatax/src/modules/avatax/avatax-transaction-details-fetcher.ts
Due: avatax

wip
  apps/avatax/src/app/api/order-details/route.ts
Due: avatax

wip
  apps/avatax/package.json
  apps/avatax/src/app/api/order-details/route.ts
  pnpm-lock.yaml
Due: avatax

working
  apps/avatax/package.json
  apps/avatax/src/app/api/order-details/route.ts
  apps/avatax/src/pages/_app.tsx
  apps/avatax/src/pages/order-details.tsx
  apps/avatax/src/styles/globals.css
  pnpm-lock.yaml
Due: avatax

fixes
  .changeset/blue-shirts-grow.md
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/app/api/order-details/route.ts
  apps/avatax/src/app/layout.tsx
Due: avatax

fix css
  apps/avatax/src/modules/ui/app-layout.tsx
Due: avatax

add cache
  apps/avatax/src/app/api/order-details/route.ts
Due: avatax

remove log
  apps/avatax/src/modules/avatax/avatax-transaction-details-fetcher.ts
Due: avatax

Fix workaround
  apps/avatax/src/app/api/order-details/route.ts
Due: avatax

Add comment about order details
  apps/avatax/src/pages/order-details.tsx
Due: avatax

Add 3.22 extension with transaction details (#1981)
  .changeset/blue-shirts-grow.md
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/queries/GetOrderAvataxId.graphql
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/app/api/order-details/route.ts
  apps/avatax/src/modules/avatax/avatax-transaction-details-fetcher.ts
  apps/avatax/src/modules/ui/app-layout.tsx
  apps/avatax/src/pages/_app.tsx
  apps/avatax/src/pages/order-details.tsx
  apps/avatax/src/styles/globals.css
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax

Add logger.name / logger.version to logger
  .changeset/lovely-dingos-rhyme.md
  packages/logger/src/logger-vercel-runtime-transport.ts
Due: logger

Fix assing PR workflow
  .github/workflows/assign-pr.yml
Due: none

Add Stripe webhook integration test
  apps/stripe/package.json
  apps/stripe/src/__tests__/integration/msw-server.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/charge-refund-updated-event-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/payment-intent-succeeded-event-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
  apps/stripe/src/app/api/webhooks/stripe/route.ts
  pnpm-lock.yaml
Due: stripe

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
