Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, logger, shared, webhook-utils

codecov.yml:

coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/

Add cancelation integration test (#1967)
  .github/workflows/stripe-integration-test.yml
  .gitignore
  apps/stripe/.env.test.example
  apps/stripe/README.md
  apps/stripe/e2e/complete-checkout.test.ts
  apps/stripe/e2e/env.ts
  apps/stripe/eslint.config.js
  apps/stripe/package.json
  apps/stripe/playwright.config.ts
  apps/stripe/scripts/run-e2e.ts
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/src/__tests__/integration/env.ts
  apps/stripe/src/__tests__/integration/setup.integration.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-cancelation-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/webhook-definition.ts
  apps/stripe/vitest.config.ts
Due: stripe

fix reusable workflow (#1968)
  .github/workflows/e2e.yml
  .github/workflows/run-e2e-cron.yml
  .github/workflows/run-e2e-dispatch.yml
  .github/workflows/run-e2e-label.yml
Due: none

fix dead links to sdk docs
  apps/avatax/saleor-app.ts
  apps/cms/.env.example
  apps/cms/README.md
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/README.md
  apps/klaviyo/saleor-app.ts
  apps/klaviyo/src/pages/configuration.tsx
  apps/products-feed/CHANGELOG.md
  apps/products-feed/README.md
  apps/search/CHANGELOG.md
  apps/search/README.md
  apps/search/saleor-app.ts
  apps/smtp/.env.example
  apps/smtp/README.md
  packages/shared/src/create-graphql-client.ts
Due: avatax, cms, products-feed, search, smtp, shared

fix dead links to sdk docs (#1969)
  apps/avatax/saleor-app.ts
  apps/cms/.env.example
  apps/cms/README.md
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/README.md
  apps/klaviyo/saleor-app.ts
  apps/klaviyo/src/pages/configuration.tsx
  apps/products-feed/CHANGELOG.md
  apps/products-feed/README.md
  apps/search/CHANGELOG.md
  apps/search/README.md
  apps/search/saleor-app.ts
  apps/smtp/.env.example
  apps/smtp/README.md
  packages/shared/src/create-graphql-client.ts
Due: avatax, cms, products-feed, search, smtp, shared

validation fix
  .changeset/forty-spies-vanish.md
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
Due: stripe

Add integration test for charge requested
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-charge-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/webhook-definition.ts
  apps/stripe/src/modules/stripe/types.ts
Due: stripe

fix args
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-charge-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
Due: stripe

fix imports
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
Due: stripe

Add missing return url
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/modules/stripe/types.ts
Due: stripe

Add integration test for charge requested (#1971)
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-charge-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/webhook-definition.ts
  apps/stripe/src/modules/stripe/types.ts
Due: stripe

fix validation
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
Due: stripe

fix test
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
Due: stripe

Update CODEOWNERS
  CODEOWNERS
Due: none

Fix Stripe validation (#1970)
  .changeset/forty-spies-vanish.md
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
Due: stripe

Add process session integration test
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-process-session-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/webhook-definition.ts
Due: stripe

Add process session integration test (#1973)
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-process-session-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/webhook-definition.ts
Due: stripe

Align TENANT_DOMAIN observability attribute key name with Saleor's naming convention
  .changeset/purple-otters-thank.md
  packages/otel/src/observability-attributes.ts
Due: none

Align TENANT_DOMAIN observability attribute key name with Saleor's naming convention (#1974)
  .changeset/purple-otters-thank.md
  packages/otel/src/observability-attributes.ts
Due: none

Add integration test for refund requested
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-refund-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/webhook-definition.ts
Due: stripe

Enable codecov reporting
  codecov.yml
Due: none

fix codecov
  codecov.yml
Due: none

add stripe coverage
  apps/stripe/package.json
Due: stripe

additional ingores
  codecov.yml
Due: none

another approach
  codecov.yml
Due: none

add src
  codecov.yml
Due: none

Add integration test for refund requested (#1975)
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-refund-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/webhook-definition.ts
Due: stripe

update codecov
  codecov.yml
Due: none

updates
  .github/workflows/main.yml
  codecov.yml
Due: none

remove src
  codecov.yml
Due: none

Enable codecov reporting (#1976)
  .github/workflows/main.yml
  apps/stripe/package.json
  codecov.yml
Due: stripe
