Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, logger, shared, webhook-utils

codecov.yml:

coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/

Dont throw if stripe ids format is unexpected (#1948)
  .changeset/ninety-pianos-shave.md
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-id.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-id.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-refund-id.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.ts
  apps/stripe/src/pages/config/new.tsx
  cspell.config.js
Due: stripe

Add e2e for Stripe app (#1946)
  .github/workflows/e2e.yml
  apps/stripe/.gitignore
  apps/stripe/e2e/api/saleor-api.ts
  apps/stripe/e2e/complete-checkout.test.ts
  apps/stripe/e2e/env.ts
  apps/stripe/e2e/generated/graphql.ts
  apps/stripe/e2e/graphql/checkout-complete.graphql
  apps/stripe/e2e/graphql/checkout-create.graphql
  apps/stripe/e2e/graphql/checkout-delivery-method-update.graphql
  apps/stripe/e2e/graphql/fetch-product.graphql
  apps/stripe/e2e/pages/stripe-checkout-form-page.tsx
  apps/stripe/e2e/pages/summary-page.tsx
  apps/stripe/eslint.config.js
  apps/stripe/graphql.config.ts
  apps/stripe/package.json
  apps/stripe/playwright.config.ts
  apps/stripe/scripts/run-e2e.ts
  pnpm-lock.yaml
Due: stripe

Release apps (#1949)
  .changeset/ninety-pianos-shave.md
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Due: stripe

Fix dependency installation command and load secrets for Avatax e2e tests
  .github/workflows/main.yml
  .github/workflows/prepare-release.yml
  .github/workflows/stripe-integration-dynamodb.yml
Due: none

fix typo
  .github/workflows/stripe-integration-dynamodb.yml
Due: none

Load secrets for integration tests (#1950)
  .github/workflows/main.yml
  .github/workflows/prepare-release.yml
  .github/workflows/stripe-integration-dynamodb.yml
Due: none

add changeset
  .changeset/kind-meals-exercise.md
Due: none

fixes after CR
  .changeset/kind-meals-exercise.md
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.ts
Due: stripe

Remove not needed log from Stripe (#1951)
  .changeset/kind-meals-exercise.md
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.ts
Due: stripe

Update README.md
  apps/stripe/README.md
Due: stripe

Update README.md
  README.md
Due: none

Update apps readme with new link to Stripe
  README.md
Due: none

Update apps readme with new link to Stripe (#1953)
  README.md
Due: none

fix merge
  apps/stripe/package.json
  apps/stripe/src/__tests__/integration/delete-table.ts
  apps/stripe/src/__tests__/integration/setup.integration.ts
Due: stripe

cleanup
  apps/stripe/src/__tests__/integration/webhooks/fixtures/payment-gateway-initialize-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-initialize-session-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
Due: stripe

secrets from 1p
  .github/workflows/stripe-integration-dynamodb.yml
Due: none

Initial integration tests setup (transaction and gateway initialize) (#1941)
  .github/workflows/stripe-integration-dynamodb.yml
  apps/stripe/package.json
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/src/__tests__/integration/config-repo/config-repo.integration.test.ts
  apps/stripe/src/__tests__/integration/create-table.ts
  apps/stripe/src/__tests__/integration/delete-table.ts
  apps/stripe/src/__tests__/integration/docker-compose.yml
  apps/stripe/src/__tests__/integration/dynamodb/setup.integration-dynamo.ts
  apps/stripe/src/__tests__/integration/global-setup.integration.ts
  apps/stripe/src/__tests__/integration/setup.integration.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/payment-gateway-initialize-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-initialize-session-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/__tests__/mocks/mocked-encryption-key.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/webhook-definition.ts
  apps/stripe/src/app/api/webhooks/saleor/verify-signature.ts
  apps/stripe/src/lib/encryptor.test.ts
  apps/stripe/src/lib/encryptor.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/stripe/vitest.config.ts
  packages/eslint-config/index.js
  pnpm-lock.yaml
Due: stripe

Wrap DynamoDB building command in try/catch for improved error handling
  .changeset/fast-owls-decide.md
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
Due: stripe

Wrap DynamoDB building command in try/catch for improved error handling (#1954)
  .changeset/fast-owls-decide.md
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
Due: stripe

comment encryption key
  apps/stripe/.env.example
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/src/lib/encryptor.ts
Due: stripe

Fix e2e for AvaTax
  .github/workflows/e2e.yml
  apps/avatax/e2e/setup.ts
  apps/avatax/e2e/tests/checkout-address-change.spec.ts
  apps/avatax/e2e/tests/checkout-basic-product-with-tax-code.spec.ts
  apps/avatax/e2e/tests/checkout-basic-product-without-tax-code.spec.ts
  apps/avatax/e2e/tests/checkout-order-promotion-subtotal-reward.spec.ts
  apps/avatax/e2e/tests/checkout-with-click-and-collect.spec.ts
  apps/avatax/e2e/tests/checkout-with-customer-metadata.spec.ts
  apps/avatax/e2e/tests/checkout-with-digital-products.spec.ts
  apps/avatax/e2e/tests/checkout-with-entire-voucher.spec.ts
  apps/avatax/e2e/tests/checkout-with-voucher-free-shipping.spec.ts
  apps/avatax/e2e/tests/checkout_with_customer_metadata.spec.ts
  apps/avatax/e2e/tests/draft-order-basic.spec.ts
  apps/avatax/e2e/tests/draft-order-catalog-promotion.spec.ts
  apps/avatax/e2e/tests/draft-order-changing-lines.spec.ts
  apps/avatax/e2e/tests/draft-order-with-entire-voucher.spec.ts
  apps/avatax/e2e/tests/draft-order-with-entity-code.spec.ts
  apps/avatax/e2e/tests/draft-order-with-manual-total-discount.spec.ts
  apps/avatax/e2e/tests/draft-order-with-order-promotion-subtotal.spec.ts
  apps/avatax/e2e/tests/draft_order_changing_lines.spec.ts
  apps/avatax/e2e/utils/money.ts
  apps/avatax/e2e/utils/saleor-version-compatibility.ts
  apps/avatax/src/env.ts
  apps/avatax/turbo.json
  apps/stripe/e2e/helpers.ts
Due: avatax, stripe

comment encryption key (#1955)
  apps/stripe/.env.example
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/src/lib/encryptor.ts
Due: stripe

add 321 to stripe
  .github/workflows/e2e.yml
Due: none

update stripe app id
  apps/stripe/e2e/pages/stripe-checkout-form-page.tsx
Due: stripe

Add cron job
  .github/workflows/e2e.yml
  .github/workflows/run-e2e-cron.yml
Due: none

add gha perms
  .github/workflows/run-e2e-cron.yml
Due: none

Fix e2e for AvaTax & run e2e in schedule (#1956)
  .github/workflows/e2e.yml
  .github/workflows/run-e2e-cron.yml
  apps/avatax/e2e/setup.ts
  apps/avatax/e2e/tests/checkout-address-change.spec.ts
  apps/avatax/e2e/tests/checkout-basic-product-with-tax-code.spec.ts
  apps/avatax/e2e/tests/checkout-basic-product-without-tax-code.spec.ts
  apps/avatax/e2e/tests/checkout-order-promotion-subtotal-reward.spec.ts
  apps/avatax/e2e/tests/checkout-with-click-and-collect.spec.ts
  apps/avatax/e2e/tests/checkout-with-customer-metadata.spec.ts
  apps/avatax/e2e/tests/checkout-with-digital-products.spec.ts
  apps/avatax/e2e/tests/checkout-with-entire-voucher.spec.ts
  apps/avatax/e2e/tests/checkout-with-voucher-free-shipping.spec.ts
  apps/avatax/e2e/tests/checkout_with_customer_metadata.spec.ts
  apps/avatax/e2e/tests/draft-order-basic.spec.ts
  apps/avatax/e2e/tests/draft-order-catalog-promotion.spec.ts
  apps/avatax/e2e/tests/draft-order-changing-lines.spec.ts
  apps/avatax/e2e/tests/draft-order-with-entire-voucher.spec.ts
  apps/avatax/e2e/tests/draft-order-with-entity-code.spec.ts
  apps/avatax/e2e/tests/draft-order-with-manual-total-discount.spec.ts
  apps/avatax/e2e/tests/draft-order-with-order-promotion-subtotal.spec.ts
  apps/avatax/e2e/tests/draft_order_changing_lines.spec.ts
  apps/avatax/e2e/utils/money.ts
  apps/avatax/e2e/utils/saleor-version-compatibility.ts
  apps/avatax/src/env.ts
  apps/avatax/turbo.json
  apps/stripe/e2e/helpers.ts
  apps/stripe/e2e/pages/stripe-checkout-form-page.tsx
Due: avatax, stripe

remove avatax info logs
  apps/avatax/src/lib/app-configuration-logger.test.ts
  apps/avatax/src/lib/app-configuration-logger.ts
  apps/avatax/src/modules/avatax/avatax-calculation-date-resolver.ts
  apps/avatax/src/modules/avatax/avatax-customer-code-resolver.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-tax-code-matcher.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
Due: avatax
