Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

fix tests path
  apps/search/src/test/handlers/category_created.test.ts
  apps/search/src/test/handlers/category_deleted.test.ts
  apps/search/src/test/handlers/category_updated.test.ts
  apps/search/src/test/handlers/product_updated.test.ts
  apps/search/src/test/handlers/product_variant_updated.test.ts
  apps/smtp/src/__tests__/pages-api-webhooks/send-event-messages-response-handler.test.ts
Due: search, smtp

fix tests
  apps/search/src/test/handlers/product_updated.test.ts
  apps/search/src/test/handlers/product_variant_updated.test.ts
  apps/smtp/src/__tests__/pages-api-webhooks/send-event-messages-response-handler.test.ts
Due: search, smtp

refactor route
  apps/smtp/src/__tests__/pages-api-webhooks/send-event-messages-response-handler.test.ts
  apps/smtp/src/modules/event-handlers/send-event-messages-response-handler.ts
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
  apps/smtp/src/pages/api/webhooks/order-refunded.ts
  apps/smtp/vitest.config.ts
Due: smtp

Fix ESLint warnings for SMTP app
  apps/smtp/graphql/fragments/order-details.graphql
  apps/smtp/graphql/queries/shop-details.graphql
  apps/smtp/src/__tests__/pages-api-webhooks/notify.test.ts
  apps/smtp/src/lib/fetch-app-permissions.ts
  apps/smtp/src/modules/channels/channels-fetcher.ts
  apps/smtp/src/modules/channels/ui/universal-channels-section.tsx
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/feature-flag-service/fetch-saleor-version.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.test.ts
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.ts
  apps/smtp/src/modules/smtp/ui/event-form.tsx
  apps/smtp/src/modules/smtp/ui/smtp-basic-information-section.tsx
  apps/smtp/src/modules/smtp/ui/smtp-dangerous-section.tsx
  apps/smtp/src/modules/smtp/ui/smtp-section.tsx
  apps/smtp/src/modules/smtp/ui/smtp-sender-section.tsx
  apps/smtp/src/modules/trpc/trpc-client.ts
  apps/smtp/src/modules/trpc/trpc-context.ts
  apps/smtp/src/modules/webhook-management/api-operations.ts
  apps/smtp/src/pages/api/register.ts
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
  apps/smtp/src/pages/api/webhooks/order-refunded.ts
  apps/smtp/src/pages/api/webhooks/send-event-messages-response-handler.test.ts
  apps/smtp/src/pages/configuration/smtp/new.tsx
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: smtp

Fix ESLint warnings for SMTP app (#2366)
  apps/smtp/graphql/fragments/order-details.graphql
  apps/smtp/graphql/queries/shop-details.graphql
  apps/smtp/src/__tests__/pages-api-webhooks/notify.test.ts
  apps/smtp/src/lib/fetch-app-permissions.ts
  apps/smtp/src/modules/channels/channels-fetcher.ts
  apps/smtp/src/modules/channels/ui/universal-channels-section.tsx
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/feature-flag-service/fetch-saleor-version.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.test.ts
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.ts
  apps/smtp/src/modules/smtp/ui/event-form.tsx
  apps/smtp/src/modules/smtp/ui/smtp-basic-information-section.tsx
  apps/smtp/src/modules/smtp/ui/smtp-dangerous-section.tsx
  apps/smtp/src/modules/smtp/ui/smtp-section.tsx
  apps/smtp/src/modules/smtp/ui/smtp-sender-section.tsx
  apps/smtp/src/modules/trpc/trpc-client.ts
  apps/smtp/src/modules/trpc/trpc-context.ts
  apps/smtp/src/modules/webhook-management/api-operations.ts
  apps/smtp/src/pages/api/register.ts
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
  apps/smtp/src/pages/api/webhooks/order-refunded.ts
  apps/smtp/src/pages/api/webhooks/send-event-messages-response-handler.test.ts
  apps/smtp/src/pages/configuration/smtp/new.tsx
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: smtp

Clean up Stripe DB and webhooks on uninstall
  .changeset/stripe-app-deleted-handler.md
  apps/stripe/src/__tests__/integration/config-repo/remove-all-app-data.integration.test.ts
  apps/stripe/src/__tests__/integration/transaction-recorder/remove-all-transactions.integration.test.ts
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/mocked-transaction-recorder.ts
  apps/stripe/src/app/api/manifest/route.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/webhooks/app-deleted/route.ts
  apps/stripe/src/app/api/webhooks/app-deleted/webhook-definition.ts
  apps/stripe/src/modules/app-config/repositories/app-config-repo.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
  apps/stripe/src/modules/app-uninstall/wipe-app-data-use-case.test.ts
  apps/stripe/src/modules/app-uninstall/wipe-app-data-use-case.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/recorded-transaction-db-model.ts
  apps/stripe/src/modules/transactions-recording/repositories/transaction-recorder-repo.ts
Due: stripe

new app
  .changeset/anonymizer-app-onboarded.md
  apps/anonymizer/.env.example
  apps/anonymizer/.prettierignore
  apps/anonymizer/README.md
  apps/anonymizer/eslint.config.js
  apps/anonymizer/generated/graphql.ts
  apps/anonymizer/graphql.config.ts
  apps/anonymizer/graphql/mutations/customer-delete.graphql
  apps/anonymizer/graphql/mutations/order-update.graphql
  apps/anonymizer/graphql/queries/user-by-email.graphql
  apps/anonymizer/graphql/schema.graphql
  apps/anonymizer/lint-staged.config.js
  apps/anonymizer/next-env.d.ts
  apps/anonymizer/next.config.ts
  apps/anonymizer/package.json
  apps/anonymizer/public/favicon.ico
  apps/anonymizer/public/logo.png
  apps/anonymizer/saleor-app.ts
  apps/anonymizer/sentry.client.config.ts
  apps/anonymizer/src/env.ts
  apps/anonymizer/src/instrumentation.ts
  apps/anonymizer/src/instrumentations/otel-node.ts
  apps/anonymizer/src/instrumentations/sentry-node.ts
  apps/anonymizer/src/logger-context.ts
  apps/anonymizer/src/logger.ts
  apps/anonymizer/src/modules/anonymize/scramble-orders-by-email.tsx
  apps/anonymizer/src/modules/anonymize/scramble.test.ts
  apps/anonymizer/src/modules/anonymize/scramble.ts
  apps/anonymizer/src/pages/_app.tsx
  apps/anonymizer/src/pages/_document.tsx
  apps/anonymizer/src/pages/_error.tsx
  apps/anonymizer/src/pages/api/manifest.ts
  apps/anonymizer/src/pages/api/register.ts
  apps/anonymizer/src/pages/index.tsx
  apps/anonymizer/src/setup-tests.ts
  apps/anonymizer/tsconfig.json
  apps/anonymizer/turbo.json
  apps/anonymizer/vitest.config.ts
  pnpm-lock.yaml
Due: none

wip
  apps/anonymizer/next-env.d.ts
  apps/anonymizer/saleor-app.ts
  apps/anonymizer/src/env.ts
  apps/anonymizer/src/modules/graphql/graphql-provider.tsx
  apps/anonymizer/src/pages/_app.tsx
  apps/anonymizer/src/pages/api/manifest.ts
Due: none

wip permissions
  apps/anonymizer/generated/graphql.ts
  apps/anonymizer/graphql/queries/user-by-email.graphql
  apps/anonymizer/saleor-app.ts
  apps/anonymizer/src/modules/anonymize/scramble-orders-by-email.tsx
Due: none

scrable address
  apps/anonymizer/public/logo.png
  apps/anonymizer/src/modules/anonymize/scramble-orders-by-email.tsx
  apps/anonymizer/src/modules/anonymize/scramble.test.ts
  apps/anonymizer/src/modules/anonymize/scramble.ts
Due: none

no-op apl
  apps/anonymizer/.env.example
  apps/anonymizer/README.md
  apps/anonymizer/saleor-app.ts
  apps/anonymizer/src/env.ts
  apps/anonymizer/src/lib/noop-apl.ts
  apps/anonymizer/turbo.json
Due: none

Enable AvaTax order details widget autosizing in Dashboard
  .changeset/avatax-widget-autosize.md
  apps/avatax/package.json
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/app/api/order-details/route.ts
  apps/avatax/src/modules/order-details/order-details.types.ts
  apps/avatax/src/pages/_app.tsx
  apps/avatax/src/pages/order-details.tsx
  apps/avatax/src/styles/globals.css
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax

bulk operations support
  .changeset/bright-pandas-jump.md
  apps/anonymizer/.env.example
  apps/anonymizer/README.md
  apps/anonymizer/generated/graphql.ts
  apps/anonymizer/graphql/mutations/update-metadata.graphql
  apps/anonymizer/graphql/queries/customers-for-deletion.graphql
  apps/anonymizer/graphql/queries/orders-for-anonymization.graphql
  apps/anonymizer/package.json
  apps/anonymizer/public/logo.png
  apps/anonymizer/src/env.ts
  apps/anonymizer/src/modules/anonymize/bulk-anonymize-section.tsx
  apps/anonymizer/src/modules/anonymize/bulk-anonymize.test.ts
  apps/anonymizer/src/modules/anonymize/bulk-anonymize.ts
  apps/anonymizer/src/modules/anonymize/scramble-orders-by-email.tsx
  apps/anonymizer/src/modules/anonymize/scramble.ts
  apps/anonymizer/src/pages/api/manifest.ts
  apps/anonymizer/src/pages/index.tsx
  apps/anonymizer/turbo.json
  cspell.config.js
  pnpm-lock.yaml
Due: none

Potential fix for pull request finding
  apps/anonymizer/src/modules/graphql/graphql-provider.tsx
Due: none

cr fixes
  .changeset/anonymizer-fetch-all-orders.md
  apps/anonymizer/README.md
  apps/anonymizer/generated/graphql.ts
  apps/anonymizer/graphql/queries/user-by-email.graphql
  apps/anonymizer/src/modules/anonymize/bulk-anonymize-section.tsx
  apps/anonymizer/src/modules/anonymize/scramble-orders-by-email.tsx
  apps/anonymizer/src/pages/api/register.ts
  apps/anonymizer/src/pages/index.tsx
Due: none

cr fixes
  .changeset/anonymizer-fetch-all-orders.md
  apps/anonymizer/src/modules/anonymize/bulk-anonymize.test.ts
  apps/anonymizer/src/modules/anonymize/bulk-anonymize.ts
  apps/anonymizer/src/modules/anonymize/scramble-orders-by-email.tsx
  apps/anonymizer/src/modules/graphql/graphql-provider.tsx
  apps/anonymizer/src/pages/index.tsx
Due: none

fix linking types node
  apps/avatax/package.json
  apps/cms/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  pnpm-lock.yaml
Due: avatax, cms, products-feed, search, segment, smtp

Add new eslint rule
  .changeset/add-eslint-plugin-depend.md
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

chore: bump codecov to v6.0.1
  .github/workflows/main.yml
Due: none

cr fixes
  .changeset/anonymizer-app-onboarded.md
  apps/anonymizer/.env.example
  apps/anonymizer/next.config.ts
  apps/anonymizer/src/env.ts
  apps/anonymizer/src/modules/anonymize/scramble-orders-by-email.tsx
  apps/anonymizer/src/pages/api/register.ts
Due: none

symlink for schema
  apps/anonymizer/generated/graphql.ts
  apps/anonymizer/graphql/schema.graphql
Due: none

chore: bump codecov to v6.0.1 (#2371)
  .github/workflows/main.yml
Due: none

fix flaky test
  apps/products-feed/src/lib/chunk-caller.test.ts
Due: products-feed

Update SDK
  apps/onboarding/next-env.d.ts
  apps/onboarding/package.json
  apps/onboarding/src/app/api/manifest/route.ts
  apps/onboarding/src/app/api/test/route.ts
  apps/onboarding/src/app/test/page.tsx
  apps/onboarding/src/lib/env.ts
  apps/onboarding/src/modules/onboarding/welcome-page-onboarding.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

update sdk types
  apps/onboarding/src/app/api/manifest/route.ts
Due: none

remove legacy register endpoint
  apps/onboarding/src/app/api/manifest/route.ts
  apps/onboarding/src/app/api/register/route.ts
  apps/onboarding/src/lib/saleor-app.ts
Due: none

fix build
  apps/onboarding/src/modules/graphql/graphql-provider.tsx
  apps/onboarding/src/pages/_app.tsx
  package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: shared

Fix SMTP app fallback configuration loading
  .changeset/fix-smtp-fallback-section-loading.md
  apps/smtp/src/modules/smtp/configuration/smtp-metadata-manager.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-metadata-manager.ts
Due: smtp

Fix SMTP app fallback configuration loading (#2372)
  .changeset/fix-smtp-fallback-section-loading.md
  apps/smtp/src/modules/smtp/configuration/smtp-metadata-manager.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-metadata-manager.ts
Due: smtp

Fix tax strategy strict validation
  .changeset/avatax-null-tax-strategy.md
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/modules/saleor/order-confirmed/event.test.ts
  apps/avatax/src/modules/saleor/order-confirmed/event.ts
Due: avatax

review fixes
  .changeset/onboarding-app-initial.md
  apps/onboarding/README.md
  apps/onboarding/generated/graphql.ts
  apps/onboarding/graphql/queries/me.graphql
  apps/onboarding/src/modules/onboarding/components/fake-disabled-button.tsx
  apps/onboarding/src/modules/onboarding/hooks/use-onboarding-data.tsx
  apps/onboarding/src/modules/onboarding/onboarding-context/initial-onboarding-state.ts
  apps/onboarding/src/modules/onboarding/onboarding-context/onboarding-context.tsx
  apps/onboarding/src/modules/onboarding/onboarding-context/types.ts
  apps/onboarding/src/modules/onboarding/onboarding-context/use-expanded-onboarding-id.ts
  apps/onboarding/src/modules/onboarding/onboarding-context/use-onboarding-storage.ts
  apps/onboarding/src/modules/onboarding/onboarding-context/utils.test.ts
  apps/onboarding/src/modules/onboarding/onboarding-context/utils.ts
Due: none

change rule to warning
  packages/eslint-config/index.js
Due: none

Remove qs package from CMS app, use native api
  apps/cms/package.json
  apps/cms/src/modules/providers/payloadcms/payloadcms-client.test.ts
  apps/cms/src/modules/providers/payloadcms/payloadcms-client.ts
  pnpm-lock.yaml
Due: cms

Fix tax strategy strict validation (#2373)
  .changeset/avatax-null-tax-strategy.md
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/modules/saleor/order-confirmed/event.test.ts
  apps/avatax/src/modules/saleor/order-confirmed/event.ts
Due: avatax

Remove qs package from CMS app, use native api (#2374)
  apps/cms/package.json
  apps/cms/src/modules/providers/payloadcms/payloadcms-client.test.ts
  apps/cms/src/modules/providers/payloadcms/payloadcms-client.ts
  pnpm-lock.yaml
Due: cms

cr fixes
  .changeset/anonymizer-app-onboarded.md
  .changeset/anonymizer-fetch-all-orders.md
  .changeset/bright-pandas-jump.md
  apps/anonymizer/README.md
  apps/anonymizer/src/modules/anonymize/bulk-anonymize-section.tsx
  apps/anonymizer/src/modules/anonymize/confirmation-modal.tsx
  apps/anonymizer/src/modules/anonymize/scramble-orders-by-email.tsx
  apps/anonymizer/src/modules/anonymize/scramble.test.ts
  apps/anonymizer/src/modules/anonymize/scramble.ts
  apps/anonymizer/src/pages/index.tsx
Due: none

fix conflict leftover
  apps/cms/package.json
  pnpm-lock.yaml
Due: cms

disable re scan cache
  apps/anonymizer/src/modules/anonymize/bulk-anonymize-section.tsx
  apps/anonymizer/src/modules/anonymize/scramble-orders-by-email.tsx
Due: none

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
