Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, logger, shared, webhook-utils

codecov.yml:

coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/

Remove reinstalling corepack from Dockerfile
  .devcontainer/avatax/Dockerfile
  .devcontainer/cms/Dockerfile
  .devcontainer/klaviyo/Dockerfile
  .devcontainer/products-feed/Dockerfile
  .devcontainer/search/Dockerfile
  .devcontainer/segment/Dockerfile
  .devcontainer/smtp/Dockerfile
  .devcontainer/stripe/Dockerfile
Due: none

Fix NODE_ENV variable typing in AvaTax
  apps/avatax/src/env.ts
Due: avatax

Fix NODE_ENV variable typing in AvaTax (#1836)
  apps/avatax/src/env.ts
Due: avatax

Refactor Stripe key handling: improve validation and add tests for publishable and restricted keys
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
Due: stripe

Update README.md - contribution and deployment notes (#1806)
  README.md
Due: none

Refactor Stripe key handling: improve validation and add tests for publishable and restricted keys (#1837)
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
Due: stripe

Stripe app config - 1
  apps/stripe/.gitignore
  apps/stripe/src/modules/app-config/app-config-persistor.ts
  apps/stripe/src/modules/app-config/app-config.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
Due: stripe

Add unit tests & script
  apps/stripe/package.json
  apps/stripe/scripts/create-app-config.ts
  apps/stripe/src/lib/env.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/turbo.json
Due: stripe

add comment
  apps/stripe/src/modules/app-config/app-config-persistor.ts
Due: stripe

add addtional tests
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
Due: stripe

Add GitHub Action to notify Discord on "Help Wanted" issues (#1834)
  .github/workflows/help-wanted-issues-to-discord.yml
Due: none

wip - stripe payment initialize webhook
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/PaymentGatewayInitializeSession.graphql
  apps/stripe/src/app/api/pi/gateway-initialize/response-shape.ts
  apps/stripe/src/app/api/pi/gateway-initialize/route.ts
  apps/stripe/src/app/api/pi/gateway-initialize/use-case.ts
  apps/stripe/src/app/api/pi/gateway-initialize/webhook-definition.ts
Due: stripe

cr fixes
  apps/stripe/src/app/api/gateway-initialize/response-shape.ts
  apps/stripe/src/app/api/gateway-initialize/route.ts
  apps/stripe/src/app/api/gateway-initialize/use-case.ts
  apps/stripe/src/app/api/gateway-initialize/webhook-definition.ts
  apps/stripe/src/app/api/pi/gateway-initialize/route.ts
Due: stripe

fixes after CR
  apps/stripe/package.json
  apps/stripe/scripts/create-app-config.ts
  apps/stripe/src/lib/env.ts
  apps/stripe/src/modules/app-config/app-config-persistor.ts
  apps/stripe/src/modules/app-config/app-root-config.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
Due: stripe

return null if config is not found
  apps/stripe/src/modules/app-config/app-root-config.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
Due: stripe

remove turbo.json env vars
  apps/stripe/turbo.json
Due: stripe

Add Stripe AppConfig (#1838)
  apps/stripe/.gitignore
  apps/stripe/src/modules/app-config/app-config-persistor.ts
  apps/stripe/src/modules/app-config/app-root-config.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
Due: stripe

wip
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/fragments/Channel.graphql
  apps/stripe/graphql/subscriptions/PaymentGatewayInitializeSession.graphql
  apps/stripe/src/app/api/gateway-initialize/use-case.test.ts
  apps/stripe/src/app/api/manifest/route.test.ts
  apps/stripe/src/app/api/manifest/route.ts
Due: stripe

config impl
  apps/stripe/src/app/api/gateway-initialize/use-case.ts
Due: stripe

Improve Stripe app config
  apps/stripe/src/modules/app-config/app-config-persistor.ts
  apps/stripe/src/modules/app-config/app-root-config.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/saleor/saleor-api-url.test.ts
  apps/stripe/src/modules/saleor/saleor-api-url.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/tsconfig.json
  packages/webhook-utils/src/webhook-migration-runner.ts
  packages/webhook-utils/src/webhook-updater.ts
Due: stripe, webhook-utils

fix typo
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
Due: stripe

add tests
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
Due: stripe

tests
  apps/stripe/src/app-config-persistence.ts
  apps/stripe/src/app/api/gateway-initialize/response-shape.test.ts
  apps/stripe/src/app/api/gateway-initialize/route.ts
  apps/stripe/src/app/api/gateway-initialize/use-case.test.ts
  apps/stripe/src/app/api/gateway-initialize/use-case.ts
  apps/stripe/src/app/api/gateway-initialize/webhook-definition.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
Due: stripe

Fix devcontainer setup
  .devcontainer/avatax/Dockerfile
  .devcontainer/avatax/devcontainer.json
  .devcontainer/cms/Dockerfile
  .devcontainer/cms/devcontainer.json
  .devcontainer/klaviyo/Dockerfile
  .devcontainer/klaviyo/devcontainer.json
  .devcontainer/products-feed/Dockerfile
  .devcontainer/products-feed/devcontainer.json
  .devcontainer/search/Dockerfile
  .devcontainer/search/devcontainer.json
  .devcontainer/segment/Dockerfile
  .devcontainer/segment/devcontainer.json
  .devcontainer/smtp/Dockerfile
  .devcontainer/smtp/devcontainer.json
  .devcontainer/stripe/Dockerfile
  .devcontainer/stripe/devcontainer.json
Due: none

cr
  apps/stripe/package.json
  apps/stripe/src/__tests__/setup.ts
  apps/stripe/src/app/api/manifest/route.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/response-shape.test.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/response-shape.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/route.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.test.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/webhook-definition.ts
  pnpm-lock.yaml
Due: stripe

stripe payment initialize webhook (#1839)
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/fragments/Channel.graphql
  apps/stripe/graphql/subscriptions/PaymentGatewayInitializeSession.graphql
  apps/stripe/package.json
  apps/stripe/src/__tests__/setup.ts
  apps/stripe/src/app-config-persistence.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/response-shape.test.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/response-shape.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/route.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.test.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/webhook-definition.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  pnpm-lock.yaml
Due: stripe

fixes after merge
  apps/stripe/src/app/api/saleor/gateway-initialize/route.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.test.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.ts
  apps/stripe/src/lib/app-config-persistence.ts
  apps/stripe/src/modules/saleor/saleor-api-url.test.ts
  apps/stripe/src/modules/saleor/saleor-api-url.ts
Due: stripe

add readme
  apps/avatax/README.md
  apps/cms/README.md
  apps/klaviyo/README.md
  apps/products-feed/README.md
  apps/search/README.md
  apps/segment/README.md
  apps/smtp/README.md
  apps/stripe/README.md
Due: avatax, cms, products-feed, search, segment, smtp, stripe

renames to graphql files
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/fragments/.gitkeep
  apps/stripe/graphql/subscriptions/.gitkeep
  apps/stripe/graphql/subscriptions/payment-gateway-initalize-session.graphql
Due: stripe

rename to lowercase
  apps/stripe/graphql/fragments/channel.graphql
Due: stripe

Improve Stripe app config (#1841)
  apps/stripe/graphql/fragments/.gitkeep
  apps/stripe/graphql/fragments/channel.graphql
  apps/stripe/graphql/subscriptions/.gitkeep
  apps/stripe/graphql/subscriptions/PaymentGatewayInitializeSession.graphql
  apps/stripe/graphql/subscriptions/payment-gateway-initalize-session.graphql
  apps/stripe/src/app/api/saleor/gateway-initialize/route.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.test.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.ts
  apps/stripe/src/lib/app-config-persistence.ts
  apps/stripe/src/modules/app-config/app-config-persistor.ts
  apps/stripe/src/modules/app-config/app-root-config.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/saleor/saleor-api-url.test.ts
  apps/stripe/src/modules/saleor/saleor-api-url.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/tsconfig.json
  packages/webhook-utils/src/webhook-migration-runner.ts
  packages/webhook-utils/src/webhook-updater.ts
Due: stripe, webhook-utils

Enforce kebab-case naming rules
  apps/avatax/eslint.config.js
  apps/avatax/lint-staged.config.js
  apps/cms/eslint.config.js
  apps/cms/lint-staged.config.js
  apps/cms/src/modules/graphql/graphql-provider.tsx
  apps/cms/src/pages/_app.tsx
  apps/klaviyo/eslint.config.js
  apps/klaviyo/lint-staged.config.js
  apps/klaviyo/src/hooks/use-app-api.tsx
  apps/klaviyo/src/pages/configuration.tsx
  apps/products-feed/eslint.config.js
  apps/products-feed/lint-staged.config.js
  apps/search/eslint.config.js
  apps/search/lint-staged.config.js
  apps/segment/lint-staged.config.js
  apps/segment/src/pages/_app.tsx
  apps/segment/src/providers/graphql-provider.tsx
  apps/smtp/eslint.config.js
  apps/smtp/lint-staged.config.js
  apps/stripe/graphql/subscriptions/payment-gateway-initialize-session.graphql
  apps/stripe/lint-staged.config.js
  cspell.config.js
  lint-staged.config.js
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/react-hook-form-macaw/index.ts
  packages/react-hook-form-macaw/src/components/combobox.tsx
  packages/react-hook-form-macaw/src/components/input.tsx
  packages/react-hook-form-macaw/src/components/multiselect.tsx
  packages/react-hook-form-macaw/src/components/select.tsx
  packages/react-hook-form-macaw/src/components/toggle.tsx
  packages/webhook-utils/graphql/fragments/webhook-details-fragment.graphql
  packages/webhook-utils/graphql/mutations/create-app-webhook.graphql
  packages/webhook-utils/graphql/mutations/modify-app-webhook.graphql
  packages/webhook-utils/graphql/mutations/remove-app-webhook.graphql
  packages/webhook-utils/graphql/queries/get-app-details-and-webhooks-data.graphql
  packages/webhook-utils/graphql/queries/get-saleor-instance-data.graphql
  packages/webhook-utils/lint-staged.config.js
  pnpm-lock.yaml
Due: avatax, cms, products-feed, search, segment, smtp, stripe, webhook-utils

fixes after rename
  packages/react-hook-form-macaw/index.ts
Due: none
