Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, logger, shared, webhook-utils

Refactor Stripe tests mocks
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-initialize-session-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-cancelation-request-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-charge-requested-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-initialize-session-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-process-session-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-refund-request-event.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/stripe/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/recorded-transaction-db-model.test.ts
Due: stripe

Fix Products Feed app logging
  .changeset/small-sloths-doubt.md
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

Refactor Stripe tests mocks (#1985)
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-initialize-session-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-cancelation-request-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-charge-requested-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-initialize-session-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-process-session-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-refund-request-event.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/stripe/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/recorded-transaction-db-model.test.ts
Due: stripe

Fix assing PR workflow (#1983)
  .github/workflows/assign-pr.yml
Due: none

Fix Products Feed app logging (#1986)
  .changeset/small-sloths-doubt.md
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

Add logger.name / logger.version to logger (#1982)
  .changeset/lovely-dingos-rhyme.md
  packages/logger/src/logger-vercel-runtime-transport.ts
Due: logger

Release apps (#1972)
  .changeset/angry-dots-jog.md
  .changeset/blue-shirts-grow.md
  .changeset/forty-spies-vanish.md
  .changeset/gold-dogs-decide.md
  .changeset/lovely-dingos-rhyme.md
  .changeset/ninety-fans-look.md
  .changeset/purple-otters-thank.md
  .changeset/small-sloths-doubt.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
Due: avatax, cms, products-feed, search, segment, smtp, stripe, logger

Move generated types from JSON schema to `generated/app-webhooks-types` folder.
  .changeset/khaki-pans-own.md
  apps/stripe/generated/app-webhooks-types/payment-gateway-initialize-session.ts
  apps/stripe/generated/app-webhooks-types/transaction-cancelation-requested.ts
  apps/stripe/generated/app-webhooks-types/transaction-charge-requested.ts
  apps/stripe/generated/app-webhooks-types/transaction-initialize-session.ts
  apps/stripe/generated/app-webhooks-types/transaction-process-session.ts
  apps/stripe/generated/app-webhooks-types/transaction-refund-requested.ts
  apps/stripe/scripts/generate-app-webhooks-types.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/modules/transaction-result/action-required-result.ts
  apps/stripe/src/modules/transaction-result/cancel-result.ts
  apps/stripe/src/modules/transaction-result/failure-result.ts
  apps/stripe/src/modules/transaction-result/refund-result.ts
  apps/stripe/src/modules/transaction-result/success-result.ts
Due: stripe

Add env var & type GraphQL mutation
  apps/stripe/src/__tests__/integration/env.ts
  apps/stripe/src/__tests__/integration/msw-server.ts
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
Due: stripe

wip
  apps/stripe/scripts/fetch-webhook-json-schemas.ts
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
Due: stripe

fix tests
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
Due: stripe

Generate changes
  apps/stripe/generated/json-schema/transaction-initialize-session.ts
  apps/stripe/generated/json-schema/transaction-process-session.ts
Due: none

Move generated types from JSON schema to `generated/app-webhooks-types` folder. (#1987)
  .changeset/khaki-pans-own.md
  apps/stripe/generated/app-webhooks-types/payment-gateway-initialize-session.ts
  apps/stripe/generated/app-webhooks-types/transaction-cancelation-requested.ts
  apps/stripe/generated/app-webhooks-types/transaction-charge-requested.ts
  apps/stripe/generated/app-webhooks-types/transaction-initialize-session.ts
  apps/stripe/generated/app-webhooks-types/transaction-process-session.ts
  apps/stripe/generated/app-webhooks-types/transaction-refund-requested.ts
  apps/stripe/scripts/generate-app-webhooks-types.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/modules/transaction-result/action-required-result.ts
  apps/stripe/src/modules/transaction-result/cancel-result.ts
  apps/stripe/src/modules/transaction-result/failure-result.ts
  apps/stripe/src/modules/transaction-result/refund-result.ts
  apps/stripe/src/modules/transaction-result/success-result.ts
Due: stripe

Add Stripe webhook integration test (#1984)
  apps/stripe/package.json
  apps/stripe/scripts/fetch-webhook-json-schemas.ts
  apps/stripe/src/__tests__/integration/env.ts
  apps/stripe/src/__tests__/integration/msw-server.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/charge-refund-updated-event-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/payment-intent-succeeded-event-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
  apps/stripe/src/app/api/webhooks/stripe/route.ts
  pnpm-lock.yaml
Due: stripe

create routes skeleton
  apps/products-feed/src/app/process-feed/route.ts
  apps/products-feed/src/app/scan/route.ts
  apps/products-feed/src/app/variant-updated/route.ts
  apps/products-feed/src/app/variant-updated/webhook-manifest.ts
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/products-feed/src/pages/api/manifest.ts
Due: products-feed

mock webhook logic
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql/subscriptions/ProductVariantUpdated.graphql
  apps/products-feed/src/app/variant-updated/route.ts
  apps/products-feed/src/app/variant-updated/webhook-manifest.ts
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
Due: products-feed

implementation
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql/queries/AppMe.graphql
  apps/products-feed/graphql/queries/FetchChannels.graphql
  apps/products-feed/src/app/process-feed/route.ts
  apps/products-feed/src/app/scan/route.ts
  apps/products-feed/src/app/variant-updated/route.ts
  apps/products-feed/src/modules/google-feed/get-google-feed-settings.ts
Due: products-feed

setup local s3
  apps/products-feed/.gitignore
  apps/products-feed/docker-compose.yml
  apps/products-feed/scripts/init-local-s3.sh
Due: products-feed

wip
  apps/products-feed/docker-compose.yml
  apps/products-feed/next-env.d.ts
  apps/products-feed/scripts/init-local-s3.sh
  apps/products-feed/src/app/variant-updated/webhook-manifest.ts
  apps/products-feed/src/modules/app-configuration/app-configuration.router.ts
  apps/products-feed/tsconfig.json
Due: products-feed

wip
  apps/products-feed/docker-compose.yml
  apps/products-feed/scripts/init-local-s3.sh
  apps/products-feed/src/app/process-feed/route.ts
  apps/products-feed/src/app/scan/route.ts
  apps/products-feed/src/app/variant-updated/route.ts
  apps/products-feed/src/modules/file-storage/s3/create-s3-client-from-configuration.ts
Due: products-feed

wip
  apps/products-feed/.env.example
  apps/products-feed/src/app/dto.ts
  apps/products-feed/src/app/dynamodb-variants-storage.impl.ts
  apps/products-feed/src/app/dynamodb-variants-storage.ts
  apps/products-feed/src/app/process-feed/route.ts
  apps/products-feed/src/app/scan/route.ts
  apps/products-feed/src/app/scan/services/saleor-instance-verifier.ts
  apps/products-feed/src/app/variant-updated/route.ts
  apps/products-feed/src/lib/xml.ts
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/products-feed/turbo.json
  apps/products-feed/vercel.json
Due: products-feed

dynamo tols
  .devcontainer/products-feed/docker-compose.yml
  apps/products-feed/package.json
  apps/products-feed/scripts/setup-dynamodb.sh
  pnpm-lock.yaml
Due: products-feed

dynamodb storage
  apps/products-feed/.env.example
  apps/products-feed/src/app/dynamodb-variants-storage.impl.ts
  apps/products-feed/src/app/dynamodb-variants-storage.ts
  apps/products-feed/src/app/process-feed/route.ts
  apps/products-feed/src/app/variant-updated/route.ts
  apps/products-feed/src/modules/db-variants-storage/db-variants-storage.impl.ts
  apps/products-feed/src/modules/db-variants-storage/db-variants-storage.ts
  apps/products-feed/src/modules/db-variants-storage/dynamodb/db-variant-storage-dynamodb-model.ts
  apps/products-feed/src/modules/db-variants-storage/dynamodb/dynamodb-db-variants-storage.ts
  apps/products-feed/src/modules/dynamodb/dynamo-main-table.ts
  apps/products-feed/src/modules/dynamodb/dynamodb-client.ts
  apps/products-feed/turbo.json
Due: products-feed

working webhook and saving and reading from to dynamo
  .devcontainer/products-feed/docker-compose.yml
  apps/products-feed/.env.example
  apps/products-feed/src/app/process-feed/route.ts
  apps/products-feed/src/app/variant-updated/route.ts
  apps/products-feed/src/modules/db-variants-storage/db-variants-storage.ts
  apps/products-feed/src/modules/db-variants-storage/dynamodb/dynamodb-db-variants-storage.ts
Due: products-feed

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
