Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, logger, shared, webhook-utils

avatax logs reduce
  .changeset/afraid-items-rhyme.md
Due: none

feat: add channel listings to product variant fragment
  apps/search/generated/graphql.ts
  apps/search/graphql/fragments/ProductData.graphql
  apps/search/src/lib/algolia/algoliaUtils.ts
Due: search

changeset added
  .changeset/gorgeous-seals-hang.md
Due: none

test: add test for filtering inactive variants in otherVariants mapping
  apps/search/src/lib/algolia/algoliaUtils.test.ts
Due: search

Changed Avatax logs verbosity (#1957)
  .changeset/afraid-items-rhyme.md
  apps/avatax/src/lib/app-configuration-logger.test.ts
  apps/avatax/src/lib/app-configuration-logger.ts
  apps/avatax/src/modules/avatax/avatax-calculation-date-resolver.ts
  apps/avatax/src/modules/avatax/avatax-customer-code-resolver.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-tax-code-matcher.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
Due: avatax

Release apps (#1952)
  .changeset/afraid-items-rhyme.md
  .changeset/fast-owls-decide.md
  .changeset/kind-meals-exercise.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Due: avatax, stripe

Algolia filter active (#1958)
  .changeset/gorgeous-seals-hang.md
  apps/search/generated/graphql.ts
  apps/search/graphql/fragments/ProductData.graphql
  apps/search/src/lib/algolia/algoliaUtils.test.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
Due: search

Release apps (#1959)
  .changeset/gorgeous-seals-hang.md
  apps/search/CHANGELOG.md
  apps/search/package.json
Due: search

fix validation when creating conifg
  .changeset/spotty-zebras-agree.md
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
Due: stripe

fix validation when creating conifg (#1960)
  .changeset/spotty-zebras-agree.md
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
Due: stripe

Add observability attributes for Sentry / logs
  .changeset/red-donkeys-remain.md
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/stripe/route.ts
  apps/stripe/src/lib/observability-saleor-api-url.ts
  apps/stripe/src/lib/observability-source-object-id.ts
Due: stripe

Add observability attributes for Sentry / logs (#1962)
  .changeset/red-donkeys-remain.md
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/stripe/route.ts
  apps/stripe/src/lib/observability-saleor-api-url.ts
  apps/stripe/src/lib/observability-source-object-id.ts
Due: stripe

Enhance observability by integrating app context in Stripe webhook handler and adding Sentry tags for Saleor API URL in protected client procedure
  .changeset/three-bears-sing.md
  apps/stripe/src/app/api/webhooks/stripe/route.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
Due: stripe

Enhance observability by integrating app context in Stripe webhook handler and adding Sentry tags for Saleor API URL in protected client procedure (#1963)
  .changeset/three-bears-sing.md
  apps/stripe/src/app/api/webhooks/stripe/route.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
Due: stripe

Add StripeWebhookTransactionMissingResponse and update use case handling
  .changeset/polite-beers-care.md
  apps/stripe/src/app/api/webhooks/stripe/stripe-webhook-responses.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
Due: stripe

Add StripeWebhookTransactionMissingResponse and update use case handling (#1964)
  .changeset/polite-beers-care.md
  apps/stripe/src/app/api/webhooks/stripe/stripe-webhook-responses.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
Due: stripe

fix broken perms for scheduled e2e
  .github/workflows/run-e2e-cron.yml
Due: none

Release apps (#1961)
  .changeset/polite-beers-care.md
  .changeset/red-donkeys-remain.md
  .changeset/spotty-zebras-agree.md
  .changeset/three-bears-sing.md
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Due: stripe

add better cron
  .github/workflows/run-e2e-cron.yml
Due: none

Fix broken GHA perms for e2e workflow & schedule (#1965)
  .github/workflows/run-e2e-cron.yml
Due: none

Add Zod branded types adr
  adr/0002-use-zod-branded-types.md
Due: none

Add Zod branded types adr (#1966)
  adr/0002-use-zod-branded-types.md
Due: none

Refactor Stripe integration tests and add transaction cancellation webhook handling
  .github/workflows/stripe-integration-dynamodb.yml
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-cancelation-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/webhook-definition.ts
Due: stripe

update workflows / readme
  .github/workflows/stripe-integration-test.yml
  apps/stripe/README.md
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
Due: stripe

fix env vars
  .github/workflows/stripe-integration-test.yml
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
Due: stripe

udpdate workflow
  .github/workflows/stripe-integration-test.yml
Due: none

cleanup
  .gitignore
  apps/stripe/.env.test.example
  apps/stripe/README.md
  apps/stripe/e2e/env.ts
  apps/stripe/package.json
  apps/stripe/playwright.config.ts
  apps/stripe/scripts/run-e2e.ts
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/vitest.config.ts
Due: stripe

fix env vars again
  apps/stripe/e2e/complete-checkout.test.ts
  apps/stripe/e2e/env.ts
  apps/stripe/eslint.config.js
  apps/stripe/playwright.config.ts
  apps/stripe/src/__tests__/integration/env.ts
  apps/stripe/src/__tests__/integration/setup.integration.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
Due: stripe

fix reusable workflow
  .github/workflows/e2e.yml
  .github/workflows/run-e2e-cron.yml
  .github/workflows/run-e2e-dispatch.yml
  .github/workflows/run-e2e-label.yml
Due: none

Path conditions:
  avatax: any of: apps/avatax/
  cms: any of: apps/cms/
  products-feed: any of: apps/products-feed/
  search: any of: apps/search/
  segment: any of: apps/segment/
  smtp: any of: apps/smtp/
  stripe: any of: apps/stripe/
  logger: any of: packages/logger/
  shared: any of: packages/shared/
  webhook-utils: any of: packages/webhook-utils/
