Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, logger, shared, webhook-utils

working
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/next-env.d.ts
  apps/segment/next.config.js
  apps/segment/package.json
  apps/segment/src/app/api/webhooks/order-cancelled/route.ts
  apps/smtp/package.json
  package.json
  packages/eslint-config-saleor/package.json
  packages/logger/src/logger-context.ts
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp, logger, shared

update
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/next-env.d.ts
  apps/segment/next.config.js
  apps/segment/package.json
  apps/smtp/package.json
  package.json
  packages/eslint-config-saleor/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp, shared

Migrate other apps
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/instrumentations/otel.ts
  apps/avatax/src/lib/app-root-tracer.ts
  apps/cms/package.json
  apps/cms/src/instrumentation.ts
  apps/cms/src/instrumentations/otel.ts
  apps/cms/src/modules/otel/app-root-tracer.ts
  apps/cms/src/otel-instrumentation.node.ts
  apps/klaviyo/package.json
  apps/klaviyo/src/instrumentation.ts
  apps/klaviyo/src/instrumentations/otel.ts
  apps/klaviyo/src/lib/app-root-tracer.ts
  apps/klaviyo/src/otel-instrumentation.node.ts
  apps/klaviyo/tsconfig.json
  apps/products-feed/package.json
  apps/products-feed/src/instrumentation.ts
  apps/products-feed/src/instrumentations/otel.ts
  apps/products-feed/src/lib/app-root-tracer.ts
  apps/products-feed/src/otel-instrumentation.node.ts
  apps/products-feed/tsconfig.json
  apps/search/package.json
  apps/search/src/instrumentation.ts
  apps/search/src/instrumentations/otel.ts
  apps/search/src/lib/app-root-tracer.ts
  apps/search/src/otel-instrumentation.node.ts
  apps/search/tsconfig.json
  apps/segment/package.json
  apps/segment/src/instrumentation.ts
  apps/segment/src/instrumentations/otel.ts
  apps/segment/src/lib/app-root-tracer.ts
  apps/segment/src/otel-instrumentation.node.ts
  apps/smtp/package.json
  apps/smtp/src/instrumentation.ts
  apps/smtp/src/instrumentations/otel.ts
  apps/smtp/src/lib/app-root-tracer.ts
  apps/smtp/src/otel-instrumentation.node.ts
  apps/smtp/tsconfig.json
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp

Add changesets
  .changeset/ninety-eyes-call.md
  .changeset/tasty-rules-boil.md
Due: none

Update CMS dep & tsconfig
  apps/cms/package.json
  apps/cms/src/instrumentations/otel.ts
  apps/cms/tsconfig.json
  pnpm-lock.yaml
Due: none

remove patches
  patches/@opentelemetry__otlp-transformer@0.45.1.patch
  patches/@opentelemetry__otlp-transformer@0.46.0.patch
Due: none

update commet
  apps/avatax/src/instrumentations/otel.ts
  apps/cms/src/instrumentations/otel.ts
  apps/klaviyo/src/instrumentations/otel.ts
  apps/products-feed/src/instrumentations/otel.ts
  apps/search/src/instrumentations/otel.ts
  apps/segment/src/instrumentations/otel.ts
  apps/smtp/src/instrumentations/otel.ts
Due: avatax, products-feed, search, segment, smtp

Fix deprecated span attr for urqlExchange
  .changeset/neat-cherries-check.md
  packages/otel/src/otel-urql-exchange-factory.ts
  packages/otel/tsconfig.json
Due: none

Basic metrics
  apps/avatax/package.json
  apps/avatax/src/instrumentations/otel.ts
  apps/avatax/src/lib/app-root-metric.ts
  apps/avatax/src/pages/api/manifest.ts
  package.json
  pnpm-lock.yaml
Due: avatax

Fix deprecated span attr for urqlExchange (#1752)
  .changeset/neat-cherries-check.md
  packages/otel/src/otel-urql-exchange-factory.ts
  packages/otel/tsconfig.json
Due: none

fix tsc
  apps/search/src/pages/api/webhooks-status.ts
Due: search

Add changesets
  .changeset/bright-sloths-tie.md
  .changeset/poor-cameras-stare.md
  .changeset/sharp-peaches-push.md
Due: none

Fix OTEL warnings & update OTEL env vars examples
  apps/avatax/.env.example
  apps/avatax/next.config.js
  apps/cms/.env.example
  apps/cms/next.config.js
  apps/klaviyo/.env.example
  apps/klaviyo/next.config.js
  apps/products-feed/.env.example
  apps/products-feed/next.config.js
  apps/search/.env.example
  apps/search/next.config.js
  apps/segment/.env.example
  apps/segment/next.config.js
  apps/smtp/.env.example
  apps/smtp/next.config.js
  packages/otel/README.md
Due: avatax, products-feed, search, segment, smtp

Fix OTEL warnings & update OTEL env vars examples (#1755)
  apps/avatax/.env.example
  apps/avatax/next.config.js
  apps/cms/.env.example
  apps/cms/next.config.js
  apps/klaviyo/.env.example
  apps/klaviyo/next.config.js
  apps/products-feed/.env.example
  apps/products-feed/next.config.js
  apps/search/.env.example
  apps/search/next.config.js
  apps/segment/.env.example
  apps/segment/next.config.js
  apps/smtp/.env.example
  apps/smtp/next.config.js
  packages/otel/README.md
Due: avatax, products-feed, search, segment, smtp

update sdk
  apps/avatax/src/modules/trpc/protected-client-procedure.ts
  apps/avatax/src/modules/trpc/trpc-client.ts
  apps/avatax/src/modules/trpc/trpc-context.ts
  apps/cms/src/modules/trpc/protected-client-procedure.ts
  apps/cms/src/modules/trpc/trpc-client.ts
  apps/cms/src/modules/trpc/trpc-context.ts
  apps/klaviyo/src/hooks/useAppApi.ts
  apps/products-feed/src/modules/trpc/protected-client-procedure.ts
  apps/products-feed/src/modules/trpc/trpc-client.ts
  apps/products-feed/src/modules/trpc/trpc-context.ts
  apps/search/src/modules/trpc/protected-client-procedure.ts
  apps/search/src/modules/trpc/trpc-client.ts
  apps/search/src/modules/trpc/trpc-context.ts
  apps/segment/src/modules/trpc/protected-client-procedure.ts
  apps/segment/src/modules/trpc/trpc-client.ts
  apps/segment/src/modules/trpc/trpc-context.ts
  apps/smtp/src/modules/trpc/protected-client-procedure.ts
  apps/smtp/src/modules/trpc/trpc-client.ts
  apps/smtp/src/modules/trpc/trpc-context.ts
  package.json
  packages/logger/src/logger-context.ts
  packages/otel/src/wrap-with-span-attributes.ts
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp, logger

update sdk
  apps/avatax/src/modules/trpc/protected-client-procedure.ts
  apps/avatax/src/modules/trpc/trpc-client.ts
  apps/avatax/src/modules/trpc/trpc-context.ts
  apps/cms/src/modules/trpc/protected-client-procedure.ts
  apps/cms/src/modules/trpc/trpc-client.ts
  apps/cms/src/modules/trpc/trpc-context.ts
  apps/klaviyo/src/hooks/useAppApi.ts
  apps/products-feed/src/modules/trpc/protected-client-procedure.ts
  apps/products-feed/src/modules/trpc/trpc-client.ts
  apps/products-feed/src/modules/trpc/trpc-context.ts
  apps/search/src/modules/trpc/protected-client-procedure.ts
  apps/search/src/modules/trpc/trpc-client.ts
  apps/search/src/modules/trpc/trpc-context.ts
  apps/segment/src/app/api/webhooks/order-cancelled/route.ts
  apps/segment/src/modules/trpc/protected-client-procedure.ts
  apps/segment/src/modules/trpc/trpc-client.ts
  apps/segment/src/modules/trpc/trpc-context.ts
  apps/smtp/src/modules/trpc/protected-client-procedure.ts
  apps/smtp/src/modules/trpc/trpc-client.ts
  apps/smtp/src/modules/trpc/trpc-context.ts
  package.json
  packages/logger/src/logger-context.ts
  packages/otel/src/wrap-with-span-attributes.ts
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp, logger

Remove urql hooks from codegen
  apps/avatax/.graphqlrc.ts
  apps/avatax/generated/graphql.ts
  apps/cms/.graphqlrc.yml
  apps/cms/generated/graphql.ts
  apps/klaviyo/.graphqlrc.yml
  apps/klaviyo/generated/graphql.ts
  apps/products-feed/.graphqlrc.yml
  apps/products-feed/generated/graphql.ts
  apps/search/.graphqlrc.yml
  apps/search/generated/graphql.ts
  apps/segment/.graphqlrc.ts
  apps/segment/generated/graphql.ts
  apps/smtp/.graphqlrc.yml
  apps/smtp/generated/graphql.ts
Due: avatax, products-feed, search, segment, smtp

Remove urql hooks from codegen (#1756)
  apps/avatax/.graphqlrc.ts
  apps/avatax/generated/graphql.ts
  apps/cms/.graphqlrc.yml
  apps/cms/generated/graphql.ts
  apps/klaviyo/.graphqlrc.yml
  apps/klaviyo/generated/graphql.ts
  apps/products-feed/.graphqlrc.yml
  apps/products-feed/generated/graphql.ts
  apps/search/.graphqlrc.yml
  apps/search/generated/graphql.ts
  apps/segment/.graphqlrc.ts
  apps/segment/generated/graphql.ts
  apps/smtp/.graphqlrc.yml
  apps/smtp/generated/graphql.ts
Due: avatax, products-feed, search, segment, smtp

Disable OTEL setup for egde runtime
  apps/avatax/.env.example
  apps/avatax/src/env.ts
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/instrumentations/otel-node.ts
  apps/cms/.env.example
  apps/cms/src/instrumentation.ts
  apps/cms/src/instrumentations/otel-node.ts
  apps/klaviyo/.env.example
  apps/klaviyo/src/instrumentation.ts
  apps/klaviyo/src/instrumentations/otel-node.ts
  apps/products-feed/.env.example
  apps/products-feed/src/instrumentation.ts
  apps/products-feed/src/instrumentations/otel-node.ts
  apps/search/.env.example
  apps/search/src/instrumentation.ts
  apps/search/src/instrumentations/otel-node.ts
  apps/segment/.env.example
  apps/segment/src/env.ts
  apps/segment/src/instrumentation.ts
  apps/segment/src/instrumentations/otel-node.ts
  apps/smtp/.env.example
  apps/smtp/src/instrumentation.ts
  apps/smtp/src/instrumentations/otel-node.ts
  packages/otel/src/batch-span-processor-factory.ts
Due: avatax, products-feed, search, segment, smtp

Disable OTEL setup for egde runtime (#1757)
  apps/avatax/.env.example
  apps/avatax/src/env.ts
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/instrumentations/otel-node.ts
  apps/cms/.env.example
  apps/cms/src/instrumentation.ts
  apps/cms/src/instrumentations/otel-node.ts
  apps/klaviyo/.env.example
  apps/klaviyo/src/instrumentation.ts
  apps/klaviyo/src/instrumentations/otel-node.ts
  apps/products-feed/.env.example
  apps/products-feed/src/instrumentation.ts
  apps/products-feed/src/instrumentations/otel-node.ts
  apps/search/.env.example
  apps/search/src/instrumentation.ts
  apps/search/src/instrumentations/otel-node.ts
  apps/segment/.env.example
  apps/segment/src/env.ts
  apps/segment/src/instrumentation.ts
  apps/segment/src/instrumentations/otel-node.ts
  apps/smtp/.env.example
  apps/smtp/src/instrumentation.ts
  apps/smtp/src/instrumentations/otel-node.ts
  packages/otel/src/batch-span-processor-factory.ts
Due: avatax, products-feed, search, segment, smtp

Release apps (#1742)
  .changeset/brave-crabs-reflect.md
  .changeset/bright-sloths-tie.md
  .changeset/neat-cherries-check.md
  .changeset/ninety-eyes-call.md
  .changeset/orange-rings-tease.md
  .changeset/poor-cameras-stare.md
  .changeset/rich-dogs-push.md
  .changeset/sharp-peaches-push.md
  .changeset/tasty-rules-boil.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
Due: avatax, products-feed, search, segment, smtp, logger, shared

Add AWS instrumentation for DynamoDB and disable HTTP instrumentation for Sentry requests
  .changeset/little-bottles-battle.md
  .changeset/lovely-zoos-grab.md
  apps/avatax/src/instrumentations/otel-node.ts
  apps/segment/src/instrumentations/otel-node.ts
  package.json
  packages/otel/package.json
  packages/otel/src/aws-instrumentation-factory.ts
  packages/otel/src/http-instrumentation-factory.ts
  packages/otel/src/otel-urql-exchange-factory.ts
  pnpm-lock.yaml
Due: avatax, segment

Sort package.json keys with sort-package-json
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  package.json
  packages/e2e/package.json
  packages/eslint-config-saleor/package.json
  packages/logger/package.json
  packages/otel/package.json
  packages/react-hook-form-macaw/package.json
  packages/sentry-utils/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

Sort package.json keys with sort-package-json (#1759)
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  package.json
  packages/e2e/package.json
  packages/eslint-config-saleor/package.json
  packages/logger/package.json
  packages/otel/package.json
  packages/react-hook-form-macaw/package.json
  packages/sentry-utils/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

Path conditions:
  avatax: any of: apps/avatax/
  cms: any of: apps/cms-v2/
  products-feed: any of: apps/products-feed/
  search: any of: apps/search/
  segment: any of: apps/segment/
  smtp: any of: apps/smtp/
  logger: any of: packages/logger/
  shared: any of: packages/shared/
  webhook-utils: any of: packages/webhook-utils/
