Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, logger, shared, webhook-utils

codecov.yml:

coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms-v2/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/

Fix lint issues for CMS app & enable saleor-app/logger-leak rule for AvaTax
  apps/avatax/.eslintrc.cjs
  apps/cms/.eslintrc.cjs
  apps/cms/src/modules/configuration/app-config.test.ts
  apps/cms/src/modules/providers/contentful/contentful-client.test.ts
  apps/cms/src/modules/providers/fields-mapper.test.ts
Due: avatax

add klaviyo
  apps/avatax/.eslintrc.cjs
  apps/cms/.eslintrc.cjs
  apps/cms/next.config.js
  apps/cms/src/modules/trpc/trpc-client.ts
  apps/klaviyo/.eslintrc.cjs
  apps/klaviyo/src/hooks/useAppApi.ts
  apps/klaviyo/src/lib/metadata.ts
Due: avatax

Fix lint issues for products-feed & search apps
  apps/products-feed/.eslintrc.cjs
  apps/products-feed/scripts/migrations/run-webhooks-migration-dry-run.ts
  apps/products-feed/scripts/migrations/run-webhooks-migration.ts
  apps/products-feed/scripts/migrations/update-webhooks.ts
  apps/products-feed/src/modules/app-configuration/app-config.test.ts
  apps/products-feed/src/modules/app-configuration/app-config.ts
  apps/products-feed/src/modules/category-mapping/categories-fetcher.test.ts
  apps/products-feed/src/modules/category-mapping/category-mapping.router.ts
  apps/products-feed/src/modules/feed-url/use-get-feed-api-url.test.tsx
  apps/products-feed/src/modules/google-feed/fetch-product-data.test.ts
  apps/products-feed/src/modules/google-feed/fetch-shop-data.ts
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/products-feed/src/modules/google-feed/product-to-proxy.test.ts
  apps/products-feed/src/modules/handlebarsTemplates/render-handlebars-template.ts
  apps/products-feed/src/pages/index.tsx
  apps/search/.eslintrc.cjs
  apps/search/scripts/migrations/run-webhooks-migration-dry-run.ts
  apps/search/scripts/migrations/run-webhooks-migration.ts
  apps/search/scripts/migrations/update-webhooks.ts
  apps/search/src/components/ImportProductsToAlgolia/useAlgoliaConfiguration.test.ts
  apps/search/src/domain/WebhookActivityToggler.service.ts
  apps/search/src/lib/algolia/algoliaUtils.test.ts
  apps/search/src/lib/algolia/metadata-to-algolia-attribute.test.ts
  apps/search/src/lib/useWebhooksStatus.tsx
  apps/search/src/modules/trpc/trpc-client.ts
Due: products-feed, search

use migration logger
  apps/products-feed/scripts/migrations/migration-logger.ts
  apps/products-feed/scripts/migrations/migration-utils.ts
  apps/products-feed/scripts/migrations/run-webhooks-migration-dry-run.ts
  apps/products-feed/scripts/migrations/run-webhooks-migration.ts
  apps/products-feed/scripts/migrations/update-webhooks.ts
  apps/search/scripts/migrations/migration-logger.ts
  apps/search/scripts/migrations/migration-utils.ts
  apps/search/scripts/migrations/run-webhooks-migration-dry-run.ts
  apps/search/scripts/migrations/run-webhooks-migration.ts
  apps/search/scripts/migrations/update-webhooks.ts
Due: products-feed, search

Fix lint issues for segment & smtp apps
  apps/segment/.eslintrc.cjs
  apps/smtp/.eslintrc.cjs
  apps/smtp/src/lib/fetch-app-permissions.ts
  apps/smtp/src/lib/get-event-form-status.test.ts
  apps/smtp/src/modules/app-configuration/filter-configurations.test.ts
  apps/smtp/src/modules/channels/is-available-in-channel.test.ts
  apps/smtp/src/modules/feature-flag-service/feature-flag-service.test.ts
  apps/smtp/src/modules/feature-flag-service/feature-flag-service.ts
  apps/smtp/src/modules/feature-flag-service/get-feature-flags.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-metadata-manager.test.ts
  apps/smtp/src/modules/smtp/services/email-compiler.test.ts
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.test.ts
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.ts
  apps/smtp/src/modules/smtp/services/html-to-text-compiler.test.ts
  apps/smtp/src/modules/smtp/ui/code-editor.tsx
  apps/smtp/src/modules/trpc/trpc-client.ts
  apps/smtp/src/modules/webhook-management/api-operations.ts
  apps/smtp/src/pages/configuration/smtp/[configurationId].tsx
  apps/smtp/src/pages/configuration/smtp/[configurationId]/event/[eventType].tsx
Due: segment, smtp

Migrate packages
  packages/e2e/.eslintrc.cjs
  packages/logger/.eslintrc.cjs
  packages/otel/.eslintrc.cjs
  packages/react-hook-form-macaw/.eslintrc.cjs
  packages/sentry-utils/.eslintrc.cjs
  packages/shared/.eslintrc.cjs
  packages/shared/src/metadata-manager.ts
  packages/trpc/.eslintrc.cjs
  packages/trpc/src/http-batch-link.ts
  packages/ui/.eslintrc.cjs
  packages/ui/src/text-link.tsx
  packages/webhook-utils/.eslintrc.cjs
Due: logger, shared, webhook-utils

Add turbo cache to CI/CD
  .cspell.json
  .github/workflows/main.yml
  README.md
Due: none

Use non deprecated env
  .github/workflows/main.yml
Due: none

Fix lint issues for `packages/*` (#1787)
  packages/e2e/.eslintrc.cjs
  packages/logger/.eslintrc.cjs
  packages/otel/.eslintrc.cjs
  packages/react-hook-form-macaw/.eslintrc.cjs
  packages/sentry-utils/.eslintrc.cjs
  packages/shared/.eslintrc.cjs
  packages/shared/src/metadata-manager.ts
  packages/trpc/.eslintrc.cjs
  packages/trpc/src/http-batch-link.ts
  packages/ui/.eslintrc.cjs
  packages/ui/src/text-link.tsx
  packages/webhook-utils/.eslintrc.cjs
Due: logger, shared, webhook-utils

Add turbo cache to CI/CD (#1788)
  .cspell.json
  .github/workflows/main.yml
  README.md
Due: none

update sdk
  package.json
  pnpm-lock.yaml
Due: none

Cleanup deps for `packages/*`
  .changeset/lazy-ways-rhyme.md
  packages/logger/package.json
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
Due: logger, shared, webhook-utils

Bump version
  packages/trpc/package.json
  pnpm-lock.yaml
Due: none

Fix lint issues for CMS / Klaviyo app & enable saleor-app/logger-leak rule for AvaTax (#1784)
  apps/avatax/.eslintrc.cjs
  apps/cms/.eslintrc.cjs
  apps/cms/next.config.js
  apps/cms/src/modules/configuration/app-config.test.ts
  apps/cms/src/modules/providers/contentful/contentful-client.test.ts
  apps/cms/src/modules/providers/fields-mapper.test.ts
  apps/cms/src/modules/trpc/trpc-client.ts
  apps/klaviyo/.eslintrc.cjs
  apps/klaviyo/src/hooks/useAppApi.ts
  apps/klaviyo/src/lib/metadata.ts
Due: avatax

Fix lint issues for segment & smtp apps (#1786)
  apps/segment/.eslintrc.cjs
  apps/smtp/.eslintrc.cjs
  apps/smtp/src/lib/fetch-app-permissions.ts
  apps/smtp/src/lib/get-event-form-status.test.ts
  apps/smtp/src/modules/app-configuration/filter-configurations.test.ts
  apps/smtp/src/modules/channels/is-available-in-channel.test.ts
  apps/smtp/src/modules/feature-flag-service/feature-flag-service.test.ts
  apps/smtp/src/modules/feature-flag-service/feature-flag-service.ts
  apps/smtp/src/modules/feature-flag-service/get-feature-flags.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-metadata-manager.test.ts
  apps/smtp/src/modules/smtp/services/email-compiler.test.ts
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.test.ts
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.ts
  apps/smtp/src/modules/smtp/services/html-to-text-compiler.test.ts
  apps/smtp/src/modules/smtp/ui/code-editor.tsx
  apps/smtp/src/modules/trpc/trpc-client.ts
  apps/smtp/src/modules/webhook-management/api-operations.ts
  apps/smtp/src/pages/configuration/smtp/[configurationId].tsx
  apps/smtp/src/pages/configuration/smtp/[configurationId]/event/[eventType].tsx
Due: segment, smtp

Fix lint issues for products-feed & search apps (#1785)
  apps/products-feed/.eslintrc.cjs
  apps/products-feed/scripts/migrations/migration-logger.ts
  apps/products-feed/scripts/migrations/migration-utils.ts
  apps/products-feed/scripts/migrations/run-webhooks-migration-dry-run.ts
  apps/products-feed/scripts/migrations/run-webhooks-migration.ts
  apps/products-feed/scripts/migrations/update-webhooks.ts
  apps/products-feed/src/modules/app-configuration/app-config.test.ts
  apps/products-feed/src/modules/app-configuration/app-config.ts
  apps/products-feed/src/modules/category-mapping/categories-fetcher.test.ts
  apps/products-feed/src/modules/category-mapping/category-mapping.router.ts
  apps/products-feed/src/modules/feed-url/use-get-feed-api-url.test.tsx
  apps/products-feed/src/modules/google-feed/fetch-product-data.test.ts
  apps/products-feed/src/modules/google-feed/fetch-shop-data.ts
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/products-feed/src/modules/google-feed/product-to-proxy.test.ts
  apps/products-feed/src/modules/handlebarsTemplates/render-handlebars-template.ts
  apps/products-feed/src/pages/index.tsx
  apps/search/.eslintrc.cjs
  apps/search/scripts/migrations/migration-logger.ts
  apps/search/scripts/migrations/migration-utils.ts
  apps/search/scripts/migrations/run-webhooks-migration-dry-run.ts
  apps/search/scripts/migrations/run-webhooks-migration.ts
  apps/search/scripts/migrations/update-webhooks.ts
  apps/search/src/components/ImportProductsToAlgolia/useAlgoliaConfiguration.test.ts
  apps/search/src/domain/WebhookActivityToggler.service.ts
  apps/search/src/lib/algolia/algoliaUtils.test.ts
  apps/search/src/lib/algolia/metadata-to-algolia-attribute.test.ts
  apps/search/src/lib/useWebhooksStatus.tsx
  apps/search/src/modules/trpc/trpc-client.ts
Due: products-feed, search

link both react / react-dom & app-sdk
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  package.json
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp, shared

working version
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  package.json
  packages/logger/package.json
  packages/otel/package.json
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

Cleanup monorepo deps
  .changeset/sweet-hairs-bow.md
  apps/avatax/next.config.js
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/next.config.js
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  package.json
  packages/e2e/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/otel/package.json
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

add missing urql
  apps/avatax/package.json
  apps/cms/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp

add missing urql
  apps/klaviyo/package.json
  pnpm-lock.yaml
Due: none

fix lint
  apps/avatax/package.json
  apps/cms/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  packages/trpc/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, products-feed, search, segment, smtp

Cleanup eslint rules
  apps/avatax/.eslintrc.cjs
  apps/avatax/e2e/tests/checkout_address_change.spec.ts
  apps/avatax/e2e/tests/checkout_basic_product_with_tax_code.spec.ts
  apps/avatax/e2e/tests/checkout_with_click_and_collect.spec.ts
  apps/avatax/e2e/tests/checkout_with_customer_metadata.spec.ts
  apps/avatax/e2e/tests/draft_order_basic.spec.ts
  apps/avatax/next.config.js
  apps/avatax/package.json
  apps/avatax/scripts/migration-logger.ts
  apps/avatax/src/env.ts
  apps/avatax/src/instrumentation.ts
  apps/avatax/vitest.workspace.ts
  apps/cms/.eslintrc.cjs
  apps/klaviyo/.eslintrc.cjs
  apps/products-feed/.eslintrc.cjs
  apps/products-feed/scripts/migrations/migration-logger.ts
  apps/search/.eslintrc.cjs
  apps/search/scripts/migrations/migration-logger.ts
  apps/search/src/lib/logger.ts
  apps/segment/.eslintrc.cjs
  apps/segment/next.config.js
  apps/segment/package.json
  apps/segment/scripts/migration-logger.ts
  apps/segment/src/env.ts
  apps/segment/src/instrumentation.ts
  apps/smtp/.eslintrc.cjs
  packages/e2e/.eslintrc.cjs
  packages/e2e/playwright.config.ts
  packages/eslint-config/index.cjs
  packages/logger/.eslintrc.cjs
  packages/otel/.eslintrc.cjs
  packages/react-hook-form-macaw/.eslintrc.cjs
  packages/sentry-utils/.eslintrc.cjs
  packages/shared/.eslintrc.cjs
  packages/trpc/.eslintrc.cjs
  packages/trpc/src/http-batch-link.ts
  packages/ui/.eslintrc.cjs
  packages/webhook-utils/.eslintrc.cjs
  packages/webhook-utils/src/webhook-migration-runner.ts
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

add missing env var to turbo
  turbo.json
Due: none

fixes after CR
  apps/avatax/next.config.js
  apps/avatax/package.json
  apps/avatax/src/pages/_app.tsx
  apps/cms/package.json
  apps/products-feed/package.json
  apps/search/next.config.js
  apps/search/package.json
  apps/segment/next.config.js
  apps/segment/package.json
  apps/smtp/package.json
  packages/otel/package.json
  packages/trpc/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, products-feed, search, segment, smtp

Cleanup monorepo deps (#1790)
  .changeset/sweet-hairs-bow.md
  apps/avatax/package.json
  apps/avatax/src/pages/_app.tsx
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/next.config.js
  apps/segment/package.json
  apps/smtp/package.json
  package.json
  packages/e2e/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/otel/package.json
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

Remove sentry/node
  apps/avatax/package.json
  apps/avatax/scripts/run-webhooks-migration.ts
  apps/cms/next.config.js
  apps/klaviyo/next.config.js
  apps/products-feed/next.config.js
  apps/products-feed/package.json
  apps/segment/package.json
  apps/segment/scripts/run-webhooks-migration.ts
  apps/smtp/next.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, products-feed, segment, smtp

migrated avatax
  apps/avatax/next.config.js
  apps/avatax/scripts/run-webhooks-migration.ts
  apps/avatax/sentry.client.config.ts
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/instrumentations/sentry-edge.ts
  apps/avatax/src/instrumentations/sentry-node.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax

update sdk
  apps/avatax/src/lib/app-metadata-cache.ts
  apps/avatax/src/logger-context.ts
  package.json
  packages/otel/src/with-span-attributes.ts
  pnpm-lock.yaml
Due: avatax

add comments
  apps/avatax/next.config.js
  apps/avatax/sentry.client.config.ts
  apps/avatax/src/instrumentations/sentry-edge.ts
  apps/avatax/src/instrumentations/sentry-node.ts
Due: avatax

update lock
  pnpm-lock.yaml
Due: none

use import * as Sentry
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Due: avatax
