Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

refactor
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
Due: search

Notes added by 'git notes add'
  0a533af6dcf64ec9aa6bcb74e1d5bc2d8a834916
Due: none

Handle AvaTax SDK timeout as dedicated error instead of unknown shape
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/taxes/tax-error.ts
Due: avatax

Notes added by 'git notes add'
  3081b70ba15389ef64af7198190ca7eb9e651cff
Due: none

Add tests for AvaTax timeout error handling
  apps/avatax/src/modules/avatax/avatax-client.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
Due: avatax

Notes added by 'git notes add'
  9f009487d0aa7f70857895539a6427cd0452f78f
Due: none

Changeset
  .changeset/angry-beans-listen.md
Due: none

Notes added by 'git notes add'
  35b848ed2ce4a60646ccd35c75f4e97a58ee4add
Due: none

Handle Avatax internal timeout error (#2279)
  .changeset/angry-beans-listen.md
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/modules/avatax/avatax-client.test.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/taxes/tax-error.ts
Due: avatax

Potential fix for pull request finding
  apps/search/src/pages/api/webhooks/saleor/category_deleted.ts
Due: search

better error responses
  apps/search/src/pages/api/webhooks/saleor/category_created.test.ts
  apps/search/src/pages/api/webhooks/saleor/category_created.ts
  apps/search/src/pages/api/webhooks/saleor/category_deleted.test.ts
  apps/search/src/pages/api/webhooks/saleor/category_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/category_updated.ts
Due: search

Notes added by 'git notes add'
  553fb39f5d0ce4ea139eadadc8a80fcabdd138c5
Due: none

Add indexing categories (#2275)
  .changeset/petite-islands-read.md
  apps/search/generated/graphql.ts
  apps/search/graphql/fragments/CategoryData.graphql
  apps/search/graphql/fragments/ProductData.graphql
  apps/search/graphql/queries/CategoriesData.graphql
  apps/search/graphql/subscriptions/categoryCreated.graphql
  apps/search/graphql/subscriptions/categoryDeleted.graphql
  apps/search/graphql/subscriptions/categoryUpdated.graphql
  apps/search/src/components/ImportProductsToAlgolia/useBatchUpload.ts
  apps/search/src/lib/algolia/algolia-error-parser.test.ts
  apps/search/src/lib/algolia/algolia-error-parser.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/algolia/algoliaUtils.test.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/search/src/lib/algolia/categoryAlgoliaUtils.test.ts
  apps/search/src/lib/algolia/categoryAlgoliaUtils.ts
  apps/search/src/lib/searchProvider.ts
  apps/search/src/lib/webhook-event-types.ts
  apps/search/src/modules/app-problems/search-problem-reporter.test.ts
  apps/search/src/modules/app-problems/search-problem-reporter.ts
  apps/search/src/pages/api/webhooks/saleor/category_created.test.ts
  apps/search/src/pages/api/webhooks/saleor/category_created.ts
  apps/search/src/pages/api/webhooks/saleor/category_deleted.test.ts
  apps/search/src/pages/api/webhooks/saleor/category_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/category_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/category_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
  apps/search/src/webhooks/definitions/category-created.ts
  apps/search/src/webhooks/definitions/category-deleted.ts
  apps/search/src/webhooks/definitions/category-updated.ts
  apps/search/webhooks.ts
Due: search

Attach Saleor domain to Sentry events for better error aggregation
  .changeset/nasty-poets-jog.md
  apps/avatax/src/modules/trpc/protected-client-procedure.ts
  apps/cms/src/modules/trpc/protected-client-procedure.ts
  apps/np-atobarai/src/modules/trpc/protected-client-procedure.ts
  apps/products-feed/src/modules/trpc/protected-client-procedure.ts
  apps/search/src/modules/trpc/protected-client-procedure.ts
  apps/segment/src/modules/trpc/protected-client-procedure.ts
  apps/smtp/src/modules/trpc/protected-client-procedure.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
  packages/otel/package.json
  packages/otel/src/with-span-attributes.ts
  packages/sentry-utils/index.ts
  packages/sentry-utils/package.json
  packages/sentry-utils/src/set-sentry-saleor-user.ts
  pnpm-lock.yaml
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

Notes added by 'git notes add'
  582a5c4fcf7a7a72cbda90c1bf97bf0ee746ebf2
Due: none

Add page indexing to Algolia search app
  apps/search/generated/graphql.ts
  apps/search/graphql/fragments/PageData.graphql
  apps/search/graphql/queries/PagesData.graphql
  apps/search/graphql/subscriptions/pageCreated.graphql
  apps/search/graphql/subscriptions/pageDeleted.graphql
  apps/search/graphql/subscriptions/pageUpdated.graphql
  apps/search/src/components/AlgoliaPageFieldsSelectionForm.tsx
  apps/search/src/components/ImportProductsToAlgolia/useBatchUpload.ts
  apps/search/src/components/ImportProductsToAlgolia/useSearchProvider.ts
  apps/search/src/lib/algolia-fields.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/search/src/lib/algolia/pageAlgoliaUtils.ts
  apps/search/src/lib/searchProvider.ts
  apps/search/src/lib/webhook-event-types.ts
  apps/search/src/modules/configuration/configuration.router.ts
  apps/search/src/modules/configuration/configuration.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/webhooks/saleor/page_created.ts
  apps/search/src/pages/api/webhooks/saleor/page_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/page_updated.ts
  apps/search/src/views/configuration/configuration.view.tsx
  apps/search/src/webhooks/definitions/page-created.ts
  apps/search/src/webhooks/definitions/page-deleted.ts
  apps/search/src/webhooks/definitions/page-updated.ts
  apps/search/src/webhooks/webhook-context.ts
  apps/search/webhooks.ts
Due: search

Notes added by 'git notes add'
  4da63607a8bc1ea5b64ed4ef35e42d624ad0b628
Due: none

Address review comments on page indexing
  apps/search/generated/graphql.ts
  apps/search/graphql/queries/PageTypesData.graphql
  apps/search/graphql/queries/PagesData.graphql
  apps/search/src/components/ImportProductsToAlgolia/index.tsx
  apps/search/src/components/ImportProductsToAlgolia/useBatchUpload.ts
  apps/search/src/components/PageTypesFilterForm.tsx
  apps/search/src/modules/configuration/configuration.router.ts
  apps/search/src/modules/configuration/configuration.ts
  apps/search/src/pages/api/webhooks/saleor/page-created.ts
  apps/search/src/pages/api/webhooks/saleor/page-deleted.ts
  apps/search/src/pages/api/webhooks/saleor/page-updated.ts
  apps/search/src/views/configuration/configuration.view.tsx
  apps/search/src/webhooks/definitions/page-created.ts
  apps/search/src/webhooks/definitions/page-deleted.ts
  apps/search/src/webhooks/definitions/page-updated.ts
Due: search

Notes added by 'git notes add'
  98ad79eede1cafd6205c901f632e3a32fe8961e5
Due: none

wip
  apps/search/src/components/ImportProductsToAlgolia/index.tsx
  apps/search/src/views/configuration/configuration.view.tsx
Due: search

Notes added by 'git notes add'
  2f86f8e7f59ba67c7e76d590cef8487fc9663d6d
Due: none

split ui
  apps/search/src/components/ImportProductsToAlgolia/ImportCategoriesToAlgolia.tsx
  apps/search/src/components/ImportProductsToAlgolia/ImportPagesToAlgolia.tsx
  apps/search/src/components/ImportProductsToAlgolia/ImportProductsToAlgolia.tsx
  apps/search/src/components/ImportProductsToAlgolia/ImportToAlgoliaCard.tsx
  apps/search/src/components/ImportProductsToAlgolia/index.tsx
  apps/search/src/components/ImportProductsToAlgolia/useBatchUpload.test.ts
  apps/search/src/components/ImportProductsToAlgolia/useBatchUpload.ts
  apps/search/src/views/configuration/configuration.view.tsx
Due: search

Notes added by 'git notes add'
  f735457d321d30e6f3d6e0bb080c4d59b9e0e01c
Due: none

fix filtering pages
  apps/search/src/components/ImportProductsToAlgolia/useBatchUpload.ts
  apps/search/src/components/PageTypesFilterForm.tsx
  apps/search/src/pages/api/webhooks/saleor/page-created.ts
  apps/search/src/pages/api/webhooks/saleor/page-deleted.ts
  apps/search/src/pages/api/webhooks/saleor/page-updated.ts
Due: search

Notes added by 'git notes add'
  fa5be66d72b5f08724231a84252ef5f721b80c77
Due: none

better import
  apps/search/src/components/ImportProductsToAlgolia/ImportPagesToAlgolia.tsx
  apps/search/src/components/ImportProductsToAlgolia/useBatchUpload.ts
Due: search

Notes added by 'git notes add'
  1c11668f39ecb544f78c20def4eb5506a5c7d924
Due: none

Sentry error on JWT validation failed (SMTP)
  .changeset/dry-cougars-judge.md
  apps/smtp/src/modules/trpc/protected-client-procedure.ts
Due: smtp

Notes added by 'git notes add'
  5f7c8539ae7bbfefff8fbd87a80e5b81eb1534ac
Due: none

Sentry error on JWT validation failed (SMTP) (#2283)
  .changeset/dry-cougars-judge.md
  apps/smtp/src/modules/trpc/protected-client-procedure.ts
Due: smtp

update app-sdk
  .changeset/happy-lights-smash.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Notes added by 'git notes add'
  177d83edef360ca39f57b5cf2831cc4e41a4ec93
Due: none

update app-sdk (#2284)
  .changeset/happy-lights-smash.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Potential fix for pull request finding
  packages/sentry-utils/src/set-sentry-saleor-user.ts
Due: none

Notes added by 'git notes add'
  05e4d4516735c33bfedd17f480e19e6aa60ac4ec
Due: none

fix sentry
  packages/sentry-utils/src/set-sentry-saleor-user.ts
Due: none

Notes added by 'git notes add'
  5dacb0c1a0aa1e6b99e1b4afe66bf350704e3961
Due: none

Potential fix for pull request finding
  packages/otel/package.json
Due: none

Potential fix for pull request finding
  .changeset/nasty-poets-jog.md
Due: none

update lock
  pnpm-lock.yaml
Due: none

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
