Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

wip
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-channels-mapping-trpc-handler.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-list-trpc-handler.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/remove-config-trpc-handler.ts
  apps/np-atobarai/src/modules/ui/configs-list.tsx
  packages/dynamo-config-repository/src/generic-root-config.ts
Due: np-atobarai

wip
  apps/np-atobarai/src/app/api/trpc/[trpc]/route.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-channels-mapping-trpc-handler.test.ts
  apps/np-atobarai/src/pages/config/new.tsx
Due: np-atobarai

working ui
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-input-schema.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.ts
  apps/np-atobarai/src/modules/ui/new-config-form.tsx
Due: np-atobarai

Add Atobarai API connection for transactionInitSession (#2011)
  apps/np-atobarai/bruno/05-initialize-payment-transaction.bru
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/fragments/source-object.graphql
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-transaction-id.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-source-object.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-errors.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/lib/assert-unreachable.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-error-response.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-error-response.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-success-response.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-success-response.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shop-order-date.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction-id.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction.ts
  apps/np-atobarai/src/modules/atobarai/types.ts
  apps/np-atobarai/src/modules/transaction-result/charge-result.ts
Due: np-atobarai

wip
  apps/np-atobarai/src/modules/atobarai/shipping-company-codes.ts
  apps/np-atobarai/src/modules/ui/configs-list.tsx
  apps/np-atobarai/src/pages/config/new.tsx
Due: np-atobarai

fill select
  apps/np-atobarai/src/modules/atobarai/shipping-company-codes.ts
  apps/np-atobarai/src/modules/ui/new-config-form.tsx
Due: np-atobarai

wip validation
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client-factory.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/types.ts
Due: np-atobarai

fix validation
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.ts
Due: np-atobarai

Fix SMTP errors reporting (#2012)
  .changeset/lazy-mirrors-double.md
  apps/smtp/src/lib/race-promise.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/smtp/services/smtp-email-sender.ts
Due: smtp

Release apps (#2013)
  .changeset/lazy-mirrors-double.md
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Due: smtp

fixing tests
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config-repo.ts
  apps/np-atobarai/src/__tests__/trpc-testing-procedure.ts
  apps/np-atobarai/src/modules/app-config/repo/app-config-repo.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-channels-mapping-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-input-schema.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-input-schema.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/trpc/context-app-router.ts
Due: np-atobarai

tests
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-config-id.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/remove-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/update-mapping-trpc-handler.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/types.ts
Due: np-atobarai

fix types
  apps/np-atobarai/src/modules/atobarai/types.ts
Due: np-atobarai

build fix
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-channels-mapping-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-input-schema.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/remove-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/remove-config-trpc-handler.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/update-mapping-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/update-mapping-trpc-handler.ts
  apps/np-atobarai/src/modules/ui/configs-list.tsx
  apps/np-atobarai/src/pages/config/index.tsx
  apps/np-atobarai/src/pages/config/new.tsx
  apps/np-atobarai/src/pages/index.tsx
Due: np-atobarai

fix package
  apps/np-atobarai/package.json
  pnpm-lock.yaml
Due: np-atobarai

Add ProcessSession to NP Atobarai (#2014)
  apps/np-atobarai/bruno/05-initialize-payment-transaction.bru
  apps/np-atobarai/bruno/06-process-payment-transaction.bru
  apps/np-atobarai/generated/app-webhooks-types/transaction-process-session.ts
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/subscriptions/transaction-initialize-session.graphql
  apps/np-atobarai/graphql/subscriptions/transaction-process-session.graphql
  apps/np-atobarai/scripts/generate-app-webhooks-types.ts
  apps/np-atobarai/scripts/run-webhooks-migration.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-change-transaction-payload.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-transaction-process-session-event.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/manifest/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/webhook-definition.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/use-case-errors.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-change-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-change-transaction-payload.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-error-response.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-error-response.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-error-response.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction-success-response.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction-success-response.ts
  apps/np-atobarai/src/modules/atobarai/types.ts
  apps/np-atobarai/src/modules/transaction-result/charge-result.ts
  packages/errors/src/base-error.ts
Due: np-atobarai, errors

Extract empty configs list to shared component
  .changeset/calm-taxis-fail.md
  .changeset/large-brooms-rhyme.md
  apps/np-atobarai/src/modules/ui/channel-config-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/channel-config-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/empty-configs.tsx
  packages/ui/index.ts
  packages/ui/src/empty-configs.tsx
Due: stripe, np-atobarai

extract DeleteConfigurationModalContent and fix a rendreing bug
  .changeset/spotty-news-share.md
  .changeset/swift-suits-crash.md
  apps/np-atobarai/src/modules/ui/configs-list.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
  packages/ui/index.ts
  packages/ui/src/delete-configuration-modal-content.tsx
Due: stripe, np-atobarai

configs list shared
  packages/ui/src/configs-list.tsx
Due: none

Migrate stripe
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
  packages/ui/index.ts
  packages/ui/src/configs-list.tsx
Due: stripe

Extract shared ConfigsList
  .changeset/fast-bats-obey.md
  .changeset/swift-spiders-rest.md
  apps/np-atobarai/src/modules/ui/atobarai-configs-list.tsx
  apps/np-atobarai/src/modules/ui/channel-config-section.tsx
  apps/np-atobarai/src/modules/ui/configs-list.tsx
  apps/np-atobarai/src/modules/ui/new-config-form.tsx
Due: np-atobarai

extract use-has-app-access
  apps/avatax/package.json
  apps/np-atobarai/package.json
  apps/np-atobarai/src/modules/ui/use-has-app-access.ts
  apps/products-feed/package.json
  apps/search/package.json
  apps/stripe/package.json
  apps/stripe/src/modules/ui/use-has-app-access.test.ts
  apps/stripe/src/modules/ui/use-has-app-access.ts
  packages/shared/package.json
  packages/shared/src/use-has-app-access.test.ts
  packages/shared/src/use-has-app-access.ts
  packages/ui/package.json
  packages/ui/src/setup-tests.ts
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, products-feed, search, stripe, np-atobarai, shared

Extract empty configs list to shared component (#2015)
  .changeset/calm-taxis-fail.md
  .changeset/large-brooms-rhyme.md
  apps/np-atobarai/src/modules/ui/channel-config-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/channel-config-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/empty-configs.tsx
  packages/ui/index.ts
  packages/ui/src/empty-configs.tsx
Due: stripe, np-atobarai

delet config modal extract (#2016)
  .changeset/spotty-news-share.md
  .changeset/swift-suits-crash.md
  apps/np-atobarai/src/modules/ui/configs-list.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
  packages/ui/index.ts
  packages/ui/src/delete-configuration-modal-content.tsx
Due: stripe, np-atobarai

Extract empty configs list to shared component (#2017)
  .changeset/fast-bats-obey.md
  .changeset/swift-spiders-rest.md
  apps/np-atobarai/src/modules/ui/atobarai-configs-list.tsx
  apps/np-atobarai/src/modules/ui/channel-config-section.tsx
  apps/np-atobarai/src/modules/ui/configs-list.tsx
  apps/np-atobarai/src/modules/ui/new-config-form.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
  packages/ui/index.ts
  packages/ui/src/configs-list.tsx
Due: stripe, np-atobarai

Remove fillMissingAddress field
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/np-atobarai/src/modules/app-config/app-config.test.ts
  apps/np-atobarai/src/modules/app-config/app-config.ts
  apps/np-atobarai/src/modules/app-config/repo/app-config-repo.ts
  apps/np-atobarai/src/modules/app-config/repo/dynamodb/entity.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-channels-mapping-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-input-schema.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-input-schema.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.test.ts
  apps/np-atobarai/src/modules/ui/new-config-form.tsx
Due: np-atobarai

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
