Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, logger, shared, webhook-utils

codecov.yml:

coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms-v2/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/

Migrate segment
  apps/segment/.eslintrc.cjs
  apps/segment/eslint.config.js
  apps/segment/graphql.config.ts
  apps/segment/package.json
  apps/segment/tsconfig.json
Due: segment

Migrate SMTP
  apps/smtp/.eslintrc.cjs
  apps/smtp/eslint.config.js
  apps/smtp/src/modules/smtp/ui/code-editor.tsx
  apps/smtp/tsconfig.json
Due: smtp

Migrate logger
  packages/logger/.eslintrc.cjs
  packages/logger/eslint.config.js
  packages/logger/tsconfig.json
Due: logger

Migrate otel
  packages/otel/.eslintrc.cjs
  packages/otel/eslint.config.js
  packages/otel/tsconfig.json
Due: none

migrate hook macaw
  packages/react-hook-form-macaw/.eslintrc.cjs
  packages/react-hook-form-macaw/eslint.config.js
  packages/react-hook-form-macaw/tsconfig.json
Due: none

migrate pkgs
  apps/avatax/package.json
  apps/avatax/tsconfig.json
  packages/eslint-config/index.js
  packages/logger/tsconfig.json
  packages/sentry-utils/.eslintrc.cjs
  packages/sentry-utils/eslint.config.js
  packages/sentry-utils/tsconfig.json
  packages/shared/.eslintrc.cjs
  packages/shared/eslint.config.js
  packages/shared/tsconfig.json
  packages/trpc/.eslintrc.cjs
  packages/trpc/eslint.config.js
  packages/trpc/tsconfig.json
  packages/ui/.eslintrc.cjs
  packages/ui/eslint.config.js
  packages/ui/tsconfig.json
  packages/webhook-utils/.eslintrc.cjs
  packages/webhook-utils/eslint.config.js
  packages/webhook-utils/graphql.config.ts
  packages/webhook-utils/tsconfig.json
  pnpm-lock.yaml
Due: avatax, logger, shared, webhook-utils

Migrate cspell
  .cspell.json
  .github/workflows/check-spelling.yml
  cspell.config.js
  package.json
  pnpm-lock.yaml
Due: none

Update knip & sherif
  knip.config.ts
  knip.json
  package.json
Due: none

fix lock
  pnpm-lock.yaml
Due: none

Release apps (#1816)
  .changeset/plenty-pumas-occur.md
  .changeset/twelve-planets-relate.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: avatax, products-feed, search, segment, smtp

Test otel proxy
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/lib/app-internal-tracer.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
  packages/logger/package.json
  packages/logger/src/logger-context.ts
  packages/otel/src/observability-attributes.ts
  pnpm-lock.yaml
Due: avatax, logger

Update knip & sherif (#1819)
  knip.config.ts
  knip.json
  package.json
  pnpm-lock.yaml
Due: none

import as Sentry
  packages/logger/src/logger-vercel-runtime-transport.ts
Due: logger

Create github-releases-to-discord.yml
  .github/workflows/github-releases-to-discord.yml
Due: none

Enable eslint rules
  apps/products-feed/src/modules/app-configuration/attribute-fetcher.ts
  apps/products-feed/src/modules/category-mapping/categories-fetcher.ts
  apps/smtp/src/modules/smtp/services/email-compiler.test.ts
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: products-feed, smtp

remove capture exceptiongs
  apps/avatax/src/lib/app-internal-tracer.ts
  packages/logger/src/logger-vercel-runtime-transport.ts
Due: avatax, logger

remove span.end
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
Due: avatax

update lock
  pnpm-lock.yaml
Due: none

fix whitespace
  packages/logger/src/logger-context.ts
Due: logger

remove deps
  packages/logger/package.json
  packages/logger/src/logger-context.ts
  pnpm-lock.yaml
Due: logger

cleanup
  packages/logger/package.json
  packages/logger/src/logger-context.ts
  packages/logger/src/logger-vercel-runtime-transport.ts
  pnpm-lock.yaml
Due: logger

Update pre-commit to use pnpm
  .husky/pre-commit
Due: none

fix leftovers
  packages/logger/src/logger-context.ts
Due: logger

Test approach with logger
  apps/avatax/scripts/migration-logger.ts
  apps/avatax/src/logger-context.ts
  apps/avatax/src/logger.ts
  packages/logger/index.ts
  packages/logger/node.ts
  packages/logger/package.json
Due: avatax, logger

remove create require
  apps/avatax/src/logger.ts
Due: avatax

Add changeset
  .changeset/selfish-deers-march.md
  .changeset/smooth-bugs-lie.md
  cspell.config.js
Due: none

Update README.md
  README.md
Due: none

Add issue templates and mention of Contributing Guidelines (#1776)
  .github/bug_report.yaml
  .github/feature_request.yaml
  README.md
Due: none

remove not needed span.end & add comment about vercel runtime
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  packages/logger/src/logger-vercel-runtime-transport.ts
Due: avatax, logger

use tracking file
  apps/avatax/eslint.config.js
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
  apps/avatax/src/lib/tracing.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
Due: avatax
