Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, logger, shared, webhook-utils

codecov.yml:

coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/

Fix devcontainer setup (#1842)
  .devcontainer/avatax/Dockerfile
  .devcontainer/avatax/devcontainer.json
  .devcontainer/cms/Dockerfile
  .devcontainer/cms/devcontainer.json
  .devcontainer/klaviyo/Dockerfile
  .devcontainer/klaviyo/devcontainer.json
  .devcontainer/products-feed/Dockerfile
  .devcontainer/products-feed/devcontainer.json
  .devcontainer/search/Dockerfile
  .devcontainer/search/devcontainer.json
  .devcontainer/segment/Dockerfile
  .devcontainer/segment/devcontainer.json
  .devcontainer/smtp/Dockerfile
  .devcontainer/smtp/devcontainer.json
  .devcontainer/stripe/Dockerfile
  .devcontainer/stripe/devcontainer.json
  apps/avatax/README.md
  apps/cms/README.md
  apps/klaviyo/README.md
  apps/products-feed/README.md
  apps/search/README.md
  apps/segment/README.md
  apps/smtp/README.md
  apps/stripe/README.md
Due: avatax, cms, products-feed, search, segment, smtp, stripe

Enforce kebab-case naming rules (#1843)
  apps/avatax/eslint.config.js
  apps/avatax/lint-staged.config.js
  apps/cms/eslint.config.js
  apps/cms/lint-staged.config.js
  apps/cms/src/modules/graphql/graphql-provider.tsx
  apps/cms/src/pages/_app.tsx
  apps/klaviyo/eslint.config.js
  apps/klaviyo/lint-staged.config.js
  apps/klaviyo/src/hooks/use-app-api.tsx
  apps/klaviyo/src/pages/configuration.tsx
  apps/products-feed/eslint.config.js
  apps/products-feed/lint-staged.config.js
  apps/search/eslint.config.js
  apps/search/lint-staged.config.js
  apps/segment/lint-staged.config.js
  apps/segment/src/pages/_app.tsx
  apps/segment/src/providers/graphql-provider.tsx
  apps/smtp/eslint.config.js
  apps/smtp/lint-staged.config.js
  apps/stripe/graphql/subscriptions/payment-gateway-initialize-session.graphql
  apps/stripe/lint-staged.config.js
  cspell.config.js
  lint-staged.config.js
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/react-hook-form-macaw/index.ts
  packages/react-hook-form-macaw/src/components/combobox.tsx
  packages/react-hook-form-macaw/src/components/input.tsx
  packages/react-hook-form-macaw/src/components/multiselect.tsx
  packages/react-hook-form-macaw/src/components/select.tsx
  packages/react-hook-form-macaw/src/components/toggle.tsx
  packages/webhook-utils/graphql/fragments/webhook-details-fragment.graphql
  packages/webhook-utils/graphql/mutations/create-app-webhook.graphql
  packages/webhook-utils/graphql/mutations/modify-app-webhook.graphql
  packages/webhook-utils/graphql/mutations/remove-app-webhook.graphql
  packages/webhook-utils/graphql/queries/get-app-details-and-webhooks-data.graphql
  packages/webhook-utils/graphql/queries/get-saleor-instance-data.graphql
  packages/webhook-utils/lint-staged.config.js
  pnpm-lock.yaml
Due: avatax, cms, products-feed, search, segment, smtp, stripe, webhook-utils

Update to Node.js 22.14
  .nvmrc
Due: none

Add integration test for manifest
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  package.json
  pnpm-lock.yaml
Due: stripe

setup integration
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  package.json
  pnpm-lock.yaml
Due: stripe

wip webhook
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/webhook-definition.ts
Due: stripe

wip
  apps/stripe/src/app/api/manifest/route.ts
Due: stripe

renames
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize/response-shape.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize/response-shape.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize/use-case.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize/webhook-definition.ts
  apps/stripe/src/lib/app-config-persistence.ts
  apps/stripe/src/modules/app-config/app-config-persister.ts
  apps/stripe/src/modules/app-config/file-app-config-persister.test.ts
  apps/stripe/src/modules/app-config/file-app-config-persister.ts
Due: stripe

update snapshot
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: stripe

Update to Node.js 22.14 (#1844)
  .nvmrc
Due: none

cr fixes
  apps/avatax/vitest.config.ts
  apps/stripe/package.json
  apps/stripe/src/__tests__/setup.integration.ts
  apps/stripe/src/__tests__/setup.units.ts
  apps/stripe/vitest.config.ts
  pnpm-lock.yaml
Due: avatax, stripe

restore mistaken file
  apps/avatax/vitest.config.ts
Due: avatax

Add integration test for manifest (#1845)
  apps/stripe/package.json
  apps/stripe/src/__tests__/setup.integration.ts
  apps/stripe/src/__tests__/setup.units.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: stripe

Add usecase
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/src/__tests__/mocks/stripe-config.ts
  apps/stripe/src/__tests__/mocks/stripe-payment-intents-api.ts
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize/use-case.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize/webhook-definition.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/webhook-definition.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api-factory.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
Due: stripe

update snapshot
  apps/stripe/src/app/api/manifest/route.integration.test.ts
Due: stripe

add graphql
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
Due: stripe

add new route
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/__tests__/mocks/stripe-config.ts
  apps/stripe/src/__tests__/mocks/stripe-payment-intents-api.ts
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/webhook-definition.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api-factory.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
Due: stripe

rename route to payment gateway init session
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/webhook-definition.ts
Due: stripe

rename app config persistor to app config repo
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/lib/app-config-persistence.ts
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  pnpm-workspace.yaml
Due: stripe

fix test
  apps/stripe/src/app/api/manifest/route.integration.test.ts
Due: stripe

Fix broken GraphQL check workflow
  .github/workflows/main.yml
Due: none

Fixes after CR
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/src/__tests__/mocks/app-config-presistor.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/saleor-api-url.ts
  apps/stripe/src/__tests__/mocks/stripe-payment-intents-api.ts
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/errors.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
  apps/stripe/vitest.config.ts
Due: stripe

regenerate graphql
  apps/stripe/generated/graphql.ts
Due: stripe

Stripe app: refactor route name & app config presistor (#1849)
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/stripe/src/lib/app-config-persistence.ts
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  pnpm-workspace.yaml
Due: stripe

fixes after merge
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
Due: stripe

Fix broken GraphQL check workflow (#1850)
  .github/workflows/main.yml
Due: none

Refactor transaction session event mock and error handling
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/errors.ts
  apps/stripe/vitest.config.ts
Due: stripe

Handle transaction initialize session for Stripe app (#1848)
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/saleor-api-url.ts
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/webhook-definition.ts
  apps/stripe/src/modules/stripe/errors.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api-factory.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
  apps/stripe/vitest.config.ts
Due: stripe

Add currency handling and validation for Stripe integration
  apps/stripe/package.json
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/saleor-money.test.ts
  apps/stripe/src/modules/saleor/saleor-money.ts
  apps/stripe/src/modules/stripe/stripe-money.test.ts
  apps/stripe/src/modules/stripe/stripe-money.ts
  pnpm-lock.yaml
Due: stripe

fix typos
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
Due: stripe

fixes after CR
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/saleor-money.ts
  apps/stripe/src/modules/stripe/stripe-money.ts
Due: stripe
