Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
    project:
      default:
        target: auto
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      app-payment-np-atobarai:
        flags: [np-atobarai]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]
      packages-domain:
        flags: [domain]
      packages-errors:
        flags: [errors]
      packages-apl-dynamo:
        flags: [apl-dynamo]
ignore:
  - "**/scripts/**"
  - "**/e2e/**"
  - "**/graphql/**"
  - "**/generated/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  np-atobarai:
    paths:
      - apps/np-atobarai/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/
  domain:
    paths:
      - packages/domain/
  errors:
      paths:
        - packages/errors/
  apl-dynamo:
      paths:
        - packages/apl-dynamo/

Release apps (#2125)
  .changeset/giant-dogs-fry.md
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
Due: products-feed

added purchase unit and percntage
  apps/paypal/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/paypal/src/lib/database-schema.sql
  apps/paypal/src/lib/database.ts
  apps/paypal/src/modules/paypal/paypal-orders-api.ts
  apps/paypal/src/modules/paypal/types.ts
  apps/paypal/src/modules/wsm-admin/global-paypal-config-repository.ts
  apps/paypal/src/modules/wsm-admin/global-paypal-config.ts
  apps/paypal/src/modules/wsm-admin/trpc-handlers/get-global-config-handler.ts
  apps/paypal/src/modules/wsm-admin/trpc-handlers/set-global-config-handler.ts
  apps/paypal/src/modules/wsm-admin/trpc-handlers/wsm-admin-input-schemas.ts
  apps/paypal/src/pages/wsm-admin.tsx
Due: none

fixed total tax calculation issue
  apps/paypal/generated/graphql.ts
  apps/paypal/graphql/fragments/source-object.graphql
  apps/paypal/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/paypal/src/modules/paypal/paypal-orders-api.ts
  apps/paypal/src/modules/paypal/types.ts
Due: none

Attach errors to logs
  .changeset/chilled-tomatoes-admire.md
  apps/stripe/src/app/api/trpc/[trpc]/route.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.ts
Due: stripe

added applepay and google pay
  apps/paypal/APPLE_PAY_IMPLEMENTATION_GUIDE.md
  apps/paypal/GOOGLE_PAY_IMPLEMENTATION_GUIDE.md
  apps/paypal/PAYPAL_IMPLEMENTATION_GUIDE.md
  apps/paypal/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/paypal/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/paypal/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/delete-apple-pay-domain-handler.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/get-apple-pay-domains-handler.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/merchant-onboarding-router.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/register-apple-pay-domain-handler.ts
  apps/paypal/src/modules/paypal/partner-referrals/paypal-partner-referrals-api-factory.ts
  apps/paypal/src/modules/paypal/partner-referrals/paypal-partner-referrals-api.ts
  apps/paypal/src/modules/paypal/partner-referrals/types.ts
  apps/paypal/src/modules/paypal/paypal-client.ts
  apps/paypal/src/modules/ui/merchant-connection/apple-pay-domains-section.tsx
  apps/paypal/src/modules/ui/merchant-connection/merchant-connection-section.tsx
  cspell.config.js
Due: none

added applepay and google pay
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/delete-apple-pay-domain-handler.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/get-apple-pay-domains-handler.ts
  apps/paypal/src/modules/ui/merchant-connection/apple-pay-domains-section.tsx
Due: none

Handle PayPal sandbox 500 error gracefully for Apple Pay domains
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/get-apple-pay-domains-handler.ts
Due: none

Add detailed diagnostic logging for Apple Pay and Google Pay readiness
  apps/paypal/src/modules/paypal/partner-referrals/paypal-partner-referrals-api.ts
Due: none

configured google pay
  apps/paypal/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/paypal/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/paypal/src/modules/paypal/partner-referrals/paypal-partner-referrals-api.ts
Due: none

updated admin UI
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/delete-apple-pay-domain-handler.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/get-apple-pay-domains-handler.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/register-apple-pay-domain-handler.ts
  apps/paypal/src/modules/ui/merchant-connection/apple-pay-domains-section.tsx
  apps/paypal/src/modules/ui/merchant-connection/merchant-connection-section.tsx
Due: none

remove tracking id and add saleor api url
  apps/paypal/src/modules/merchant-onboarding/merchant-onboarding-repository.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/get-merchant-status-trpc-handler.ts
  apps/paypal/src/modules/ui/merchant-connection/merchant-connection-section.tsx
Due: none

update disconect handler
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/delete-merchant-onboarding-trpc-handler.ts
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/merchant-onboarding-router.ts
  apps/paypal/src/modules/ui/merchant-connection/merchant-connection-section.tsx
Due: none

update disconect handler
  apps/paypal/src/modules/ui/merchant-connection/merchant-connection-section.tsx
Due: none

removed add configuration buttons
  apps/paypal/src/modules/ui/paypal-configs/channel-config-section.tsx
  apps/paypal/src/modules/ui/paypal-configs/custom-configs-list.tsx
  apps/paypal/src/modules/ui/paypal-configs/paypal-configs-list.tsx
  apps/paypal/src/pages/config/index.tsx
Due: none

removed add configuration buttons
  apps/paypal/src/modules/ui/paypal-configs/custom-configs-list.tsx
  apps/paypal/src/pages/config/index.tsx
Due: none

Add logs for failed app install
  apps/stripe/src/app/api/register/route.ts
Due: stripe

Add changeset
  .changeset/twelve-cherries-wait.md
Due: none

CR: remove `allowedUrlsPatter` from logs
  apps/stripe/src/app/api/register/route.ts
Due: stripe

fix intergration tests
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
Due: stripe

another fix
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
Due: stripe

Add logs for failed Stripe app install (#2127)
  .changeset/twelve-cherries-wait.md
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/app/api/register/route.ts
Due: stripe

Release apps (#2128)
  .changeset/twelve-cherries-wait.md
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Due: stripe

Attach errors to logs (#2126)
  .changeset/chilled-tomatoes-admire.md
  apps/stripe/src/app/api/trpc/[trpc]/route.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.ts
Due: stripe

Add logs for app installation failures and success to all apps
  apps/avatax/src/app/api/register/route.ts
  apps/cms/src/pages/api/register.ts
  apps/klaviyo/src/pages/api/register.ts
  apps/np-atobarai/src/app/api/register/route.ts
  apps/products-feed/src/pages/api/register.ts
  apps/search/src/pages/api/register.ts
  apps/segment/src/pages/api/register.ts
  apps/smtp/src/pages/api/register.ts
  apps/stripe/src/app/api/register/route.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

Add changeset
  .changeset/tiny-mangos-bow.md
Due: none

Fix build error
  apps/klaviyo/src/pages/api/register.ts
  apps/np-atobarai/src/app/api/register/route.ts
  apps/products-feed/src/pages/api/register.ts
Due: products-feed, np-atobarai

changed logic for error handling
  .changeset/beige-drinks-train.md
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

add test
  apps/products-feed/package.json
  apps/products-feed/src/tests/google-route.test.ts
  pnpm-lock.yaml
Due: products-feed

Update .changeset/tiny-mangos-bow.md
  .changeset/tiny-mangos-bow.md
Due: none

Implement caching for PayPal configurations and OAuth tokens to reduce database queries and improve performance
  apps/paypal/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/paypal/src/modules/paypal/configuration/paypal-config-cache.ts
  apps/paypal/src/modules/paypal/configuration/paypal-config-repo.ts
  apps/paypal/src/modules/paypal/partner-referrals/paypal-partner-referrals-api.ts
  apps/paypal/src/modules/paypal/paypal-client.ts
  apps/paypal/src/modules/paypal/paypal-oauth-token-cache.ts
  apps/paypal/src/modules/wsm-admin/global-paypal-config-cache.ts
  apps/paypal/src/modules/wsm-admin/global-paypal-config-repository.ts
Due: none

move node-mocks-http to pnpm catalog
  apps/cms/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cms, products-feed, search, segment

changed logic for error handling (#2131)
  .changeset/beige-drinks-train.md
  apps/cms/package.json
  apps/products-feed/package.json
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
  apps/products-feed/src/tests/google-route.test.ts
  apps/search/package.json
  apps/segment/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cms, products-feed, search, segment

Release apps (#2129)
  .changeset/beige-drinks-train.md
  .changeset/chilled-tomatoes-admire.md
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Due: products-feed, stripe

update error handling
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/after-fulfillment-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/before-fulfillment-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
Due: np-atobarai

test and changeset
  .changeset/calm-insects-sniff.md
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-event-parser.test.ts
Due: np-atobarai

Atobarai - improve error handling (#2132)
  .changeset/calm-insects-sniff.md
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-event-parser.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/after-fulfillment-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/before-fulfillment-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
Due: np-atobarai

Release apps (#2133)
  .changeset/calm-insects-sniff.md
  apps/np-atobarai/CHANGELOG.md
  apps/np-atobarai/package.json
Due: np-atobarai

Changed PAT token in workflows to app doken
  .github/workflows/prepare-release.yml
Due: none

fixed paypal domain verification issue
  apps/paypal/src/modules/merchant-onboarding/trpc-handlers/get-apple-pay-domains-handler.ts
  apps/paypal/src/modules/paypal/partner-referrals/paypal-partner-referrals-api.ts
  apps/paypal/src/modules/paypal/partner-referrals/types.ts
  apps/paypal/src/modules/ui/merchant-connection/apple-pay-domains-section.tsx
Due: none

Changing the e2e tests to create an app token for testing the privateMetadata update to be more realistic.
  .changeset/eight-bulldogs-juggle.md
  apps/avatax/e2e/generated/graphql.ts
  apps/avatax/e2e/graphql/fragments/App.graphql
  apps/avatax/e2e/graphql/mutations/AppCreate.graphql
  apps/avatax/e2e/tests/checkout-with-ship-from-address-metadata.spec.ts
Due: none
