Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
    project:
      default:
        target: auto
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      app-payment-np-atobarai:
        flags: [np-atobarai]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]
      packages-domain:
        flags: [domain]
      packages-errors:
        flags: [errors]
      packages-apl-dynamo:
        flags: [apl-dynamo]
ignore:
  - "**/scripts/**"
  - "**/e2e/**"
  - "**/graphql/**"
  - "**/generated/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  np-atobarai:
    paths:
      - apps/np-atobarai/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/
  domain:
    paths:
      - packages/domain/
  errors:
      paths:
        - packages/errors/
  apl-dynamo:
      paths:
        - packages/apl-dynamo/

cr fixes
  apps/search/src/modules/app-problems/search-problem-reporter.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_back_in_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_out_of_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
Due: search

Notes added by 'git notes add'
  e0d64a30b929a3a4686242c034f3cf13fd175bc0
Due: none

fix tests
  apps/search/src/pages/api/webhooks/saleor/product_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.test.ts
Due: search

Notes added by 'git notes add'
  ea28fded61d1423a8e13051e56a0dad6d7b87653
Due: none

CMS app problems
  .changeset/brown-ravens-heal.md
  apps/cms/package.json
  apps/cms/src/modules/app-problems/cms-problem-reporter.test.ts
  apps/cms/src/modules/app-problems/cms-problem-reporter.ts
  apps/cms/src/modules/app-problems/create-cms-problem-reporter.ts
  apps/cms/src/modules/app-problems/index.ts
  apps/cms/src/modules/providers-listing/providers-list.router.ts
  apps/cms/src/modules/providers/builder.io/builder-io.client.ts
  apps/cms/src/modules/webhooks-operations/webhooks-processors-delegator.test.ts
  apps/cms/src/modules/webhooks-operations/webhooks-processors-delegator.ts
  apps/cms/src/pages/api/webhooks/product-updated.ts
  apps/cms/src/pages/api/webhooks/product-variant-created.ts
  apps/cms/src/pages/api/webhooks/product-variant-deleted.ts
  apps/cms/src/pages/api/webhooks/product-variant-updated.ts
  pnpm-lock.yaml
Due: cms

Notes added by 'git notes add'
  bc769ccae7d9cc32e2684fdfc9d8ea44d6264f3e
Due: none

Problems API for AvaTax app
  .changeset/nine-doors-grow.md
  apps/avatax/package.json
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/modules/app-problems/avatax-problem-reporter.test.ts
  apps/avatax/src/modules/app-problems/avatax-problem-reporter.ts
  apps/avatax/src/modules/app-problems/create-avatax-problem-reporter.ts
  apps/avatax/src/modules/app-problems/index.ts
  apps/avatax/src/modules/avatax/avatax-connection.router.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-codes.router.ts
  pnpm-lock.yaml
Due: avatax

Notes added by 'git notes add'
  829b8613340aa1b585fee75f779aba1c38064309
Due: none

Notes added by 'git notes add'
  efc4f2ed9153fac408c254d1ee293649283d6f00
Due: none

Apply suggestion from @Copilot
  .changeset/brown-ravens-heal.md
Due: none

add problems for search app (#2258)
  .changeset/sharp-cheetahs-bathe.md
  apps/search/package.json
  apps/search/src/modules/app-problems/create-search-problem-reporter.ts
  apps/search/src/modules/app-problems/index.ts
  apps/search/src/modules/app-problems/search-problem-reporter.test.ts
  apps/search/src/modules/app-problems/search-problem-reporter.ts
  apps/search/src/modules/configuration/configuration.router.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_back_in_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_out_of_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
  pnpm-lock.yaml
Due: search

CMS: Add Problems API for provider error reporting (#2260)
  .changeset/brown-ravens-heal.md
  apps/cms/package.json
  apps/cms/src/modules/app-problems/cms-problem-reporter.test.ts
  apps/cms/src/modules/app-problems/cms-problem-reporter.ts
  apps/cms/src/modules/app-problems/create-cms-problem-reporter.ts
  apps/cms/src/modules/app-problems/index.ts
  apps/cms/src/modules/providers-listing/providers-list.router.ts
  apps/cms/src/modules/providers/builder.io/builder-io.client.ts
  apps/cms/src/modules/webhooks-operations/webhooks-processors-delegator.test.ts
  apps/cms/src/modules/webhooks-operations/webhooks-processors-delegator.ts
  apps/cms/src/pages/api/webhooks/product-updated.ts
  apps/cms/src/pages/api/webhooks/product-variant-created.ts
  apps/cms/src/pages/api/webhooks/product-variant-deleted.ts
  apps/cms/src/pages/api/webhooks/product-variant-updated.ts
  pnpm-lock.yaml
Due: cms

Notes added by 'git notes add'
  95f591aef3b0441b97dba8efb298e5177182890f
Due: none

Notes added by 'git notes add'
  3fcbf448ddd4a51d916c11fc857a1f19552ad7f1
Due: none

changeset
  .changeset/ninety-turkeys-pay.md
Due: none

Notes added by 'git notes add'
  36cc9504e11c499b90130d483f07fc00d8ec5cda
Due: none

metdata item fragment
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/fragments/MetadataItem.graphql
  apps/avatax/graphql/mutations/DeletePublicMetadata.graphql
  apps/avatax/graphql/mutations/UpdatePublicMetadata.graphql
  apps/avatax/src/lib/metadata-item.ts
  apps/search/generated/graphql.ts
  apps/search/graphql/fragments/MetadataItem.graphql
  apps/search/graphql/fragments/ProductData.graphql
  apps/search/graphql/fragments/ProductVariantData.graphql
  apps/search/src/lib/webhook-event-types.ts
Due: avatax, search

Notes added by 'git notes add'
  9ef2f596b9487df49f8c62697ae5f41b35b288e9
Due: none

move to catalog
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/np-atobarai/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  apps/stripe/package.json
  packages/app-problems/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, webhook-utils

Notes added by 'git notes add'
  a3b50d982c7d85c71702f1bfa07ed64c31e5334b
Due: none

migrate product feed
  apps/avatax/package.json
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql.config.ts
  apps/products-feed/graphql/fragments/Weight.graphql
  apps/products-feed/package.json
  apps/products-feed/src/modules/google-feed/get-weight-attribute-value.ts
  apps/stripe/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, products-feed, stripe

Notes added by 'git notes add'
  45b160100f5da2a31af19c88b6b34572a45253e6
Due: none

changeet
  .changeset/ninety-turkeys-pay.md
Due: none

Notes added by 'git notes add'
  ccff2265fbf402dc8cd4678d2eea003bb83724c1
Due: none

Problems API for AvaTax app (#2261)
  .changeset/nine-doors-grow.md
  apps/avatax/package.json
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/modules/app-problems/avatax-problem-reporter.test.ts
  apps/avatax/src/modules/app-problems/avatax-problem-reporter.ts
  apps/avatax/src/modules/app-problems/create-avatax-problem-reporter.ts
  apps/avatax/src/modules/app-problems/index.ts
  apps/avatax/src/modules/avatax/avatax-connection.router.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-codes.router.ts
  pnpm-lock.yaml
Due: avatax

Notes added by 'git notes add'
  a47243f816113f5f36f4fdc8e001f63c0b283e88
Due: none

Notes added by 'git notes add'
  0e9c8f5cce9dc5baabea6675f11fb085c7bcc325
Due: none

Notes added by 'git notes add'
  5082955a2c1aa934a7e66d7264ecbe1958285ca4
Due: none

missing problems
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/modules/app-problems/avatax-problem-reporter.test.ts
  apps/avatax/src/modules/app-problems/avatax-problem-reporter.ts
  apps/avatax/src/modules/channel-configuration/channel-configuration.router.ts
Due: avatax

Notes added by 'git notes add'
  4a944dbb99850f8eef0dd0a3696e4a4aa57633b2
Due: none

missing problems (#2264)
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/modules/app-problems/avatax-problem-reporter.test.ts
  apps/avatax/src/modules/app-problems/avatax-problem-reporter.ts
  apps/avatax/src/modules/channel-configuration/channel-configuration.router.ts
Due: avatax

chore(ui): remove Layout.AppSection from all custom apps
  apps/mtg-import/src/pages/import/[id].tsx
  apps/mtg-import/src/pages/import/index.tsx
  apps/mtg-import/src/pages/import/new.tsx
  apps/mtg-import/src/pages/index.tsx
  apps/mtg-import/src/pages/sets.tsx
  apps/mtg-import/src/pages/settings.tsx
  apps/mtg-import/src/ui/components/loading-skeleton.tsx
Due: none

Add problems API for PF app
  apps/products-feed/package.json
  apps/products-feed/src/modules/app-problems/create-products-feed-problem-reporter.ts
  apps/products-feed/src/modules/app-problems/index.ts
  apps/products-feed/src/modules/app-problems/products-feed-problem-reporter.test.ts
  apps/products-feed/src/modules/app-problems/products-feed-problem-reporter.ts
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
  pnpm-lock.yaml
Due: products-feed

Notes added by 'git notes add'
  27e1428e3a1f693e91f1f8b0dddec85179062f81
Due: none
