Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

add more logs
  apps/avatax/src/modules/app/metadata-manager.ts
  apps/klaviyo/src/pages/api/configuration.ts
  apps/products-feed/src/lib/metadata-manager.ts
  apps/search/src/lib/algolia/getAlgoliaConfiguration.ts
Due: avatax, products-feed, search

update scripts for metadata rotation
  apps/avatax/scripts/rotate-secret-key.ts
  apps/cms/scripts/rotate-secret-key.ts
  apps/klaviyo/scripts/rotate-secret-key.ts
  apps/np-atobarai/scripts/rotate-secret-key.ts
  apps/products-feed/scripts/rotate-secret-key.ts
  apps/search/scripts/rotate-secret-key.ts
  apps/segment/scripts/rotate-secret-key.ts
  apps/smtp/scripts/rotate-secret-key.ts
  apps/stripe/scripts/rotate-secret-key.ts
  packages/shared/package.json
  packages/shared/src/key-rotation/fetch-metadata-rotation-items.ts
  packages/shared/src/key-rotation/save-metadata-rotation-item.ts
  packages/shared/src/key-rotation/secret-key-rotation-runner.test.ts
  packages/shared/src/key-rotation/secret-key-rotation-runner.ts
  packages/shared/src/key-rotation/try-decrypt-with-fallback.test.ts
  packages/shared/src/key-rotation/try-decrypt-with-fallback.ts
Due: shared

replace changeset
  .changeset/gentle-islands-love.md
  .changeset/metal-bugs-doubt.md
Due: none

Handle deactivation on invalid api key
  .changeset/open-singers-hide.md
  apps/search/src/modules/app-problems/search-problem-reporter.test.ts
  apps/search/src/modules/app-problems/search-problem-reporter.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/webhooks/saleor/category_created.test.ts
  apps/search/src/pages/api/webhooks/saleor/category_created.ts
  apps/search/src/pages/api/webhooks/saleor/category_deleted.test.ts
  apps/search/src/pages/api/webhooks/saleor/category_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/category_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/category_updated.ts
  apps/search/src/pages/api/webhooks/saleor/page_created.ts
  apps/search/src/pages/api/webhooks/saleor/page_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/page_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_back_in_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_out_of_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
Due: search

Notes added by 'git notes add'
  f59c545874e65e55d8d087e65c53c126c557766a
Due: none

Segment OTEL flushing
  .changeset/chubby-bats-draw.md
  apps/segment/src/lib/trace-effect.ts
  apps/segment/src/modules/segment/segment.client.ts
Due: segment

Notes added by 'git notes add'
  cd60a18241e35c760f40e4714b8b83d25288c4f8
Due: none

update graphql
  apps/smtp/generated/graphql.ts
Due: none

use logger type from shared package
  packages/shared/package.json
  packages/shared/src/metadata-manager.ts
  packages/shared/src/types.ts
  pnpm-lock.yaml
Due: shared

surface network error details (#2321)
  .changeset/gentle-islands-love.md
  apps/avatax/src/modules/app/metadata-manager.ts
  apps/cms/src/modules/configuration/metadata-manager.ts
  apps/klaviyo/src/lib/metadata.ts
  apps/klaviyo/src/pages/api/configuration.ts
  apps/products-feed/src/lib/metadata-manager.ts
  apps/search/src/lib/algolia/getAlgoliaConfiguration.ts
  apps/search/src/lib/metadata.ts
  apps/search/src/webhooks/webhook-context.ts
  apps/smtp/generated/graphql.ts
  apps/smtp/src/lib/metadata-manager.ts
  packages/shared/package.json
  packages/shared/src/metadata-manager.ts
  pnpm-lock.yaml
Due: avatax, cms, products-feed, search, smtp, shared

remove unused docs
  apps/smtp/docs/audit-handlebars-helpers.md
Due: smtp

Remove SMTP app script (#2318)
  apps/smtp/docs/audit-handlebars-helpers.md
  apps/smtp/package.json
  apps/smtp/scripts/audit-handlebars-helpers.ts
  apps/smtp/scripts/deploy.ts
  apps/smtp/scripts/dump-templates.ts
  apps/smtp/scripts/require-shim.mjs
Due: smtp

fix linter
  apps/klaviyo/scripts/rotate-secret-key.ts
  apps/klaviyo/src/lib/metadata.ts
  apps/np-atobarai/scripts/rotate-secret-key.ts
  apps/search/scripts/rotate-secret-key.ts
  apps/segment/scripts/rotate-secret-key.ts
  apps/stripe/scripts/rotate-secret-key.ts
Due: none

fix app crash on local development without encryption key
  packages/shared/src/metadata-manager.ts
Due: shared

migrate to use logger
  packages/shared/src/key-rotation/rotating-decrypt-callback.ts
  packages/shared/src/key-rotation/rotating-encryptor.ts
  packages/shared/src/key-rotation/try-decrypt-with-fallback.ts
  packages/shared/src/metadata-manager.ts
Due: shared

add missing require compatibility for migration scripts
  apps/cms/src/logger.ts
  apps/klaviyo/src/logger.ts
  apps/products-feed/src/logger.ts
  apps/smtp/src/logger.ts
Due: cms, products-feed, smtp

Add smtp audit logs for template changes (#2297)
  .changeset/violet-dots-begin.md
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
Due: smtp

Segment OTEL flushing (#2322)
  .changeset/chubby-bats-draw.md
  apps/segment/src/lib/trace-effect.ts
  apps/segment/src/modules/segment/segment.client.ts
Due: segment

update usage to use logger
  apps/avatax/scripts/rotate-secret-key.ts
  apps/avatax/src/modules/app/get-app-config.ts
  apps/avatax/src/modules/app/metadata-manager.ts
  apps/cms/scripts/migration-logger.ts
  apps/cms/scripts/rotate-secret-key.ts
  apps/klaviyo/scripts/migration-logger.ts
  apps/klaviyo/scripts/rotate-secret-key.ts
  apps/np-atobarai/scripts/rotate-secret-key.ts
  apps/np-atobarai/src/modules/app-config/repo/app-config-repo.ts
  apps/products-feed/scripts/rotate-secret-key.ts
  apps/products-feed/src/lib/metadata-manager.ts
  apps/search/scripts/rotate-secret-key.ts
  apps/segment/scripts/rotate-secret-key.ts
  apps/segment/src/modules/db/dynamo-config-mapper.test.ts
  apps/segment/src/modules/db/dynamo-config-mapper.ts
  apps/segment/src/modules/db/dynamo-config-repository.ts
  apps/smtp/scripts/rotate-secret-key.ts
  apps/stripe/scripts/rotate-secret-key.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
  packages/shared/src/key-rotation/fetch-metadata-rotation-items.ts
  packages/shared/src/key-rotation/try-decrypt-with-fallback.test.ts
Due: avatax, products-feed, segment, stripe, np-atobarai, shared

update all apps to use esm dynamic import instead of require
  apps/avatax/src/logger.ts
  apps/cms/src/logger.ts
  apps/klaviyo/src/logger.ts
  apps/products-feed/src/logger.ts
  apps/segment/src/logger.ts
  apps/smtp/src/logger.ts
Due: avatax, cms, products-feed, segment, smtp

remove barell file from key-rotation
  apps/avatax/src/modules/app/get-app-config.ts
  apps/avatax/src/modules/app/metadata-manager.ts
  apps/np-atobarai/src/modules/app-config/repo/app-config-repo.ts
  apps/products-feed/src/lib/metadata-manager.ts
  apps/segment/src/modules/db/dynamo-config-mapper.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
  packages/shared/package.json
  packages/shared/src/key-rotation/index.ts
  packages/shared/src/metadata-manager.ts
Due: avatax, products-feed, segment, stripe, np-atobarai, shared

revert app name change
  apps/np-atobarai/src/lib/env.ts
Due: np-atobarai

add changeset
  .changeset/curvy-ideas-write.md
Due: none

handle configuration fetch error in smtp app
  apps/smtp/src/modules/app-configuration/ui/messaging-providers-box.tsx
  apps/smtp/src/pages/configuration/index.tsx
Due: smtp

re-use decrypt method between calls
  apps/cms/src/modules/configuration/metadata-manager.ts
  apps/segment/src/modules/db/dynamo-config-mapper.ts
Due: cms, segment

rewrite migration script to use generator functions
  apps/np-atobarai/scripts/rotate-secret-key.ts
  apps/segment/scripts/rotate-secret-key.ts
  apps/stripe/scripts/rotate-secret-key.ts
  packages/shared/src/key-rotation/fetch-metadata-rotation-items.ts
  packages/shared/src/key-rotation/secret-key-rotation-runner.test.ts
  packages/shared/src/key-rotation/secret-key-rotation-runner.ts
Due: shared

add detection for false-positive secret when checking SECRET_KEY
  packages/shared/src/key-rotation/rotating-decrypt-callback.ts
  packages/shared/src/key-rotation/rotating-encryptor.ts
  packages/shared/src/key-rotation/secret-key-rotation-runner.ts
  packages/shared/src/key-rotation/try-decrypt-with-fallback.test.ts
  packages/shared/src/key-rotation/try-decrypt-with-fallback.ts
Due: shared

Apply suggestions from code review
  apps/smtp/src/modules/smtp/ui/smtp-section.tsx
Due: smtp

implicit tls 1.3+
  apps/smtp/src/modules/smtp/services/smtp-email-sender.ts
Due: smtp

Notes added by 'git notes add'
  e5df12bd18be30620e124a0ec17e3d2d0caae8ed
Due: none

Dropped support for TLS 1.1 and 1.2 (#2316)
  .changeset/true-islands-know.md
  apps/smtp/src/modules/smtp/services/smtp-email-sender.ts
  apps/smtp/src/modules/smtp/ui/smtp-section.tsx
Due: smtp

Update apps/search/src/modules/app-problems/search-problem-reporter.ts
  apps/search/src/modules/app-problems/search-problem-reporter.ts
Due: search

Handle appDeactivate domain errors and update auth error message
  apps/search/src/modules/app-problems/search-problem-reporter.test.ts
  apps/search/src/modules/app-problems/search-problem-reporter.ts
Due: search

Notes added by 'git notes add'
  3aa120179a8d705fee79537d11567d201bc8caf1
Due: none

disable app on removed algolia config (#2317)
  .changeset/open-singers-hide.md
  apps/search/generated/graphql.ts
  apps/search/graphql/mutations/AppDeactivate.graphql
  apps/search/package.json
  apps/search/src/lib/algolia/algolia-errors.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/modules/app-problems/search-problem-reporter.test.ts
  apps/search/src/modules/app-problems/search-problem-reporter.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/webhooks/saleor/category_created.test.ts
  apps/search/src/pages/api/webhooks/saleor/category_created.ts
  apps/search/src/pages/api/webhooks/saleor/category_deleted.test.ts
  apps/search/src/pages/api/webhooks/saleor/category_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/category_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/category_updated.ts
  apps/search/src/pages/api/webhooks/saleor/page_created.ts
  apps/search/src/pages/api/webhooks/saleor/page_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/page_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_back_in_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_out_of_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
  apps/search/src/webhooks/handle-invalid-app-id-error.test.ts
  apps/search/src/webhooks/handle-invalid-app-id-error.ts
  pnpm-lock.yaml
Due: search

cr: add sentry to rotation script
  apps/avatax/scripts/rotate-secret-key.ts
  apps/cms/scripts/rotate-secret-key.ts
  apps/klaviyo/scripts/rotate-secret-key.ts
  apps/np-atobarai/scripts/rotate-secret-key.ts
  apps/products-feed/scripts/rotate-secret-key.ts
  apps/search/scripts/rotate-secret-key.ts
  apps/segment/scripts/rotate-secret-key.ts
  apps/smtp/scripts/rotate-secret-key.ts
  apps/stripe/scripts/rotate-secret-key.ts
Due: none

CR: reuse existing dynamodb client
  apps/np-atobarai/scripts/rotate-secret-key.ts
  apps/segment/scripts/rotate-secret-key.ts
  apps/stripe/scripts/rotate-secret-key.ts
Due: none

cr: add shared runner for dynamodb metadata
  apps/np-atobarai/scripts/rotate-secret-key.ts
  apps/segment/scripts/rotate-secret-key.ts
  apps/stripe/scripts/rotate-secret-key.ts
  packages/shared/package.json
  packages/shared/src/key-rotation/dynamodb-secret-key-rotation-runner.ts
  pnpm-lock.yaml
Due: shared

cr: simplify tests
  packages/shared/src/key-rotation/try-decrypt-with-fallback.test.ts
Due: shared

cr: simplify test
  packages/shared/src/key-rotation/try-decrypt-with-fallback.test.ts
Due: shared

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
