Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

Allow using SKU as GTIN attribute (#2392)
  .changeset/products-feed-sku-as-gtin.md
  apps/products-feed/src/modules/app-configuration/app-config.test.ts
  apps/products-feed/src/modules/app-configuration/app-config.ts
  apps/products-feed/src/modules/app-configuration/attribute-mapping-form.tsx
  apps/products-feed/src/modules/google-feed/attribute-mapping.test.ts
  apps/products-feed/src/modules/google-feed/product-variant-to-proxy.test.ts
  apps/products-feed/src/modules/google-feed/product-variant-to-proxy.ts
  cspell.config.js
Due: products-feed

fix(smtp): map config service errors to correct tRPC codes
  .changeset/smtp-template-validation-bad-request.md
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
Due: smtp

fix(smtp): map config service errors to correct tRPC codes (#2395)
  .changeset/smtp-template-validation-bad-request.md
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
Due: smtp

Fix SMTP event template validation payload
  .changeset/soft-lamps-report.md
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/src/modules/smtp/services/__fixtures__/order-created-template.mjml
  apps/smtp/src/modules/smtp/services/order-created-customer-template.test.ts
Due: smtp

Fix SMTP event template validation payload (#2396)
  .changeset/soft-lamps-report.md
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/src/modules/smtp/services/__fixtures__/order-created-template.mjml
  apps/smtp/src/modules/smtp/services/order-created-customer-template.test.ts
Due: smtp

feat(smtp): expose order payment methods in ORDER_CREATED payload
  .changeset/smtp-order-created-payment-methods.md
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql/fragments/order-details.graphql
  apps/smtp/src/modules/event-handlers/default-payloads.ts
  apps/smtp/src/modules/smtp/default-templates.ts
  apps/smtp/src/pages/api/manifest.ts
Due: smtp

feat(smtp): expose order payment methods in ORDER_CREATED payload (#2398)
  .changeset/smtp-order-created-payment-methods.md
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql/fragments/order-details.graphql
  apps/smtp/src/modules/event-handlers/default-payloads.ts
  apps/smtp/src/modules/smtp/default-templates.ts
  apps/smtp/src/pages/api/manifest.ts
Due: smtp

feat(smtp): add per-configuration custom variables for templates
  .changeset/smtp-custom-variables.md
  apps/smtp/src/__tests__/pages-api-webhooks/notify.test.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/smtp/configuration/smtp-config-input-schema.ts
  apps/smtp/src/modules/smtp/configuration/smtp-config-schema.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/src/modules/smtp/configuration/smtp-update-custom-variables-schema.test.ts
  apps/smtp/src/modules/smtp/enrich-payload-with-config.test.ts
  apps/smtp/src/modules/smtp/enrich-payload-with-config.ts
  apps/smtp/src/modules/smtp/ui/event-form.tsx
  apps/smtp/src/modules/smtp/ui/smtp-custom-variables-section.tsx
  apps/smtp/src/modules/webhook-management/get-webhook-statuses-from-configurations.test.ts
  apps/smtp/src/pages/configuration/smtp/[configurationId].tsx
Due: smtp

build: add socket.yml
  socket.yml
Due: none

build: add socket.yml (#2400)
  socket.yml
Due: none

fix(smtp): harden custom variable keys against prototype pollution
  apps/smtp/src/modules/smtp/configuration/smtp-config-input-schema.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/src/modules/smtp/configuration/smtp-update-custom-variables-schema.test.ts
Due: smtp

Update GraphQL schema to released Saleor 3.23
  apps/dummy-payment-app/generated/graphql.ts
  apps/dummy-payment-app/package.json
  schema.graphql
Due: none

regenrate schema
  apps/anonymizer/generated/graphql.ts
  apps/avatax/e2e/generated/types.ts
  apps/np-atobarai/generated/graphql.ts
  apps/onboarding/generated/graphql.ts
  apps/stripe/e2e/generated/graphql.ts
Due: none

feat(smtp): add per-configuration custom variables for templates (#2399)
  .changeset/smtp-custom-variables.md
  apps/smtp/src/__tests__/pages-api-webhooks/notify.test.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/smtp/configuration/smtp-config-input-schema.ts
  apps/smtp/src/modules/smtp/configuration/smtp-config-schema.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/src/modules/smtp/configuration/smtp-update-custom-variables-schema.test.ts
  apps/smtp/src/modules/smtp/enrich-payload-with-config.test.ts
  apps/smtp/src/modules/smtp/enrich-payload-with-config.ts
  apps/smtp/src/modules/smtp/ui/event-form.tsx
  apps/smtp/src/modules/smtp/ui/smtp-custom-variables-section.tsx
  apps/smtp/src/modules/webhook-management/get-webhook-statuses-from-configurations.test.ts
  apps/smtp/src/pages/configuration/smtp/[configurationId].tsx
Due: smtp

Add custom price + reason for checkout lines in dummy-payment-app (#2393)
  .changeset/dummy-checkout-custom-price-reason.md
  .changeset/dummy-checkout-price-override-logging.md
  apps/dummy-payment-app/.env.example
  apps/dummy-payment-app/generated/graphql.ts
  apps/dummy-payment-app/graphql/mutations/create-checkout.graphql
  apps/dummy-payment-app/src/env.ts
  apps/dummy-payment-app/src/pages/api/manifest.ts
  apps/dummy-payment-app/src/pages/app/checkout.tsx
  apps/dummy-payment-app/src/server/routers/app-router.ts
  apps/dummy-payment-app/src/server/routers/checkout.router.ts
  apps/dummy-payment-app/turbo.json
Due: none

feat(avatax): add product tax code widget
  .changeset/avatax-product-tax-code-widget.md
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/queries/ProductTaxClass.graphql
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/modules/avatax/tax-code/resolve-product-tax-code.test.ts
  apps/avatax/src/modules/avatax/tax-code/resolve-product-tax-code.ts
  apps/avatax/src/modules/ui/widget-layout.tsx
  apps/avatax/src/pages/_app.tsx
  apps/avatax/src/pages/product-details.tsx
Due: avatax

fix(stripe): downgrade missing-config webhook log to warning
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
Due: stripe

chore: add changeset for stripe missing-config warning
  .changeset/stripe-config-missing-warning.md
Due: none

fix(stripe): use starred-block comment to satisfy eslint
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
Due: stripe

fix(stripe): downgrade missing-config webhook log to warning (#2404)
  .changeset/stripe-config-missing-warning.md
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
Due: stripe

fix(avatax): polish product tax code widget
  apps/avatax/src/modules/ui/widget-layout.tsx
  apps/avatax/src/pages/product-details.tsx
Due: avatax

fix(avatax): refine product tax code widget styling
  apps/avatax/src/pages/product-details.tsx
  apps/avatax/src/styles/globals.css
Due: avatax

link color
  apps/avatax/src/pages/product-details.tsx
Due: avatax

feat(avatax): add product tax code widget (#2405)
  .changeset/avatax-product-tax-code-widget.md
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/queries/ProductTaxClass.graphql
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/modules/avatax/tax-code/resolve-product-tax-code.test.ts
  apps/avatax/src/modules/avatax/tax-code/resolve-product-tax-code.ts
  apps/avatax/src/modules/ui/widget-layout.tsx
  apps/avatax/src/pages/_app.tsx
  apps/avatax/src/pages/product-details.tsx
  apps/avatax/src/styles/globals.css
Due: avatax

feat: update macaw-ui to v2, migrate icons to lucide
  .changeset/macaw-ui-v2-lucide-icons.md
  apps/anonymizer/package.json
  apps/avatax/package.json
  apps/avatax/src/modules/client-logs/ui/logs-browser.tsx
  apps/avatax/src/modules/ui/providers-table.tsx
  apps/cms/package.json
  apps/cms/src/modules/bulk-sync/bulk-sync-view.tsx
  apps/cms/src/modules/channel-provider-connection/add-connection-form.tsx
  apps/dummy-payment-app/package.json
  apps/dummy-payment-app/src/pages/app/checkout.tsx
  apps/dummy-payment-app/src/pages/app/transactions/[id].tsx
  apps/dummy-payment-app/src/providers/graph-ql-provider.tsx
  apps/klaviyo/package.json
  apps/np-atobarai/package.json
  apps/onboarding/package.json
  apps/onboarding/src/modules/onboarding/welcome-page-onboarding-accordion.tsx
  apps/onboarding/src/modules/onboarding/welcome-page-onboarding.tsx
  apps/products-feed/package.json
  apps/products-feed/src/modules/category-mapping/construct-category-breadcrumbs.tsx
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  apps/smtp/src/modules/channels/ui/universal-channels-section.tsx
  apps/stripe/package.json
  apps/stripe/src/modules/ui/stripe-configs/delete-configuration-modal-content.tsx
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/ui/src/configs-list.tsx
  packages/ui/src/delete-configuration-modal-content.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, shared

fix(avatax): migrate ExternalLinkIcon to lucide in product-details
  apps/avatax/src/pages/product-details.tsx
Due: avatax

feat: update macaw-ui to v2, migrate icons to lucide (#2408)
  .changeset/macaw-ui-v2-lucide-icons.md
  apps/anonymizer/package.json
  apps/avatax/package.json
  apps/avatax/src/modules/client-logs/ui/logs-browser.tsx
  apps/avatax/src/modules/ui/providers-table.tsx
  apps/avatax/src/pages/product-details.tsx
  apps/cms/package.json
  apps/cms/src/modules/bulk-sync/bulk-sync-view.tsx
  apps/cms/src/modules/channel-provider-connection/add-connection-form.tsx
  apps/dummy-payment-app/package.json
  apps/dummy-payment-app/src/pages/app/checkout.tsx
  apps/dummy-payment-app/src/pages/app/transactions/[id].tsx
  apps/dummy-payment-app/src/providers/graph-ql-provider.tsx
  apps/klaviyo/package.json
  apps/np-atobarai/package.json
  apps/onboarding/package.json
  apps/onboarding/src/modules/onboarding/welcome-page-onboarding-accordion.tsx
  apps/onboarding/src/modules/onboarding/welcome-page-onboarding.tsx
  apps/products-feed/package.json
  apps/products-feed/src/modules/category-mapping/construct-category-breadcrumbs.tsx
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  apps/smtp/src/modules/channels/ui/universal-channels-section.tsx
  apps/stripe/package.json
  apps/stripe/src/modules/ui/stripe-configs/delete-configuration-modal-content.tsx
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/ui/src/configs-list.tsx
  packages/ui/src/delete-configuration-modal-content.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, shared

fix: align lucide icon sizes and orders icon with dashboard conventions
  apps/avatax/src/modules/client-logs/ui/logs-browser.tsx
  apps/avatax/src/modules/ui/providers-table.tsx
  apps/cms/src/modules/bulk-sync/bulk-sync-view.tsx
  apps/cms/src/modules/channel-provider-connection/add-connection-form.tsx
  apps/dummy-payment-app/src/pages/app/checkout.tsx
  apps/dummy-payment-app/src/pages/app/transactions/[id].tsx
  apps/dummy-payment-app/src/providers/graph-ql-provider.tsx
  apps/onboarding/src/modules/onboarding/welcome-page-onboarding-accordion.tsx
  apps/onboarding/src/modules/onboarding/welcome-page-onboarding.tsx
  apps/products-feed/src/modules/category-mapping/construct-category-breadcrumbs.tsx
  apps/smtp/src/modules/channels/ui/universal-channels-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/delete-configuration-modal-content.tsx
  packages/ui/src/configs-list.tsx
  packages/ui/src/delete-configuration-modal-content.tsx
Due: avatax, cms, products-feed, smtp, stripe

fix: align lucide icon sizes and orders icon with dashboard conventions (#2409)
  apps/avatax/src/modules/client-logs/ui/logs-browser.tsx
  apps/avatax/src/modules/ui/providers-table.tsx
  apps/cms/src/modules/bulk-sync/bulk-sync-view.tsx
  apps/cms/src/modules/channel-provider-connection/add-connection-form.tsx
  apps/dummy-payment-app/src/pages/app/checkout.tsx
  apps/dummy-payment-app/src/pages/app/transactions/[id].tsx
  apps/dummy-payment-app/src/providers/graph-ql-provider.tsx
  apps/onboarding/src/modules/onboarding/welcome-page-onboarding-accordion.tsx
  apps/onboarding/src/modules/onboarding/welcome-page-onboarding.tsx
  apps/products-feed/src/modules/category-mapping/construct-category-breadcrumbs.tsx
  apps/smtp/src/modules/channels/ui/universal-channels-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/delete-configuration-modal-content.tsx
  packages/ui/src/configs-list.tsx
  packages/ui/src/delete-configuration-modal-content.tsx
Due: avatax, cms, products-feed, smtp, stripe

ci: automate production deploys via Vercel API with approval gate
  .github/workflows/deploy-production.yml
Due: none

fix(search): downgrade Algolia API errors to warnings and stop retrying 4xx
  .changeset/search-algolia-api-error-warning.md
  apps/search/src/lib/algolia/algolia-error-parser.ts
  apps/search/src/pages/api/webhooks/saleor/category_created.ts
  apps/search/src/pages/api/webhooks/saleor/category_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/category_updated.ts
  apps/search/src/pages/api/webhooks/saleor/page_created.ts
  apps/search/src/pages/api/webhooks/saleor/page_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/page_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_back_in_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_out_of_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
  apps/search/src/webhooks/handle-algolia-webhook-error.test.ts
  apps/search/src/webhooks/handle-algolia-webhook-error.ts
Due: search

agents mapping
  AGENTS.md
  cspell.config.js
Due: none

Fix Algolia error handling (#2411)
  .changeset/search-algolia-api-error-warning.md
  AGENTS.md
  apps/search/src/lib/algolia/algolia-error-parser.ts
  apps/search/src/pages/api/webhooks/saleor/category_created.ts
  apps/search/src/pages/api/webhooks/saleor/category_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/category_updated.ts
  apps/search/src/pages/api/webhooks/saleor/page_created.ts
  apps/search/src/pages/api/webhooks/saleor/page_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/page_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_back_in_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_out_of_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
  apps/search/src/webhooks/handle-algolia-webhook-error.test.ts
  apps/search/src/webhooks/handle-algolia-webhook-error.ts
  cspell.config.js
Due: search

feat(avatax): add tax code action to Dashboard command palette
  .changeset/avatax-tax-code-search-action.md
  apps/avatax/src/app/api/manifest/route.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax

Align Store Readiness changelog and App Store about
  .changeset/go-live-paper-tracks.md
  .changeset/onboarding-home-polish.md
  .changeset/store-readiness-checklist.md
  apps/onboarding/src/app/api/manifest/route.ts
Due: none

Avoid slow role queries in the ready-state checklist test
  apps/onboarding/src/modules/onboarding/store-readiness-checklist.test.tsx
Due: none

Make app pages full bleed inside the Dashboard iframe
  apps/stripe/src/pages/_app.tsx
  packages/ui-next/package.json
  packages/ui-next/src/styles/SOURCE.md
  packages/ui-next/src/styles/global.css
Due: stripe

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
