Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, logger, shared, webhook-utils

codecov.yml:

coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms-v2/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/

always sample for testing
  apps/avatax/src/instrumentations/node.ts
Due: avatax

Add bug report and feature request templates to GitHub workflows
  .github/bug_report.yaml
  .github/feature_request.yaml
Due: none

Add contributing guidelines section to README.md
  README.md
Due: none

Fix broken deps after PNPM update (#1773)
  .changeset/lucky-years-develop.md
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  package.json
  packages/e2e/package.json
  packages/eslint-config-saleor/package.json
  packages/logger/package.json
  packages/otel/package.json
  packages/react-hook-form-macaw/package.json
  packages/sentry-utils/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

Use shared lintstaged files
  .eslintrc.cjs
  .lintstagedrc.cjs
  apps/avatax/.lintstagedrc.cjs
  apps/cms/.lintstagedrc.cjs
  apps/klaviyo/.lintstagedrc.cjs
  apps/products-feed/.lintstagedrc.cjs
  apps/search/.lintstagedrc.cjs
  apps/segment/.lintstagedrc.cjs
  apps/smtp/.lintstagedrc.cjs
  package.json
  packages/e2e/.lintstagedrc.cjs
  packages/eslint-config/.lintstagedrc.cjs
  packages/logger/.lintstagedrc.cjs
  packages/otel/.lintstagedrc.cjs
  packages/react-hook-form-macaw/.lintstagedrc.cjs
  packages/sentry-utils/.lintstagedrc.cjs
  packages/shared/.lintstagedrc.cjs
  packages/trpc/.lintstagedrc.cjs
  packages/typescript-config/.lintstagedrc.cjs
  packages/ui/.lintstagedrc.cjs
  packages/webhook-utils/.lintstagedrc.cjs
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

Fix lintstaged
  .lintstagedrc.js
  apps/avatax/.lintstagedrc.cjs
  apps/avatax/.lintstagedrc.js
  apps/cms/.lintstagedrc.cjs
  apps/cms/.lintstagedrc.js
  apps/klaviyo/.lintstagedrc.cjs
  apps/klaviyo/.lintstagedrc.js
  apps/products-feed/.lintstagedrc.cjs
  apps/products-feed/.lintstagedrc.js
  apps/search/.lintstagedrc.cjs
  apps/search/.lintstagedrc.js
  apps/segment/.lintstagedrc.cjs
  apps/segment/.lintstagedrc.js
  apps/smtp/.lintstagedrc.cjs
  apps/smtp/.lintstagedrc.js
  package.json
  packages/e2e/.lintstagedrc.cjs
  packages/e2e/.lintstagedrc.js
  packages/eslint-config/.lintstagedrc.cjs
  packages/eslint-config/.lintstagedrc.js
  packages/eslint-config/package.json
  packages/logger/.lintstagedrc.cjs
  packages/logger/.lintstagedrc.js
  packages/otel/.lintstagedrc.cjs
  packages/otel/.lintstagedrc.js
  packages/react-hook-form-macaw/.lintstagedrc.cjs
  packages/react-hook-form-macaw/.lintstagedrc.js
  packages/sentry-utils/.lintstagedrc.cjs
  packages/sentry-utils/.lintstagedrc.js
  packages/shared/.lintstagedrc.cjs
  packages/shared/.lintstagedrc.js
  packages/trpc/.lintstagedrc.cjs
  packages/trpc/.lintstagedrc.js
  packages/typescript-config/.lintstagedrc.cjs
  packages/typescript-config/.lintstagedrc.js
  packages/typescript-config/package.json
  packages/ui/.lintstagedrc.cjs
  packages/ui/.lintstagedrc.js
  packages/webhook-utils/.lintstagedrc.cjs
  packages/webhook-utils/.lintstagedrc.js
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

Fix eslint
  packages/eslint-config/index.cjs
  packages/eslint-config/package.json
Due: none

use node types only where needed
  package.json
  packages/otel/package.json
  packages/sentry-utils/package.json
  pnpm-lock.yaml
Due: none

fix tsc
  apps/klaviyo/package.json
  packages/e2e/package.json
  packages/trpc/package.json
  pnpm-lock.yaml
Due: none

Fix require logger in AvaTax app (#1770)
  .changeset/lovely-ravens-rest.md
  apps/avatax/src/logger.ts
Due: avatax

Update bug_report.yaml
  .github/bug_report.yaml
Due: none

Update feature_request.yaml
  .github/feature_request.yaml
Due: none

fix broken changeset
  .changeset/lucky-years-develop.md
Due: none

wip
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-tax-code-matcher.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-product-line-calculate-taxes-factory.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/extract-rate-from-tax-details.test.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter-factory.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload.service.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-response-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-tax-code-matcher.test.ts
  apps/avatax/src/modules/avatax/ui/avatax-address-resolution-processor.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/channel-configuration/channel-configuration-merger.test.ts
  apps/avatax/src/modules/client-logs/client-log.test.ts
  apps/avatax/src/modules/client-logs/dynamo-schema.test.ts
  apps/avatax/src/modules/client-logs/log-transformer.test.ts
  apps/avatax/src/modules/crud-settings/crud-settings.service.test.ts
  apps/avatax/src/modules/saleor/order-confirmed/event.test.ts
  apps/avatax/src/modules/taxes/tax-webhook-adapter.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Due: avatax

fix eslint vol.2
  apps/avatax/src/modules/app/get-app-config.test.ts
  apps/avatax/src/modules/avatax/address-factory.test.ts
  apps/avatax/src/modules/avatax/avatax-calculation-date-resolver.test.ts
  apps/avatax/src/modules/avatax/avatax-obfuscator.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload.service.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.test.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Due: avatax

add eslint
  apps/avatax/.eslintrc.cjs
Due: avatax

Migrate AvaTax to sdk v1
  apps/avatax/generated/graphql.ts
  apps/avatax/saleor-app.ts
  apps/avatax/scripts/run-webhooks-migration.ts
  apps/avatax/src/modules/app/metadata-manager.ts
  apps/avatax/src/modules/taxes/tax-provider-webhook.ts
  apps/avatax/src/modules/trpc/protected-client-procedure.ts
  apps/avatax/src/modules/trpc/trpc-client.ts
  apps/avatax/src/modules/trpc/trpc-context.ts
  apps/avatax/src/modules/webhooks/definitions/checkout-calculate-taxes.ts
  apps/avatax/src/modules/webhooks/definitions/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  package.json
  packages/logger/src/logger-context.ts
  packages/otel/src/with-span-attributes.ts
  pnpm-lock.yaml
Due: avatax, logger

Migrate checkout-calc-taxes route
  .gitignore
  apps/avatax/next-env.d.ts
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/tsconfig.json
Due: avatax

Migrate to app router for checkout-calc-taxes
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/lib/app-metadata-cache.ts
  apps/avatax/src/logger-context.ts
  apps/avatax/tsconfig.json
  packages/logger/src/logger-context.ts
  packages/otel/src/with-span-attributes.ts
Due: avatax, logger

fix broken changeset (#1779)
  .changeset/lucky-years-develop.md
Due: none

Improve OTEL provider GitHub integration (#1765)
  .changeset/plenty-pets-pull.md
  .changeset/tame-weeks-warn.md
  apps/avatax/src/env.ts
  apps/avatax/src/instrumentations/otel-node.ts
  apps/cms/src/instrumentations/otel-node.ts
  apps/klaviyo/src/instrumentations/otel-node.ts
  apps/products-feed/src/instrumentations/otel-node.ts
  apps/search/src/instrumentations/otel-node.ts
  apps/segment/src/env.ts
  apps/segment/src/instrumentations/otel-node.ts
  apps/smtp/src/instrumentations/otel-node.ts
  packages/otel/src/observability-attributes.ts
  turbo.json
Due: avatax, products-feed, search, segment, smtp

Release apps (#1777)
  .changeset/lovely-ravens-rest.md
  .changeset/lucky-years-develop.md
  .changeset/neat-cougars-cross.md
  .changeset/plenty-pets-pull.md
  .changeset/tame-weeks-warn.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/e2e/CHANGELOG.md
  packages/e2e/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
  packages/react-hook-form-macaw/CHANGELOG.md
  packages/react-hook-form-macaw/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
  packages/typescript-config/CHANGELOG.md
  packages/typescript-config/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/webhook-utils/CHANGELOG.md
  packages/webhook-utils/package.json
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

Fix AvaTax lint issues (#1780)
  apps/avatax/.eslintrc.cjs
  apps/avatax/src/modules/app/get-app-config.test.ts
  apps/avatax/src/modules/avatax/address-factory.test.ts
  apps/avatax/src/modules/avatax/avatax-calculation-date-resolver.test.ts
  apps/avatax/src/modules/avatax/avatax-obfuscator.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload.service.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-tax-code-matcher.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-product-line-calculate-taxes-factory.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/extract-rate-from-tax-details.test.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.test.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter-factory.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload.service.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-response-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-tax-code-matcher.test.ts
  apps/avatax/src/modules/avatax/ui/avatax-address-resolution-processor.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/channel-configuration/channel-configuration-merger.test.ts
  apps/avatax/src/modules/client-logs/client-log.test.ts
  apps/avatax/src/modules/client-logs/dynamo-schema.test.ts
  apps/avatax/src/modules/client-logs/log-transformer.test.ts
  apps/avatax/src/modules/crud-settings/crud-settings.service.test.ts
  apps/avatax/src/modules/saleor/order-confirmed/event.test.ts
  apps/avatax/src/modules/taxes/tax-webhook-adapter.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Due: avatax

Update next to 15
  apps/avatax/next-env.d.ts
  apps/avatax/next.config.ts
  apps/avatax/package.json
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/pages/_app.tsx
  apps/avatax/tsconfig.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/logger/src/logger-sentry-transport.ts
  packages/otel/package.json
  packages/otel/src/with-span-attributes.ts
  packages/react-hook-form-macaw/src/components/Select.tsx
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

add missing env var
  apps/avatax/turbo.json
Due: avatax

Fix wrong observability attribute key name
  .changeset/famous-owls-pull.md
  packages/otel/src/observability-attributes.ts
Due: none

Fix wrong observability attribute key name (#1782)
  .changeset/famous-owls-pull.md
  packages/otel/src/observability-attributes.ts
Due: none

Release apps (#1783)
  .changeset/famous-owls-pull.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
Due: avatax, products-feed, search, segment, smtp

Update app-sdk
  package.json
  pnpm-lock.yaml
Due: none
