Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, logger, shared, webhook-utils

codecov.yml:

coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms-v2/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/

Release apps (#1735)
  .changeset/great-geese-collect.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Due: avatax, products-feed, search, segment, smtp

Fix TTL for AvaTax client logs
  .changeset/big-chicken-play.md
  apps/avatax/src/modules/client-logs/dynamo-schema.test.ts
  apps/avatax/src/modules/client-logs/dynamo-schema.ts
Due: avatax

Fix TTL for AvaTax client logs (#1736)
  .changeset/big-chicken-play.md
  apps/avatax/src/modules/client-logs/dynamo-schema.test.ts
  apps/avatax/src/modules/client-logs/dynamo-schema.ts
Due: avatax

Update 1password vault for GHA
  .github/workflows/e2e.yml
Due: none

Update 1password vault for GHA (#1738)
  .github/workflows/e2e.yml
Due: none

Release apps (#1737)
  .changeset/big-chicken-play.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
Due: avatax

add github-releases-to-discord workflow
  .github/workflows/github-releases-to-discord.yml
Due: none

cleanup
  apps/avatax/next.config.js
  apps/avatax/package.json
  apps/avatax/src/lib/app-configuration-logger.test.ts
  apps/avatax/src/lib/app-configuration-logger.ts
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/avatax/src/pages/api/manifest.ts
  apps/avatax/src/pages/api/register.ts
  apps/avatax/src/pages/api/trpc/[trpc].ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Due: avatax

Setup instrumentation hook
  apps/avatax/instrumentation.node.ts
  apps/avatax/instrumentation.ts
  apps/avatax/next.config.js
  apps/avatax/package.json
  apps/avatax/src/env.ts
  pnpm-lock.yaml
Due: avatax

Inital setup
  apps/avatax/package.json
  apps/avatax/src/instrumentation.node.ts
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/lib/otel-wrapper.ts
  apps/avatax/src/pages/api/manifest.ts
  pnpm-lock.yaml
Due: avatax

fix instrumentation.ts
  apps/avatax/src/instrumentation.ts
Due: avatax

add x-alb-access-token
  apps/avatax/src/env.ts
  apps/avatax/src/instrumentation.node.ts
  apps/avatax/turbo.json
Due: avatax

Add custom span
  apps/avatax/src/pages/api/manifest.ts
Due: avatax

add custom span to calc taxes
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
Due: avatax

Add sampler
  apps/avatax/src/instrumentation.node.ts
  apps/avatax/src/lib/otel-sampler.ts
  apps/avatax/src/pages/api/manifest.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
Due: avatax

add custom attr
  apps/avatax/src/instrumentation.node.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
Due: avatax

Add wrap with span attrs
  apps/avatax/src/lib/wrap-with-span-attrs.ts
  apps/avatax/src/pages/api/manifest.ts
  apps/avatax/src/pages/api/register.ts
  apps/avatax/src/pages/api/trpc/[trpc].ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Due: avatax

use batch span processor
  apps/avatax/src/instrumentation.node.ts
Due: avatax

use batch span processor without options
  apps/avatax/src/instrumentation.node.ts
Due: avatax

Add instrumentations & textMapPropagator
  apps/avatax/src/instrumentation.node.ts
Due: avatax

Add otelExchange
  apps/avatax/package.json
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
  pnpm-lock.yaml
Due: avatax

fix path to otel exchange
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
Due: avatax

revert apps/otel
  apps/avatax/package.json
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
  pnpm-lock.yaml
Due: avatax

add otel exchange
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
  apps/avatax/src/lib/otel-exchange.ts
Due: avatax

flaten strcutre for log
  packages/logger/src/logger-vercel-runtime-transport.ts
Due: logger

use dd to send logs
  packages/logger/src/logger-vercel-runtime-transport.ts
Due: logger

use otel instead of dd
  packages/logger/src/logger-vercel-runtime-transport.ts
Due: logger

rename instrumentation
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/otel-instrumentation.node.ts
Due: avatax

cleanup otel pkg
  packages/otel/index.ts
  packages/otel/package.json
  packages/otel/src/get-attributes-from-request.ts
  packages/otel/src/instrumentation.ts
  packages/otel/src/lib/observability-attributes.ts
  packages/otel/src/lib/race.ts
  packages/otel/src/otel-exchange.ts
  packages/otel/src/otel-graphql-utils.ts
  packages/otel/src/otel-logs-setup.ts
  packages/otel/src/otel-tracer.ts
  packages/otel/src/otel-traces-setup.ts
  packages/otel/src/otel-wrapper.ts
  packages/otel/src/shared-config.ts
Due: none

test hook with import from pkgs
  apps/avatax/package.json
  apps/avatax/src/otel-instrumentation.node.ts
  packages/otel/src/batch-span-processor-factory.ts
  pnpm-lock.yaml
Due: avatax

additional factories
  apps/avatax/src/otel-instrumentation.node.ts
  packages/otel/package.json
  packages/otel/src/http-instrumentation-factory.ts
  packages/otel/src/resource-factory.ts
Due: avatax

add observability attributes
  apps/avatax/src/lib/app-configuration-logger.test.ts
  apps/avatax/src/lib/app-configuration-logger.ts
  apps/avatax/src/lib/otel-wrapper.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
  packages/logger/src/logger-vercel-runtime-transport.ts
  packages/otel/package.json
  packages/otel/src/observability-attributes.ts
Due: avatax, logger

add urql exchange
  apps/avatax/src/lib/app-root-tracer.ts
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
  apps/avatax/src/lib/otel-exchange.ts
  packages/otel/package.json
  packages/otel/src/otel-urql-exchange-factory.ts
Due: avatax

add wrapWithSpanAttributes
  apps/avatax/src/lib/otel-sampler.ts
  apps/avatax/src/pages/api/manifest.ts
  apps/avatax/src/pages/api/register.ts
  apps/avatax/src/pages/api/trpc/[trpc].ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
  packages/otel/package.json
  packages/otel/src/wrap-with-span-attributes.ts
Due: avatax

cleanup
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/lib/otel-sampler.ts
  apps/avatax/src/otel-instrumentation.node.ts
  apps/avatax/src/pages/api/manifest.ts
  packages/otel/package.json
Due: avatax
