Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

Applied ESLint fixes to the changeset file.
  .changeset/flat-islands-try.md
Due: none

Fix flaky integration test: use random idempotency key instead of hardcoded value
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-initialize-session-fixture.ts
Due: stripe

Notes added by 'git notes add'
  d4c50c4a26410e63111e6e34e3315a70ac08b75f
Due: none

Notes added by 'git notes add'
  efec460dc24d36f420c47683da8cb991171698e9
Due: none

Skill to bootstrap monorepo package
  .claude/skills/create-saleor-package/SKILL.md
  .claude/skills/create-saleor-package/scripts/scaffold.sh
Due: none

Notes added by 'git notes add'
  6258b3eaf8e541fc457dd018167d7c1215cdb6b1
Due: none

add app-problems package
  .changeset/rare-worms-retire.md
  packages/app-problems/CHANGELOG.md
  packages/app-problems/eslint.config.js
  packages/app-problems/generated/graphql.ts
  packages/app-problems/graphql.config.ts
  packages/app-problems/graphql/mutations.graphql
  packages/app-problems/graphql/schema.graphql
  packages/app-problems/lint-staged.config.js
  packages/app-problems/package.json
  packages/app-problems/src/app-problems-reporter.test.ts
  packages/app-problems/src/app-problems-reporter.ts
  packages/app-problems/src/index.ts
  packages/app-problems/tsconfig.json
  packages/app-problems/turbo.json
  packages/app-problems/vitest.config.ts
Due: none

Notes added by 'git notes add'
  4f64ff1e721c5132fd58b3b788bf8170842c235f
Due: none

update lock
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  86a07a2b0ff5535febad2213250ad9aa4cf00ec6
Due: none

add checking api compatibility
  .changeset/breezy-apricots-refuse.md
  packages/app-problems/package.json
  packages/app-problems/src/app-problems-reporter.test.ts
  packages/app-problems/src/app-problems-reporter.ts
  packages/shared/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: shared, webhook-utils

Notes added by 'git notes add'
  d98d36b52757a97c63693712d990dd837b8f1e60
Due: none

Apply suggestion from @Copilot
  .changeset/rare-worms-retire.md
Due: none

share graphql schema
  .changeset/spotty-plants-sleep.md
  apps/avatax/graphql/schema.graphql
  apps/avatax/package.json
  apps/cms/graphql/schema.graphql
  apps/cms/package.json
  apps/klaviyo/graphql/schema.graphql
  apps/klaviyo/package.json
  apps/np-atobarai/graphql/schema.graphql
  apps/np-atobarai/package.json
  apps/products-feed/graphql/schema.graphql
  apps/products-feed/package.json
  apps/search/graphql/schema.graphql
  apps/search/package.json
  apps/segment/graphql/schema.graphql
  apps/segment/package.json
  apps/smtp/graphql/schema.graphql
  apps/smtp/package.json
  apps/stripe/graphql/schema.graphql
  apps/stripe/package.json
  package.json
  packages/webhook-utils/generated/schema.graphql
  packages/webhook-utils/graphql/schema.graphql
  packages/webhook-utils/package.json
  schema.graphql
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, webhook-utils

Notes added by 'git notes add'
  cb1fe5575e313b13930f0ac2be43c633ad578f30
Due: none

Notes added by 'git notes add'
  ced7e057729e2f4887e5e71b6f18699f35eeb35f
Due: none

fixes
  apps/avatax/e2e/generated/types.ts
  apps/avatax/generated/graphql.ts
  apps/avatax/package.json
  apps/cms/generated/graphql.ts
  apps/cms/package.json
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/package.json
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/package.json
  apps/products-feed/generated/graphql.ts
  apps/products-feed/package.json
  apps/search/generated/graphql.ts
  apps/search/package.json
  apps/segment/generated/graphql.ts
  apps/segment/package.json
  apps/smtp/generated/graphql.ts
  apps/smtp/package.json
  apps/stripe/e2e/generated/graphql.ts
  apps/stripe/generated/graphql.ts
  apps/stripe/package.json
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/graphql.config.ts
  packages/webhook-utils/package.json
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, webhook-utils

Notes added by 'git notes add'
  c70a2b002d0b3791d0f67aa80e5c143c46d03cd5
Due: none

Notes added by 'git notes add'
  24a0697ec18313d65e0a636a7f707c37fc9ef4c4
  afd2242536820c17e68ed26abb929906a9322ecc
Due: none

fixes
  packages/app-problems/graphql/app-problem-create.graphql
  packages/app-problems/graphql/app-problem-dismiss-by-key.graphql
  packages/app-problems/package.json
  packages/app-problems/src/app-problems-reporter.test.ts
Due: none

update generated
  .prettierignore
Due: none

Notes added by 'git notes add'
  348f17a127a484b18dd146910ae7a6a4940f66cf
  dbf50c11d21066ab9fb71406f2b81ad6d9fec2fe
Due: none

Skill to bootstrap monorepo package (#2250)
  .claude/skills/create-saleor-package/SKILL.md
  .claude/skills/create-saleor-package/scripts/scaffold.sh
Due: none

Notes added by 'git notes add'
  2749f42b38ba1574f77654722949d8ae7a3d3a8d
Due: none

fix import
  packages/app-problems/src/app-problems-reporter.ts
Due: none

Notes added by 'git notes add'
  c90db4ca8f3ede41ea0cc805e689125c1192f585
  fbacfd87e4955ee0218ff4f78ac70517a0f66f01
Due: none

generate
  packages/app-problems/generated/graphql.ts
Due: none

add app-problems package (#2251)
  .changeset/breezy-apricots-refuse.md
  .changeset/rare-worms-retire.md
  .prettierignore
  packages/app-problems/CHANGELOG.md
  packages/app-problems/eslint.config.js
  packages/app-problems/generated/graphql.ts
  packages/app-problems/graphql.config.ts
  packages/app-problems/graphql/app-problem-create.graphql
  packages/app-problems/graphql/app-problem-dismiss-by-key.graphql
  packages/app-problems/graphql/schema.graphql
  packages/app-problems/lint-staged.config.js
  packages/app-problems/package.json
  packages/app-problems/src/app-problems-reporter.test.ts
  packages/app-problems/src/app-problems-reporter.ts
  packages/app-problems/src/index.ts
  packages/app-problems/tsconfig.json
  packages/app-problems/turbo.json
  packages/app-problems/vitest.config.ts
  packages/shared/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: shared

fix symlink
  packages/app-problems/graphql/schema.graphql
Due: none

Notes added by 'git notes add'
  1652cab3a6a4a127d63acca4279ff21170272d2c
Due: none

share graphql schema (#2253)
  .changeset/spotty-plants-sleep.md
  apps/avatax/e2e/generated/types.ts
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/schema.graphql
  apps/avatax/package.json
  apps/cms/generated/graphql.ts
  apps/cms/graphql/schema.graphql
  apps/cms/package.json
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/graphql/schema.graphql
  apps/klaviyo/package.json
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/schema.graphql
  apps/np-atobarai/package.json
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql/schema.graphql
  apps/products-feed/package.json
  apps/search/generated/graphql.ts
  apps/search/graphql/schema.graphql
  apps/search/package.json
  apps/segment/generated/graphql.ts
  apps/segment/graphql/schema.graphql
  apps/segment/package.json
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql/schema.graphql
  apps/smtp/package.json
  apps/stripe/e2e/generated/graphql.ts
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/schema.graphql
  apps/stripe/package.json
  package.json
  packages/app-problems/graphql/schema.graphql
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/generated/schema.graphql
  packages/webhook-utils/graphql.config.ts
  packages/webhook-utils/graphql/schema.graphql
  packages/webhook-utils/package.json
  schema.graphql
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, webhook-utils

Auto-refresh schema workflow
  .github/workflows/graphql-schema-updater.yml
Due: none

Apply suggestion from @Copilot
  .github/workflows/graphql-schema-updater.yml
Due: none

Notes added by 'git notes add'
  43598259e49cbe4566a0d8647e9579da43400a84
  61e08df8338e6b7d5f92625a204d92d9cfd176d6
  810363e96f8e34f1a8c17dfad23b1e97d58cf62f
  8decfa3ff3f3e17192e691faae5d1f408ba43dc3
  9ec54f112dba3c0e1bd550fae35b3a2c0ddd11c3
  c7fcffe398528338fa7599f9864be8d172200cc5
Due: none

set permissions
  .github/workflows/graphql-schema-updater.yml
Due: none

Schema auto update (#2254)
  .github/workflows/graphql-schema-updater.yml
Due: none

problem reporter
  apps/stripe/src/__tests__/mocks/mock-stripe-problem-reporter.ts
  apps/stripe/src/modules/app-problems/create-stripe-problem-reporter.ts
  apps/stripe/src/modules/app-problems/index.ts
  apps/stripe/src/modules/app-problems/stripe-problem-reporter.test.ts
  apps/stripe/src/modules/app-problems/stripe-problem-reporter.ts
Due: stripe

Notes added by 'git notes add'
  309c96e34392e5889cab8753cdbba362931d2dbc
  402c92261d2fe403168dd88b1a8a1866b2db4ce2
Due: none

install packages
  apps/stripe/package.json
  pnpm-lock.yaml
Due: stripe

Notes added by 'git notes add'
  658f107e49e0701503cd19a5931d93545881baed
Due: none

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
