Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

Point onboarding go-live email steps at Customer Emails
  .changeset/onboarding-customer-emails.md
  apps/onboarding/README.md
  apps/onboarding/src/app/api/manifest/route.ts
  apps/onboarding/src/modules/onboarding/hooks/use-app-redirect.test.ts
  apps/onboarding/src/modules/onboarding/readiness/app-identifiers.ts
  apps/onboarding/src/modules/onboarding/readiness/get-store-readiness.test.ts
  apps/onboarding/src/modules/onboarding/readiness/get-store-readiness.ts
  apps/onboarding/src/modules/onboarding/readiness/go-live-copy.test.ts
  apps/onboarding/src/modules/onboarding/readiness/go-live-copy.ts
  apps/onboarding/src/modules/onboarding/readiness/home-snapshot.test.ts
  apps/onboarding/src/modules/onboarding/readiness/home-snapshot.ts
  apps/onboarding/src/modules/onboarding/readiness/task-copy.test.ts
  apps/onboarding/src/modules/onboarding/store-readiness-checklist.test.tsx
  apps/onboarding/src/modules/onboarding/store-readiness-checklist.tsx
Due: none

There's no value from calling out Shopify here
  apps/onboarding/src/modules/onboarding/readiness/go-live-copy.ts
  apps/onboarding/src/modules/onboarding/readiness/task-copy.ts
Due: none

Channel -> Market is worth calling out as a specific similarity
  apps/onboarding/src/modules/onboarding/readiness/task-copy.ts
Due: none

Point onboarding go-live email steps at Customer Emails (#2437)
  .changeset/onboarding-customer-emails.md
  apps/onboarding/README.md
  apps/onboarding/src/app/api/manifest/route.ts
  apps/onboarding/src/modules/onboarding/hooks/use-app-redirect.test.ts
  apps/onboarding/src/modules/onboarding/readiness/app-identifiers.ts
  apps/onboarding/src/modules/onboarding/readiness/get-store-readiness.test.ts
  apps/onboarding/src/modules/onboarding/readiness/get-store-readiness.ts
  apps/onboarding/src/modules/onboarding/readiness/go-live-copy.test.ts
  apps/onboarding/src/modules/onboarding/readiness/go-live-copy.ts
  apps/onboarding/src/modules/onboarding/readiness/home-snapshot.test.ts
  apps/onboarding/src/modules/onboarding/readiness/home-snapshot.ts
  apps/onboarding/src/modules/onboarding/readiness/task-copy.test.ts
  apps/onboarding/src/modules/onboarding/readiness/task-copy.ts
  apps/onboarding/src/modules/onboarding/store-readiness-checklist.test.tsx
  apps/onboarding/src/modules/onboarding/store-readiness-checklist.tsx
Due: none

added skills for pi agent
  .claude/skills/add-env-variable/SKILL.md
  .pi/settings.json
Due: none

docs: add writing-graphql-operations skill
  .claude/skills/writing-graphql-operations/SKILL.md
Due: none

docs: add writing-graphql-operations skill (#2440)
  .claude/skills/writing-graphql-operations/SKILL.md
Due: none

feat(smtp): cap Saleor compatibility at 3.23
  .changeset/smtp-cap-saleor-323.md
  apps/smtp/src/pages/api/manifest.ts
  apps/smtp/src/saleor-app.ts
Due: smtp

feat(smtp): cap Saleor compatibility at 3.23 (#2441)
  .changeset/smtp-cap-saleor-323.md
  apps/smtp/src/pages/api/manifest.ts
  apps/smtp/src/saleor-app.ts
Due: smtp

fix(smtp): register webhooks on Saleor 3.22
  .changeset/logger-serialize-errors.md
  .changeset/smtp-register-webhooks-on-322.md
  apps/smtp/src/lib/get-event-form-status.test.ts
  apps/smtp/src/lib/get-event-form-status.ts
  apps/smtp/src/modules/app-configuration/app-configuration.router.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.factory.ts
  apps/smtp/src/modules/feature-flag-service/get-feature-flags.test.ts
  apps/smtp/src/modules/feature-flag-service/get-feature-flags.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/src/modules/smtp/ui/smtp-events-section.tsx
  apps/smtp/src/modules/trpc/protected-client-procedure-with-services.ts
  apps/smtp/src/modules/webhook-management/remove-unsupported-inline-fragments.test.ts
  apps/smtp/src/modules/webhook-management/remove-unsupported-inline-fragments.ts
  apps/smtp/src/modules/webhook-management/sync-webhook-status.test.ts
  apps/smtp/src/modules/webhook-management/webhook-management-service.test.ts
  apps/smtp/src/modules/webhook-management/webhook-management-service.ts
  apps/smtp/src/pages/api/register.ts
  packages/logger/src/error-json-replacer.test.ts
  packages/logger/src/error-json-replacer.ts
  packages/logger/src/logger-console-transport.ts
  packages/logger/src/logger-vercel-runtime-transport.ts
Due: smtp, logger

fix(smtp): register webhooks on Saleor 3.22 (#2442)
  .changeset/logger-serialize-errors.md
  .changeset/smtp-register-webhooks-on-322.md
  apps/smtp/src/lib/get-event-form-status.test.ts
  apps/smtp/src/lib/get-event-form-status.ts
  apps/smtp/src/modules/app-configuration/app-configuration.router.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.factory.ts
  apps/smtp/src/modules/feature-flag-service/get-feature-flags.test.ts
  apps/smtp/src/modules/feature-flag-service/get-feature-flags.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/src/modules/smtp/ui/smtp-events-section.tsx
  apps/smtp/src/modules/trpc/protected-client-procedure-with-services.ts
  apps/smtp/src/modules/webhook-management/remove-unsupported-inline-fragments.test.ts
  apps/smtp/src/modules/webhook-management/remove-unsupported-inline-fragments.ts
  apps/smtp/src/modules/webhook-management/sync-webhook-status.test.ts
  apps/smtp/src/modules/webhook-management/webhook-management-service.test.ts
  apps/smtp/src/modules/webhook-management/webhook-management-service.ts
  apps/smtp/src/pages/api/register.ts
  packages/logger/src/error-json-replacer.test.ts
  packages/logger/src/error-json-replacer.ts
  packages/logger/src/logger-console-transport.ts
  packages/logger/src/logger-vercel-runtime-transport.ts
Due: smtp, logger

feat: warn on deprecated GraphQL fields, cap products-feed at 3.23
  .changeset/products-feed-cap-saleor-323.md
  apps/products-feed/src/pages/api/manifest.ts
  packages/eslint-config/index.js
  turbo.json
Due: products-feed

fix: replace deprecated GraphQL fields with drop-in equivalents
  apps/avatax/e2e/generated/graphql.ts
  apps/avatax/e2e/graphql/fragments/OrderDiscounts.graphql
  apps/dummy-payment-app/generated/graphql.ts
  apps/dummy-payment-app/graphql/mutations/update-delivery.graphql
  apps/dummy-payment-app/graphql/queries/transaction-details-via-psp.graphql
  apps/dummy-shipping-app/generated/graphql.ts
  apps/dummy-shipping-app/graphql/queries/fetch-delivery-method-for-checkout.graphql
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql/queries/FetchRelatedProductsData.graphql
  apps/search/generated/graphql.ts
  apps/search/graphql/queries/PagesData.graphql
  apps/search/src/components/ImportProductsToAlgolia/useGraphQLClient.ts
Due: search

feat: warn on deprecated GraphQL fields, cap products-feed at 3.23 (#2443)
  .changeset/products-feed-cap-saleor-323.md
  apps/avatax/e2e/generated/graphql.ts
  apps/avatax/e2e/graphql/fragments/OrderDiscounts.graphql
  apps/dummy-payment-app/generated/graphql.ts
  apps/dummy-payment-app/graphql/mutations/update-delivery.graphql
  apps/dummy-payment-app/graphql/queries/transaction-details-via-psp.graphql
  apps/dummy-shipping-app/generated/graphql.ts
  apps/dummy-shipping-app/graphql/queries/fetch-delivery-method-for-checkout.graphql
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql/queries/FetchRelatedProductsData.graphql
  apps/products-feed/src/pages/api/manifest.ts
  apps/search/generated/graphql.ts
  apps/search/graphql/queries/PagesData.graphql
  apps/search/src/components/ImportProductsToAlgolia/useGraphQLClient.ts
  packages/eslint-config/index.js
  turbo.json
Due: products-feed, search

ci: report GraphQL document compatibility per Saleor version
  .github/workflows/graphql-schema-compatibility.yml
  apps/anonymizer/package.json
  apps/anonymizer/src/pages/api/manifest.ts
  apps/avatax/package.json
  apps/avatax/src/app/api/manifest/route.ts
  apps/cms/package.json
  apps/cms/src/pages/api/manifest.ts
  apps/klaviyo/package.json
  apps/klaviyo/src/pages/api/manifest.ts
  apps/np-atobarai/package.json
  apps/np-atobarai/src/app/api/manifest/route.ts
  apps/onboarding/package.json
  apps/onboarding/src/app/api/manifest/route.ts
  apps/products-feed/package.json
  apps/products-feed/src/pages/api/manifest.ts
  apps/search/package.json
  apps/search/src/pages/api/manifest.ts
  apps/segment/package.json
  apps/segment/src/pages/api/manifest.ts
  apps/smtp/package.json
  apps/smtp/src/pages/api/manifest.ts
  apps/smtp/src/saleor-app.ts
  apps/stripe/package.json
  apps/stripe/src/app/api/manifest/route.ts
  package.json
  pnpm-lock.yaml
  saleor-versions.json
  scripts/check-schema-compatibility.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
