Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

Fix accidental aws-sdk bundling
  apps/avatax/next.config.ts
  apps/avatax/src/modules/trpc/trpc-client.ts
  apps/cms/next.config.ts
  apps/cms/src/modules/trpc/trpc-client.ts
  apps/klaviyo/next.config.ts
  apps/np-atobarai/next.config.ts
  apps/np-atobarai/src/modules/trpc/trpc-client.ts
  apps/products-feed/next.config.ts
  apps/products-feed/src/modules/trpc/trpc-client.ts
  apps/search/next.config.ts
  apps/search/src/components/ImportProductsToAlgolia/useSearchProvider.ts
  apps/search/src/modules/trpc/trpc-client.ts
  apps/segment/next.config.ts
  apps/segment/src/modules/trpc/trpc-client.ts
  apps/smtp/next.config.ts
  apps/smtp/src/lib/set-backend-errors.ts
  apps/stripe/next.config.ts
  apps/stripe/src/modules/trpc/trpc-client.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

Notes added by 'git notes add'
  d2b2a380da191345d33e2cf2604de4078aea2feb
Due: none

guards against importing trpc backend to frontend
  apps/avatax/src/modules/trpc/trpc-app-router.ts
  apps/cms/src/modules/trpc/trpc-app-router.ts
  apps/np-atobarai/src/modules/trpc/trpc-router.ts
  apps/products-feed/src/modules/trpc/trpc-app-router.ts
  apps/search/src/modules/trpc/trpc-app-router.ts
  apps/segment/src/modules/trpc/trpc-app-router.ts
  apps/smtp/src/modules/trpc/trpc-app-router.ts
  apps/stripe/src/modules/trpc/trpc-router.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

Notes added by 'git notes add'
  472c9ace96d068f623ba5bb84262d24eb1d3019a
Due: none

Avatax - improve tax exemption copy and link to docs
  apps/avatax/src/modules/avatax/ui/avatax-configuration-settings-fragment.tsx
Due: avatax

Notes added by 'git notes add'
  8f9a17a05578b4dd5fcf68314beffb86c8d1ac4c
Due: none

Avatax - improve tax exemption copy and link to docs (#2222)
  apps/avatax/src/modules/avatax/ui/avatax-configuration-settings-fragment.tsx
Due: avatax

Change resolving sender email in smtp
  .changeset/calm-spoons-judge.md
  apps/smtp/.env.example
  apps/smtp/src/env.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/saleor-fallback-behavior/fallback-sender-email.test.ts
  apps/smtp/src/modules/saleor-fallback-behavior/fallback-sender-email.ts
  apps/smtp/src/modules/smtp/configuration/smtp-config-schema.ts
  apps/smtp/turbo.json
Due: smtp

Notes added by 'git notes add'
  492d866d099ca87cb38b87afff17a8e3b5847d37
Due: none

Add apps smoke test
  .github/workflows/run-dashboard-smoke-tests.yml
Due: none

cr: fix permissions
  .github/workflows/run-dashboard-smoke-tests.yml
Due: none

add smoke tests to existing e2e workflows
  .github/workflows/run-e2e-cron.yml
  .github/workflows/run-e2e-dispatch.yml
Due: none

Address code review
  apps/smtp/src/components/basic-layout.tsx
  apps/smtp/src/env.ts
  apps/smtp/src/modules/smtp/configuration/smtp-config-schema.ts
  apps/smtp/src/modules/smtp/ui/code-editor.tsx
  apps/smtp/src/modules/smtp/ui/monaco-completions.test.ts
  apps/smtp/src/modules/smtp/ui/monaco-completions.ts
  apps/smtp/src/modules/smtp/ui/smtp-branding-section.tsx
Due: smtp

error handling
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
Due: smtp

Notes added by 'git notes add'
  4bd56c9b9698d6f7e919dba6c69ae3ba33eb3a6c
Due: none

Update .changeset/calm-spoons-judge.md
  .changeset/calm-spoons-judge.md
Due: none

Change resolving sender email in smtp (#2223)
  .changeset/calm-spoons-judge.md
  apps/smtp/.env.example
  apps/smtp/src/env.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/saleor-fallback-behavior/fallback-sender-email.test.ts
  apps/smtp/src/modules/saleor-fallback-behavior/fallback-sender-email.ts
  apps/smtp/src/modules/smtp/configuration/smtp-config-schema.ts
  apps/smtp/turbo.json
Due: smtp

POC skipping calculate_taxes
  apps/avatax/e2e/generated/types.ts
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql.config.ts
  apps/avatax/graphql/fragments/CalculateTaxesEvent.graphql
  apps/avatax/graphql/schema.graphql
  apps/avatax/graphql/subscriptions/CalculateTaxes.graphql
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/modules/webhooks/definitions/checkout-calculate-taxes.ts
  apps/avatax/src/modules/webhooks/definitions/order-calculate-taxes.ts
Due: avatax

Notes added by 'git notes add'
  3dcbe56b8e8bb835704180a63dafed0f67fc7439
Due: none

Notes added by 'git notes add'
  ef0056821f7d1359c2a4edf3ac6b0031c0de17f5
Due: none

Fix: prevent AWS SDK from being bundled into client-side code (#2221)
  apps/avatax/next.config.ts
  apps/avatax/src/modules/trpc/trpc-app-router.ts
  apps/avatax/src/modules/trpc/trpc-client.ts
  apps/cms/next.config.ts
  apps/cms/src/modules/trpc/trpc-app-router.ts
  apps/cms/src/modules/trpc/trpc-client.ts
  apps/klaviyo/next.config.ts
  apps/np-atobarai/next.config.ts
  apps/np-atobarai/src/modules/trpc/trpc-client.ts
  apps/np-atobarai/src/modules/trpc/trpc-router.ts
  apps/products-feed/next.config.ts
  apps/products-feed/src/modules/trpc/trpc-app-router.ts
  apps/products-feed/src/modules/trpc/trpc-client.ts
  apps/search/next.config.ts
  apps/search/src/components/ImportProductsToAlgolia/useSearchProvider.ts
  apps/search/src/modules/trpc/trpc-app-router.ts
  apps/search/src/modules/trpc/trpc-client.ts
  apps/segment/next.config.ts
  apps/segment/src/modules/trpc/trpc-app-router.ts
  apps/segment/src/modules/trpc/trpc-client.ts
  apps/smtp/next.config.ts
  apps/smtp/src/lib/set-backend-errors.ts
  apps/smtp/src/modules/trpc/trpc-app-router.ts
  apps/stripe/next.config.ts
  apps/stripe/src/modules/trpc/trpc-client.ts
  apps/stripe/src/modules/trpc/trpc-router.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

Add app smoke test (#2224)
  .github/workflows/run-dashboard-smoke-tests.yml
  .github/workflows/run-e2e-cron.yml
  .github/workflows/run-e2e-dispatch.yml
Due: none

fix link
  apps/products-feed/docs/configuration.md
Due: products-feed

Notes added by 'git notes add'
  5ce724aec22e0db183c9c7308015906096442574
Due: none

Notes added by 'git notes add'
  a3426e38504523e012d241d8e7c1dfe13d0fdc42
Due: none

Include payment method name in UnsupportedPaymentMethodError and use error's publicMessage as top-level failure message
  .changeset/odd-candles-cry.md
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/event-data-parser.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
Due: stripe

Apply suggestions from code review
  .changeset/odd-candles-cry.md
Due: none

Include payment method name in UnsupportedPaymentMethodError and use … (#2228)
  .changeset/odd-candles-cry.md
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/event-data-parser.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
Due: stripe

fix link (#2227)
  apps/products-feed/docs/configuration.md
Due: products-feed

Found getBaseUrl error again...
  apps/avatax/src/modules/trpc/trpc-client.ts
  apps/cms/src/modules/trpc/trpc-client.ts
  apps/products-feed/src/modules/trpc/trpc-client.ts
  apps/search/src/modules/trpc/trpc-client.ts
  apps/segment/src/modules/trpc/trpc-client.ts
  apps/smtp/src/modules/trpc/trpc-client.ts
  packages/trpc/src/http-batch-link.ts
  turbo.json
Due: avatax, cms, products-feed, search, segment, smtp

changeset
  .changeset/clever-steaks-stop.md
Due: none

add missing permissions
  .github/workflows/run-dashboard-smoke-tests.yml
Due: none

allow to use custom s3 provider
  .changeset/whole-feet-win.md
  apps/products-feed/graphql/fragments/GoogleFeedProductVariantFragment.graphql
  apps/products-feed/src/modules/app-configuration/app-config.ts
  apps/products-feed/src/modules/app-configuration/app-configuration.router.ts
  apps/products-feed/src/modules/app-configuration/s3-configuration-form.tsx
  apps/products-feed/src/modules/file-storage/s3/check-bucket-access.ts
  apps/products-feed/src/modules/file-storage/s3/create-s3-client-from-configuration.ts
  apps/products-feed/turbo.json
Due: products-feed

Get category slug working in handlebars templates of product url
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql/fragments/RelatedProductsFragment.graphql
Due: none

Fixed smoke tests (added missing permissions) (#2231)
  .github/workflows/run-dashboard-smoke-tests.yml
Due: none

change to Combobox, add link to docs, more concise field names
  apps/products-feed/src/modules/app-configuration/s3-configuration-form.tsx
Due: products-feed

fix tests and lints
  apps/products-feed/src/modules/app-configuration/app-config.test.ts
  apps/products-feed/src/modules/google-feed/get-google-feed-settings.test.ts
Due: products-feed

fix: load secrets for smoke test workflow
  .github/workflows/run-dashboard-smoke-tests.yml
Due: none

add missing secret
  .github/workflows/run-dashboard-smoke-tests.yml
Due: none

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
