Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils

permission update
  apps/products-feed/src/pages/configuration.tsx
Due: products-feed

Remove chunks when finished
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

Signed urls between app endpoints
  apps/products-feed/src/modules/file-storage/s3/file-names.ts
  apps/products-feed/src/modules/file-storage/s3/signed-urls.ts
  apps/products-feed/src/modules/file-storage/s3/urls-and-names.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

Add docs & use catalog for neverthrow
  apps/np-atobarai/package.json
  apps/np-atobarai/src/modules/atobarai/atobarai-merchant-code.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-sp-code.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-terminal-id.ts
  pnpm-lock.yaml
Due: np-atobarai

Add missing env vars to turbo configuration
  apps/np-atobarai/turbo.json
Due: np-atobarai

cr fixes
  apps/products-feed/graphql/queries/FetchBasicProductData.graphql
  apps/products-feed/graphql/queries/FetchProductCursors.graphql
  apps/products-feed/src/modules/file-storage/s3/check-bucket-access.ts
  apps/products-feed/src/modules/google-feed/product-variant-to-proxy.ts
Due: products-feed

Add docs & use catalog for neverthrow (#1998)
  apps/np-atobarai/package.json
  apps/np-atobarai/src/modules/atobarai/atobarai-merchant-code.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-sp-code.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-terminal-id.ts
  apps/np-atobarai/turbo.json
  pnpm-lock.yaml
Due: np-atobarai

Move encryptor to shared package
  .changeset/chatty-comics-behave.md
  .changeset/long-gifts-begin.md
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/__tests__/mocks/mock-encryptor.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
  cspell.config.js
  packages/shared/package.json
  packages/shared/src/encryptor.test.ts
  packages/shared/src/encryptor.ts
  packages/shared/src/index.ts
Due: stripe, shared

fix tests
  apps/stripe/src/__tests__/integration/env.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
  packages/shared/src/encryptor.test.ts
Due: stripe, shared

wip
  apps/avatax/package.json
  apps/avatax/src/modules/client-logs/dynamo-schema.ts
  apps/segment/package.json
  apps/segment/src/modules/db/segment-main-table.ts
  apps/stripe/package.json
  apps/stripe/src/modules/apl/apl-db-model.ts
  apps/stripe/src/modules/apl/dynamo-apl-repository.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/channel-config-mapping-db-model.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/stripe-config-db-model.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/recorded-transaction-db-model.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, segment, stripe

Update codebase
  .changeset/cool-jars-draw.md
  apps/avatax/src/modules/client-logs/dynamo-schema.ts
  apps/avatax/src/modules/client-logs/log-transformer.ts
  apps/stripe/src/modules/apl/apl-db-model.ts
  apps/stripe/src/modules/apl/dynamo-apl-repository.ts
Due: avatax, stripe

Move encryptor to shared package (#1995)
  .changeset/chatty-comics-behave.md
  .changeset/long-gifts-begin.md
  apps/stripe/src/__tests__/integration/env.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/__tests__/mocks/mock-encryptor.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
  cspell.config.js
  packages/shared/package.json
  packages/shared/src/encryptor.test.ts
  packages/shared/src/encryptor.ts
  packages/shared/src/index.ts
Due: stripe, shared

Allow product feed to process entire catalog (#1992)
  .changeset/loud-garlics-brake.md
  apps/products-feed/.env.example
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql/queries/FetchBasicProductData.graphql
  apps/products-feed/graphql/queries/FetchProductAttributesData.graphql
  apps/products-feed/graphql/queries/FetchProductCursors.graphql
  apps/products-feed/package.json
  apps/products-feed/src/modules/app-configuration/app-configuration.router.ts
  apps/products-feed/src/modules/feed-dto.ts
  apps/products-feed/src/modules/file-storage/s3/check-bucket-access.ts
  apps/products-feed/src/modules/file-storage/s3/file-names.ts
  apps/products-feed/src/modules/file-storage/s3/file-remover.ts
  apps/products-feed/src/modules/file-storage/s3/signed-urls.ts
  apps/products-feed/src/modules/file-storage/s3/urls-and-names.ts
  apps/products-feed/src/modules/google-feed/feed-xml-builder.test.ts
  apps/products-feed/src/modules/google-feed/feed-xml-builder.ts
  apps/products-feed/src/modules/google-feed/fetch-product-data.test.ts
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.test.ts
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/products-feed/src/modules/google-feed/product-processing-limit.test.ts
  apps/products-feed/src/modules/google-feed/product-processing-limit.ts
  apps/products-feed/src/modules/google-feed/product-variant-to-proxy.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
  apps/products-feed/src/pages/configuration.tsx
  apps/products-feed/tsconfig.json
  apps/products-feed/turbo.json
  apps/products-feed/vitest.config.ts
  pnpm-lock.yaml
Due: products-feed

Setup bruno
  apps/np-atobarai/README.md
  apps/np-atobarai/bruno/.env.example
  apps/np-atobarai/bruno/Create checkout.bru
  apps/np-atobarai/bruno/Fetch product.bru
  apps/np-atobarai/bruno/Update checkout delivery method.bru
  apps/np-atobarai/bruno/bruno.json
  apps/np-atobarai/bruno/environments/Saleor.bru
Due: np-atobarai

fix test
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.test.ts
Due: stripe

repo wip
  packages/apl-dynamo/eslint.config.js
  packages/apl-dynamo/lint-staged.config.js
  packages/apl-dynamo/package.json
  packages/apl-dynamo/src/apl/apl-db-model.ts
  packages/apl-dynamo/src/apl/apl-repository.ts
  packages/apl-dynamo/src/apl/dynamo-apl-repository.test.ts
  packages/apl-dynamo/src/apl/dynamo-apl-repository.ts
  packages/apl-dynamo/src/apl/dynamodb-apl.test.ts
  packages/apl-dynamo/src/apl/dynamodb-apl.ts
  packages/apl-dynamo/src/index.ts
  packages/apl-dynamo/tsconfig.json
  packages/apl-dynamo/turbo.json
  packages/apl-dynamo/vitest.config.ts
  packages/logger/index.ts
  pnpm-lock.yaml
Due: logger

wip
  packages/apl-dynamo/package.json
  packages/apl-dynamo/src/apl/apl-db-model.ts
  packages/apl-dynamo/src/apl/dynamo-apl-repository.test.ts
  packages/apl-dynamo/vitest.config.ts
  pnpm-lock.yaml
Due: none

wip
  packages/apl-dynamo/package.json
  packages/apl-dynamo/src/apl/dynamo-apl-repository.test.ts
  packages/apl-dynamo/src/apl/dynamodb-apl.test.ts
  packages/apl-dynamo/src/apl/dynamodb-apl.ts
  packages/apl-dynamo/src/apl/memory-apl-repository.ts
  packages/apl-dynamo/src/apl/mocks/mocked-auth-data.ts
  packages/domain/src/saleor-api-url.ts
  packages/errors/eslint.config.js
  packages/errors/lint-staged.config.js
  packages/errors/package.json
  packages/errors/src/base-error.ts
  packages/errors/src/index.ts
  packages/errors/tsconfig.json
  packages/errors/turbo.json
  packages/errors/vitest.config.ts
  packages/logger/package.json
  packages/logger/src/errors.ts
  pnpm-lock.yaml
Due: logger

Release apps (#1988)
  .changeset/chatty-comics-behave.md
  .changeset/few-ducks-lay.md
  .changeset/khaki-pans-own.md
  .changeset/long-gifts-begin.md
  .changeset/loud-garlics-brake.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/np-atobarai/CHANGELOG.md
  apps/np-atobarai/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
  packages/domain/CHANGELOG.md
  packages/domain/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, shared

apply on stripe
  apps/stripe/package.json
  apps/stripe/src/__tests__/mocks/memory-apl-repository.ts
  apps/stripe/src/lib/saleor-app.ts
  apps/stripe/src/modules/apl/apl-db-model.ts
  apps/stripe/src/modules/apl/apl-repository.ts
  apps/stripe/src/modules/apl/dynamo-apl-repository.test.ts
  apps/stripe/src/modules/apl/dynamo-apl-repository.ts
  apps/stripe/src/modules/apl/dynamodb-apl.test.ts
  apps/stripe/src/modules/apl/dynamodb-apl.ts
  packages/apl-dynamo/package.json
  packages/apl-dynamo/src/apl/dynamodb-apl.test.ts
  packages/apl-dynamo/src/apl/dynamodb-apl.ts
  packages/apl-dynamo/src/index.ts
  pnpm-lock.yaml
Due: stripe

apply in segment
  apps/segment/package.json
  apps/segment/src/lib/dyanmodb-apl.test.ts
  apps/segment/src/lib/dynamodb-apl.ts
  apps/segment/src/modules/db/dynamo-apl-mapper.ts
  apps/segment/src/modules/db/dynamo-apl-repository-factory.ts
  apps/segment/src/modules/db/dynamo-apl-repository.test.ts
  apps/segment/src/modules/db/dynamo-apl-repository.ts
  apps/segment/src/saleor-app.ts
  pnpm-lock.yaml
Due: segment

changelog
  .changeset/angry-nails-sniff.md
  .changeset/long-gorillas-rescue.md
  .changeset/olive-bobcats-raise.md
  apps/np-atobarai/package.json
  pnpm-lock.yaml
Due: np-atobarai

wip
  packages/errors/package.json
  pnpm-lock.yaml
Due: none

Add gateway init
  apps/np-atobarai/bruno/Initialize payment gateway.bru
  apps/np-atobarai/bruno/environments/Saleor.bru
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/fragments/channel.graphql
  apps/np-atobarai/graphql/fragments/source-object.graphql
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
  apps/np-atobarai/src/modules/app-config/types.ts
  apps/stripe/src/modules/saleor/saleor-api-url.ts
Due: stripe, np-atobarai

Update DynamoDB toolbox to >v2 (#1999)
  .changeset/cool-jars-draw.md
  apps/avatax/package.json
  apps/avatax/src/modules/client-logs/dynamo-schema.ts
  apps/avatax/src/modules/client-logs/log-transformer.ts
  apps/segment/package.json
  apps/segment/src/modules/db/segment-main-table.ts
  apps/stripe/package.json
  apps/stripe/src/modules/apl/apl-db-model.ts
  apps/stripe/src/modules/apl/dynamo-apl-repository.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/channel-config-mapping-db-model.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/stripe-config-db-model.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/recorded-transaction-db-model.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, segment, stripe

fix build
  packages/errors/package.json
  packages/errors/src/base-error.test.ts
  packages/errors/vitest.config.ts
  packages/logger/src/logger-context.ts
  packages/logger/src/logger-vercel-runtime-transport.ts
Due: logger

fixes
  apps/stripe/src/__tests__/integration/env.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/modules/apl/dynamo-apl-repository.ts
Due: stripe

packages fix
  apps/avatax/package.json
  apps/segment/package.json
  apps/stripe/package.json
  packages/apl-dynamo/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, segment, stripe

fix cicd
  apps/avatax/package.json
  apps/cms/package.json
  apps/np-atobarai/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  apps/stripe/package.json
  packages/apl-dynamo/package.json
  packages/domain/package.json
  packages/errors/package.json
  packages/logger/package.json
  packages/shared/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils

Add PaymentGatewayInit for NP Atobarai
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/fragments/source-object.graphql
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config-repo.ts
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-payment-gateway-initalize-session-event.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-transaction-initialize-session-event.ts
  apps/np-atobarai/src/__tests__/mocks/saleor/mocked-saleor-api-url.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-reponse.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/validation-errors.ts
  apps/np-atobarai/src/lib/observability-saleor-api-url.ts
  apps/np-atobarai/src/lib/observability-source-object-id.ts
  apps/np-atobarai/src/modules/app-config/types.ts
Due: np-atobarai

Fix codecov for new packages
  .github/workflows/main.yml
  codecov.yml
Due: none

rename
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.test.ts
Due: np-atobarai

Fixes after CR
  apps/np-atobarai/bruno/01-fetch-product.bru
  apps/np-atobarai/bruno/02-create-checkout.bru
  apps/np-atobarai/bruno/03-update-checkout-delivery-method.bru
  apps/np-atobarai/bruno/04-initialize-payment-gateway.bru
  apps/np-atobarai/src/__tests__/mocks/saleor/mocked-auth-data.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/with-recipient-verification.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/with-recipient-verification.ts
Due: np-atobarai

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
