Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
    project:
      default:
        target: auto
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      app-payment-np-atobarai:
        flags: [np-atobarai]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]
      packages-domain:
        flags: [domain]
      packages-errors:
        flags: [errors]
      packages-apl-dynamo:
        flags: [apl-dynamo]
ignore:
  - "**/scripts/**"
  - "**/e2e/**"
  - "**/graphql/**"
  - "**/generated/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  np-atobarai:
    paths:
      - apps/np-atobarai/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/
  domain:
    paths:
      - packages/domain/
  errors:
      paths:
        - packages/errors/
  apl-dynamo:
      paths:
        - packages/apl-dynamo/

Add order note feature
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/mutations/order-note-add.graphql
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/modules/saleor/order-note-service.test.ts
  apps/np-atobarai/src/modules/saleor/order-note-service.ts
Due: np-atobarai

Rename classes, add validaton for fault codes
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/taxes/tax-error.ts
Due: avatax

fix logger context in generate-chunk (#2056)
  .changeset/wise-cameras-dance.md
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
Due: products-feed

Fixes after CR & unit tests
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/modules/saleor/order-note-service.test.ts
  apps/np-atobarai/src/modules/saleor/order-note-service.ts
Due: np-atobarai

Add order note feature (#2058)
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/mutations/order-note-add.graphql
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/modules/saleor/order-note-service.test.ts
  apps/np-atobarai/src/modules/saleor/order-note-service.ts
Due: np-atobarai

AvaTax: Add note on order operations
  .changeset/kind-radios-smash.md
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/mutations/ReportOrderNote.graphql
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/modules/saleor/order-note-reporter.ts
Due: avatax

AvaTax: Add note on order operations (#2059)
  .changeset/kind-radios-smash.md
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/mutations/ReportOrderNote.graphql
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/modules/saleor/order-note-reporter.ts
Due: avatax

Fix iDEAL payment redirect to return users to Stripe app
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-initialize-session-event.ts
  apps/stripe/src/app/api/stripe/return/route.edge-cases.test.ts
  apps/stripe/src/app/api/stripe/return/route.security.test.ts
  apps/stripe/src/app/api/stripe/return/route.test.ts
  apps/stripe/src/app/api/stripe/return/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/payment-methods-return-url.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/stripe-return-url-builder.test.ts
  apps/stripe/src/modules/stripe/stripe-return-url-builder.ts
Due: stripe

Update MacawUI to 1.3.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add changeset
  .changeset/fifty-days-scream.md
Due: none

Fix iDEAL payment redirect issue by passing return URL in response
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/app/api/stripe/return/route.security.test.ts
  apps/stripe/src/app/api/stripe/return/route.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/payment-methods-return-url.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
Due: stripe

use 1.3.1
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update MacawUI to 1.3.1 (#2061)
  .changeset/fifty-days-scream.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: removed unnecessary redirect request params
  apps/stripe/src/app/api/stripe/return/route.ts
Due: stripe

fix: testing params
  apps/stripe/src/app/api/stripe/return/route.ts
Due: stripe

Release apps (#2057)
  .changeset/fifty-days-scream.md
  .changeset/fuzzy-brooms-heal.md
  .changeset/kind-radios-smash.md
  .changeset/wise-cameras-dance.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/np-atobarai/CHANGELOG.md
  apps/np-atobarai/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
  packages/react-hook-form-macaw/CHANGELOG.md
  packages/react-hook-form-macaw/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, shared

Check if user is opening app within iframe
  apps/avatax/src/pages/_app.tsx
  packages/shared/package.json
  packages/shared/src/iframe-protected-wrapper.tsx
Due: avatax, shared

Add logs for failed APL
  apps/avatax/src/app/api/register/route.ts
Due: avatax

Change error types to correct HTTP codes, add better logs for trpc
  apps/avatax/src/modules/trpc/protected-client-procedure.ts
Due: avatax

Fix devcontainer setup for local Saleor
  .devcontainer/avatax/docker-compose.yml
Due: none

Update readme
  apps/avatax/README.md
Due: avatax

Add changeset
  .changeset/tough-bugs-hammer.md
Due: none

added changeset
  .changeset/moody-spoons-pull.md
Due: none

Enhance logging in vendor resolution and payment initialization processes
  CLAUDE.md
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/vendor-fetcher.ts
  apps/stripe/src/modules/saleor/vendor-resolver.ts
  cspell.config.js
Due: stripe

Add comprehensive Vercel logging for vendor-specific Stripe payments
  apps/stripe/src/modules/saleor/__tests__/vendor-resolver.test.ts
Due: stripe

Fix vendor resolution for Checkout objects
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/fragments/source-object.graphql
  apps/stripe/src/__tests__/integration/webhooks/fixtures/payment-gateway-initialize-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-initialize-session-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-process-session-fixture.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-initialize-session-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-process-session-event.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/__tests__/vendor-resolver.test.ts
Due: stripe

Support stripe_account_id as Page attribute instead of metadata
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/queries/fetch-vendor-by-id.graphql
  apps/stripe/src/modules/saleor/vendor-fetcher.ts
Due: stripe

Fix Stripe account ID extraction from Page attributes
  apps/stripe/src/modules/saleor/vendor-fetcher.ts
Due: stripe

Fix vendor-specific Stripe account payment processing
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
  apps/stripe/src/modules/transactions-recording/domain/recorded-transaction.ts
Due: stripe

Add comprehensive tests for vendor-specific Stripe account functionality
  apps/stripe/src/__tests__/mocks/transaction-recorder-repo.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/vendor-specific.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/vendor-specific.test.ts
Due: stripe

Fix DynamoDB persistence of vendor Stripe account ID
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/recorded-transaction-db-model.ts
Due: stripe

Enhance vendor-specific Stripe account handling in transaction tests
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-initialize-session-event.ts
  apps/stripe/src/__tests__/mocks/transaction-recorder-repo.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/vendor-specific.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/vendor-specific.test.ts
Due: stripe

Fix tests for vendor-specific Stripe account implementation
  apps/stripe/src/app/api/manifest/route.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/modules/saleor/__tests__/vendor-fetcher.test.ts
  apps/stripe/src/modules/saleor/__tests__/vendor-integration.test.ts
Due: stripe

Fix Stripe return route redirect and vendor fetcher consistency
  apps/stripe/src/app/api/stripe/return/route.ts
  apps/stripe/src/modules/saleor/vendor-fetcher.ts
Due: stripe

Fix linting issues and finalize vendor-specific Stripe implementation
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/queries/fetch-vendors.graphql
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/vendor-specific.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
Due: stripe

chore: update turbo package from 2.4.4 to 2.5.6 in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: none

Add stripeAccount to transaction initialization response for vendor payments
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/vendor-specific.test.ts
Due: stripe

Fix build errors and dependency compatibility issues
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/vendor-specific.test.ts
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: stripe

fix: use handlebars compiler custom, use warnings instead of errors
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
Due: smtp

Add changeset
  .changeset/giant-dolls-jump.md
Due: none
