Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

Add PaymentGatewayInit for NP Atobarai (#2002)
  apps/np-atobarai/README.md
  apps/np-atobarai/bruno/.env.example
  apps/np-atobarai/bruno/01-fetch-product.bru
  apps/np-atobarai/bruno/02-create-checkout.bru
  apps/np-atobarai/bruno/03-update-checkout-delivery-method.bru
  apps/np-atobarai/bruno/04-initialize-payment-gateway.bru
  apps/np-atobarai/bruno/bruno.json
  apps/np-atobarai/bruno/environments/Saleor.bru
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/fragments/channel.graphql
  apps/np-atobarai/graphql/fragments/source-object.graphql
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config-repo.ts
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-payment-gateway-initalize-session-event.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-transaction-initialize-session-event.ts
  apps/np-atobarai/src/__tests__/mocks/saleor/mocked-auth-data.ts
  apps/np-atobarai/src/__tests__/mocks/saleor/mocked-saleor-api-url.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/validation-errors.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/with-recipient-verification.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/with-recipient-verification.ts
  apps/np-atobarai/src/lib/observability-saleor-api-url.ts
  apps/np-atobarai/src/lib/observability-source-object-id.ts
  apps/np-atobarai/src/modules/app-config/types.ts
  apps/stripe/src/modules/saleor/saleor-api-url.ts
Due: stripe, np-atobarai

Create app config model
  apps/np-atobarai/src/modules/app-config/app-config.ts
  apps/np-atobarai/src/modules/app-config/types.ts
Due: np-atobarai

use shared errors
  apps/np-atobarai/package.json
  apps/np-atobarai/src/lib/errors.ts
  apps/np-atobarai/src/modules/app-config/types.ts
  pnpm-lock.yaml
Due: np-atobarai

update codebas
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/np-atobarai/src/modules/app-config/types.ts
Due: np-atobarai

fix tests
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config-repo.ts
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
Due: np-atobarai

test
  apps/np-atobarai/src/modules/app-config/app-config.test.ts
Due: np-atobarai

dynamodb setup
  apps/np-atobarai/package.json
  apps/np-atobarai/src/lib/env.ts
  apps/np-atobarai/src/modules/dynamodb/dynamodb-client.ts
  apps/np-atobarai/src/modules/dynamodb/dynamodb-main-table.ts
  apps/np-atobarai/turbo.json
  pnpm-lock.yaml
Due: np-atobarai

implement dynamo apl
  apps/np-atobarai/src/lib/env.ts
  apps/np-atobarai/src/lib/saleor-app.ts
Due: np-atobarai

Init work
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/fragments/address.graphql
  apps/np-atobarai/graphql/fragments/source-object.graphql
  apps/np-atobarai/graphql/subscriptions/transaction-initialize-session.graphql
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-customer.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-payment-gateway-initalize-session-event.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-transaction-initialize-session-event.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/validation-errors.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/modules/app-config/types.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-payload.test.ts
Due: np-atobarai

Add tests
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-transaction-initialize-session-event.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/validation-errors.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-payload.test.ts
Due: np-atobarai

use more verbose name
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-payment-gateway-initalize-session-event.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-transaction-initialize-session-event.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-payload.test.ts
Due: np-atobarai

Create app config model (#2003)
  apps/np-atobarai/package.json
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config-repo.ts
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/np-atobarai/src/lib/errors.ts
  apps/np-atobarai/src/modules/app-config/app-config.test.ts
  apps/np-atobarai/src/modules/app-config/app-config.ts
  apps/np-atobarai/src/modules/app-config/types.ts
  pnpm-lock.yaml
Due: np-atobarai

test
  apps/np-atobarai/src/__tests__/setup.ts
Due: np-atobarai

Update apps/np-atobarai/src/modules/dynamodb/dynamodb-main-table.ts
  apps/np-atobarai/src/modules/dynamodb/dynamodb-main-table.ts
Due: np-atobarai

dynamodb setup and apl (#2004)
  apps/np-atobarai/package.json
  apps/np-atobarai/src/__tests__/setup.ts
  apps/np-atobarai/src/lib/env.ts
  apps/np-atobarai/src/lib/saleor-app.ts
  apps/np-atobarai/src/modules/dynamodb/dynamodb-client.ts
  apps/np-atobarai/src/modules/dynamodb/dynamodb-main-table.ts
  apps/np-atobarai/turbo.json
  pnpm-lock.yaml
Due: np-atobarai

fixes after merge
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
Due: np-atobarai

wip
  apps/smtp/src/lib/race-promise.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/smtp/services/smtp-email-sender.ts
Due: smtp

Add Atobarai customer (#2005)
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/fragments/address.graphql
  apps/np-atobarai/graphql/fragments/source-object.graphql
  apps/np-atobarai/graphql/subscriptions/transaction-initialize-session.graphql
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-customer.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-payment-gateway-initalize-session-event.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-transaction-initialize-session-event.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/validation-errors.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-payload.test.ts
Due: np-atobarai

move deps to catalog
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/np-atobarai/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  apps/stripe/package.json
  packages/apl-dynamo/package.json
  packages/domain/package.json
  packages/errors/package.json
  packages/logger/package.json
  packages/otel/package.json
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

move more deps to catalog
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, cms, products-feed, search, segment, smtp

catalog
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/np-atobarai/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  apps/stripe/package.json
  packages/otel/package.json
  packages/sentry-utils/package.json
  packages/trpc/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, webhook-utils

Add delivery destination
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-customer.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-delivery-destination.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/validation-errors.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/lib/env.ts
  apps/np-atobarai/src/lib/errors.ts
  apps/np-atobarai/src/modules/app-config/app-config.ts
  apps/np-atobarai/src/modules/app-config/types.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-payload.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shipping-address.ts
  apps/np-atobarai/src/modules/atobarai/types.ts
Due: np-atobarai

wip generic config
  apps/np-atobarai/src/modules/app-config/repo/app-config-repo-impl.ts
  apps/np-atobarai/src/modules/app-config/repo/dynamodb/app-config-db-model.ts
  apps/np-atobarai/src/modules/app-config/repo/dynamodb/base-repository.ts
  apps/np-atobarai/src/modules/app-config/repo/dynamodb/channel-config-mapping-db-model.ts
  apps/np-atobarai/src/modules/app-config/repo/dynamodb/dynamodb-app-config-repo.ts
Due: np-atobarai

Add goods
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/fragments/source-object.graphql
  apps/np-atobarai/graphql/subscriptions/transaction-initialize-session.graphql
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-goods.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-payment-gateway-initalize-session-event.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-source-object.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-transaction-initialize-session-event.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-payload.ts
Due: np-atobarai

remove leftover
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-transaction-initialize-session-event.ts
Due: np-atobarai

wip impl
  apps/np-atobarai/src/modules/app-config/repo/dynamodb/base-repository.ts
  packages/dynamo-config-repository/eslint.config.js
  packages/dynamo-config-repository/lint-staged.config.js
  packages/dynamo-config-repository/package.json
  packages/dynamo-config-repository/src/__test__/bootstrap-test.ts
  packages/dynamo-config-repository/src/base-repository.test.ts
  packages/dynamo-config-repository/src/base-repository.ts
  packages/dynamo-config-repository/src/index.ts
  packages/dynamo-config-repository/tsconfig.json
  packages/dynamo-config-repository/turbo.json
  packages/dynamo-config-repository/vitest.config.ts
  pnpm-lock.yaml
Due: np-atobarai

fixes after cr
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.test.ts
Due: np-atobarai

update snapshot
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.test.ts
Due: np-atobarai

Fix product feed s3 region select component
  .changeset/metal-cameras-vanish.md
  apps/products-feed/src/modules/app-configuration/s3-configuration-form.tsx
  apps/products-feed/src/pages/configuration.tsx
Due: products-feed

wip
  packages/dynamo-config-repository/src/__test__/bootstrap-test.ts
  packages/dynamo-config-repository/src/base-repository.test.ts
  packages/dynamo-config-repository/src/base-repository.ts
Due: none

wip
  packages/dynamo-config-repository/src/base-repository.test.ts
  packages/dynamo-config-repository/src/base-repository.ts
Due: none

Move more dependencies to pnpm catalog (#2006)
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/np-atobarai/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  apps/stripe/package.json
  packages/apl-dynamo/package.json
  packages/domain/package.json
  packages/errors/package.json
  packages/logger/package.json
  packages/otel/package.json
  packages/react-hook-form-macaw/package.json
  packages/sentry-utils/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
