Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
    project:
      default:
        target: auto
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      app-payment-np-atobarai:
        flags: [np-atobarai]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]
      packages-domain:
        flags: [domain]
      packages-errors:
        flags: [errors]
      packages-apl-dynamo:
        flags: [apl-dynamo]
ignore:
  - "**/scripts/**"
  - "**/e2e/**"
  - "**/graphql/**"
  - "**/generated/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  np-atobarai:
    paths:
      - apps/np-atobarai/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/
  domain:
    paths:
      - packages/domain/
  errors:
      paths:
        - packages/errors/
  apl-dynamo:
      paths:
        - packages/apl-dynamo/

chore: add changeset for fallback email redirect feature
  .changeset/smtp-fallback-email-redirect.md
Due: none

refactor(smtp): rename FALLBACK_EMAIL_REDIRECT env vars to FALLBACK_SMTP_EMAIL_REDIRECT
  .changeset/smtp-fallback-email-redirect.md
  apps/smtp/.env.example
  apps/smtp/src/env.ts
  apps/smtp/src/modules/smtp/configuration/smtp-config-schema.ts
  apps/smtp/turbo.json
Due: smtp

test(smtp): add tests for custom config vs fallback redirect interaction
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
Due: smtp

refactor(smtp): move redirect config into fallbackSmtpConfigSchema, remove blocked domains
  apps/smtp/.env.example
  apps/smtp/src/const.ts
  apps/smtp/src/env.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/saleor-fallback-behavior/redirect-email-config.test.ts
  apps/smtp/src/modules/saleor-fallback-behavior/redirect-email-config.ts
  apps/smtp/src/modules/smtp/configuration/smtp-config-schema.ts
  apps/smtp/turbo.json
Due: smtp

feat(smtp): redirect fallback emails to endpoint-provided address (#2298)
  .changeset/smtp-fallback-email-redirect.md
  apps/smtp/.env.example
  apps/smtp/src/const.ts
  apps/smtp/src/env.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/saleor-fallback-behavior/redirect-banner.ts
  apps/smtp/src/modules/saleor-fallback-behavior/redirect-email-fetcher.test.ts
  apps/smtp/src/modules/saleor-fallback-behavior/redirect-email-fetcher.ts
  apps/smtp/src/modules/saleor-fallback-behavior/redirect-endpoint-url.ts
  apps/smtp/src/modules/smtp/configuration/smtp-config-schema.ts
  apps/smtp/turbo.json
Due: smtp

Fix avatax e2e accepted version
  apps/avatax/e2e/env-e2e.ts
  apps/avatax/src/env.ts
Due: avatax

Notes added by 'git notes add'
  df7b52dfbef339e4f95cf9e10453ff6238b3a6a4
Due: none

Fix avatax e2e accepted version (#2311)
  apps/avatax/e2e/env-e2e.ts
  apps/avatax/src/env.ts
Due: avatax

temp. disable smtp dump templates script
  apps/smtp/scripts/deploy.ts
Due: none

temp. disable smtp dump templates script (#2312)
  apps/smtp/scripts/deploy.ts
Due: none

fix failing script in smtp app
  apps/smtp/package.json
  apps/smtp/scripts/require-shim.mjs
Due: smtp

feat(all-apps): add FALLBACK_SECRET_KEY support across all 9 apps
  apps/avatax/src/env.ts
  apps/avatax/src/modules/app/get-app-config.ts
  apps/avatax/src/modules/app/metadata-manager.ts
  apps/cms/src/env.ts
  apps/cms/src/modules/configuration/metadata-manager.ts
  apps/klaviyo/src/env.ts
  apps/klaviyo/src/lib/metadata.ts
  apps/np-atobarai/src/lib/env.ts
  apps/np-atobarai/src/modules/app-config/repo/app-config-repo.ts
  apps/products-feed/src/env.ts
  apps/products-feed/src/lib/metadata-manager.ts
  apps/search/src/env.ts
  apps/search/src/lib/metadata.ts
  apps/segment/src/env.ts
  apps/segment/src/modules/db/dynamo-config-mapper.ts
  apps/segment/src/modules/db/dynamo-config-repository.ts
  apps/smtp/src/env.ts
  apps/smtp/src/lib/metadata-manager.ts
  apps/stripe/src/lib/env.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
  turbo.json
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

wip: feat(stripe,np-atobarai,segment): add migration scripts for SECRET_KEY rotation
  apps/np-atobarai/package.json
  apps/np-atobarai/scripts/rotate-secret-key.ts
  apps/segment/package.json
  apps/segment/scripts/rotate-secret-key.ts
  apps/stripe/package.json
  apps/stripe/scripts/rotate-secret-key.ts
Due: segment, stripe, np-atobarai

wip: feat(smtp,avatax,cms,search,klaviyo,products-feed): add migration scripts for SECRET_KEY rotation
  apps/avatax/package.json
  apps/avatax/scripts/rotate-secret-key.ts
  apps/cms/package.json
  apps/cms/scripts/rotate-secret-key.ts
  apps/klaviyo/package.json
  apps/klaviyo/scripts/rotate-secret-key.ts
  apps/products-feed/package.json
  apps/products-feed/scripts/rotate-secret-key.ts
  apps/search/package.json
  apps/search/scripts/rotate-secret-key.ts
  apps/smtp/package.json
  apps/smtp/scripts/rotate-secret-key.ts
Due: avatax, cms, products-feed, search, smtp

chore: document FALLBACK_SECRET_KEY vars in .env.example files
  apps/avatax/.env.example
  apps/cms/.env.example
  apps/klaviyo/.env.example
  apps/np-atobarai/.env.example
  apps/products-feed/.env.example
  apps/search/.env.example
  apps/segment/.env.example
  apps/smtp/.env.example
  apps/stripe/.env.example
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

update minimum release age to 21 days
  pnpm-workspace.yaml
Due: none

pin all dependencies
  apps/avatax/bruno/package.json
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/smtp/package.json
  package.json
  packages/handlebars/package.json
Due: avatax, cms, products-feed, search, smtp

add settings for exact versions
  .npmrc
  pnpm-workspace.yaml
Due: none

fix install error
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

add frozen lockfile everywhere
  .npmrc
Due: none

update readme
  README.md
Due: none

refactor decryption into single folder, update names, remove duplicated tests
  apps/avatax/src/modules/app/get-app-config.ts
  apps/avatax/src/modules/app/metadata-manager.ts
  apps/klaviyo/src/lib/metadata.ts
  apps/np-atobarai/src/modules/app-config/repo/app-config-repo.ts
  apps/products-feed/src/lib/metadata-manager.ts
  apps/segment/src/modules/db/dynamo-config-mapper.ts
  apps/smtp/src/lib/metadata-manager.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
  packages/shared/package.json
  packages/shared/src/key-rotation/index.ts
  packages/shared/src/key-rotation/rotating-decrypt-callback.ts
  packages/shared/src/key-rotation/rotating-encryptor.ts
  packages/shared/src/key-rotation/try-decrypt-with-fallback.test.ts
  packages/shared/src/key-rotation/try-decrypt-with-fallback.ts
  packages/shared/src/metadata-manager.ts
  packages/shared/src/rotating-decrypt-callback.test.ts
  packages/shared/src/rotating-decrypt-callback.ts
  packages/shared/src/rotating-encryptor.test.ts
  packages/shared/src/rotating-encryptor.ts
  packages/shared/src/rotating-sdk-decrypt.test.ts
  packages/shared/src/rotating-sdk-decrypt.ts
Due: avatax, products-feed, segment, smtp, stripe, np-atobarai, shared

Apply suggestion from @NyanKiyoshi
  apps/avatax/bruno/package.json
Due: avatax

Improve pnpm security (#2314)
  .npmrc
  README.md
  apps/avatax/bruno/package.json
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/smtp/package.json
  package.json
  packages/handlebars/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, cms, products-feed, search, smtp

Dropped support for TLS 1.1 and 1.2
  .changeset/true-islands-know.md
  apps/smtp/src/modules/smtp/services/smtp-email-sender.ts
  apps/smtp/src/modules/smtp/ui/smtp-section.tsx
Due: smtp

Notes added by 'git notes add'
  8405c9819fce6441478793996b7de4de902e7b3c
Due: none

disable app on removed algolia config
  .changeset/open-singers-hide.md
  apps/search/generated/graphql.ts
  apps/search/graphql/mutations/AppDeactivate.graphql
  apps/search/package.json
  apps/search/src/lib/algolia/algolia-errors.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/modules/app-problems/search-problem-reporter.ts
  apps/search/src/pages/api/webhooks/saleor/category_created.test.ts
  apps/search/src/pages/api/webhooks/saleor/category_created.ts
  apps/search/src/pages/api/webhooks/saleor/category_deleted.test.ts
  apps/search/src/pages/api/webhooks/saleor/category_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/category_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/category_updated.ts
  apps/search/src/pages/api/webhooks/saleor/page_created.ts
  apps/search/src/pages/api/webhooks/saleor/page_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/page_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_back_in_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_out_of_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
  apps/search/src/webhooks/handle-invalid-app-id-error.test.ts
  apps/search/src/webhooks/handle-invalid-app-id-error.ts
  pnpm-lock.yaml
Due: search

Notes added by 'git notes add'
  9eba6593c42cdc3afc8a34ab4b5067dc0e8802dc
Due: none

Fix failing script in smtp app (#2313)
  apps/smtp/package.json
  apps/smtp/scripts/require-shim.mjs
Due: smtp

remove smtp script
  apps/smtp/package.json
  apps/smtp/scripts/audit-handlebars-helpers.ts
  apps/smtp/scripts/deploy.ts
  apps/smtp/scripts/dump-templates.ts
  apps/smtp/scripts/require-shim.mjs
Due: smtp

add back JSONParse helper
  packages/handlebars/src/allowed-helpers.ts
  packages/handlebars/src/register-allowed-helpers.test.ts
Due: none

add changeset
  .changeset/sixty-sloths-win.md
Due: none

update failing test
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.test.ts
Due: smtp

update changeset
  .changeset/sixty-sloths-win.md
Due: none

Update .changeset/sixty-sloths-win.md
  .changeset/sixty-sloths-win.md
Due: none

Add back `JSONParse` helper (#2319)
  .changeset/sixty-sloths-win.md
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.test.ts
  packages/handlebars/src/allowed-helpers.ts
  packages/handlebars/src/register-allowed-helpers.test.ts
Due: smtp

surface network error details
  apps/search/src/lib/algolia/getAlgoliaConfiguration.ts
  apps/search/src/webhooks/webhook-context.ts
Due: search

add changeset
  .changeset/metal-bugs-doubt.md
Due: none

add logger to metadata-manager
  apps/cms/src/modules/configuration/metadata-manager.ts
  apps/search/src/lib/metadata.ts
  packages/shared/src/metadata-manager.ts
  packages/shared/src/types.ts
Due: cms, search, shared

reuse factory
  apps/klaviyo/src/lib/metadata.ts
  apps/smtp/src/lib/metadata-manager.ts
Due: smtp
