Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, logger, shared, webhook-utils

codecov.yml:

coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms-v2/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/

instr
  apps/avatax/src/instrumentation.ts
Due: avatax

update sdk
  apps/segment/src/lib/dyanmodb-apl.test.ts
  apps/segment/src/modules/db/dynamo-apl-repository.test.ts
  package.json
  pnpm-lock.yaml
Due: segment

update setup
  apps/avatax/scripts/run-otel-tests.ts
Due: avatax

update OTEL pkgs
  apps/avatax/src/otel-instrumentation.node.ts
  package.json
  packages/otel/src/batch-span-processor-factory.ts
  packages/otel/src/http-instrumentation-factory.ts
  packages/otel/src/metric-reader-factory.ts
  pnpm-lock.yaml
Due: avatax

add ingore request hook
  packages/otel/src/http-instrumentation-factory.ts
Due: none

move meter into handler
  apps/avatax/src/pages/api/manifest.ts
Due: avatax

force flush from global scope
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/lib/otel-metric-reader.ts
  apps/avatax/src/otel-instrumentation.node.ts
  apps/avatax/src/pages/api/manifest.ts
Due: avatax

test on vercel
  apps/avatax/global.d.ts
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/lib/otel-metric-reader.ts
  apps/avatax/src/otel-instrumentation.node.ts
  apps/avatax/src/pages/api/manifest.ts
  apps/avatax/tsconfig.json
Due: avatax

use old otel
  package.json
  pnpm-lock.yaml
Due: none

fix build
  apps/avatax/src/otel-instrumentation.node.ts
Due: avatax

test with otel wrapper
  apps/avatax/src/lib/with-otel.ts
  apps/avatax/src/pages/api/manifest.ts
Due: avatax

Fix discord link
  README.md
Due: none

share metrics in different way
  apps/avatax/src/lib/otel-metrics.ts
  apps/avatax/src/lib/otel-resource.ts
  apps/avatax/src/lib/shared-metrics.ts
  apps/avatax/src/lib/with-otel.ts
  apps/avatax/src/otel-instrumentation.node.ts
  apps/avatax/src/pages/api/manifest.ts
Due: avatax

cleanup
  apps/avatax/global.d.ts
  apps/avatax/src/lib/shared-metrics.ts
  apps/avatax/src/lib/with-otel.ts
  apps/avatax/src/otel-instrumentation.node.ts
  apps/avatax/src/pages/api/manifest.ts
  apps/avatax/tsconfig.json
  packages/otel/src/metric-reader-factory.ts
Due: avatax

flush span processor
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
  apps/avatax/src/lib/otel/otel-metrics.ts
  apps/avatax/src/lib/otel/otel-resource.ts
  apps/avatax/src/lib/otel/otel-tracers.ts
  apps/avatax/src/lib/otel/race.ts
  apps/avatax/src/lib/otel/shared-metrics.ts
  apps/avatax/src/lib/otel/shared-span-processor.ts
  apps/avatax/src/lib/otel/with-otel.ts
  apps/avatax/src/otel-instrumentation.node.ts
  apps/avatax/src/pages/api/manifest.ts
  packages/otel/src/batch-span-processor-factory.ts
Due: avatax

use vercel otel
  apps/avatax/package.json
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/lib/app-configuration-logger.test.ts
  apps/avatax/src/lib/app-configuration-logger.ts
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
  apps/avatax/src/lib/otel/otel-metrics.ts
  apps/avatax/src/lib/otel/otel-resource.ts
  apps/avatax/src/lib/otel/shared-metrics.ts
  apps/avatax/src/lib/otel/shared-span-processor.ts
  apps/avatax/src/lib/otel/with-otel.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/avatax/src/otel-instrumentation.node.ts
  apps/avatax/src/pages/api/manifest.ts
  apps/avatax/src/pages/api/register.ts
  apps/avatax/src/pages/api/trpc/[trpc].ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
  package.json
  packages/logger/src/logger-vercel-runtime-transport.ts
  pnpm-lock.yaml
Due: avatax, logger

allowed domain pattern env example
  apps/avatax/.env.example
  apps/cms/.env.example
  apps/klaviyo/.env.example
  apps/products-feed/.env.example
  apps/search/.env.example
  apps/segment/.env.example
  apps/smtp/.env.example
Due: avatax, products-feed, search, segment, smtp

update env example
  apps/avatax/.env.example
  apps/cms/.env.example
  apps/klaviyo/.env.example
  apps/products-feed/.env.example
  apps/search/.env.example
  apps/segment/.env.example
  apps/smtp/.env.example
Due: avatax, products-feed, search, segment, smtp

set exportIntervalMillis
  apps/avatax/src/otel-instrumentation.node.ts
Due: avatax

use custom metric provider
  apps/avatax/package.json
  apps/avatax/src/lib/otel/otel-metrics.ts
  apps/avatax/src/lib/otel/shared-metrics.ts
  apps/avatax/src/otel-instrumentation.node.ts
  apps/avatax/src/pages/api/manifest.ts
  pnpm-lock.yaml
Due: avatax

update sdk
  package.json
  pnpm-lock.yaml
Due: none

with otel new hook
  apps/avatax/src/lib/otel/with-otel.ts
  apps/avatax/src/pages/api/manifest.ts
Due: avatax

Migrate AvaTax
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/lib/app-root-tracer.ts
  apps/avatax/src/otel-instrumentation.node.ts
  package.json
  packages/otel/src/batch-span-processor-factory.ts
  packages/otel/src/http-instrumentation-factory.ts
  packages/otel/src/resource-factory.ts
  pnpm-lock.yaml
Due: avatax

add example sampler
  apps/avatax/src/otel-instrumentation.node.ts
Due: avatax

add http instrumentation
  apps/avatax/src/otel-instrumentation.node.ts
  package.json
  packages/otel/src/http-instrumentation-factory.ts
  pnpm-lock.yaml
Due: avatax

wip trying app dir route in segment app
  apps/segment/next-env.d.ts
  apps/segment/src/app/api/webhooks/order-cancelled/route.ts
  apps/segment/src/modules/webhooks/definitions/order-cancelled.ts
  apps/segment/tsconfig.json
  packages/logger/node.ts
  packages/logger/src/logger-context.ts
  packages/otel/src/wrap-with-span-attributes.ts
Due: segment, logger

resource attributes
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/otel-instrumentation.ts
  packages/otel/src/batch-span-processor-factory.ts
Due: avatax

bring back sampler
  apps/avatax/src/otel-instrumentation.ts
Due: avatax

remove env
  apps/avatax/src/otel-instrumentation.ts
Due: avatax

use ATTR_DEPLOYMENT_ENVIRONMENT
  apps/avatax/src/otel-instrumentation.ts
Due: avatax

unset var
  apps/avatax/src/otel-instrumentation.ts
Due: avatax

cleanup
  apps/avatax/package.json
  apps/avatax/src/otel-instrumentation.ts
  pnpm-lock.yaml
Due: avatax

update env example (#1749)
  apps/avatax/.env.example
  apps/cms/.env.example
  apps/klaviyo/.env.example
  apps/products-feed/.env.example
  apps/search/.env.example
  apps/segment/.env.example
  apps/smtp/.env.example
Due: avatax, products-feed, search, segment, smtp

regenerate urql
  apps/segment/.graphqlrc.ts
  apps/segment/generated/graphql.ts
  apps/segment/src/app/api/webhooks/order-cancelled/route.ts
Due: segment
