Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

update saleor app
  apps/avatax/package.json
  apps/cms/package.json
  apps/cms/src/env.ts
  apps/cms/turbo.json
  apps/klaviyo/src/env.ts
  apps/klaviyo/turbo.json
  apps/np-atobarai/package.json
  apps/products-feed/package.json
  apps/products-feed/src/env.ts
  apps/products-feed/turbo.json
  apps/search/package.json
  apps/search/src/env.ts
  apps/search/turbo.json
  apps/segment/package.json
  apps/smtp/package.json
  apps/smtp/src/env.ts
  apps/smtp/turbo.json
  apps/stripe/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

remove cloud apl
  .changeset/kind-baboons-swim.md
  apps/avatax/saleor-app.ts
  apps/avatax/src/env.ts
  apps/cms/src/saleor-app.ts
  apps/klaviyo/saleor-app.ts
  apps/products-feed/src/saleor-app.ts
  apps/search/saleor-app.ts
  apps/segment/src/env.ts
  apps/segment/src/saleor-app.ts
  apps/smtp/src/saleor-app.ts
Due: avatax, cms, products-feed, search, segment, smtp

lock from main
  pnpm-lock.yaml
Due: none

changeset
  .changeset/afraid-tomatoes-know.md
Due: none

updating untrusted packages
  packages/eslint-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

excluding untrusted
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix trust policy
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix linter
  apps/klaviyo/eslint.config.js
Due: none

add claude skill
  .claude/skills/add-env-variable.md
  apps/cms/src/env.ts
  apps/cms/src/modules/providers/strapi/strapi-bulk-sync-processor.ts
  apps/search/src/lib/algolia-timeouts.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/trace-effect-thresholds.ts
Due: cms, search

update env secret
  apps/products-feed/src/env.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Due: products-feed

fix tests
  apps/cms/src/setup-tests.ts
Due: cms

fix lint
  apps/klaviyo/eslint.config.js
Due: none

fix linter
  apps/cms/eslint.config.js
  apps/products-feed/eslint.config.js
  apps/search/eslint.config.js
  apps/smtp/eslint.config.js
  apps/smtp/src/lib/metadata-manager.ts
  apps/smtp/src/lib/set-backend-errors.ts
  apps/smtp/src/pages/api/manifest.ts
Due: smtp

fix lint
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
Due: products-feed

fix tests
  apps/search/src/setup-tests.ts
  apps/search/vitest.config.ts
Due: search

extract boolean schema and test
  apps/avatax/src/env.ts
  apps/cms/src/env.ts
  apps/klaviyo/src/env.ts
  apps/np-atobarai/src/lib/env.ts
  apps/products-feed/src/env.ts
  apps/search/src/env.ts
  apps/segment/src/env.ts
  apps/smtp/src/env.ts
  apps/stripe/src/lib/env.ts
  packages/shared/package.json
  packages/shared/src/boolean-env-schema.test.ts
  packages/shared/src/boolean-env-schema.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, shared

revert pnpm update
  package.json
  packages/eslint-config/package.json
Due: none

Revert "revert pnpm update"
  package.json
  packages/eslint-config/package.json
Due: none

remove cloud apl (#2204)
  .changeset/kind-baboons-swim.md
  apps/avatax/saleor-app.ts
  apps/avatax/src/env.ts
  apps/cms/src/saleor-app.ts
  apps/klaviyo/saleor-app.ts
  apps/products-feed/src/saleor-app.ts
  apps/search/saleor-app.ts
  apps/segment/src/env.ts
  apps/segment/src/saleor-app.ts
  apps/smtp/src/saleor-app.ts
Due: avatax, cms, products-feed, search, segment, smtp

Created notification email in use
  apps/smtp/src/lib/notify-event-types.ts
  apps/smtp/src/modules/event-handlers/default-payloads.ts
  apps/smtp/src/modules/event-handlers/message-event-types.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/src/modules/smtp/default-templates.ts
  apps/smtp/src/modules/webhook-management/get-webhook-statuses-from-configurations.test.ts
  apps/smtp/src/modules/webhook-management/webhook-management-service.ts
Due: smtp

stub envs
  apps/products-feed/src/setup-tests.ts
  apps/smtp/src/setup-tests.ts
Due: products-feed, smtp

update dynamodb deps
  pnpm-workspace.yaml
Due: none

changeset
  .changeset/slimy-beans-pretend.md
Due: none

better copy
  apps/smtp/src/modules/app-configuration/ui/messaging-providers-box.tsx
  apps/smtp/src/modules/saleor-fallback-behavior/tenant-name.test.ts
  apps/smtp/src/modules/saleor-fallback-behavior/tenant-name.ts
  apps/smtp/src/pages/configuration/index.tsx
Due: smtp

conditionally hide fallback smtp
  apps/smtp/src/lib/set-backend-errors.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/pages/configuration/index.tsx
Due: smtp

comment
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
Due: smtp

add link payment method
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/event-data-parser.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/payment-method-resolver.ts
  apps/stripe/src/modules/stripe/payment-methods/link.test.ts
  apps/stripe/src/modules/stripe/payment-methods/link.ts
Due: stripe

changeset
  .changeset/rotten-owls-sparkle.md
Due: none

cancel on initialize session
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
Due: stripe

changeset
  .changeset/strange-walls-hammer.md
Due: none

Stripe: Add Link payment method support (#2207)
  .changeset/rotten-owls-sparkle.md
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/event-data-parser.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/payment-method-resolver.ts
  apps/stripe/src/modules/stripe/payment-methods/link.test.ts
  apps/stripe/src/modules/stripe/payment-methods/link.ts
Due: stripe

Update .changeset/strange-walls-hammer.md
  .changeset/strange-walls-hammer.md
Due: none

Stripe: Cancel orphaned Payment Intents on initialize session failure (#2208)
  .changeset/strange-walls-hammer.md
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
Due: stripe

apply cr fixes
  .claude/skills/add-env-variable/SKILL.md
  .npmrc
  apps/avatax/src/env.ts
  apps/cms/src/env.ts
  apps/klaviyo/src/env.ts
  apps/np-atobarai/src/lib/env.ts
  apps/products-feed/src/env.ts
  apps/products-feed/src/modules/app-configuration/app-config.ts
  apps/search/src/env.ts
  apps/segment/src/env.ts
  apps/smtp/src/env.ts
  apps/stripe/src/lib/env.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

rewrite to t3-env
  apps/smtp/src/env.ts
  apps/smtp/src/modules/smtp/configuration/smtp-config-schema.ts
Due: smtp

update lock
  pnpm-lock.yaml
Due: none

update dynamodb deps (#2206)
  .changeset/slimy-beans-pretend.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

avatax error to sentry cause
  .changeset/strange-peaches-impress.md
  apps/avatax/src/modules/avatax/avatax-errors-parser.test.ts
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
Due: avatax

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
