Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, logger, shared, webhook-utils

codecov.yml:

coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/

fix test
  apps/stripe/src/app/api/manifest/route.test.ts
Due: stripe

Add PayPal support
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/payment-method-resolver.ts
  apps/stripe/src/modules/stripe/payment-methods/apple-pay.ts
  apps/stripe/src/modules/stripe/payment-methods/paypal.test.ts
  apps/stripe/src/modules/stripe/payment-methods/paypal.ts
  cspell.config.js
Due: stripe

support google pay (#1936)
  README.md
  apps/stripe/src/app/api/manifest/route.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/payment-method-resolver.ts
  apps/stripe/src/lib/env.ts
  apps/stripe/src/modules/stripe/payment-methods/google-pay.test.ts
  apps/stripe/src/modules/stripe/payment-methods/google-pay.ts
  apps/stripe/turbo.json
  cspell.config.js
Due: stripe

Add PayPal support (#1938)
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/payment-method-resolver.ts
  apps/stripe/src/modules/stripe/payment-methods/apple-pay.ts
  apps/stripe/src/modules/stripe/payment-methods/paypal.test.ts
  apps/stripe/src/modules/stripe/payment-methods/paypal.ts
  cspell.config.js
Due: stripe

improve ui
  apps/stripe/src/modules/ui/app-header.tsx
  apps/stripe/src/modules/ui/channel-configs/channel-config-mapping-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/channel-config-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/delete-configuration-modal-content.tsx
  apps/stripe/src/modules/ui/stripe-configs/empty-configs.tsx
  apps/stripe/src/modules/ui/stripe-configs/new-stripe-config-form.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
  apps/stripe/src/pages/config/index.tsx
  apps/stripe/src/pages/config/new.tsx
Due: stripe

no wrap & fix padding
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
Due: stripe

Improve Stripe app UI (#1939)
  apps/stripe/src/modules/ui/app-header.tsx
  apps/stripe/src/modules/ui/channel-configs/channel-config-mapping-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/channel-config-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/delete-configuration-modal-content.tsx
  apps/stripe/src/modules/ui/stripe-configs/empty-configs.tsx
  apps/stripe/src/modules/ui/stripe-configs/new-stripe-config-form.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
  apps/stripe/src/pages/config/index.tsx
  apps/stripe/src/pages/config/new.tsx
Due: stripe

Add cause to stripe error
  apps/stripe/src/modules/stripe/stripe-api-error.test.ts
  apps/stripe/src/modules/stripe/stripe-api-error.ts
Due: stripe

Add cause to stripe error (#1940)
  apps/stripe/src/modules/stripe/stripe-api-error.test.ts
  apps/stripe/src/modules/stripe/stripe-api-error.ts
Due: stripe

wip integration tests
  apps/stripe/src/__tests__/integration/dynamodb/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/stripe/src/app/api/webhooks/saleor/verify-signature.ts
  apps/stripe/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: stripe

wip
  apps/stripe/src/__tests__/integration/dynamodb/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/stripe/src/lib/logger.ts
Due: stripe

woring test when encrypting changed
  apps/stripe/src/__tests__/integration/dynamodb/create-table.ts
  apps/stripe/src/__tests__/integration/dynamodb/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/lib/encryptor.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
Due: stripe

transaction initialize integration test
  apps/stripe/src/__tests__/integration/dynamodb/docker-compose.yml
  apps/stripe/src/__tests__/integration/dynamodb/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/webhook-definition.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
Due: stripe

workflow
  .github/workflows/stripe-integration-dynamodb.yml
Due: none

single thread
  apps/stripe/vitest.config.ts
Due: stripe

fix encryption
  .github/workflows/stripe-integration-dynamodb.yml
  apps/stripe/src/__tests__/integration/dynamodb/create-table.ts
  apps/stripe/src/lib/encryptor.test.ts
  apps/stripe/src/lib/encryptor.ts
Due: stripe

cleanup
  .github/workflows/stripe-integration-dynamodb.yml
  apps/stripe/src/__tests__/integration/dynamodb/setup.integration-dynamo.ts
  apps/stripe/src/__tests__/integration/dynamodb/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/dynamodb/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/__tests__/mocks/mocked-encryption-key.ts
  apps/stripe/src/lib/encryptor.ts
  apps/stripe/src/lib/logger.ts
Due: stripe

Deploy segment app to AWS - assume role
  .github/workflows/deploy-lamda-dev.yml
Due: none

change to push
  .github/workflows/deploy-lamda-dev.yml
Due: none

rename / permission
  .github/workflows/deploy-segment-dev.yml
Due: none

update workflow
  .github/workflows/deploy-segment-dev.yml
Due: none

add slash
  .github/workflows/deploy-segment-dev.yml
Due: none

change echo to cat
  .github/workflows/deploy-segment-dev.yml
Due: none

print verbose error on gateway initialize
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/lib/app-context.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.ts
Due: stripe

wip
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.ts
Due: stripe

wip
  .github/workflows/deploy-segment-dev.yml
  apps/segment/next.config.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/webhook-definition.ts
Due: segment, stripe

apply changes
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/stripe/transaction-event-report-variables-resolver.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/stripe/generate-stripe-dashboard-urls.ts
Due: stripe

fix tests
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/response-message-formatter.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-response-schema.test.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-response-schema.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
Due: stripe

eslint
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
Due: stripe

new tests
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
Due: stripe

cleanup
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/response-message-formatter.test.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
Due: stripe

fix tests
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
Due: stripe

cleanup and flatten integration
  .github/workflows/stripe-integration-dynamodb.yml
  apps/stripe/package.json
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/src/__tests__/integration/config-repo/config-repo.integration.test.ts
  apps/stripe/src/__tests__/integration/create-table.ts
  apps/stripe/src/__tests__/integration/delete-table.ts
  apps/stripe/src/__tests__/integration/docker-compose.yml
  apps/stripe/src/__tests__/integration/global-setup.integration.ts
  apps/stripe/src/__tests__/integration/setup.integration.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/vitest.config.ts
Due: stripe

cleanup
  apps/stripe/src/__tests__/integration/webhooks/fixtures/payment-gateway-initialize-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-initialize-session-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
Due: stripe

fix workflow
  .github/workflows/stripe-integration-dynamodb.yml
Due: none
