Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, logger, shared, webhook-utils

codecov.yml:

coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms-v2/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/

use Sentry with OTEL
  apps/avatax/package.json
  apps/avatax/src/env.ts
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/instrumentations/otel-node.ts
  apps/avatax/src/instrumentations/sentry-node.ts
  pnpm-lock.yaml
Due: avatax

fix lint
  apps/avatax/src/instrumentations/otel-node.ts
Due: avatax

add logger
  apps/avatax/src/instrumentations/otel-node.ts
Due: avatax

Add changeset
  .changeset/fuzzy-cougars-grin.md
Due: none

Setup OTEL with Sentry for AvaTax (#1801)
  .changeset/fuzzy-cougars-grin.md
  apps/avatax/package.json
  apps/avatax/src/env.ts
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/instrumentations/otel-node.ts
  apps/avatax/src/instrumentations/sentry-node.ts
  pnpm-lock.yaml
Due: avatax

Release apps (#1802)
  .changeset/fuzzy-cougars-grin.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
Due: avatax

fix missing spans when using sentry
  apps/avatax/package.json
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/instrumentations/otel-node.ts
  apps/avatax/src/instrumentations/sentry-node.ts
  apps/avatax/src/logger.ts
  apps/avatax/src/pages/api/manifest.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax

fix lint
  apps/avatax/src/logger.ts
  apps/avatax/src/pages/api/manifest.ts
Due: avatax

Add changeset
  .changeset/spotty-jobs-deny.md
  apps/avatax/bruno/checkout/04-create-checkout.bru
  apps/avatax/src/instrumentations/sentry-node.ts
  apps/avatax/src/pages/api/manifest.ts
Due: avatax

cleanup
  apps/avatax/bruno/checkout/04-create-checkout.bru
  apps/avatax/src/logger.ts
Due: avatax

Fix Sentry dropping internal OTEL spans (#1803)
  .changeset/spotty-jobs-deny.md
  apps/avatax/package.json
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/instrumentations/otel-node.ts
  apps/avatax/src/instrumentations/sentry-node.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax

Release apps (#1804)
  .changeset/spotty-jobs-deny.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
Due: avatax

Fix Sentry integartion for apps
  .changeset/cyan-toes-laugh.md
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/instrumentations/sentry-edge.ts
  apps/cms/src/instrumentation.ts
  apps/cms/src/instrumentations/sentry-edge.ts
  apps/cms/src/instrumentations/sentry-node.ts
  apps/klaviyo/src/instrumentation.ts
  apps/klaviyo/src/instrumentations/sentry-edge.ts
  apps/klaviyo/src/instrumentations/sentry-node.ts
  apps/products-feed/src/instrumentation.ts
  apps/products-feed/src/instrumentations/sentry-edge.ts
  apps/products-feed/src/instrumentations/sentry-node.ts
  apps/search/src/instrumentation.ts
  apps/search/src/instrumentations/sentry-edge.ts
  apps/search/src/instrumentations/sentry-node.ts
  apps/segment/src/instrumentation.ts
  apps/segment/src/instrumentations/sentry-edge.ts
  apps/segment/src/instrumentations/sentry-node.ts
  apps/smtp/src/instrumentation.ts
  apps/smtp/src/instrumentations/sentry-edge.ts
  apps/smtp/src/instrumentations/sentry-node.ts
Due: avatax, products-feed, search, segment, smtp

Update README.md - contribution and deployment notes
  README.md
Due: none

Fix Sentry integration for apps (#1805)
  .changeset/cyan-toes-laugh.md
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/instrumentations/sentry-edge.ts
  apps/cms/src/instrumentation.ts
  apps/cms/src/instrumentations/sentry-edge.ts
  apps/cms/src/instrumentations/sentry-node.ts
  apps/klaviyo/src/instrumentation.ts
  apps/klaviyo/src/instrumentations/sentry-edge.ts
  apps/klaviyo/src/instrumentations/sentry-node.ts
  apps/products-feed/src/instrumentation.ts
  apps/products-feed/src/instrumentations/sentry-edge.ts
  apps/products-feed/src/instrumentations/sentry-node.ts
  apps/search/src/instrumentation.ts
  apps/search/src/instrumentations/sentry-edge.ts
  apps/search/src/instrumentations/sentry-node.ts
  apps/segment/src/instrumentation.ts
  apps/segment/src/instrumentations/sentry-edge.ts
  apps/segment/src/instrumentations/sentry-node.ts
  apps/smtp/src/instrumentation.ts
  apps/smtp/src/instrumentations/sentry-edge.ts
  apps/smtp/src/instrumentations/sentry-node.ts
Due: avatax, products-feed, search, segment, smtp

Release apps (#1807)
  .changeset/cyan-toes-laugh.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Due: avatax, products-feed, search, segment, smtp

update lock after merge
  pnpm-lock.yaml
Due: none

Fix peer deps issues (#1796)
  apps/avatax/package.json
  apps/avatax/src/pages/_app.tsx
  apps/cms/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/search/src/components/ImportProductsToAlgolia/useAlgoliaConfiguration.test.ts
  apps/search/src/components/ImportProductsToAlgolia/useBatchUpload.test.ts
  apps/segment/package.json
  apps/smtp/package.json
  packages/react-hook-form-macaw/.storybook/main.ts
  packages/react-hook-form-macaw/.storybook/preview.tsx
  packages/react-hook-form-macaw/.storybook/styles.css
  packages/react-hook-form-macaw/README.md
  packages/react-hook-form-macaw/package.json
  packages/react-hook-form-macaw/src/components/Combobox.stories.tsx
  packages/react-hook-form-macaw/src/components/Input.stories.tsx
  packages/react-hook-form-macaw/src/components/Multiselect.stories.tsx
  packages/react-hook-form-macaw/src/components/Select.stories.tsx
  packages/react-hook-form-macaw/src/stories/Introduction.mdx
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp

add wrappers
  apps/avatax/src/lib/app-metadata-cache.ts
  packages/logger/src/logger-context.ts
  packages/otel/src/with-span-attributes.ts
Due: avatax, logger

migrate routes
  apps/avatax/next-env.d.ts
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/lib/app-metadata-cache.ts
  apps/avatax/src/logger-context.ts
  apps/avatax/src/modules/app/metadata-manager.test.ts
  apps/avatax/src/modules/webhooks/definitions/checkout-calculate-taxes.ts
  apps/avatax/src/modules/webhooks/definitions/order-calculate-taxes.ts
  apps/avatax/tsconfig.json
  packages/logger/node.ts
  packages/logger/src/logger-context.test.ts
  packages/logger/src/logger-context.ts
Due: avatax, logger

migrate order-cancelled
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/modules/webhooks/definitions/order-cancelled.ts
Due: avatax

migrate order-confirmed & manifest
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/modules/webhooks/definitions/order-confirmed.ts
Due: avatax

migrate register
  apps/avatax/src/app/api/register/route.ts
Due: avatax

migrate trpc
  apps/avatax/src/app/api/trpc/[trpc]/route.ts
  apps/avatax/src/modules/trpc/trpc-context.ts
  apps/avatax/src/pages/api/trpc/[trpc].ts
Due: avatax

fix tests
  apps/avatax/src/modules/app/metadata-manager.test.ts
Due: avatax

add changeset
  .changeset/gorgeous-rivers-begin.md
  .changeset/weak-taxis-camp.md
Due: none

add logger
  packages/logger/src/logger-context.ts
Due: logger

update turbo.json & path
  apps/avatax/turbo.json
  packages/logger/src/logger-context.ts
Due: avatax, logger

cleanup
  packages/logger/src/logger-context.ts
Due: logger
