Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
    project:
      default:
        target: auto
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      app-payment-np-atobarai:
        flags: [np-atobarai]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]
      packages-domain:
        flags: [domain]
      packages-errors:
        flags: [errors]
      packages-apl-dynamo:
        flags: [apl-dynamo]
ignore:
  - "**/scripts/**"
  - "**/e2e/**"
  - "**/graphql/**"
  - "**/generated/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  np-atobarai:
    paths:
      - apps/np-atobarai/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/
  domain:
    paths:
      - packages/domain/
  errors:
      paths:
        - packages/errors/
  apl-dynamo:
      paths:
        - packages/apl-dynamo/

cr: add filtering for fetched private metadata keys
  apps/avatax/scripts/rotate-secret-key.ts
  apps/avatax/src/lib/encrypted-metadata-keys.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-code-match-repository.ts
  apps/avatax/src/modules/channel-configuration/channel-configuration-repository.ts
  apps/avatax/src/modules/provider-connections/public-provider-connections.service.ts
  apps/cms/scripts/rotate-secret-key.ts
  apps/cms/src/lib/encrypted-metadata-keys.ts
  apps/cms/src/modules/configuration/app-config-metadata-manager.ts
  apps/klaviyo/scripts/rotate-secret-key.ts
  apps/klaviyo/src/lib/encrypted-metadata-keys.ts
  apps/products-feed/scripts/rotate-secret-key.ts
  apps/products-feed/src/lib/encrypted-metadata-keys.ts
  apps/products-feed/src/modules/app-configuration/app-config-metadata-manager.ts
  apps/search/scripts/rotate-secret-key.ts
  apps/search/src/lib/encrypted-metadata-keys.ts
  apps/search/src/modules/configuration/app-config-metadata-manager.ts
  apps/smtp/scripts/rotate-secret-key.ts
  apps/smtp/src/lib/encrypted-metadata-keys.ts
  apps/smtp/src/modules/smtp/configuration/smtp-metadata-manager.ts
  packages/shared/src/key-rotation/fetch-metadata-rotation-items.ts
Due: avatax, cms, products-feed, search, smtp, shared

Notes added by 'git notes add'
  df6c09409702846b8cd9547bc0f23341708dc88d
Due: none

fix: filtering metadata not working with prefixes
  packages/shared/src/key-rotation/fetch-metadata-rotation-items.ts
  packages/shared/src/key-rotation/metadata-key-matcher.test.ts
  packages/shared/src/key-rotation/metadata-key-matcher.ts
Due: shared

cr: use catalog version of package
  packages/shared/package.json
  pnpm-lock.yaml
Due: shared

add logging for dynamodb based key migration
  packages/shared/src/key-rotation/dynamodb-secret-key-rotation-runner.ts
Due: shared

update key rotation for dynamodb - use commands that guarantee consistency to avoid race conditions
  packages/shared/package.json
  packages/shared/src/key-rotation/dynamodb-secret-key-rotation-runner.test.ts
  packages/shared/src/key-rotation/dynamodb-secret-key-rotation-runner.ts
  packages/shared/src/key-rotation/secret-key-rotation-runner.test.ts
  packages/shared/src/key-rotation/secret-key-rotation-runner.ts
  pnpm-lock.yaml
Due: shared

add pnpm audit workflow
  .github/workflows/main.yml
Due: none

build: pin all actions used
  .github/workflows/assign-pr.yml
  .github/workflows/changeset-checker.yml
  .github/workflows/check-licenses.yaml
  .github/workflows/check-spelling.yml
  .github/workflows/e2e.yml
  .github/workflows/graphql-schema-updater.yml
  .github/workflows/labeler.yml
  .github/workflows/main.yml
  .github/workflows/prepare-release.yml
  .github/workflows/run-dashboard-smoke-tests.yml
  .github/workflows/stripe-integration-test.yml
Due: none

build: pin all actions used (#2328)
  .github/workflows/assign-pr.yml
  .github/workflows/changeset-checker.yml
  .github/workflows/check-licenses.yaml
  .github/workflows/check-spelling.yml
  .github/workflows/e2e.yml
  .github/workflows/graphql-schema-updater.yml
  .github/workflows/labeler.yml
  .github/workflows/main.yml
  .github/workflows/prepare-release.yml
  .github/workflows/run-dashboard-smoke-tests.yml
  .github/workflows/stripe-integration-test.yml
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

Update CODEOWNERS (#2329)
  CODEOWNERS
Due: none

Remove CODEOWNERS files
  CODEOWNERS
Due: none

run audit concurrently
  .github/workflows/main.yml
Due: none

cr: pin actions
  .github/workflows/main.yml
Due: none

cr: update setup-node, use cache
  .github/workflows/main.yml
Due: none

Add pnpm audit workflow (#2327)
  .github/workflows/main.yml
Due: none

Remove CODEOWNERS files (#2331)
  CODEOWNERS
Due: none

Configure CODEOWNERS
  .github/CODEOWNERS
Due: none

Configure CODEOWNERS (#2332)
  .github/CODEOWNERS
Due: none

add script to delete old deployments
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/README.md
  scripts/package.json
  scripts/remove-old-vercel-deployments.ts
  scripts/tsconfig.json
Due: none

add fetching vercel aliases
  scripts/README.md
  scripts/remove-old-vercel-deployments.ts
Due: none

update cspell
  cspell.config.js
Due: none

improve copy
  apps/search/src/components/permission-missing-warning.tsx
Due: search

update avatax sdk, override vulnerable form-data@4
  .changeset/hungry-cooks-cut.md
  apps/avatax/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax

Bump expected node to v24
  .nvmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix tests
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/stripe/src/app/api/manifest/route.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: stripe, np-atobarai

readme
  apps/np-atobarai/README.md
  apps/segment/README.md
  apps/stripe/README.md
Due: segment, stripe, np-atobarai

Bump expected node to v24 (#2337)
  .nvmrc
  apps/np-atobarai/README.md
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/segment/README.md
  apps/stripe/README.md
  apps/stripe/src/app/api/manifest/route.test.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: segment, stripe, np-atobarai

update avatax sdk, override vulnerable form-data@4 (#2336)
  .changeset/hungry-cooks-cut.md
  apps/avatax/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax

gracefully handle jwt error
  .changeset/stripe-jwt-403.md
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
  apps/stripe/src/modules/ui/channel-configs/channel-config-mapping-section.tsx
Due: stripe

Add permissios gate for missing MANAGE_PAGES in search app (#2289)
  apps/search/src/components/permission-missing-warning.tsx
  apps/search/src/lib/use-has-permission.test.ts
  apps/search/src/lib/use-has-permission.ts
  apps/search/src/modules/configuration/configuration.router.ts
  apps/search/src/pages/api/manifest.ts
  apps/search/src/views/configuration/configuration.view.tsx
Due: search

add readme
  packages/shared/src/key-rotation/README.md
Due: shared

add changeset
  .changeset/rotate-key-inverted-flow.md
Due: none

Stripe: gracefully handle jwt error (#2338)
  .changeset/stripe-jwt-403.md
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
  apps/stripe/src/modules/ui/channel-configs/channel-config-mapping-section.tsx
Due: stripe
