Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
    project:
      default:
        target: auto
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      app-payment-np-atobarai:
        flags: [np-atobarai]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]
      packages-domain:
        flags: [domain]
      packages-errors:
        flags: [errors]
      packages-apl-dynamo:
        flags: [apl-dynamo]
ignore:
  - "**/scripts/**"
  - "**/e2e/**"
  - "**/graphql/**"
  - "**/generated/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  np-atobarai:
    paths:
      - apps/np-atobarai/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/
  domain:
    paths:
      - packages/domain/
  errors:
      paths:
        - packages/errors/
  apl-dynamo:
      paths:
        - packages/apl-dynamo/

Add Stripe configuration edit page with Dashboard save bar
  .changeset/apps-ui-next-initial.md
  .changeset/shared-unsaved-changes-guard.md
  .changeset/stripe-edit-configuration.md
  .claude/skills/saleor-app-ui/SKILL.md
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
  apps/stripe/src/modules/app-config/trpc-handlers/stripe-key-input-schemas.ts
  apps/stripe/src/modules/app-config/trpc-handlers/update-stripe-config-input-schema.ts
  apps/stripe/src/modules/app-config/trpc-handlers/update-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/update-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
  apps/stripe/src/modules/ui/stripe-configs/edit-stripe-config-form-schema.test.ts
  apps/stripe/src/modules/ui/stripe-configs/edit-stripe-config-form-schema.ts
  apps/stripe/src/modules/ui/stripe-configs/edit-stripe-config-view.tsx
  apps/stripe/src/modules/ui/stripe-configs/new-stripe-config-form.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-config-card.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-config-fields.tsx
  apps/stripe/src/pages/config/[configId].tsx
  apps/stripe/src/pages/config/new.tsx
  cspell.config.js
  packages/shared/package.json
  packages/shared/src/use-unsaved-changes-guard.test.tsx
  packages/shared/src/use-unsaved-changes-guard.ts
  packages/ui-next/src/exit-form-dialog/SOURCE.md
  packages/ui-next/src/exit-form-dialog/exit-form-dialog.test.tsx
  packages/ui-next/src/exit-form-dialog/exit-form-dialog.tsx
  packages/ui-next/src/exit-form-dialog/index.ts
  packages/ui-next/src/index.ts
  packages/ui-next/src/savebar/SOURCE.md
  packages/ui-next/src/savebar/index.ts
  packages/ui-next/src/savebar/savebar.module.css
  packages/ui-next/src/savebar/savebar.test.tsx
  packages/ui-next/src/savebar/savebar.tsx
Due: stripe, shared

Polish channel assignment and keep AppBridge auth across in-app back links
  .changeset/stripe-config-ui-dashboard-alignment.md
  .changeset/stripe-single-channel-assignment.md
  apps/stripe/src/modules/ui/key-prefix.module.css
  apps/stripe/src/modules/ui/key-prefix.tsx
  apps/stripe/src/modules/ui/stripe-configs/assign-channel-select.tsx
  apps/stripe/src/modules/ui/stripe-configs/build-channel-move-plan.test.ts
  apps/stripe/src/modules/ui/stripe-configs/build-channel-move-plan.ts
  apps/stripe/src/modules/ui/stripe-configs/confirm-channel-move-modal.tsx
  apps/stripe/src/modules/ui/stripe-configs/edit-stripe-config-view.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-config-card.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-config-cards.module.css
  apps/stripe/src/modules/ui/stripe-configs/stripe-config-fields.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-env-badge.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-env-label.ts
  apps/stripe/src/modules/ui/stripe-setup/stripe-mode-legend.module.css
  apps/stripe/src/modules/ui/stripe-setup/stripe-mode-legend.tsx
  packages/ui-next/package.json
  packages/ui-next/src/app-page-header/SOURCE.md
  packages/ui-next/src/app-page-header/app-page-header.test.tsx
  packages/ui-next/src/app-page-header/app-page-header.tsx
  pnpm-lock.yaml
Due: stripe

Align form labels and pin the Savebar to the iframe bottom
  .claude/skills/saleor-app-ui/SKILL.md
  apps/stripe/src/modules/ui/stripe-configs/stripe-config-fields.tsx
  apps/stripe/src/pages/config/index.tsx
  packages/ui-next/src/detail-page-layout/SOURCE.md
  packages/ui-next/src/detail-page-layout/detail-page-layout.module.css
  packages/ui-next/src/detail-page-layout/detail-page-layout.tsx
  packages/ui-next/src/savebar/SOURCE.md
  packages/ui-next/src/savebar/savebar.module.css
  packages/ui-next/src/styles/SOURCE.md
  packages/ui-next/src/styles/global.css
Due: stripe

Re-read setup checklist dismissal when AppBridge hydrates the shop URL
  apps/stripe/src/modules/ui/stripe-setup/use-stripe-setup-card-dismiss.ts
Due: stripe

Recover cleanly from partial channel assignment saves
  apps/stripe/src/modules/app-config/trpc-handlers/update-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
  apps/stripe/src/modules/ui/stripe-configs/channel-config-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-config-card.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
  apps/stripe/src/modules/ui/stripe-setup/use-stripe-setup-card-dismiss.test.ts
Due: stripe

Drop webhook confirmation from the Stripe setup checklist.
  .changeset/stripe-config-ui-dashboard-alignment.md
  apps/stripe/src/modules/ui/stripe-setup/stripe-setup-card.tsx
  apps/stripe/src/modules/ui/stripe-setup/stripe-setup-summary.ts
Due: stripe

Replace the config-card plug icon with an Assign channels button.
  apps/stripe/src/modules/ui/stripe-configs/stripe-config-card.tsx
Due: stripe

Put Edit and Delete behind a three-dots menu on Stripe config cards
  .changeset/stripe-config-ui-dashboard-alignment.md
  apps/stripe/src/modules/ui/stripe-configs/stripe-config-actions-menu.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-config-card.tsx
  packages/ui-next/src/icon-button/icon-button.test.tsx
  packages/ui-next/src/icon-button/icon-button.tsx
Due: stripe

Show a Sandbox or Live pill while keys are being pasted
  .changeset/stripe-config-ui-dashboard-alignment.md
  apps/stripe/src/modules/ui/stripe-configs/edit-stripe-config-view.tsx
  apps/stripe/src/modules/ui/stripe-configs/infer-stripe-env-from-keys.test.ts
  apps/stripe/src/modules/ui/stripe-configs/infer-stripe-env-from-keys.ts
  apps/stripe/src/pages/config/new.tsx
Due: stripe

feat(avatax): add search aliases to tax code palette action
  .changeset/avatax-tax-code-search-action.md
  apps/avatax/src/app/api/manifest/route.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax

feat(avatax): make tax code popup editable and give it room
  .changeset/avatax-tax-code-popup-editable.md
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/pages/product-details.tsx
Due: avatax

ui
  .changeset/avatax-tax-code-widget-editable.md
  apps/avatax/src/pages/product-details.tsx
  apps/avatax/src/styles/globals.css
Due: avatax

feat(avatax): open tax code modal from the product widget
  .changeset/avatax-tax-code-widget-editable.md
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/modules/avatax/tax-code/product-tax-code-popup.ts
  apps/avatax/src/pages/product-details.tsx
  apps/avatax/src/styles/globals.css
Due: avatax

feat(avatax): refresh the product after editing its tax code
  .changeset/avatax-tax-code-widget-editable.md
  apps/avatax/src/modules/avatax/ui/tax-code-combobox.tsx
  apps/avatax/src/modules/avatax/ui/use-tax-code-combobox.ts
  apps/avatax/src/pages/product-details.tsx
Due: avatax

Open Stripe and SMTP apps via RedirectToApp
  .changeset/onboarding-redirect-to-app.md
  apps/onboarding/src/modules/onboarding/hooks/use-app-redirect.test.ts
  apps/onboarding/src/modules/onboarding/hooks/use-app-redirect.ts
  apps/onboarding/src/modules/onboarding/readiness/app-identifiers.ts
  apps/onboarding/src/modules/onboarding/readiness/get-store-readiness.test.ts
  apps/onboarding/src/modules/onboarding/readiness/get-store-readiness.ts
  apps/onboarding/src/modules/onboarding/readiness/go-live-copy.test.ts
  apps/onboarding/src/modules/onboarding/readiness/go-live-copy.ts
  apps/onboarding/src/modules/onboarding/readiness/home-snapshot.test.ts
  apps/onboarding/src/modules/onboarding/readiness/home-snapshot.ts
  apps/onboarding/src/modules/onboarding/readiness/redirect-target.ts
  apps/onboarding/src/modules/onboarding/readiness/task-copy.test.ts
  apps/onboarding/src/modules/onboarding/readiness/task-copy.ts
  apps/onboarding/src/modules/onboarding/store-readiness-checklist.test.tsx
  apps/onboarding/src/modules/onboarding/store-readiness-checklist.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Render the config page shell while the Stripe app boots
  .changeset/stripe-index-loading-skeleton.md
  .changeset/stripe-permission-check-handshake.md
  apps/stripe/src/modules/ui/missing-app-access.tsx
  apps/stripe/src/modules/ui/stripe-configs/channel-config-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/config-page-shell.tsx
  apps/stripe/src/modules/ui/use-has-app-access.test.ts
  apps/stripe/src/modules/ui/use-has-app-access.ts
  apps/stripe/src/pages/config/[configId].tsx
  apps/stripe/src/pages/config/index.tsx
  apps/stripe/src/pages/config/new.tsx
  apps/stripe/src/pages/index.tsx
Due: stripe

fix(avatax): stop logging client tRPC errors as error
  apps/avatax/src/modules/trpc/protected-client-procedure.ts
Due: avatax

fix(avatax): stop logging client tRPC errors as error (#2421)
  apps/avatax/src/modules/trpc/protected-client-procedure.ts
Due: avatax

chore: bump next.js to 15.5.24
  apps/avatax/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax

Add changelog entry
  .changeset/afraid-things-sin.md
Due: none

chore: bump next.js to 15.5.24 (#2422)
  .changeset/afraid-things-sin.md
  apps/avatax/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax

Open Stripe and SMTP apps via RedirectToApp (#2419)
  .changeset/onboarding-redirect-to-app.md
  .changeset/stripe-index-loading-skeleton.md
  .changeset/stripe-permission-check-handshake.md
  apps/onboarding/src/modules/onboarding/hooks/use-app-redirect.test.ts
  apps/onboarding/src/modules/onboarding/hooks/use-app-redirect.ts
  apps/onboarding/src/modules/onboarding/readiness/app-identifiers.ts
  apps/onboarding/src/modules/onboarding/readiness/get-store-readiness.test.ts
  apps/onboarding/src/modules/onboarding/readiness/get-store-readiness.ts
  apps/onboarding/src/modules/onboarding/readiness/go-live-copy.test.ts
  apps/onboarding/src/modules/onboarding/readiness/go-live-copy.ts
  apps/onboarding/src/modules/onboarding/readiness/home-snapshot.test.ts
  apps/onboarding/src/modules/onboarding/readiness/home-snapshot.ts
  apps/onboarding/src/modules/onboarding/readiness/redirect-target.ts
  apps/onboarding/src/modules/onboarding/readiness/task-copy.test.ts
  apps/onboarding/src/modules/onboarding/readiness/task-copy.ts
  apps/onboarding/src/modules/onboarding/store-readiness-checklist.test.tsx
  apps/onboarding/src/modules/onboarding/store-readiness-checklist.tsx
  apps/stripe/src/modules/ui/missing-app-access.tsx
  apps/stripe/src/modules/ui/stripe-configs/channel-config-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/config-page-shell.tsx
  apps/stripe/src/modules/ui/use-has-app-access.test.ts
  apps/stripe/src/modules/ui/use-has-app-access.ts
  apps/stripe/src/pages/config/[configId].tsx
  apps/stripe/src/pages/config/index.tsx
  apps/stripe/src/pages/config/new.tsx
  apps/stripe/src/pages/index.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: stripe

feat(extensions-explorer): merge Extensions Explorer into the monorepo
  .changeset/tidy-worms-invite.md
  .github/workflows/main.yml
  AGENTS.md
  apps/extensions-explorer/.env.example
  apps/extensions-explorer/README.md
  apps/extensions-explorer/eslint.config.js
  apps/extensions-explorer/lint-staged.config.js
  apps/extensions-explorer/next-env.d.ts
  apps/extensions-explorer/next.config.ts
  apps/extensions-explorer/package.json
  apps/extensions-explorer/public/logo.png
  apps/extensions-explorer/src/extensions/codec.ts
  apps/extensions-explorer/src/extensions/domain.test.ts
  apps/extensions-explorer/src/extensions/domain.ts
  apps/extensions-explorer/src/extensions/placeholder.ts
  apps/extensions-explorer/src/extensions/presets.ts
  apps/extensions-explorer/src/lib/env.ts
  apps/extensions-explorer/src/lib/prism-json.ts
  apps/extensions-explorer/src/pages/_app.tsx
  apps/extensions-explorer/src/pages/api/manifest.ts
  apps/extensions-explorer/src/pages/api/placeholder.ts
  apps/extensions-explorer/src/pages/index.tsx
  apps/extensions-explorer/src/pages/placeholder.tsx
  apps/extensions-explorer/src/styles/globals.css
  apps/extensions-explorer/tsconfig.json
  apps/extensions-explorer/turbo.json
  apps/extensions-explorer/vercel.json
  apps/extensions-explorer/vitest.config.ts
  codecov.yml
  cspell.config.js
  pnpm-lock.yaml
Due: none

feat(extensions-explorer): merge Extensions Explorer into the monorepo (#2425)
  .changeset/tidy-worms-invite.md
  .github/workflows/main.yml
  AGENTS.md
  apps/extensions-explorer/.env.example
  apps/extensions-explorer/README.md
  apps/extensions-explorer/eslint.config.js
  apps/extensions-explorer/lint-staged.config.js
  apps/extensions-explorer/next-env.d.ts
  apps/extensions-explorer/next.config.ts
  apps/extensions-explorer/package.json
  apps/extensions-explorer/public/logo.png
  apps/extensions-explorer/src/extensions/codec.ts
  apps/extensions-explorer/src/extensions/domain.test.ts
  apps/extensions-explorer/src/extensions/domain.ts
  apps/extensions-explorer/src/extensions/placeholder.ts
  apps/extensions-explorer/src/extensions/presets.ts
  apps/extensions-explorer/src/lib/env.ts
  apps/extensions-explorer/src/lib/prism-json.ts
  apps/extensions-explorer/src/pages/_app.tsx
  apps/extensions-explorer/src/pages/api/manifest.ts
  apps/extensions-explorer/src/pages/api/placeholder.ts
  apps/extensions-explorer/src/pages/index.tsx
  apps/extensions-explorer/src/pages/placeholder.tsx
  apps/extensions-explorer/src/styles/globals.css
  apps/extensions-explorer/tsconfig.json
  apps/extensions-explorer/turbo.json
  apps/extensions-explorer/vercel.json
  apps/extensions-explorer/vitest.config.ts
  codecov.yml
  cspell.config.js
  pnpm-lock.yaml
Due: none

feat(dummy-shipping-app): merge Dummy Shipping App into the monorepo
  .changeset/dummy-shipping-app-added.md
  AGENTS.md
  apps/dummy-shipping-app/.env.example
  apps/dummy-shipping-app/.prettierignore
  apps/dummy-shipping-app/README.md
  apps/dummy-shipping-app/bruno/.env.example
  apps/dummy-shipping-app/bruno/Complete checkout.bru
  apps/dummy-shipping-app/bruno/Create checkout.bru
  apps/dummy-shipping-app/bruno/Update checkout metadata.bru
  apps/dummy-shipping-app/bruno/Update delivery method.bru
  apps/dummy-shipping-app/bruno/bruno.json
  apps/dummy-shipping-app/bruno/environments/Default.bru
  apps/dummy-shipping-app/eslint.config.js
  apps/dummy-shipping-app/generated/graphql.ts
  apps/dummy-shipping-app/graphql.config.ts
  apps/dummy-shipping-app/graphql/queries/fetch-delivery-method-for-checkout.graphql
  apps/dummy-shipping-app/graphql/queries/last-order.graphql
  apps/dummy-shipping-app/graphql/schema.graphql
  apps/dummy-shipping-app/lint-staged.config.js
  apps/dummy-shipping-app/next-env.d.ts
  apps/dummy-shipping-app/next.config.ts
  apps/dummy-shipping-app/package.json
  apps/dummy-shipping-app/public/favicon.ico
  apps/dummy-shipping-app/public/logo.png
  apps/dummy-shipping-app/src/env.ts
  apps/dummy-shipping-app/src/lib/dummy-shipping.ts
  apps/dummy-shipping-app/src/pages/_app.tsx
  apps/dummy-shipping-app/src/pages/actions.tsx
  apps/dummy-shipping-app/src/pages/api/manifest.ts
  apps/dummy-shipping-app/src/pages/api/register.ts
  apps/dummy-shipping-app/src/pages/api/webhooks/order-filter-shipping-methods.ts
  apps/dummy-shipping-app/src/pages/api/webhooks/shipping-list-methods-for-checkout.ts
  apps/dummy-shipping-app/src/pages/index.tsx
  apps/dummy-shipping-app/src/saleor-app.ts
  apps/dummy-shipping-app/src/styles/globals.css
  apps/dummy-shipping-app/tsconfig.json
  apps/dummy-shipping-app/turbo.json
  apps/dummy-shipping-app/vercel.json
  pnpm-lock.yaml
Due: none

feat(dummy-shipping-app): merge Dummy Shipping App into the monorepo (#2426)
  .changeset/dummy-shipping-app-added.md
  AGENTS.md
  apps/dummy-shipping-app/.env.example
  apps/dummy-shipping-app/.prettierignore
  apps/dummy-shipping-app/README.md
  apps/dummy-shipping-app/bruno/.env.example
  apps/dummy-shipping-app/bruno/Complete checkout.bru
  apps/dummy-shipping-app/bruno/Create checkout.bru
  apps/dummy-shipping-app/bruno/Update checkout metadata.bru
  apps/dummy-shipping-app/bruno/Update delivery method.bru
  apps/dummy-shipping-app/bruno/bruno.json
  apps/dummy-shipping-app/bruno/environments/Default.bru
  apps/dummy-shipping-app/eslint.config.js
  apps/dummy-shipping-app/generated/graphql.ts
  apps/dummy-shipping-app/graphql.config.ts
  apps/dummy-shipping-app/graphql/queries/fetch-delivery-method-for-checkout.graphql
  apps/dummy-shipping-app/graphql/queries/last-order.graphql
  apps/dummy-shipping-app/graphql/schema.graphql
  apps/dummy-shipping-app/lint-staged.config.js
  apps/dummy-shipping-app/next-env.d.ts
  apps/dummy-shipping-app/next.config.ts
  apps/dummy-shipping-app/package.json
  apps/dummy-shipping-app/public/favicon.ico
  apps/dummy-shipping-app/public/logo.png
  apps/dummy-shipping-app/src/env.ts
  apps/dummy-shipping-app/src/lib/dummy-shipping.ts
  apps/dummy-shipping-app/src/pages/_app.tsx
  apps/dummy-shipping-app/src/pages/actions.tsx
  apps/dummy-shipping-app/src/pages/api/manifest.ts
  apps/dummy-shipping-app/src/pages/api/register.ts
  apps/dummy-shipping-app/src/pages/api/webhooks/order-filter-shipping-methods.ts
  apps/dummy-shipping-app/src/pages/api/webhooks/shipping-list-methods-for-checkout.ts
  apps/dummy-shipping-app/src/pages/index.tsx
  apps/dummy-shipping-app/src/saleor-app.ts
  apps/dummy-shipping-app/src/styles/globals.css
  apps/dummy-shipping-app/tsconfig.json
  apps/dummy-shipping-app/turbo.json
  apps/dummy-shipping-app/vercel.json
  pnpm-lock.yaml
Due: none

fix(search): resolve inStock per channel in webhooks
  .changeset/olive-moons-attack.md
  apps/search/generated/graphql.ts
  apps/search/graphql/fragments/ProductVariantData.graphql
  apps/search/graphql/queries/VariantsAvailability.graphql
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/algolia/algoliaUtils.test.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/search/src/lib/algolia/variants-availability.test.ts
  apps/search/src/lib/algolia/variants-availability.ts
  apps/search/src/webhooks/webhook-context.ts
Due: search

fix(search): resolve inStock per channel in webhooks (#2427)
  .changeset/olive-moons-attack.md
  apps/search/generated/graphql.ts
  apps/search/graphql/fragments/ProductVariantData.graphql
  apps/search/graphql/queries/VariantsAvailability.graphql
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/algolia/algoliaUtils.test.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/search/src/lib/algolia/variants-availability.test.ts
  apps/search/src/lib/algolia/variants-availability.ts
  apps/search/src/webhooks/webhook-context.ts
Due: search

feat: identify apps by User-Agent on Saleor GraphQL calls
  .changeset/gentle-poems-listen.md
  apps/avatax/src/app/api/order-details/route.ts
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
  apps/cms/src/modules/configuration/app-config-metadata-manager.ts
  apps/cms/src/modules/trpc/create-instrumented-graphql-client.ts
  apps/dummy-payment-app/src/server/procedure/procedure-with-graphql-client.ts
  apps/dummy-shipping-app/src/pages/api/webhooks/shipping-list-methods-for-checkout.ts
  apps/klaviyo/src/lib/graphql-client.ts
  apps/klaviyo/src/pages/api/configuration.ts
  apps/klaviyo/src/pages/api/webhooks/customer-created.ts
  apps/klaviyo/src/pages/api/webhooks/fulfillment-created.ts
  apps/klaviyo/src/pages/api/webhooks/order-created.ts
  apps/klaviyo/src/pages/api/webhooks/order-fully-paid.ts
  apps/np-atobarai/src/lib/graphql-client.ts
  apps/products-feed/src/lib/create-instrumented-graphql-client.ts
  apps/search/src/lib/create-instrumented-graphql-client.ts
  apps/search/src/modules/configuration/app-config-metadata-manager.ts
  apps/segment/src/lib/create-instrumented-graphql-client.ts
  apps/segment/src/modules/trpc/protected-client-procedure.ts
  apps/smtp/src/lib/create-instrumented-graphql-client.ts
  apps/stripe/src/lib/graphql-client.ts
  packages/shared/src/create-graphql-client.test.ts
  packages/shared/src/create-graphql-client.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, shared

feat: identify apps by User-Agent on Saleor GraphQL calls (#2428)
  .changeset/gentle-poems-listen.md
  apps/avatax/src/app/api/order-details/route.ts
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
  apps/cms/src/modules/configuration/app-config-metadata-manager.ts
  apps/cms/src/modules/trpc/create-instrumented-graphql-client.ts
  apps/dummy-payment-app/src/server/procedure/procedure-with-graphql-client.ts
  apps/dummy-shipping-app/src/pages/api/webhooks/shipping-list-methods-for-checkout.ts
  apps/klaviyo/src/lib/graphql-client.ts
  apps/klaviyo/src/pages/api/configuration.ts
  apps/klaviyo/src/pages/api/webhooks/customer-created.ts
  apps/klaviyo/src/pages/api/webhooks/fulfillment-created.ts
  apps/klaviyo/src/pages/api/webhooks/order-created.ts
  apps/klaviyo/src/pages/api/webhooks/order-fully-paid.ts
  apps/np-atobarai/src/lib/graphql-client.ts
  apps/products-feed/src/lib/create-instrumented-graphql-client.ts
  apps/search/src/lib/create-instrumented-graphql-client.ts
  apps/search/src/modules/configuration/app-config-metadata-manager.ts
  apps/segment/src/lib/create-instrumented-graphql-client.ts
  apps/segment/src/modules/trpc/protected-client-procedure.ts
  apps/smtp/src/lib/create-instrumented-graphql-client.ts
  apps/stripe/src/lib/graphql-client.ts
  packages/shared/src/create-graphql-client.test.ts
  packages/shared/src/create-graphql-client.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, shared

chore(eslint-config): enable complexity rule as warning
  packages/eslint-config/index.js
Due: none

chore(eslint-config): enable complexity rule as warning (#2430)
  packages/eslint-config/index.js
Due: none

fix(cms): preserve non-Error rejections from providers
  .changeset/gentle-moons-tap.md
  apps/cms/src/modules/webhooks-operations/webhooks-processors-delegator.test.ts
  apps/cms/src/modules/webhooks-operations/webhooks-processors-delegator.ts
Due: cms

fix(cms): preserve non-Error rejections from providers (#2431)
  .changeset/gentle-moons-tap.md
  apps/cms/src/modules/webhooks-operations/webhooks-processors-delegator.test.ts
  apps/cms/src/modules/webhooks-operations/webhooks-processors-delegator.ts
Due: cms

fix(search): always fetch channel-scoped stock in webhooks
  .changeset/olive-pandas-repeat.md
  apps/search/src/lib/algolia/algolia-search-provider.test.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
Due: search

fix(search): always fetch channel-scoped stock in webhooks (#2432)
  .changeset/olive-pandas-repeat.md
  apps/search/src/lib/algolia/algolia-search-provider.test.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
Due: search

feat: drop Saleor 3.21 compatibility
  .changeset/drop-saleor-321-support.md
  apps/avatax/e2e/utils/saleor-version-compatibility.ts
  apps/avatax/src/app/api/manifest/route.ts
  apps/cms/src/pages/api/manifest.ts
  apps/klaviyo/src/pages/api/manifest.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/manifest/route.ts
  apps/products-feed/src/pages/api/manifest.ts
  apps/search/src/pages/api/manifest.ts
  apps/segment/src/pages/api/manifest.ts
  apps/smtp/src/components/manage-permissions-text-link.tsx
  apps/smtp/src/lib/get-event-form-status.ts
  apps/smtp/src/modules/feature-flag-service/get-feature-flags.ts
  apps/smtp/src/saleor-app.ts
  apps/stripe/src/app/api/manifest/route.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/webhooks/stripe/stripe-object-handlers/stripe-payment-intent-handler.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

feat: drop Saleor 3.21 compatibility (#2433)
  .changeset/drop-saleor-321-support.md
  apps/avatax/e2e/utils/saleor-version-compatibility.ts
  apps/avatax/src/app/api/manifest/route.ts
  apps/cms/src/pages/api/manifest.ts
  apps/klaviyo/src/pages/api/manifest.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/manifest/route.ts
  apps/products-feed/src/pages/api/manifest.ts
  apps/search/src/pages/api/manifest.ts
  apps/segment/src/pages/api/manifest.ts
  apps/smtp/src/components/manage-permissions-text-link.tsx
  apps/smtp/src/lib/get-event-form-status.ts
  apps/smtp/src/modules/feature-flag-service/get-feature-flags.ts
  apps/smtp/src/saleor-app.ts
  apps/stripe/src/app/api/manifest/route.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/webhooks/stripe/stripe-object-handlers/stripe-payment-intent-handler.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

feat(products-feed): exclude unavailable products from the feed
  .changeset/feed-exclude-unavailable-products.md
  .changeset/feed-out-of-stock-behavior.md
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql/queries/FetchRelatedProductsData.graphql
  apps/products-feed/src/modules/app-configuration/app-config.test.ts
  apps/products-feed/src/modules/app-configuration/app-config.ts
  apps/products-feed/src/modules/app-configuration/app-configuration.router.ts
  apps/products-feed/src/modules/app-configuration/stock-configuration-form.tsx
  apps/products-feed/src/modules/google-feed/fetch-product-data.test.ts
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/modules/google-feed/get-google-feed-settings.test.ts
  apps/products-feed/src/modules/google-feed/get-google-feed-settings.ts
  apps/products-feed/src/modules/google-feed/product-variant-to-proxy.test.ts
  apps/products-feed/src/modules/google-feed/product-variant-to-proxy.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/[cursor]/generate-chunk.ts
  apps/products-feed/src/pages/configuration.tsx
Due: products-feed
