Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
    project:
      default:
        target: auto
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      app-payment-np-atobarai:
        flags: [np-atobarai]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]
      packages-domain:
        flags: [domain]
      packages-errors:
        flags: [errors]
      packages-apl-dynamo:
        flags: [apl-dynamo]
ignore:
  - "**/scripts/**"
  - "**/e2e/**"
  - "**/graphql/**"
  - "**/generated/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  np-atobarai:
    paths:
      - apps/np-atobarai/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/
  domain:
    paths:
      - packages/domain/
  errors:
      paths:
        - packages/errors/
  apl-dynamo:
      paths:
        - packages/apl-dynamo/

Atobarai Goods & Delivery Destination (#2007)
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/fragments/source-object.graphql
  apps/np-atobarai/graphql/subscriptions/transaction-initialize-session.graphql
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-customer.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-delivery-destination.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-goods.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-payment-gateway-initalize-session-event.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-source-object.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-transaction-initialize-session-event.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/validation-errors.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/lib/env.ts
  apps/np-atobarai/src/lib/errors.ts
  apps/np-atobarai/src/modules/app-config/app-config.ts
  apps/np-atobarai/src/modules/app-config/types.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-payload.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shipping-address.ts
  apps/np-atobarai/src/modules/atobarai/types.ts
Due: np-atobarai

Writing to dynamo
  packages/dynamo-config-repository/src/base-repository.test.ts
  packages/dynamo-config-repository/src/base-repository.ts
Due: none

save logic
  packages/dynamo-config-repository/src/__test__/bootstrap-test.ts
  packages/dynamo-config-repository/src/base-repository.test.ts
Due: none

missing methods
  packages/dynamo-config-repository/src/base-repository.ts
Due: none

test repo wip
  apps/np-atobarai/package.json
  apps/np-atobarai/src/test-repo.ts
  packages/dynamo-config-repository/package.json
  packages/dynamo-config-repository/src/base-repository.ts
  packages/dynamo-config-repository/src/index.ts
  pnpm-lock.yaml
Due: np-atobarai

wip refactor
  apps/np-atobarai/src/test-repo.ts
  packages/dynamo-config-repository/src/base-repository.ts
  packages/dynamo-config-repository/src/generic-root-config.ts
  packages/dynamo-config-repository/src/index.ts
  packages/dynamo-config-repository/src/types.ts
Due: np-atobarai

test
  packages/dynamo-config-repository/src/generic-root-config.test.ts
  packages/dynamo-config-repository/src/generic-root-config.ts
Due: none

wip
  packages/dynamo-config-repository/src/base-repository.test.ts
  packages/dynamo-config-repository/src/base-repository.ts
  packages/dynamo-config-repository/src/types.ts
Due: none

test
  packages/dynamo-config-repository/src/__test__/bootstrap-test.ts
  packages/dynamo-config-repository/src/base-repository.test.ts
Due: none

changeset
  .changeset/long-boats-wash.md
  packages/dynamo-config-repository/package.json
Due: none

lock
  pnpm-lock.yaml
Due: none

prune atobarai
  apps/np-atobarai/src/modules/app-config/repo/app-config-repo-impl.ts
  apps/np-atobarai/src/modules/app-config/repo/dynamodb/app-config-db-model.ts
  apps/np-atobarai/src/modules/app-config/repo/dynamodb/channel-config-mapping-db-model.ts
  apps/np-atobarai/src/modules/app-config/repo/dynamodb/dynamodb-app-config-repo.ts
Due: np-atobarai

missing dep
  packages/dynamo-config-repository/package.json
  pnpm-lock.yaml
Due: none

fix types
  packages/dynamo-config-repository/src/base-repository.ts
  packages/dynamo-config-repository/src/types.ts
Due: none

fix types
  packages/dynamo-config-repository/src/__test__/bootstrap-test.ts
Due: none

wip
  apps/np-atobarai/package.json
  packages/dynamo-config-repository/eslint.config.js
Due: np-atobarai

fix
  apps/np-atobarai/package.json
Due: np-atobarai

Basic version
  apps/np-atobarai/bruno/05-initialize-payment-transaction.bru
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/fragments/source-object.graphql
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-source-object.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/lib/assert-unreachable.ts
  apps/np-atobarai/src/lib/errors.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-response.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shop-order-date.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction.ts
  apps/np-atobarai/src/modules/atobarai/types.ts
  apps/np-atobarai/src/modules/transaction-result/charge-result.ts
Due: np-atobarai

Remove not needed stuff
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction.ts
Due: np-atobarai

wip
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-response.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction.ts
Due: np-atobarai

Fix AvaTax app error log
  .changeset/stale-trainers-destroy.md
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
Due: avatax

Add unit tests
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-response.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-response.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction.ts
Due: np-atobarai

Add transaction init use case test
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
Due: np-atobarai

Introduce generic repository (#2008)
  .changeset/long-boats-wash.md
  apps/np-atobarai/package.json
  packages/dynamo-config-repository/eslint.config.js
  packages/dynamo-config-repository/lint-staged.config.js
  packages/dynamo-config-repository/package.json
  packages/dynamo-config-repository/src/__test__/bootstrap-test.ts
  packages/dynamo-config-repository/src/base-repository.test.ts
  packages/dynamo-config-repository/src/base-repository.ts
  packages/dynamo-config-repository/src/generic-root-config.test.ts
  packages/dynamo-config-repository/src/generic-root-config.ts
  packages/dynamo-config-repository/src/index.ts
  packages/dynamo-config-repository/src/types.ts
  packages/dynamo-config-repository/tsconfig.json
  packages/dynamo-config-repository/turbo.json
  packages/dynamo-config-repository/vitest.config.ts
  pnpm-lock.yaml
Due: np-atobarai

Add atobarai api client tests
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.test.ts
Due: np-atobarai

Fix AvaTax app error log (#2009)
  .changeset/stale-trainers-destroy.md
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
Due: avatax

initialize repo and enitty
  apps/np-atobarai/src/modules/app-config/app-config.test.ts
  apps/np-atobarai/src/modules/app-config/app-config.ts
  apps/np-atobarai/src/modules/app-config/repo/app-config-repo.ts
  apps/np-atobarai/src/modules/app-config/repo/dynamodb/entity.ts
  apps/np-atobarai/src/modules/dynamodb/dynamodb-main-table.ts
Due: np-atobarai

impl in use cases
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config-repo.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/modules/app-config/types.ts
  packages/dynamo-config-repository/src/index.ts
Due: np-atobarai

Release apps (#2001)
  .changeset/angry-nails-sniff.md
  .changeset/cool-jars-draw.md
  .changeset/long-boats-wash.md
  .changeset/long-gorillas-rescue.md
  .changeset/olive-bobcats-raise.md
  .changeset/stale-trainers-destroy.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/np-atobarai/CHANGELOG.md
  apps/np-atobarai/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
  packages/apl-dynamo/CHANGELOG.md
  packages/apl-dynamo/package.json
  packages/domain/CHANGELOG.md
  packages/domain/package.json
  packages/dynamo-config-repository/CHANGELOG.md
  packages/dynamo-config-repository/package.json
  packages/errors/CHANGELOG.md
  packages/errors/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, domain, errors, apl-dynamo

Fix & add types
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-transaction-id.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-errors.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-error-response.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-error-response.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-response.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-success-response.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-success-response.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction-id.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction.ts
  apps/np-atobarai/src/modules/atobarai/types.ts
Due: np-atobarai

fix lint issues
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
Due: np-atobarai

fixes
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/lib/assert-unreachable.ts
  apps/np-atobarai/src/lib/errors.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-success-response.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-success-response.ts
Due: np-atobarai

Wip: Copy paste code from Stripe
  apps/np-atobarai/package.json
  apps/np-atobarai/src/modules/ui/app-breadcrumbs.tsx
  apps/np-atobarai/src/modules/ui/app-header.tsx
  apps/np-atobarai/src/modules/ui/channel-config-section.tsx
  apps/np-atobarai/src/modules/ui/channel-configs/channel-config-mapping-section.tsx
  apps/np-atobarai/src/modules/ui/channel-configs/channels-config-mapping.tsx
  apps/np-atobarai/src/modules/ui/configs-list.tsx
  apps/np-atobarai/src/modules/ui/delete-configuration-modal-content.tsx
  apps/np-atobarai/src/modules/ui/empty-configs.tsx
  apps/np-atobarai/src/modules/ui/new-config-form.tsx
  apps/np-atobarai/src/pages/config/index.tsx
  apps/np-atobarai/src/pages/config/new.tsx
  apps/np-atobarai/src/pages/index.tsx
  pnpm-lock.yaml
Due: np-atobarai

Add changeset
  .changeset/lazy-mirrors-double.md
  apps/smtp/src/lib/race-promise.ts
  apps/smtp/src/modules/smtp/services/smtp-email-sender.ts
Due: smtp

trpc handlers
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/queries/fetch-channels.graphql
  apps/np-atobarai/src/lib/random-id.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-channels-mapping-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-channels-mapping-trpc-handler.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-list-trpc-handler.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-input-schema.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-input-schema.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/remove-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/remove-config-trpc-handler.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/update-mapping-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/update-mapping-trpc-handler.ts
  apps/np-atobarai/src/modules/saleor/channel-fetcher.test.ts
  apps/np-atobarai/src/modules/saleor/channel-fetcher.ts
  apps/np-atobarai/src/modules/trpc/context-app-router.ts
  apps/np-atobarai/src/modules/trpc/protected-client-procedure.ts
  apps/np-atobarai/src/modules/trpc/trpc-router.ts
  apps/np-atobarai/src/modules/ui/channel-configs/channel-config-mapping-section.tsx
  apps/np-atobarai/src/modules/ui/configs-list.tsx
  apps/np-atobarai/src/modules/ui/empty-configs.tsx
Due: np-atobarai

ui
  apps/np-atobarai/src/__tests__/mocks/graphql-client.ts
  apps/np-atobarai/src/modules/app-config/app-config.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-input-schema.ts
  apps/np-atobarai/src/modules/saleor/channel-fetcher.test.ts
  apps/np-atobarai/src/modules/ui/channel-config-section.tsx
  apps/np-atobarai/src/modules/ui/channel-configs/channel-config-mapping-section.tsx
  apps/np-atobarai/src/modules/ui/channel-configs/channels-config-mapping.tsx
  apps/np-atobarai/src/modules/ui/configs-list.tsx
  apps/np-atobarai/src/modules/ui/new-config-form.tsx
Due: np-atobarai
