Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

Increase search app memory (#2167)
  .changeset/bright-socks-peel.md
  apps/search/vercel.json
Due: search

Drop unnecessary error log
  apps/np-atobarai/src/modules/trpc/protected-client-procedure.ts
Due: np-atobarai

changeset
  .changeset/flat-rules-speak.md
Due: none

Drop unnecessary error log (#2169)
  .changeset/flat-rules-speak.md
  apps/np-atobarai/src/modules/trpc/protected-client-procedure.ts
Due: np-atobarai

fix assign pr workflow
  .github/workflows/assign-pr.yml
Due: none

fix assign pr workflow (#2171)
  .github/workflows/assign-pr.yml
Due: none

update trpc to 10.45.3
  .changeset/four-beds-live.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

update next
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix ts
  apps/avatax/src/modules/client-logs/ui/logs-browser.tsx
Due: avatax

update trpc to 10.45.3 (#2172)
  .changeset/four-beds-live.md
  apps/avatax/src/modules/client-logs/ui/logs-browser.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax

print atobarai api errors as warning
  .changeset/forty-lobsters-punch.md
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.ts
Due: np-atobarai

print atobarai api errors as warning (#2174)
  .changeset/forty-lobsters-punch.md
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.ts
Due: np-atobarai

Add new error code for app's validation erorrs, handle them instead of throwing
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/use-case-errors.ts
Due: np-atobarai

Add changeset
  .changeset/early-laws-obey.md
Due: none

Add tests for error handling
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
Due: np-atobarai

Fix validation errors raising exceptions, will return warnings instead
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-money.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-money.ts
Due: np-atobarai

Add changeset
  .changeset/popular-carpets-happen.md
Due: none

Handle all Zod validation errors as specific domain errors
  apps/np-atobarai/src/modules/atobarai/api/atobarai-cancel-transaction-payload.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-cancel-transaction-success-response.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-change-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-change-transaction-payload.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-error-response.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-error-response.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-fulfillment-report-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-fulfillment-report-payload.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-fulfillment-report-success-response.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-fulfillment-report-success-response.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-register-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-register-transaction-payload.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-transaction-success-response.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-transaction-success-response.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/atobarai-goods.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/atobarai-line-calculation.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/refund-goods-builders.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/transaction-goods-builder.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/transaction-goods-builder.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-merchant-code.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-merchant-code.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-secret-sp-code.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-secret-sp-code.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shipping-company-code.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shipping-company-code.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shop-order-date.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shop-order-date.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-terminal-id.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-terminal-id.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction-id.ts
  apps/np-atobarai/src/modules/saleor/saleor-transaction-token.ts
Due: np-atobarai

Rename `MalformedRequestResponse` to `InvalidEventDataResponse` to avoid confusion
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-event-parser.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-event-parser.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/after-fulfillment-refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/base-refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/before-fulfillment-refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/after-fulfillment-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/before-fulfillment-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/types.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
Due: np-atobarai

Add changeset
  .changeset/plenty-onions-hear.md
  .changeset/twelve-fireants-shout.md
Due: none

Fix Zod raising exceptions (#2177)
  .changeset/popular-carpets-happen.md
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-money.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-money.ts
Due: np-atobarai

Fix atobarai app returning HTTP 500 from payment webhooks
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
Due: np-atobarai

Add changeset
  .changeset/dry-games-tease.md
Due: none

[INC-722] Fix atobarai app returning HTTP 500 (#2180)
  .changeset/dry-games-tease.md
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
Due: np-atobarai

Fix errors raised for multiple transactionInitialize calls (idempotency)
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.ts
Due: stripe

Add changeset
  .changeset/witty-lemons-raise.md
Due: none

Make DynamoDB writer handle idempotency correctly (#2181)
  .changeset/witty-lemons-raise.md
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.ts
Due: stripe

Add optional setting to write AvaTax exemption status to checkout metadata
  .changeset/avatax-exemption-checkout-metadata.md
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/modules/app/checkout-metadata-manager.ts
  apps/avatax/src/modules/avatax/avatax-config-mock-generator.ts
  apps/avatax/src/modules/avatax/avatax-connection-schema.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/avatax/src/modules/avatax/ui/avatax-configuration-settings-fragment.tsx
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
Due: avatax

Add isExemptionStatusMetadataEnabled field to test mock configuration
  apps/avatax/src/modules/app/get-app-config.test.ts
Due: avatax

Add isExemptionStatusMetadataEnabled field to AppConfig test fixtures
  apps/avatax/src/lib/app-config.test.ts
Due: avatax

fix: snapshot order of object property
  apps/avatax/src/lib/app-config.test.ts
Due: avatax

feat(paypal): enhance transaction refund process and add webhook verification
  apps/paypal/BACKEND_IMPLEMENTATION_STATUS.md
  apps/paypal/CLAUDE.md
  apps/paypal/PAYPAL_INTEGRATION_CERTIFICATION_COMPLIANCE.md
  apps/paypal/PAYPAL_INTEGRATION_GAP_ANALYSIS.md
  apps/paypal/generated/graphql.ts
  apps/paypal/graphql/fragments/source-object.graphql
  apps/paypal/src/app/api/webhooks/paypal/order-update-callback/route.ts
  apps/paypal/src/app/api/webhooks/paypal/platform-events/route.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/paypal/src/modules/paypal/partner-referrals/paypal-partner-referrals-api.ts
  apps/paypal/src/modules/paypal/payment-source-detector.ts
  apps/paypal/src/modules/paypal/paypal-client.ts
  apps/paypal/src/modules/paypal/paypal-orders-api.ts
  apps/paypal/src/modules/paypal/paypal-vaulting-api-factory.ts
  apps/paypal/src/modules/paypal/paypal-vaulting-api.ts
  apps/paypal/src/modules/paypal/paypal-webhook-verification.ts
  apps/paypal/src/modules/paypal/paypal-webhooks-api.ts
  apps/paypal/src/modules/paypal/types.ts
  lint-staged.config.js
Due: none

fix: Return 200 OK for webhooks from non-Saleor objects
  apps/stripe/src/app/api/webhooks/stripe/stripe-webhook-responses.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
Due: stripe

feat(paypal): fix normalization of phones to digits‑only (4–15) and replacement of callback schema with callback_configuration with callback_url/callback_events
  apps/paypal/src/app/api/webhooks/paypal/order-update-callback/route.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/paypal/src/modules/paypal/paypal-orders-api.ts
  apps/paypal/src/modules/paypal/types.ts
Due: none

fix(paypal): drop application_context from create order payload to prevent 422 incompatible parameters
  apps/paypal/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
Due: none

feat(paypal): add support per-tenant soft descriptor in dashboard config and pass to PayPal create order
  apps/paypal/scripts/migrate-database.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/paypal/src/lib/database-schema.sql
  apps/paypal/src/lib/database.ts
  apps/paypal/src/modules/app-config/repositories/paypal-tenant-config-repository.ts
  apps/paypal/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/paypal/src/modules/app-config/trpc-handlers/get-tenant-config-trpc-handler.ts
  apps/paypal/src/modules/app-config/trpc-handlers/set-tenant-config-trpc-handler.ts
  apps/paypal/src/modules/ui/channel-configs/channel-config-mapping-section.tsx
  apps/paypal/src/modules/ui/channel-configs/channels-config-mapping.tsx
Due: none

redirect to root
  apps/paypal/src/pages/paypal-callback.tsx
Due: none

updated port
  apps/paypal/package.json
Due: none

Use zod-validation-error to construct human readable errors
  apps/np-atobarai/src/lib/zod-readable-error.test.ts
  apps/np-atobarai/src/lib/zod-readable-error.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/atobarai-goods.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-merchant-code.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-merchant-code.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-money.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-money.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-secret-sp-code.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-secret-sp-code.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shipping-company-code.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shipping-company-code.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shop-order-date.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shop-order-date.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-terminal-id.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-terminal-id.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction-id.ts
Due: np-atobarai

fix types
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
Due: np-atobarai

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
