Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

Add missing apps/packages to codecov & add matrix for test results uploads
  .github/workflows/main.yml
  codecov.yml
Due: none

update workflow
  .github/workflows/main.yml
Due: none

remove klaviyo
  .github/workflows/main.yml
  codecov.yml
Due: none

AvaTax: Handle InvalidZipForStateError exception as expected (#2055)
  .changeset/cool-swans-kneel.md
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/taxes/tax-error.ts
Due: avatax

Release apps (#2078)
  .changeset/chilly-oranges-dance.md
  .changeset/cool-swans-kneel.md
  .changeset/eight-lemons-try.md
  .changeset/moody-spoons-pull.md
  .changeset/nice-taxis-fail.md
  .changeset/tough-bugs-hammer.md
  .changeset/wet-onions-jog.md
  .changeset/witty-pets-yawn.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
Due: avatax

handle some SMTP errors
  .changeset/honest-eagles-talk.md
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
Due: smtp

Add missing package to codecov & add matrix for test results uploads (#2081)
  .github/workflows/main.yml
  codecov.yml
Due: none

improve invalid data log
  .changeset/curvy-melons-tie.md
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
Due: stripe

handle some SMTP errors (#2082)
  .changeset/honest-eagles-talk.md
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
Due: smtp

improve invalid data log (#2083)
  .changeset/curvy-melons-tie.md
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
Due: stripe

add support for ach
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-processing.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/payment-method-resolver.ts
  apps/stripe/src/app/api/webhooks/stripe/stripe-object-handlers/stripe-payment-intent-handler.test.ts
  apps/stripe/src/modules/saleor/resolve-saleor-money-from-stripe-payment-intent.ts
  apps/stripe/src/modules/stripe/payment-methods/us-bank-account.test.ts
  apps/stripe/src/modules/stripe/payment-methods/us-bank-account.ts
Due: stripe

Migrate setup DynamoDB script to ts for Stripe
  .devcontainer/stripe/devcontainer.json
  apps/stripe/.env.example
  apps/stripe/eslint.config.js
  apps/stripe/package.json
  apps/stripe/scripts/setup-dynamodb.sh
  apps/stripe/scripts/setup-dynamodb.ts
Due: stripe

[Stripe] add support for ACH / SEPA payment methods
  .changeset/nice-oranges-drive.md
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/payment-method-resolver.ts
  apps/stripe/src/modules/stripe/payment-methods/sepa-debit.ts
  cspell.config.js
Due: stripe

fix typos
  .changeset/nice-oranges-drive.md
  apps/stripe/src/modules/stripe/payment-methods/us-bank-account.ts
Due: stripe

migrate rest of the apps
  .devcontainer/avatax/devcontainer.json
  .devcontainer/segment/devcontainer.json
  apps/avatax/README.md
  apps/avatax/eslint.config.js
  apps/avatax/package.json
  apps/avatax/scripts/setup-dynamodb.sh
  apps/avatax/scripts/setup-dynamodb.ts
  apps/np-atobarai/eslint.config.js
  apps/segment/.env.example
  apps/segment/README.md
  apps/segment/eslint.config.js
  apps/segment/package.json
  apps/segment/scripts/setup-dynamodb.sh
  apps/segment/scripts/setup-dynamodb.ts
  apps/stripe/package.json
  apps/stripe/scripts/setup-dynamodb.ts
Due: avatax, segment, stripe

use env
  apps/avatax/eslint.config.js
  apps/avatax/scripts/setup-dynamodb.ts
  apps/np-atobarai/eslint.config.js
  apps/np-atobarai/scripts/setup-dynamodb.ts
  apps/segment/scripts/setup-dynamodb.ts
  apps/stripe/eslint.config.js
  apps/stripe/scripts/setup-dynamodb.ts
Due: none

fix import
  apps/np-atobarai/scripts/setup-dynamodb.ts
Due: none

[Stripe] add support for ACH / SEPA payment methods (#2086)
  .changeset/nice-oranges-drive.md
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-processing.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/payment-method-resolver.ts
  apps/stripe/src/app/api/webhooks/stripe/stripe-object-handlers/stripe-payment-intent-handler.test.ts
  apps/stripe/src/modules/saleor/resolve-saleor-money-from-stripe-payment-intent.ts
  apps/stripe/src/modules/stripe/payment-methods/sepa-debit.ts
  apps/stripe/src/modules/stripe/payment-methods/us-bank-account.test.ts
  apps/stripe/src/modules/stripe/payment-methods/us-bank-account.ts
  cspell.config.js
Due: stripe

fix tsc
  apps/stripe/scripts/setup-dynamodb.ts
Due: none

Release apps (#2084)
  .changeset/curvy-melons-tie.md
  .changeset/honest-eagles-talk.md
  .changeset/nice-oranges-drive.md
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Due: smtp, stripe

Migrate setup DynamoDB scripts to TypeScript for apps (#2085)
  .devcontainer/avatax/devcontainer.json
  .devcontainer/segment/devcontainer.json
  .devcontainer/stripe/devcontainer.json
  apps/avatax/README.md
  apps/avatax/package.json
  apps/avatax/scripts/setup-dynamodb.sh
  apps/avatax/scripts/setup-dynamodb.ts
  apps/segment/.env.example
  apps/segment/README.md
  apps/segment/eslint.config.js
  apps/segment/package.json
  apps/segment/scripts/setup-dynamodb.sh
  apps/segment/scripts/setup-dynamodb.ts
  apps/stripe/.env.example
  apps/stripe/package.json
  apps/stripe/scripts/setup-dynamodb.sh
  apps/stripe/scripts/setup-dynamodb.ts
Due: avatax, segment, stripe

Update CLAUDE.md with proper testing instructions
  CLAUDE.md
Due: none

Update CLAUDE.md with proper testing instructions (#2087)
  CLAUDE.md
Due: none

Introduce AGENTS.md and symlink CLAUDE.md to it
  AGENTS.md
  CLAUDE.md
  apps/smtp/AGENTS.md
  apps/smtp/CLAUDE.md
Due: smtp

Introduce AGENTS.md and symlink CLAUDE.md to it (#2088)
  AGENTS.md
  CLAUDE.md
  apps/smtp/AGENTS.md
  apps/smtp/CLAUDE.md
Due: smtp

Fix example payload for email change request and confirmation emails
  apps/smtp/src/lib/notify-event-types.ts
  apps/smtp/src/modules/event-handlers/default-payloads.ts
Due: smtp

Add changeset
  .changeset/violet-pets-camp.md
Due: none

Fix example payload for email change request and confirmation emails (#2089)
  .changeset/violet-pets-camp.md
  apps/smtp/src/lib/notify-event-types.ts
  apps/smtp/src/modules/event-handlers/default-payloads.ts
Due: smtp

Add Mailpit to SMTP app
  .devcontainer/smtp/devcontainer.json
  .devcontainer/smtp/docker-compose.yml
  apps/smtp/README.md
  apps/smtp/docs/configuration.md
  cspell.config.js
Due: smtp

Add Mailpit to SMTP app (#2091)
  .devcontainer/smtp/devcontainer.json
  .devcontainer/smtp/docker-compose.yml
  apps/smtp/README.md
  apps/smtp/docs/configuration.md
  cspell.config.js
Due: smtp

Release apps (#2090)
  .changeset/violet-pets-camp.md
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Due: smtp

[Stripe] Fix RK validation copy
  .changeset/wild-ants-reflect.md
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
Due: stripe

[Stripe] Fix RK validation copy (#2092)
  .changeset/wild-ants-reflect.md
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
Due: stripe

Release apps (#2093)
  .changeset/wild-ants-reflect.md
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Due: stripe

Add PayPal app scripts for migration, deployment, and webhook handling
  apps/paypal/scripts/copy-from-stripe.sh
  apps/paypal/scripts/deploy.ts
  apps/paypal/scripts/generate-app-webhooks-types.ts
  apps/paypal/scripts/migration-logger.ts
  apps/paypal/scripts/run-webhooks-migration.ts
  apps/paypal/scripts/setup-postgres.ts
Due: none

feat(database): add PostgreSQL database connection and initialization
  apps/paypal/.env.example
  apps/paypal/package.json
  apps/paypal/scripts/setup-postgres.ts
  apps/paypal/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/paypal/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/paypal/src/lib/database.ts
  apps/paypal/src/lib/env.ts
  apps/paypal/src/lib/metadata-manager.ts
  apps/paypal/src/lib/postgres-apl.ts
  apps/paypal/src/lib/required-client-permissions.ts
  apps/paypal/src/lib/saleor-app.ts
  apps/paypal/src/modules/app-config/repositories/app-config-repo-impl.ts
  apps/paypal/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/paypal/src/modules/app-config/trpc-handlers/get-paypal-configs-channels-mapping-trpc-handler.ts
  apps/paypal/src/modules/app-config/trpc-handlers/get-paypal-configs-list-trpc-handler.ts
  apps/paypal/src/modules/app-config/trpc-handlers/new-paypal-config-input-schema.ts
  apps/paypal/src/modules/app-config/trpc-handlers/new-paypal-config-trpc-handler.ts
  apps/paypal/src/modules/app-config/trpc-handlers/remove-paypal-config-trpc-handler.ts
  apps/paypal/src/modules/app-config/trpc-handlers/update-mapping-trpc-handler.ts
  apps/paypal/src/modules/paypal/configuration/paypal-config-repo.ts
  apps/paypal/src/modules/paypal/configuration/paypal-config.ts
  apps/paypal/src/modules/paypal/configuration/paypal-metadata-manager.ts
  apps/paypal/src/modules/saleor/channel-fetcher.ts
  apps/paypal/src/modules/trpc/context-app-router.ts
  apps/paypal/src/modules/trpc/protected-client-procedure.ts
  apps/paypal/src/modules/ui/channel-configs/channel-config-mapping-section.tsx
  apps/paypal/src/modules/ui/paypal-configs/new-stripe-config-form.tsx
  apps/paypal/webhooks.ts
Due: none

fixed config save
  apps/paypal/src/app/api/manifest/route.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-initialize-session/webhook-definition.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/paypal/src/app/api/webhooks/saleor/transaction-process-session/webhook-definition.ts
  apps/paypal/src/modules/app-config/trpc-handlers/get-paypal-configs-channels-mapping-trpc-handler.ts
  apps/paypal/src/modules/app-config/trpc-handlers/get-paypal-configs-list-trpc-handler.ts
  apps/paypal/src/modules/app-config/trpc-handlers/new-paypal-config-trpc-handler.ts
  apps/paypal/src/modules/app-config/trpc-handlers/remove-paypal-config-trpc-handler.ts
  apps/paypal/src/modules/app-config/trpc-handlers/update-mapping-trpc-handler.ts
  apps/paypal/src/modules/paypal/configuration/paypal-app-root-config.ts
  apps/paypal/src/modules/paypal/configuration/paypal-config.ts
  apps/paypal/src/modules/paypal/configuration/paypal-multi-config-metadata-manager.ts
  apps/paypal/src/modules/transaction-result/action-required-result.ts
  apps/paypal/src/modules/trpc/protected-client-procedure.ts
  apps/paypal/src/modules/ui/paypal-configs/channel-config-section.tsx
  apps/paypal/src/modules/ui/paypal-configs/new-paypal-config-form.tsx
  apps/paypal/src/modules/ui/paypal-configs/paypal-configs-list.tsx
  apps/paypal/src/pages/config/new.tsx
Due: none

refactor(paypal): streamline PayPal config handlers by removing unnecessary logs and simplifying client ID/secret creation
  apps/paypal/public/logo.png
  apps/paypal/src/modules/app-config/trpc-handlers/new-paypal-config-trpc-handler.ts
  apps/paypal/src/modules/app-config/trpc-handlers/remove-paypal-config-trpc-handler.ts
  apps/paypal/src/modules/app-config/trpc-handlers/update-mapping-trpc-handler.ts
  apps/paypal/src/modules/paypal/configuration/paypal-multi-config-metadata-manager.ts
Due: none

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
