Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
    project:
      default:
        target: auto
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      app-payment-np-atobarai:
        flags: [np-atobarai]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]
      packages-domain:
        flags: [domain]
      packages-errors:
        flags: [errors]
      packages-apl-dynamo:
        flags: [apl-dynamo]
ignore:
  - "**/scripts/**"
  - "**/e2e/**"
  - "**/graphql/**"
  - "**/generated/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  np-atobarai:
    paths:
      - apps/np-atobarai/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/
  domain:
    paths:
      - packages/domain/
  errors:
      paths:
        - packages/errors/
  apl-dynamo:
      paths:
        - packages/apl-dynamo/

Add Claude.MD for SMTP app
  apps/smtp/CLAUDE.md
  cspell.config.js
Due: smtp

feat: add support for uv license checking
  .github/workflows/check-licenses.yaml
Due: none

Add Claude.md for monorepo
  CLAUDE.md
  cspell.config.js
Due: none

regenerate graphql
  apps/np-atobarai/generated/app-webhooks-types/transaction-initialize-session.ts
  apps/np-atobarai/generated/app-webhooks-types/transaction-process-session.ts
  apps/np-atobarai/generated/app-webhooks-types/transaction-refund-requested.ts
  apps/stripe/generated/app-webhooks-types/transaction-cancelation-requested.ts
  apps/stripe/generated/app-webhooks-types/transaction-charge-requested.ts
  apps/stripe/generated/app-webhooks-types/transaction-initialize-session.ts
  apps/stripe/generated/app-webhooks-types/transaction-process-session.ts
  apps/stripe/generated/app-webhooks-types/transaction-refund-requested.ts
Due: none

Fix NP Atobarai voucher amount and discount for refunds without line items
  apps/np-atobarai/bruno/08-fulfill-order.bru
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/after-fulfillment-refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/before-fulfillment-refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/after-fulfillment-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/before-fulfillment-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-change-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-register-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/atobarai-line-calculation.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/atobarai-line-calculation.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/refund-goods-builders.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/refund-goods-builders.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/transaction-goods-builder.test.ts
Due: np-atobarai

Add Claude.md for monorepo (#2068)
  CLAUDE.md
  apps/np-atobarai/generated/app-webhooks-types/transaction-initialize-session.ts
  apps/np-atobarai/generated/app-webhooks-types/transaction-process-session.ts
  apps/np-atobarai/generated/app-webhooks-types/transaction-refund-requested.ts
  apps/stripe/generated/app-webhooks-types/transaction-cancelation-requested.ts
  apps/stripe/generated/app-webhooks-types/transaction-charge-requested.ts
  apps/stripe/generated/app-webhooks-types/transaction-initialize-session.ts
  apps/stripe/generated/app-webhooks-types/transaction-process-session.ts
  apps/stripe/generated/app-webhooks-types/transaction-refund-requested.ts
  cspell.config.js
Due: none

Fix NP Atobarai voucher amount and discount for refunds without line items (#2069)
  apps/np-atobarai/bruno/08-fulfill-order.bru
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/after-fulfillment-refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/before-fulfillment-refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/after-fulfillment-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/before-fulfillment-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-change-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-register-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/atobarai-line-calculation.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/atobarai-line-calculation.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/refund-goods-builders.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/refund-goods-builders.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/transaction-goods-builder.test.ts
Due: np-atobarai

Prod release of NP Atobarai app
  .changeset/fluffy-birds-sin.md
Due: none

Change app name
  apps/np-atobarai/src/lib/env.ts
Due: np-atobarai

fix failing tests
  apps/np-atobarai/src/app/api/manifest/route.test.ts
Due: np-atobarai

Prod release of NP Atobarai app (#2070)
  .changeset/fluffy-birds-sin.md
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/lib/env.ts
Due: np-atobarai

Release apps (#2071)
  .changeset/fluffy-birds-sin.md
  apps/np-atobarai/CHANGELOG.md
  apps/np-atobarai/package.json
Due: np-atobarai

fix(stripe): Add missing metadata to PaymentIntent creation
  .changeset/fix-stripe-metadata-missing.md
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
Due: stripe

test: Add test coverage for metadata handling in PaymentIntent creation
  .changeset/fix-stripe-metadata-missing.md
  .changeset/giant-parents-collect.md
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
Due: stripe

Fix Stripe PaymentIntent metadata not being passed to API (#2072)
  .changeset/giant-parents-collect.md
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
Due: stripe

Release apps (#2073)
  .changeset/giant-parents-collect.md
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Due: stripe

inital version
  apps/avatax/src/modules/avatax/ui/avatax-tax-code-matcher-table.tsx
  apps/avatax/src/modules/avatax/ui/tax-code-select.tsx
Due: avatax

Fix tax code matcher UI
  .changeset/witty-pets-yawn.md
  apps/avatax/src/modules/avatax/ui/avatax-tax-code-matcher-table.tsx
  apps/avatax/src/modules/avatax/ui/tax-code-combobox.tsx
  apps/avatax/src/modules/avatax/ui/tax-code-select.tsx
  apps/avatax/src/modules/avatax/ui/use-tax-classes-with-matches.test.ts
  apps/avatax/src/modules/avatax/ui/use-tax-classes-with-matches.ts
  apps/avatax/src/modules/avatax/ui/use-tax-code-combobox.test.ts
  apps/avatax/src/modules/avatax/ui/use-tax-code-combobox.ts
  apps/avatax/src/pages/providers/avatax/matcher.tsx
Due: avatax

fixes
  apps/avatax/src/modules/avatax/ui/tax-code-combobox.tsx
  apps/avatax/src/modules/avatax/ui/use-tax-code-combobox.test.ts
  apps/avatax/src/modules/avatax/ui/use-tax-code-combobox.ts
Due: avatax

fixes after cr
  apps/avatax/src/modules/avatax/ui/tax-code-combobox.tsx
  apps/avatax/src/pages/providers/avatax/matcher.tsx
Due: avatax

Pass order number as document code
  .changeset/chilly-oranges-dance.md
  apps/avatax/src/modules/avatax/avatax-document-code-resolver.test.ts
  apps/avatax/src/modules/avatax/avatax-document-code-resolver.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/modules/saleor/order-confirmed/event.ts
Due: avatax

Dynamic AvaTax client app name / app version based on env vars
  .changeset/nice-taxis-fail.md
  apps/avatax/src/env.ts
  apps/avatax/src/modules/avatax/avatax-sdk-client-factory.ts
  apps/avatax/tsconfig.json
  apps/avatax/turbo.json
Due: avatax

bring back default value
  apps/avatax/src/env.ts
Due: avatax

fix broken paths in vitests
  apps/avatax/package.json
  apps/avatax/vitest.config.ts
  pnpm-lock.yaml
Due: avatax

Update AvaTax UI
  .changeset/wet-onions-jog.md
  apps/avatax/src/modules/avatax/ui/avatax-configuration-address-fragment.tsx
  apps/avatax/src/modules/avatax/ui/avatax-configuration-credentials-fragment.tsx
  apps/avatax/src/modules/avatax/ui/avatax-tax-code-matcher-table.tsx
  apps/avatax/src/modules/avatax/ui/edit-avatax-configuration.tsx
  apps/avatax/src/modules/channel-configuration/ui/channel-list.tsx
  apps/avatax/src/modules/channel-configuration/ui/channel-table.tsx
  apps/avatax/src/modules/provider-connections/ui/providers-list.tsx
  apps/avatax/src/modules/provider-connections/ui/providers-section.tsx
  apps/avatax/src/modules/ui/matcher-section.tsx
  apps/avatax/src/modules/ui/providers-table.tsx
  apps/avatax/src/pages/configuration.tsx
  apps/avatax/src/pages/providers/avatax/matcher.tsx
Due: avatax

Dynamic AvaTax client app name / app version based on env vars (#2076)
  .changeset/nice-taxis-fail.md
  apps/avatax/package.json
  apps/avatax/src/env.ts
  apps/avatax/src/modules/avatax/avatax-sdk-client-factory.ts
  apps/avatax/tsconfig.json
  apps/avatax/turbo.json
  apps/avatax/vitest.config.ts
  pnpm-lock.yaml
Due: avatax

Update AvaTax UI (#2077)
  .changeset/wet-onions-jog.md
  apps/avatax/src/modules/avatax/ui/avatax-configuration-address-fragment.tsx
  apps/avatax/src/modules/avatax/ui/avatax-configuration-credentials-fragment.tsx
  apps/avatax/src/modules/avatax/ui/avatax-tax-code-matcher-table.tsx
  apps/avatax/src/modules/avatax/ui/edit-avatax-configuration.tsx
  apps/avatax/src/modules/channel-configuration/ui/channel-list.tsx
  apps/avatax/src/modules/channel-configuration/ui/channel-table.tsx
  apps/avatax/src/modules/provider-connections/ui/providers-list.tsx
  apps/avatax/src/modules/provider-connections/ui/providers-section.tsx
  apps/avatax/src/modules/ui/matcher-section.tsx
  apps/avatax/src/modules/ui/providers-table.tsx
  apps/avatax/src/pages/configuration.tsx
  apps/avatax/src/pages/providers/avatax/matcher.tsx
Due: avatax

Pass order number as document code (#2075)
  .changeset/chilly-oranges-dance.md
  apps/avatax/src/modules/avatax/avatax-document-code-resolver.test.ts
  apps/avatax/src/modules/avatax/avatax-document-code-resolver.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/modules/saleor/order-confirmed/event.ts
Due: avatax

Improve AvaTax tax code matcher UI (#2074)
  .changeset/witty-pets-yawn.md
  apps/avatax/src/modules/avatax/ui/avatax-tax-code-matcher-table.tsx
  apps/avatax/src/modules/avatax/ui/tax-code-combobox.tsx
  apps/avatax/src/modules/avatax/ui/tax-code-select.tsx
  apps/avatax/src/modules/avatax/ui/use-tax-classes-with-matches.test.ts
  apps/avatax/src/modules/avatax/ui/use-tax-classes-with-matches.ts
  apps/avatax/src/modules/avatax/ui/use-tax-code-combobox.test.ts
  apps/avatax/src/modules/avatax/ui/use-tax-code-combobox.ts
Due: avatax

Update Tax code matcher UI
  .changeset/eight-lemons-try.md
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-codes.router.ts
  apps/avatax/src/modules/avatax/ui/use-tax-code-combobox.test.ts
  apps/avatax/src/modules/avatax/ui/use-tax-code-combobox.ts
Due: avatax

Use macaw components for index and error message
  apps/avatax/src/pages/_app.tsx
  apps/avatax/src/pages/index.tsx
Due: avatax

fixes after cr
  apps/avatax/src/modules/avatax/avatax-client.ts
  apps/avatax/src/modules/avatax/ui/use-tax-code-combobox.ts
Due: avatax

Add setup for react hooks and component tests
  packages/shared/package.json
  packages/shared/src/setup-tests.ts
  packages/shared/vitest.config.ts
  pnpm-lock.yaml
Due: shared

Add tests for IframeProtectedWrapper
  packages/shared/src/iframe-protected-wrapper.test.tsx
Due: shared

Add IframeProtectedWrapper to all Saleor apps
  apps/cms/src/pages/_app.tsx
  apps/klaviyo/src/pages/_app.tsx
  apps/np-atobarai/src/pages/_app.tsx
  apps/products-feed/src/pages/_app.tsx
  apps/search/src/pages/_app.tsx
  apps/segment/src/pages/_app.tsx
  apps/smtp/src/pages/_app.tsx
  apps/stripe/src/pages/_app.tsx
Due: cms, products-feed, search, segment, smtp, stripe, np-atobarai

Display error when user opens app outside of iframe (#2062)
  .changeset/tough-bugs-hammer.md
  apps/avatax/src/pages/_app.tsx
  apps/avatax/src/pages/index.tsx
  packages/shared/package.json
  packages/shared/src/iframe-protected-wrapper.test.tsx
  packages/shared/src/iframe-protected-wrapper.tsx
  packages/shared/src/setup-tests.ts
  packages/shared/vitest.config.ts
  pnpm-lock.yaml
Due: avatax, shared

Fix tRPC logs (#2063)
  .changeset/moody-spoons-pull.md
  apps/avatax/src/app/api/register/route.ts
  apps/avatax/src/modules/trpc/protected-client-procedure.ts
Due: avatax

Add Claude.MD for SMTP app (#2066)
  apps/smtp/CLAUDE.md
  cspell.config.js
Due: smtp

Update Tax code matcher UI (#2079)
  .changeset/eight-lemons-try.md
  apps/avatax/src/modules/avatax/avatax-client.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-codes.router.ts
  apps/avatax/src/modules/avatax/ui/use-tax-code-combobox.test.ts
  apps/avatax/src/modules/avatax/ui/use-tax-code-combobox.ts
Due: avatax

Update PR
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/taxes/tax-error.ts
Due: avatax
