Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
    project:
      default:
        target: auto
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      app-payment-np-atobarai:
        flags: [np-atobarai]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]
      packages-domain:
        flags: [domain]
      packages-errors:
        flags: [errors]
      packages-apl-dynamo:
        flags: [apl-dynamo]
ignore:
  - "**/scripts/**"
  - "**/e2e/**"
  - "**/graphql/**"
  - "**/generated/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  np-atobarai:
    paths:
      - apps/np-atobarai/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/
  domain:
    paths:
      - packages/domain/
  errors:
      paths:
        - packages/errors/
  apl-dynamo:
      paths:
        - packages/apl-dynamo/

change logger loading
  apps/search/src/lib/logger.ts
Due: search

make node specific logger async
  apps/search/src/lib/logger.ts
Due: search

Add DynamoDB APL logs to all apps (#2193)
  .changeset/dynamo-apl-logging-avatax.md
  .changeset/dynamo-apl-logging-cms.md
  .changeset/dynamo-apl-logging-klaviyo.md
  .changeset/dynamo-apl-logging-np-atobarai.md
  .changeset/dynamo-apl-logging-products-feed.md
  .changeset/dynamo-apl-logging-search.md
  .changeset/dynamo-apl-logging-segment.md
  .changeset/dynamo-apl-logging-smtp.md
  .changeset/dynamo-apl-logging-stripe.md
  apps/avatax/saleor-app.ts
  apps/cms/src/saleor-app.ts
  apps/klaviyo/saleor-app.ts
  apps/np-atobarai/src/lib/saleor-app.ts
  apps/products-feed/src/saleor-app.ts
  apps/search/saleor-app.ts
  apps/search/src/lib/logger.ts
  apps/search/src/modules/trpc/trpc-client.ts
  apps/segment/src/saleor-app.ts
  apps/smtp/src/saleor-app.ts
  apps/stripe/src/lib/saleor-app.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

feat(cspell): add chargeback variations to custom words
  cspell.config.js
Due: none

Simplify exemption amount calculation to use totalExempt directly
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
Due: avatax

feat(database): add webhook fields to wsm_global_paypal_config
  apps/paypal/scripts/migrate-database.ts
  apps/paypal/src/lib/database.ts
Due: none

Refactor exemption status metadata handling to use shared logic and support both checkout and order
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/modules/app/avatax-exemption-status-metadata.ts
  apps/avatax/src/modules/app/exemption-status-metadata-manager.ts
Due: avatax

Add tests for ExemptionStatusMetadataManager update and delete operations
  apps/avatax/src/modules/app/exemption-status-metadata-manager.test.ts
Due: avatax

Refactor exemption status metadata updates to use shared updater function
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/modules/app/exemption-status-public-metadata-updater.test.ts
  apps/avatax/src/modules/app/exemption-status-public-metadata-updater.ts
Due: avatax

added imports to notify saleor
  apps/paypal/src/app/api/webhooks/paypal/platform-events/route.ts
Due: none

refund status upadte
  apps/paypal/src/app/api/webhooks/paypal/platform-events/route.ts
Due: none

UI with no configs
  apps/smtp/src/modules/app-configuration/ui/messaging-providers-box.tsx
Due: smtp

config schema and fetching config and some ui
  apps/smtp/src/modules/app-configuration/ui/configuration-fallback.tsx
  apps/smtp/src/modules/app-configuration/ui/messaging-providers-box.tsx
  apps/smtp/src/modules/smtp/configuration/smtp-config-schema.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/src/pages/configuration/index.tsx
Due: smtp

Working configuration
  apps/smtp/src/modules/app-configuration/ui/configuration-fallback.tsx
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/src/pages/configuration/index.tsx
Due: smtp

attach fallback env variables
  apps/smtp/.env.example
Due: smtp

fallback config schema
  apps/smtp/src/modules/smtp/configuration/smtp-config-schema.ts
  apps/smtp/turbo.json
Due: smtp

Remove unnecessary type assertions from ExemptionStatusMetadataManager and updater tests
  apps/avatax/src/modules/app/exemption-status-metadata-manager.test.ts
  apps/avatax/src/modules/app/exemption-status-metadata-manager.ts
  apps/avatax/src/modules/app/exemption-status-public-metadata-updater.test.ts
  apps/avatax/src/modules/app/exemption-status-public-metadata-updater.ts
Due: avatax

Update pnpm settings
  pnpm-workspace.yaml
Due: none

fix atobarai refund logic
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/subscriptions/transaction-refund-requested.graphql
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-refund-requested-event.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-event-parser.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-event-parser.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/after-fulfillment-refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/base-refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/base-refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/before-fulfillment-refund-orchestrator.test.ts
Due: np-atobarai

changeset
  .changeset/green-queens-chew.md
Due: none

Update pnpm settings (#2197)
  pnpm-workspace.yaml
Due: none

fix loading screen
  apps/smtp/src/pages/index.tsx
Due: smtp

Enable all webhooks during installation
  apps/smtp/src/pages/api/manifest.ts
Due: smtp

remove enable/disable webhook logic, now all webhooks are enabled from day one
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/src/modules/trpc/protected-client-procedure-with-services.ts
  apps/smtp/src/modules/trpc/trpc-server.ts
  apps/smtp/src/modules/webhook-management/api-operations.ts
  apps/smtp/src/modules/webhook-management/get-webhook-statuses-from-configurations.test.ts
  apps/smtp/src/modules/webhook-management/get-webhook-statuses-from-configurations.ts
  apps/smtp/src/modules/webhook-management/sync-webhook-status.test.ts
  apps/smtp/src/modules/webhook-management/sync-webhook-status.ts
  apps/smtp/src/modules/webhook-management/webhook-management-service.test.ts
  apps/smtp/src/modules/webhook-management/webhook-management-service.ts
  apps/smtp/src/modules/webhook-management/webhook-status-dict.ts
Due: smtp

fix types
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/after-fulfillment-strategies.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/before-fulfillment-strategies.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
Due: np-atobarai

fix test
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
Due: np-atobarai

Fix NP Atobarai refund logic to use transaction total instead of order total (#2198)
  .changeset/green-queens-chew.md
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/subscriptions/transaction-refund-requested.graphql
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-refund-requested-event.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-event-parser.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-event-parser.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/after-fulfillment-refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/base-refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/base-refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator/before-fulfillment-refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/after-fulfillment-strategies.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy/before-fulfillment-strategies.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
Due: np-atobarai

make fallback disabled by default
  apps/smtp/src/modules/smtp/configuration/smtp-config-schema.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/src/pages/api/register.ts
Due: smtp

wip
  apps/smtp/.env.example
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/smtp/configuration/smtp-config-schema.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/turbo.json
Due: smtp

initial setup
  apps/smtp/.env.example
  apps/smtp/src/modules/app-configuration/ui/configuration-fallback.tsx
  apps/smtp/src/modules/app-configuration/ui/messaging-providers-box.tsx
  apps/smtp/src/modules/smtp/configuration/smtp-config-schema.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/src/pages/api/register.ts
  apps/smtp/src/pages/configuration/index.tsx
  apps/smtp/src/pages/index.tsx
  apps/smtp/turbo.json
Due: smtp

Implement sending emails
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.factory.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/webhook-management/sync-webhook-status.test.ts
  apps/smtp/src/pages/api/register.ts
Due: smtp

comment on envs
  apps/smtp/.env.example
Due: smtp

refactor
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.factory.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
Due: smtp

tenant name calculation
  apps/smtp/src/modules/saleor-fallback-behavior/tenant-name.test.ts
  apps/smtp/src/modules/saleor-fallback-behavior/tenant-name.ts
Due: smtp

pass tenant name
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/smtp/services/smtp-email-sender.ts
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
  apps/smtp/src/pages/api/webhooks/order-refunded.ts
Due: smtp

changeset
  .changeset/tidy-news-ring.md
  apps/smtp/src/pages/api/register.ts
Due: smtp

avatax - dynamo timeout settings
  apps/avatax/.env.example
  apps/avatax/src/env.ts
  apps/avatax/src/modules/client-logs/client-logs.router.ts
  apps/avatax/src/modules/client-logs/log-writer-factory.ts
  apps/avatax/src/modules/dynamodb/dynamo-client.ts
  apps/avatax/src/modules/dynamodb/dynamo-main-table.ts
  apps/avatax/turbo.json
  cspell.config.js
Due: avatax

apply to other apps
  apps/cms/.env.example
  apps/cms/src/modules/dynamodb/dynamo-main-table.ts
  apps/cms/src/modules/dynamodb/dynamodb-client.ts
  apps/cms/turbo.json
  apps/klaviyo/.env.example
  apps/klaviyo/src/dynamodb/dynamo-main-table.ts
  apps/klaviyo/src/dynamodb/dynamodb-client.ts
  apps/klaviyo/turbo.json
  apps/np-atobarai/.env.example
  apps/np-atobarai/src/lib/env.ts
  apps/np-atobarai/src/modules/dynamodb/dynamodb-client.ts
  apps/np-atobarai/src/modules/dynamodb/dynamodb-main-table.ts
  apps/np-atobarai/turbo.json
  apps/products-feed/.env.example
  apps/products-feed/src/modules/dynamodb/dynamo-main-table.ts
  apps/products-feed/src/modules/dynamodb/dynamodb-client.ts
  apps/products-feed/turbo.json
  apps/search/.env.example
  apps/search/src/modules/dynamodb/dynamo-main-table.ts
  apps/search/src/modules/dynamodb/dynamodb-client.ts
  apps/search/turbo.json
  apps/segment/.env.example
  apps/segment/src/env.ts
  apps/segment/src/lib/dynamodb-client.ts
  apps/segment/src/modules/db/segment-main-table.ts
  apps/segment/turbo.json
  apps/smtp/.env.example
  apps/smtp/src/modules/dynamodb/dynamo-main-table.ts
  apps/smtp/src/modules/dynamodb/dynamodb-client.ts
  apps/smtp/turbo.json
  apps/stripe/.env.example
  apps/stripe/src/lib/env.ts
  apps/stripe/src/modules/dynamodb/dynamo-main-table.ts
  apps/stripe/src/modules/dynamodb/dynamodb-client.ts
  apps/stripe/turbo.json
Due: cms, products-feed, search, segment, smtp, stripe, np-atobarai

changeset
  .changeset/rich-dolphins-pay.md
Due: none
