Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

add script for deleting old deployments in Vercel
  scripts/README.md
  scripts/list-old-deployments.py
Due: none

update docs
  scripts/README.md
Due: none

more logs
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/webhook-management/api-operations.ts
  apps/smtp/src/pages/api/trpc/[trpc].ts
Due: smtp

Notes added by 'git notes add'
  f120355f5d777fb01fff2838c421d65ac807475a
Due: none

Update schema to 3.23 and regenerate graphql
  apps/avatax/e2e/generated/graphql.ts
  apps/avatax/e2e/generated/types.ts
  apps/avatax/generated/graphql.ts
  apps/cms/generated/graphql.ts
  apps/klaviyo/generated/graphql.ts
  apps/np-atobarai/generated/graphql.ts
  apps/products-feed/generated/graphql.ts
  apps/search/generated/graphql.ts
  apps/segment/generated/graphql.ts
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql/fragments/OrderDetails.graphql
  apps/stripe/e2e/generated/graphql.ts
  apps/stripe/generated/graphql.ts
  package.json
  schema.graphql
  turbo.json
Due: none

Notes added by 'git notes add'
  ebb00b6120384dfdfa9a79e669aa55f2a41474db
Due: none

fix payload
  apps/smtp/src/modules/event-handlers/default-payloads.ts
Due: smtp

Notes added by 'git notes add'
  30b59d91b097586744f788e3e4c8a6c2bae570e1
Due: none

Changesets
  .changeset/heavy-words-smoke.md
  .changeset/strong-doors-beg.md
Due: none

Notes added by 'git notes add'
  fea8649df47f3d26e667ed0eac54b4163daeef11
Due: none

fix test
  apps/smtp/src/modules/webhook-management/webhook-management-service.test.ts
Due: smtp

Notes added by 'git notes add'
  c50e14990a152ffef182b0744578b4279caa16b0
Due: none

Update schema to 3.23 and remove old fields from SMTP (#2302)
  .changeset/heavy-words-smoke.md
  .changeset/strong-doors-beg.md
  apps/avatax/e2e/generated/graphql.ts
  apps/avatax/e2e/generated/types.ts
  apps/avatax/generated/graphql.ts
  apps/cms/generated/graphql.ts
  apps/klaviyo/generated/graphql.ts
  apps/np-atobarai/generated/graphql.ts
  apps/products-feed/generated/graphql.ts
  apps/search/generated/graphql.ts
  apps/segment/generated/graphql.ts
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql/fragments/OrderDetails.graphql
  apps/smtp/src/modules/event-handlers/default-payloads.ts
  apps/smtp/src/modules/webhook-management/webhook-management-service.test.ts
  apps/stripe/e2e/generated/graphql.ts
  apps/stripe/generated/graphql.ts
  package.json
  schema.graphql
  turbo.json
Due: smtp

Add webhook migration script to remove digitalContentUrl from SMTP OrderDetails
  apps/smtp/package.json
  apps/smtp/scripts/migration-logger.ts
  apps/smtp/scripts/remove-digital-content-url-from-query.test.ts
  apps/smtp/scripts/remove-digital-content-url-from-query.ts
  apps/smtp/scripts/run-webhooks-migration.ts
  pnpm-lock.yaml
Due: smtp

Notes added by 'git notes add'
  5add37adf6fe17af14dc7764738a0ae3e3d500e2
Due: none

add ERROR preffix to all non-config lines
  apps/smtp/scripts/dump-templates.ts
Due: none

parse output directly in vercel
  apps/smtp/scripts/deploy.ts
Due: none

fix linter
  apps/smtp/scripts/audit-handlebars-helpers.ts
Due: none

Add webhook migration script to remove digitalContentUrl (#2304)
  apps/smtp/package.json
  apps/smtp/scripts/migration-logger.ts
  apps/smtp/scripts/remove-digital-content-url-from-query.test.ts
  apps/smtp/scripts/remove-digital-content-url-from-query.ts
  apps/smtp/scripts/run-webhooks-migration.ts
  pnpm-lock.yaml
Due: smtp

Clean up webhook migration
  apps/smtp/scripts/remove-digital-content-url-from-query.test.ts
  apps/smtp/scripts/remove-digital-content-url-from-query.ts
  apps/smtp/scripts/run-migration.ts
  apps/smtp/scripts/run-webhooks-migration.ts
Due: none

Notes added by 'git notes add'
  72e7ce4d00939a4c4b6ce35d9d41d54cb4380686
Due: none

fix logs
  .changeset/huge-goats-float.md
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
Due: np-atobarai

Notes added by 'git notes add'
  8e41fdfaef26822441ddd40adc0fba70d8e79247
Due: none

Clean up webhook migration (#2306)
  apps/smtp/scripts/remove-digital-content-url-from-query.test.ts
  apps/smtp/scripts/remove-digital-content-url-from-query.ts
  apps/smtp/scripts/run-migration.ts
  apps/smtp/scripts/run-webhooks-migration.ts
Due: none

Add script for checking removed handlebars helpers (#2305)
  apps/smtp/docs/audit-handlebars-helpers.md
  apps/smtp/package.json
  apps/smtp/scripts/audit-handlebars-helpers.ts
  apps/smtp/scripts/deploy.ts
  apps/smtp/scripts/dump-templates.ts
  apps/smtp/scripts/require-shim.mjs
Due: smtp

feat(shared): add RotatingEncryptor with fallback key support
  packages/shared/package.json
  packages/shared/src/rotating-encryptor.test.ts
  packages/shared/src/rotating-encryptor.ts
Due: shared

feat(shared): add rotating decrypt callback for EncryptedMetadataManager
  packages/shared/src/metadata-manager.ts
  packages/shared/src/rotating-decrypt-callback.test.ts
  packages/shared/src/rotating-decrypt-callback.ts
Due: shared

feat(shared): add rotating SDK decrypt wrapper for Segment key rotation
  packages/shared/src/rotating-sdk-decrypt.test.ts
  packages/shared/src/rotating-sdk-decrypt.ts
Due: shared

feat(shared): add fallback secret key env helpers
  packages/shared/src/fallback-secret-keys.test.ts
  packages/shared/src/fallback-secret-keys.ts
Due: shared

Fixe fulfillment-tracking-number-update logs (#2307)
  .changeset/huge-goats-float.md
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
Due: np-atobarai

Update Avatax E2E_SALEOR_VERSION to include all supported versions
  apps/avatax/e2e/env-e2e.ts
  apps/avatax/src/env.ts
Due: avatax

refactor(smtp): extract redirect banner and endpoint URL to saleor-fallback-behavior
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/saleor-fallback-behavior/redirect-banner.ts
  apps/smtp/src/modules/saleor-fallback-behavior/redirect-endpoint-url.ts
Due: smtp

fix(smtp): use Token auth scheme for redirect email endpoint
  apps/smtp/src/modules/saleor-fallback-behavior/redirect-email-fetcher.test.ts
  apps/smtp/src/modules/saleor-fallback-behavior/redirect-email-fetcher.ts
Due: smtp

chore: update changeset to mention preview banner
  .changeset/smtp-fallback-email-redirect.md
Due: none

refactor(smtp): extract Zod-based redirect email config and address PR feedback
  apps/smtp/.env.example
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/saleor-fallback-behavior/redirect-email-config.test.ts
  apps/smtp/src/modules/saleor-fallback-behavior/redirect-email-config.ts
  apps/smtp/src/modules/saleor-fallback-behavior/redirect-email-fetcher.test.ts
  apps/smtp/src/modules/saleor-fallback-behavior/redirect-email-fetcher.ts
Due: smtp

feat(smtp): redirect fallback emails to endpoint-provided address
  apps/smtp/.env.example
  apps/smtp/src/env.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/saleor-fallback-behavior/redirect-email-fetcher.test.ts
  apps/smtp/src/modules/saleor-fallback-behavior/redirect-email-fetcher.ts
  apps/smtp/turbo.json
Due: smtp

feat(smtp): add preview banner to redirected fallback emails
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
Due: smtp

Append Saleor API url to the request
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
Due: smtp

test(smtp): add tests for fallback email redirect and preview banner
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
Due: smtp

fix(smtp): skip blocked domain filter when redirect config is active
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
Due: smtp

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
