Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

Revert "Fix avatax e2e (#2102)"
  apps/avatax/e2e/tests/checkout-with-ship-from-address-metadata.spec.ts
Due: none

Revert "Fix avatax e2e (#2100)"
  apps/avatax/e2e/tests/checkout-with-ship-from-address-metadata.spec.ts
  apps/avatax/e2e/tests/draft-order-with-ship-from-address-metadata.spec.ts
Due: none

Revert "add support for custom ship-from address via private metadata (#2098)"
  apps/avatax/e2e/generated/graphql.ts
  apps/avatax/e2e/graphql/mutations/UpdatePrivateMetadata.graphql
  apps/avatax/e2e/tests/checkout-with-ship-from-address-metadata.spec.ts
  apps/avatax/e2e/tests/draft-order-with-ship-from-address-metadata.spec.ts
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/fragments/TaxBase.graphql
  apps/avatax/src/modules/avatax/avatax-ship-from-address-resolver.test.ts
  apps/avatax/src/modules/avatax/avatax-ship-from-address-resolver.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
Due: avatax

update changelog
  apps/avatax/CHANGELOG.md
Due: avatax

Update integration tests
  apps/stripe/graphql/fragments/event-metadata.graphql
  apps/stripe/src/__tests__/integration/msw-server.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/payment-intent-succeeded-event-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-initialize-session-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/app/api/webhooks/stripe/stripe-object-handlers/stripe-payment-intent-handler.test.ts
  apps/stripe/src/app/api/webhooks/stripe/stripe-object-handlers/stripe-payment-intent-handler.ts
  apps/stripe/src/modules/saleor/saleor-payment-method-details.test.ts
  apps/stripe/src/modules/saleor/saleor-payment-method-details.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
Due: stripe

Avatax: Revert dynamic shipping from metadata (#2104)
  apps/avatax/CHANGELOG.md
  apps/avatax/e2e/generated/graphql.ts
  apps/avatax/e2e/graphql/mutations/UpdatePrivateMetadata.graphql
  apps/avatax/e2e/tests/checkout-with-ship-from-address-metadata.spec.ts
  apps/avatax/e2e/tests/draft-order-with-ship-from-address-metadata.spec.ts
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/fragments/TaxBase.graphql
  apps/avatax/src/modules/avatax/avatax-ship-from-address-resolver.test.ts
  apps/avatax/src/modules/avatax/avatax-ship-from-address-resolver.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
Due: avatax

fixes after CR
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
  apps/stripe/src/modules/saleor/saleor-payment-method-details.test.ts
  apps/stripe/src/modules/saleor/saleor-payment-method-details.ts
Due: stripe

fix types
  packages/shared/src/saleor-version-compatibility-validator.test.ts
Due: shared

fix handlers
  apps/stripe/src/app/api/webhooks/stripe/stripe-object-handlers/stripe-payment-intent-handler.ts
Due: stripe

fix __internal name
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/stripe/stripe-object-handlers/stripe-payment-intent-handler.ts
  apps/stripe/src/app/api/webhooks/stripe/stripe-object-handlers/stripe-refund-handler.ts
  apps/stripe/src/modules/saleor/transaction-requested-event-helpers.ts
Due: stripe

fixes after CR
  apps/stripe/graphql/mutations/transaction-event-report-with-payment-details.graphql
  apps/stripe/src/app/api/webhooks/stripe/stripe-object-handlers/stripe-payment-intent-handler.ts
Due: stripe

fixes after CR
  apps/stripe/graphql/fragments/event-metadata.graphql
  apps/stripe/src/app/api/webhooks/stripe/stripe-object-handlers/stripe-payment-intent-handler.ts
Due: stripe

[NP Atobarai] Add comprehensive tests for payment method details
  .changeset/np-atobarai-payment-method-details-tests.md
  apps/np-atobarai/codegen.ts
  apps/np-atobarai/package.json
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.test.ts
  apps/np-atobarai/src/modules/saleor/saleor-payment-method-details.test.ts
  apps/np-atobarai/src/modules/saleor/saleor-payment-method-details.ts
Due: np-atobarai

Update changeset to describe feature support and clean up tests
  .changeset/np-atobarai-payment-method-details-tests.md
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/schema.graphql
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/manifest/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-event-parser.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/modules/saleor/saleor-payment-method-details.test.ts
Due: np-atobarai

[NP Atobarai] Add support for payment method details in transaction events (#2106)
  .changeset/np-atobarai-payment-method-details-tests.md
  apps/np-atobarai/codegen.ts
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/schema.graphql
  apps/np-atobarai/package.json
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/manifest/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-event-parser.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/modules/saleor/saleor-payment-method-details.test.ts
  apps/np-atobarai/src/modules/saleor/saleor-payment-method-details.ts
Due: np-atobarai

Release apps (#2105)
  .changeset/np-atobarai-payment-method-details-tests.md
  .changeset/restore-validator-methods.md
  .changeset/stripe-payment-method-details.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/np-atobarai/CHANGELOG.md
  apps/np-atobarai/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, shared

Run e2e on 322 for Stripe / Avatax
  .github/workflows/e2e.yml
Due: none

add missing vars
  .github/workflows/e2e.yml
  apps/avatax/e2e/env-e2e.ts
Due: none

Add error codes to determine help text
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/smtp/services/email-compiler.ts
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.ts
  apps/smtp/src/modules/smtp/services/mjml-compiler.ts
  apps/smtp/src/modules/smtp/services/template-error-codes.ts
  apps/smtp/src/modules/smtp/ui/template-error-display.tsx
  apps/smtp/src/modules/trpc/trpc-server.ts
Due: smtp

Fix TS errors
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.ts
  apps/smtp/src/modules/smtp/services/mjml-compiler.ts
Due: smtp

Refactor fallback message into separate component
  apps/avatax/src/pages/_app.tsx
  apps/cms/src/pages/_app.tsx
  apps/klaviyo/src/pages/_app.tsx
  apps/np-atobarai/src/pages/_app.tsx
  apps/products-feed/src/pages/_app.tsx
  apps/search/src/pages/_app.tsx
  apps/segment/src/pages/_app.tsx
  apps/smtp/src/pages/_app.tsx
  apps/stripe/src/pages/_app.tsx
  packages/shared/package.json
  packages/shared/src/iframe-protected-fallback.tsx
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, shared

Remove duplicate AppLayout, remove duplicate ThemeProvider
  apps/avatax/src/pages/_app.tsx
  apps/avatax/src/pages/index.tsx
  packages/shared/src/iframe-protected-fallback.tsx
Due: avatax, shared

Fix handlebars custom compiler in tRPC routes (#2065)
  .changeset/fifty-pigs-rescue.md
  .changeset/giant-dolls-jump.md
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/src/modules/smtp/services/email-compiler.test.ts
  apps/smtp/src/modules/smtp/services/email-compiler.ts
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.ts
  apps/smtp/src/modules/smtp/services/mjml-compiler.ts
  apps/smtp/src/modules/smtp/services/template-error-codes.ts
  apps/smtp/src/modules/smtp/ui/event-form.tsx
  apps/smtp/src/modules/smtp/ui/template-error-display.tsx
  apps/smtp/src/modules/smtp/ui/template-preview.tsx
  apps/smtp/src/modules/trpc/trpc-server.ts
Due: smtp

Run e2e on 322 for Stripe / Avatax (#2107)
  .github/workflows/e2e.yml
  apps/avatax/e2e/env-e2e.ts
Due: none

Check if apps are opened in iframe before rendering pages (#2080)
  .changeset/tough-bugs-hammer.md
  apps/avatax/src/pages/_app.tsx
  apps/avatax/src/pages/index.tsx
  apps/cms/src/pages/_app.tsx
  apps/klaviyo/src/pages/_app.tsx
  apps/np-atobarai/src/pages/_app.tsx
  apps/products-feed/src/pages/_app.tsx
  apps/search/src/pages/_app.tsx
  apps/segment/src/pages/_app.tsx
  apps/smtp/src/pages/_app.tsx
  apps/stripe/src/pages/_app.tsx
  packages/shared/package.json
  packages/shared/src/iframe-protected-fallback.tsx
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, shared

Fix type errors and test failures after upstream merge
  apps/stripe/generated/graphql.ts
  apps/stripe/src/__tests__/mocks/transaction-recorder-repo.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/vendor-specific.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/vendor-specific.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.test.ts
Due: stripe

Configure webhooks to receive only connected account events
  apps/stripe/src/app/api/webhooks/stripe/stripe-object-handlers/stripe-payment-intent-handler.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
Due: stripe

Return 200 OK for webhooks from unrecognized connected accounts
  apps/stripe/src/app/api/webhooks/stripe/stripe-webhook-responses.test.ts
  apps/stripe/src/app/api/webhooks/stripe/stripe-webhook-responses.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
Due: stripe

Update apps minimal Saleor version
  .changeset/dirty-bees-lick.md
  .changeset/polite-badgers-guess.md
  .changeset/seven-gorillas-poke.md
  apps/avatax/package.json
  apps/cms/generated/graphql.ts
  apps/cms/graphql.config.ts
  apps/cms/graphql/schema.graphql
  apps/cms/package.json
  apps/cms/src/pages/api/manifest.ts
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/graphql.config.ts
  apps/klaviyo/graphql/schema.graphql
  apps/klaviyo/package.json
  apps/klaviyo/src/pages/api/manifest.ts
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql.config.ts
  apps/products-feed/graphql/schema.graphql
  apps/products-feed/package.json
  apps/products-feed/src/pages/api/manifest.ts
  apps/search/generated/graphql.ts
  apps/search/graphql.config.ts
  apps/search/graphql/schema.graphql
  apps/search/package.json
  apps/search/src/pages/api/manifest.ts
  apps/segment/generated/graphql.ts
  apps/segment/graphql.config.ts
  apps/segment/graphql/schema.graphql
  apps/segment/package.json
  apps/segment/src/pages/api/manifest.ts
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql.config.ts
  apps/smtp/graphql/schema.graphql
  apps/smtp/package.json
  apps/smtp/src/pages/api/manifest.ts
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/graphql.config.ts
  packages/webhook-utils/graphql/schema.graphql
  packages/webhook-utils/package.json
Due: avatax, cms, products-feed, search, segment, smtp, webhook-utils

Update .changeset/dirty-bees-lick.md
  .changeset/dirty-bees-lick.md
Due: none

revert webhook utils
  .changeset/polite-badgers-guess.md
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/graphql.config.ts
  packages/webhook-utils/graphql/schema.graphql
  packages/webhook-utils/package.json
Due: webhook-utils

fix cr
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql/schema.graphql
  apps/products-feed/package.json
Due: products-feed

Update apps minimal Saleor version (#2110)
  .changeset/dirty-bees-lick.md
  .changeset/seven-gorillas-poke.md
  apps/avatax/package.json
  apps/cms/generated/graphql.ts
  apps/cms/graphql.config.ts
  apps/cms/graphql/schema.graphql
  apps/cms/package.json
  apps/cms/src/pages/api/manifest.ts
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/graphql.config.ts
  apps/klaviyo/graphql/schema.graphql
  apps/klaviyo/package.json
  apps/klaviyo/src/pages/api/manifest.ts
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql.config.ts
  apps/products-feed/graphql/schema.graphql
  apps/products-feed/package.json
  apps/products-feed/src/pages/api/manifest.ts
  apps/search/generated/graphql.ts
  apps/search/graphql.config.ts
  apps/search/graphql/schema.graphql
  apps/search/package.json
  apps/search/src/pages/api/manifest.ts
  apps/segment/generated/graphql.ts
  apps/segment/graphql.config.ts
  apps/segment/graphql/schema.graphql
  apps/segment/package.json
  apps/segment/src/pages/api/manifest.ts
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql.config.ts
  apps/smtp/graphql/schema.graphql
  apps/smtp/package.json
  apps/smtp/src/pages/api/manifest.ts
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/graphql/schema.graphql
  packages/webhook-utils/package.json
Due: avatax, cms, products-feed, search, segment, smtp, webhook-utils

Fix wrong name for Stripe app in changeset
  .changeset/tough-bugs-hammer.md
Due: none

Fix wrong name for Stripe app in changeset (#2111)
  .changeset/tough-bugs-hammer.md
Due: none

Fix wrong name for NP atobarai app in changeset
  .changeset/tough-bugs-hammer.md
Due: none

Fix wrong name for NP atobarai app in changeset (#2112)
  .changeset/tough-bugs-hammer.md
Due: none

Release apps (#2108)
  .changeset/dirty-bees-lick.md
  .changeset/fifty-pigs-rescue.md
  .changeset/giant-dolls-jump.md
  .changeset/seven-gorillas-poke.md
  .changeset/tough-bugs-hammer.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/np-atobarai/CHANGELOG.md
  apps/np-atobarai/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

[Stripe] Fix cancel payment intent error logger message
  .changeset/large-cherries-cover.md
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
Due: stripe

Path conditions:
  avatax: any of: apps/avatax/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  cms: any of: apps/cms/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  products-feed: any of: apps/products-feed/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  search: any of: apps/search/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  segment: any of: apps/segment/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  smtp: any of: apps/smtp/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  stripe: any of: apps/stripe/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  np-atobarai: any of: apps/np-atobarai/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  logger: any of: packages/logger/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  webhook-utils: any of: packages/webhook-utils/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  domain: any of: packages/domain/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  errors: any of: packages/errors/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
  apl-dynamo: any of: packages/apl-dynamo/, but not: **/scripts/**, **/e2e/**, **/graphql/**, **/generated/**, **/*.config.js, **/*.config.ts
