Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
    project:
      default:
        target: auto
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      app-payment-np-atobarai:
        flags: [np-atobarai]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]
      packages-domain:
        flags: [domain]
      packages-errors:
        flags: [errors]
      packages-apl-dynamo:
        flags: [apl-dynamo]
ignore:
  - "**/scripts/**"
  - "**/e2e/**"
  - "**/graphql/**"
  - "**/generated/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  np-atobarai:
    paths:
      - apps/np-atobarai/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/
  domain:
    paths:
      - packages/domain/
  errors:
      paths:
        - packages/errors/
  apl-dynamo:
      paths:
        - packages/apl-dynamo/

Add e2e test for shipFrom address metadata override on draft orders
  apps/avatax/e2e/tests/draft-order-with-ship-from-address-metadata.spec.ts
Due: none

Revert "Avatax: Revert dynamic shipping from metadata (#2104)"
  apps/avatax/CHANGELOG.md
  apps/avatax/e2e/generated/graphql.ts
  apps/avatax/e2e/graphql/mutations/UpdatePrivateMetadata.graphql
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/fragments/TaxBase.graphql
  apps/avatax/src/modules/avatax/avatax-ship-from-address-resolver.test.ts
  apps/avatax/src/modules/avatax/avatax-ship-from-address-resolver.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
Due: avatax

Replace 4xx errors to 202 if app cant process request
  apps/avatax/src/app/api/order-details/route.ts
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
Due: avatax

replace malformed request response to 202 to avoid circuit breaker
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-event-parser.test.ts
Due: np-atobarai

fix stripe statuses
  apps/stripe/src/app/api/webhooks/stripe/stripe-webhook-responses.ts
Due: stripe

changeset
  .changeset/six-shirts-relate.md
Due: none

changelog
  .changeset/six-shirts-relate.md
  apps/stripe/src/app/api/webhooks/stripe/stripe-webhook-responses.ts
Due: stripe

Replace 4xx errors to 202 if app cant process request (#2136)
  .changeset/six-shirts-relate.md
  apps/avatax/src/app/api/order-details/route.ts
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-event-parser.test.ts
Due: avatax, np-atobarai

Add support for private apps in monorepo using git submodules
  .github/workflows/changeset-checker.yml
  .github/workflows/check-spelling.yml
  .github/workflows/e2e.yml
  .github/workflows/main.yml
  .github/workflows/prepare-release.yml
  .gitignore
  .gitmodules
  PRIVATE_APPS.md
  README.md
  scripts/setup-private-apps.sh
Due: none

Release apps (#2137)
  .changeset/six-shirts-relate.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/np-atobarai/CHANGELOG.md
  apps/np-atobarai/package.json
Due: avatax, np-atobarai

Drop saleor 3.19 support in avatax and e2e envs
  .changeset/friendly-cooks-notice.md
  apps/avatax/e2e/env-e2e.ts
  apps/avatax/e2e/utils/saleor-version-compatibility.ts
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/env.ts
Due: avatax

more instances
  .github/workflows/e2e.yml
Due: none

Drop saleor 3.19 support in avatax and e2e envs (#2139)
  .changeset/friendly-cooks-notice.md
  .github/workflows/e2e.yml
  apps/avatax/e2e/env-e2e.ts
  apps/avatax/e2e/utils/saleor-version-compatibility.ts
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/env.ts
Due: avatax

Fix lint errors and add build configuration for Shopify Sync app
  apps/shopify-sync/eslint.config.js
  apps/shopify-sync/next-env.d.ts
  apps/shopify-sync/package.json
  apps/shopify-sync/scripts/setup-dynamodb.ts
  apps/shopify-sync/src/lib/env.ts
  apps/shopify-sync/src/lib/graphql-client.ts
  apps/shopify-sync/src/modules/app-config/domain/shopify-connection-config.test.ts
  apps/shopify-sync/src/modules/app-config/domain/shopify-connection-config.ts
  apps/shopify-sync/src/modules/app-config/repositories/connection-config-repo-impl.ts
  apps/shopify-sync/src/modules/app-config/repositories/connection-config-repo.ts
  apps/shopify-sync/src/modules/dynamodb/dynamodb-client.ts
  apps/shopify-sync/src/modules/saleor/saleor-product-client.ts
  apps/shopify-sync/src/modules/shopify/shopify-client.ts
  apps/shopify-sync/src/modules/sync/export-to-shopify-use-case.ts
  apps/shopify-sync/src/modules/sync/import-from-shopify-use-case.ts
  apps/shopify-sync/src/modules/sync/shopify-to-saleor-transformer.test.ts
  apps/shopify-sync/src/modules/sync/shopify-to-saleor-transformer.ts
  apps/shopify-sync/src/modules/sync/trpc-handlers/import-products-trpc-handler.ts
  apps/shopify-sync/src/modules/trpc/trpc-client.ts
  apps/shopify-sync/src/pages/api/register.ts
  apps/shopify-sync/src/pages/api/trpc/[trpc].ts
  apps/shopify-sync/src/pages/index.tsx
  pnpm-lock.yaml
  turbo.json
Due: none

Change webhook operations to fail with warn instead of errors
  .changeset/lovely-bananas-march.md
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
Due: stripe

Remove unnecessary app token creation from e2e test
  apps/avatax/e2e/tests/checkout-with-ship-from-address-metadata.spec.ts
Due: none

Revert shipFrom address metadata override feature in changelog
  .changeset/add-avatax-ship-from-e2e-tests.md
  apps/avatax/CHANGELOG.md
Due: avatax

fix: removing this changeset
  .changeset/eight-bulldogs-juggle.md
Due: none

Remove unused AppCreate mutation and App fragment from e2e tests
  apps/avatax/e2e/generated/graphql.ts
  apps/avatax/e2e/graphql/fragments/App.graphql
  apps/avatax/e2e/graphql/mutations/AppCreate.graphql
Due: none

Change webhook operations to fail with warn instead of errors (#2142)
  .changeset/lovely-bananas-march.md
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
Due: stripe

Update pnpm
  package.json
Due: none

Fix avatax e2e (#2135)
  .changeset/add-avatax-ship-from-e2e-tests.md
  apps/avatax/e2e/generated/graphql.ts
  apps/avatax/e2e/graphql/mutations/UpdatePrivateMetadata.graphql
  apps/avatax/e2e/tests/checkout-with-ship-from-address-metadata.spec.ts
  apps/avatax/e2e/tests/draft-order-with-ship-from-address-metadata.spec.ts
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/fragments/TaxBase.graphql
  apps/avatax/src/modules/avatax/avatax-ship-from-address-resolver.test.ts
  apps/avatax/src/modules/avatax/avatax-ship-from-address-resolver.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
Due: avatax

Release apps (#2140)
  .changeset/add-avatax-ship-from-e2e-tests.md
  .changeset/friendly-cooks-notice.md
  .changeset/lovely-bananas-march.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Due: avatax, stripe

use shared action
  .github/workflows/prepare-release.yml
Due: none

update
  .github/workflows/prepare-release.yml
  .gitmodules
Due: none

update gitignore
  .gitignore
Due: none

update lock
  pnpm-lock.yaml
Due: none

lockfile
  pnpm-lock.yaml
Due: none

Register ai-translations submodule and update documentation
  PRIVATE_APPS.md
Due: none

Update error parser for Algolia size exceeded error
  apps/search/src/lib/algolia/algolia-error-parser.test.ts
  apps/search/src/lib/algolia/algolia-error-parser.ts
Due: search

Update webhooks to parse algolia error
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
Due: search

Update lockfile
  pnpm-lock.yaml
Due: none

Add webhook tests
  apps/search/src/pages/api/webhooks/saleor/product_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.test.ts
Due: search

Add changeset
  .changeset/fifty-tips-yawn.md
Due: none

Restore lockfile
  pnpm-lock.yaml
Due: none

Update .changeset/fifty-tips-yawn.md
  .changeset/fifty-tips-yawn.md
Due: none

Apply suggestions from code review
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
Due: search

Search App: Improve Algolia record size error handling (#2144)
  .changeset/fifty-tips-yawn.md
  apps/search/src/lib/algolia/algolia-error-parser.test.ts
  apps/search/src/lib/algolia/algolia-error-parser.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.test.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
Due: search

Update pnpm (#2143)
  package.json
Due: none
