Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
    project:
      default:
        target: auto
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      app-payment-np-atobarai:
        flags: [np-atobarai]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]
      packages-domain:
        flags: [domain]
      packages-errors:
        flags: [errors]
      packages-apl-dynamo:
        flags: [apl-dynamo]
ignore:
  - "**/scripts/**"
  - "**/e2e/**"
  - "**/graphql/**"
  - "**/generated/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  np-atobarai:
    paths:
      - apps/np-atobarai/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/
  domain:
    paths:
      - packages/domain/
  errors:
      paths:
        - packages/errors/
  apl-dynamo:
      paths:
        - packages/apl-dynamo/

avatax error to sentry cause (#2210)
  .changeset/strange-peaches-impress.md
  apps/avatax/src/modules/avatax/avatax-errors-parser.test.ts
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
Due: avatax

better error passing to avatax - use cause
  apps/avatax/src/modules/avatax/avatax-errors-parser.test.ts
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
Due: avatax

cr fixes
  apps/smtp/src/env.ts
  apps/smtp/src/modules/saleor-fallback-behavior/tenant-name.test.ts
  apps/smtp/src/pages/configuration/index.tsx
Due: smtp

better error passing to avatax - use cause (#2211)
  apps/avatax/src/modules/avatax/avatax-errors-parser.test.ts
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
Due: avatax

Enable fallback SMTP behavior (#2200)
  .changeset/tidy-news-ring.md
  apps/smtp/.env.example
  apps/smtp/src/env.ts
  apps/smtp/src/modules/app-configuration/ui/configuration-fallback.tsx
  apps/smtp/src/modules/app-configuration/ui/messaging-providers-box.tsx
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.factory.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/saleor-fallback-behavior/tenant-name.test.ts
  apps/smtp/src/modules/saleor-fallback-behavior/tenant-name.ts
  apps/smtp/src/modules/smtp/configuration/smtp-config-schema.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/src/modules/smtp/services/smtp-email-sender.ts
  apps/smtp/src/modules/webhook-management/sync-webhook-status.test.ts
  apps/smtp/src/pages/api/register.ts
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
  apps/smtp/src/pages/api/webhooks/order-refunded.ts
  apps/smtp/src/pages/configuration/index.tsx
  apps/smtp/src/pages/index.tsx
  apps/smtp/turbo.json
Due: smtp

Add new package: problems reporting
  packages/problems-reporting/CHANGELOG.md
  packages/problems-reporting/eslint.config.js
  packages/problems-reporting/package.json
  packages/problems-reporting/src/graphql/documents.ts
  packages/problems-reporting/src/graphql/types.ts
  packages/problems-reporting/src/index.ts
  packages/problems-reporting/src/problem-definition.ts
  packages/problems-reporting/src/problems-service.test.ts
  packages/problems-reporting/src/problems-service.ts
  packages/problems-reporting/src/types.ts
  packages/problems-reporting/tsconfig.json
  packages/problems-reporting/turbo.json
  packages/problems-reporting/vitest.config.ts
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  a0fab727662447fc6fe49ed39ae0f83a2a0ab838
Due: none

Revert "update dynamodb deps (#2206)"
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix algolia env variable used without NEXT_PUBLIC prefix, unavailable on frontend
  apps/search/src/env.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/trace-effect-thresholds.ts
Due: search

Revert "update dynamodb deps (#2206)" (#2213)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add changeset
  .changeset/empty-carrots-nail.md
Due: none

Fixed Search app crashes due to env variable access on frontend (#2214)
  .changeset/empty-carrots-nail.md
  apps/search/src/env.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/trace-effect-thresholds.ts
Due: search

Sentry error catching on client
  .changeset/real-plants-raise.md
  apps/avatax/sentry.client.config.ts
  apps/avatax/src/pages/_error.tsx
  apps/cms/sentry.client.config.ts
  apps/cms/src/pages/_error.tsx
  apps/klaviyo/sentry.client.config.ts
  apps/klaviyo/src/pages/_error.tsx
  apps/np-atobarai/sentry.client.config.ts
  apps/np-atobarai/src/pages/_error.tsx
  apps/products-feed/sentry.client.config.ts
  apps/products-feed/src/pages/_error.tsx
  apps/search/sentry.client.config.ts
  apps/search/src/pages/_error.tsx
  apps/segment/sentry.client.config.ts
  apps/segment/src/pages/_error.tsx
  apps/smtp/sentry.client.config.ts
  apps/smtp/src/pages/_error.tsx
  apps/stripe/sentry.client.config.ts
  apps/stripe/src/pages/_error.tsx
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

Notes added by 'git notes add'
  0692b94bc35a7e69cf00382e738e8cf3c34a363d
Due: none

replace to instrumentation-client
  apps/avatax/instrumentation-client.ts
  apps/cms/instrumentation-client.ts
  apps/klaviyo/instrumentation-client.ts
  apps/np-atobarai/instrumentation-client.ts
  apps/products-feed/instrumentation-client.ts
  apps/search/instrumentation-client.ts
  apps/segment/instrumentation-client.ts
  apps/smtp/instrumentation-client.ts
  apps/stripe/instrumentation-client.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

Notes added by 'git notes add'
  e6f64344642c7bd5d45fe90a8fcd57b9bb0d3458
Due: none

add extra test error
  apps/stripe/src/pages/index.tsx
Due: stripe

Notes added by 'git notes add'
  289cf287f2e732f7931583e5e185df95c2b7acbe
Due: none

restore old config
  apps/avatax/sentry.client.config.ts
  apps/cms/sentry.client.config.ts
  apps/klaviyo/sentry.client.config.ts
  apps/np-atobarai/sentry.client.config.ts
  apps/products-feed/sentry.client.config.ts
  apps/search/sentry.client.config.ts
  apps/segment/sentry.client.config.ts
  apps/smtp/sentry.client.config.ts
  apps/stripe/sentry.client.config.ts
Due: none

Notes added by 'git notes add'
  8ebf1f021b6f1bb39ff9746f5ae3fe8b6df0cb70
Due: none

Revert "add extra test error"
  apps/stripe/src/pages/index.tsx
Due: stripe

Update .changeset/real-plants-raise.md
  .changeset/real-plants-raise.md
Due: none

Sentry error catching on client (#2216)
  .changeset/real-plants-raise.md
  apps/avatax/sentry.client.config.ts
  apps/avatax/src/pages/_error.tsx
  apps/cms/sentry.client.config.ts
  apps/cms/src/pages/_error.tsx
  apps/klaviyo/sentry.client.config.ts
  apps/klaviyo/src/pages/_error.tsx
  apps/np-atobarai/sentry.client.config.ts
  apps/np-atobarai/src/pages/_error.tsx
  apps/products-feed/sentry.client.config.ts
  apps/products-feed/src/pages/_error.tsx
  apps/search/sentry.client.config.ts
  apps/search/src/pages/_error.tsx
  apps/segment/sentry.client.config.ts
  apps/segment/src/pages/_error.tsx
  apps/smtp/sentry.client.config.ts
  apps/smtp/src/pages/_error.tsx
  apps/stripe/sentry.client.config.ts
  apps/stripe/src/pages/_error.tsx
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

Improve email templates
  apps/smtp/src/modules/smtp/default-templates.ts
  cspell.config.js
Due: smtp

Enable local development without DynamoDB
  apps/smtp/.env.example
  apps/smtp/src/env.ts
  apps/smtp/src/modules/dynamodb/dynamo-main-table.ts
  apps/smtp/src/pages/api/manifest.ts
  apps/smtp/src/saleor-app.ts
Due: smtp

Add branding configuration (schema, API, UI)
  apps/smtp/src/modules/smtp/configuration/smtp-config-input-schema.ts
  apps/smtp/src/modules/smtp/configuration/smtp-config-schema.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/smtp/ui/smtp-branding-section.tsx
  apps/smtp/src/pages/configuration/smtp/[configurationId].tsx
Due: smtp

Apply branding to email templates
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql/fragments/OrderDetails.graphql
  apps/smtp/src/modules/event-handlers/default-payloads.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/smtp/default-templates.ts
  apps/smtp/src/modules/webhook-management/webhook-management-service.test.ts
Due: smtp

Add local email preview build tooling
  apps/smtp/.gitignore
  apps/smtp/docs/email-templates-analysis.md
  apps/smtp/package.json
  apps/smtp/public/saleor-logo.svg
  apps/smtp/scripts/build-email-previews.ts
Due: smtp

Split code into reusable components
  apps/smtp/src/modules/smtp/ui/saleor-throbber.tsx
  apps/smtp/src/modules/smtp/ui/tab-button.tsx
Due: smtp

Improve code editor UX
  apps/smtp/src/modules/smtp/ui/code-editor.tsx
Due: smtp

Redesign template preview as minimalistic card
  apps/smtp/src/modules/smtp/ui/template-preview.tsx
Due: smtp

Redesign email template editor with two-pane layout
  apps/smtp/src/modules/smtp/ui/event-form.tsx
  apps/smtp/src/pages/configuration/smtp/[configurationId]/event/[eventType].tsx
Due: smtp

Fix dark mode theme support
  apps/smtp/src/components/basic-layout.tsx
  apps/smtp/src/styles/globals.css
Due: smtp

Clean up and refactor
  apps/smtp/src/modules/smtp/ui/event-form.tsx
  apps/smtp/src/modules/smtp/ui/tab-button.tsx
  apps/smtp/src/modules/smtp/ui/template-error-display.tsx
  apps/smtp/src/modules/smtp/ui/template-preview.tsx
  apps/smtp/src/modules/smtp/ui/use-template-preview.ts
  apps/smtp/src/pages/configuration/smtp/[configurationId]/event/[eventType].tsx
Due: smtp

Improve the test data; Add "Reset to deafult" button
  apps/smtp/src/modules/event-handlers/default-payloads.ts
  apps/smtp/src/modules/smtp/default-templates.ts
  apps/smtp/src/modules/smtp/ui/code-editor.tsx
  apps/smtp/src/modules/smtp/ui/event-form.tsx
  apps/smtp/src/modules/smtp/ui/monaco-completions.ts
  cspell.config.js
Due: smtp

Add changeset
  .changeset/purple-eels-sneeze.md
Due: none

Add tests
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/smtp/ui/smtp-branding-section.tsx
Due: smtp

Update "Save provider" buttons to show isSaving state
  apps/smtp/src/modules/smtp/ui/smtp-basic-information-section.tsx
  apps/smtp/src/modules/smtp/ui/smtp-events-section.tsx
  apps/smtp/src/modules/smtp/ui/smtp-section.tsx
  apps/smtp/src/modules/smtp/ui/smtp-sender-section.tsx
Due: smtp

Refactor updateExemptionStatusPublicMetadata to use switch statement with exhaustiveness check
  apps/avatax/src/modules/app/exemption-status-public-metadata-updater.ts
Due: avatax

AvaTax: optionally write exemption status to checkout metadata (#2183)
  .changeset/avatax-exemption-checkout-metadata.md
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/fragments/TaxBase.graphql
  apps/avatax/graphql/mutations/DeletePublicMetadata.graphql
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/lib/app-config.test.ts
  apps/avatax/src/modules/app/avatax-exemption-status-metadata.ts
  apps/avatax/src/modules/app/exemption-status-metadata-manager.test.ts
  apps/avatax/src/modules/app/exemption-status-metadata-manager.ts
  apps/avatax/src/modules/app/exemption-status-public-metadata-updater.test.ts
  apps/avatax/src/modules/app/exemption-status-public-metadata-updater.ts
  apps/avatax/src/modules/app/get-app-config.test.ts
  apps/avatax/src/modules/avatax/avatax-config-mock-generator.ts
  apps/avatax/src/modules/avatax/avatax-connection-schema.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/avatax/src/modules/avatax/ui/avatax-configuration-settings-fragment.tsx
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
Due: avatax
