Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai, logger, shared, webhook-utils, domain, errors, apl-dynamo

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
    project:
      default:
        target: auto
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      app-payment-stripe:
        flags: [stripe]
      app-payment-np-atobarai:
        flags: [np-atobarai]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]
      packages-domain:
        flags: [domain]
      packages-errors:
        flags: [errors]
      packages-apl-dynamo:
        flags: [apl-dynamo]
ignore:
  - "**/scripts/**"
  - "**/e2e/**"
  - "**/graphql/**"
  - "**/generated/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  stripe:
    paths:
      - apps/stripe/
  np-atobarai:
    paths:
      - apps/np-atobarai/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/
  domain:
    paths:
      - packages/domain/
  errors:
      paths:
        - packages/errors/
  apl-dynamo:
      paths:
        - packages/apl-dynamo/

Changed PAT token in workflows to app token (#2134)
  .github/workflows/prepare-release.yml
Due: none

improve timeout settings
  .changeset/shaggy-ways-wonder.md
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
Due: search

move to env
  apps/search/.env.example
  apps/search/src/lib/algolia-timeouts.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/turbo.json
Due: search

Add shorter timeout for algolia calls (#2146)
  .changeset/shaggy-ways-wonder.md
  apps/search/.env.example
  apps/search/src/lib/algolia-timeouts.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/turbo.json
Due: search

Add logs for app installation failures and success to all apps (#2130)
  .changeset/tiny-mangos-bow.md
  apps/avatax/src/app/api/register/route.ts
  apps/cms/src/pages/api/register.ts
  apps/klaviyo/src/pages/api/register.ts
  apps/np-atobarai/src/app/api/register/route.ts
  apps/products-feed/src/pages/api/register.ts
  apps/search/src/pages/api/register.ts
  apps/segment/src/pages/api/register.ts
  apps/smtp/src/pages/api/register.ts
  apps/stripe/src/app/api/register/route.ts
Due: avatax, cms, products-feed, search, segment, smtp, stripe, np-atobarai

update macaw
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update Next.js to 15.2.6
  .changeset/plenty-fishes-act.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix workflow
  .github/workflows/prepare-release.yml
Due: none

Update next.js (#2148)
  .changeset/plenty-fishes-act.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix workflow (#2149)
  .github/workflows/prepare-release.yml
Due: none

Release apps (#2145)
  .changeset/fifty-tips-yawn.md
  .changeset/shaggy-ways-wonder.md
  apps/search/CHANGELOG.md
  apps/search/package.json
Due: search

Add city to resolved Atobarai address
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/fragments/address.graphql
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-source-object.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-change-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-register-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.test.ts
Due: np-atobarai

add city area
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/fragments/address.graphql
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-source-object.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-change-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-register-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.test.ts
Due: np-atobarai

changeset
  .changeset/old-zebras-deliver.md
Due: none

fix test
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.test.ts
Due: np-atobarai

Add city to resolved Atobarai address (#2150)
  .changeset/old-zebras-deliver.md
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/fragments/address.graphql
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-source-object.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-change-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-register-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.test.ts
Due: np-atobarai

fix changeset
  .changeset/tiny-mangos-bow.md
Due: none

fix changeset (#2151)
  .changeset/tiny-mangos-bow.md
Due: none

add graphql-config for better ide experience
  apps/np-atobarai/graphql.config.ts
  apps/np-atobarai/package.json
  pnpm-lock.yaml
Due: np-atobarai

class for resolving postal code data
  apps/np-atobarai/package.json
  apps/np-atobarai/src/modules/atobarai/japanese-postal-data.ts
  pnpm-lock.yaml
Due: np-atobarai

test
  apps/np-atobarai/src/modules/atobarai/japanese-postal-data.test.ts
Due: np-atobarai

replace impl
  apps/np-atobarai/package.json
  apps/np-atobarai/src/modules/atobarai/japanese-postal-data.test.ts
  apps/np-atobarai/src/modules/atobarai/japanese-postal-data.ts
  pnpm-lock.yaml
Due: np-atobarai

use addres replacement
  apps/np-atobarai/src/modules/atobarai/atobarai-address-formatter.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-formatter.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.ts
  apps/np-atobarai/src/modules/atobarai/japanese-postal-data.test.ts
  apps/np-atobarai/src/modules/atobarai/japanese-postal-data.ts
  cspell.config.js
Due: np-atobarai

changelog
  .changeset/grumpy-laws-care.md
  apps/np-atobarai/src/modules/atobarai/atobarai-address-formatter.ts
  cspell.config.js
Due: np-atobarai

fix tests
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-source-object.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-change-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-register-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.test.ts
Due: np-atobarai

Use implicit address fields conversion in Atobarai app (#2153)
  .changeset/grumpy-laws-care.md
  apps/np-atobarai/graphql.config.ts
  apps/np-atobarai/package.json
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-source-object.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-change-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-register-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-formatter.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-formatter.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.ts
  apps/np-atobarai/src/modules/atobarai/japanese-postal-data.test.ts
  apps/np-atobarai/src/modules/atobarai/japanese-postal-data.ts
  cspell.config.js
  pnpm-lock.yaml
Due: np-atobarai

Add logic for tracing external calls
  apps/search/src/lib/trace-external-calls.ts
Due: search

Trace external calls
  apps/search/src/domain/WebhookActivityToggler.service.ts
  apps/search/src/lib/algolia/algolia-credentials-verifier.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/algolia/getAlgoliaConfiguration.ts
  apps/search/src/modules/configuration/configuration.router.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/webhooks-status.ts
  apps/search/src/webhooks/webhook-context.ts
Due: search

Add changeset
  .changeset/spotty-mirrors-sort.md
Due: none

fallback address data
  .changeset/many-rabbits-sneeze.md
  apps/np-atobarai/src/modules/atobarai/atobarai-address-formatter.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-formatter.ts
Due: np-atobarai

fallback address data (#2155)
  .changeset/many-rabbits-sneeze.md
  apps/np-atobarai/src/modules/atobarai/atobarai-address-formatter.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-formatter.ts
Due: np-atobarai

zipcode fix
  .changeset/lemon-bees-wonder.md
  apps/np-atobarai/src/modules/atobarai/japanese-postal-data.test.ts
  apps/np-atobarai/src/modules/atobarai/japanese-postal-data.ts
Due: np-atobarai

extra formatting
  apps/np-atobarai/src/modules/atobarai/japanese-postal-data.ts
Due: np-atobarai

Add tests
  apps/search/src/lib/trace-external-calls.test.ts
Due: search

fix zipcode format (#2157)
  .changeset/lemon-bees-wonder.md
  apps/np-atobarai/src/modules/atobarai/japanese-postal-data.test.ts
  apps/np-atobarai/src/modules/atobarai/japanese-postal-data.ts
Due: np-atobarai

Add APL trace
  apps/search/src/modules/trpc/protected-client-procedure.ts
Due: search

pass through api error
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/api/types.ts
Due: np-atobarai

add propagation of error
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.ts
Due: np-atobarai

extra tests
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
Due: np-atobarai

Update apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-api-client.ts
Due: np-atobarai
