Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, logger, shared, webhook-utils

fix export
  packages/shared/package.json
Due: shared

fix exports
  packages/shared/package.json
Due: shared

sort
  packages/shared/package.json
Due: shared

fix trpc & stripe
  apps/stripe/package.json
  apps/stripe/src/modules/trpc/trpc-client.ts
  apps/stripe/src/modules/trpc/trpc-server.ts
  packages/trpc/index.ts
  packages/trpc/package.json
  packages/trpc/src/context-pages-router.ts
  pnpm-lock.yaml
Due: none

fix trpc & use client
  apps/stripe/next.config.ts
  apps/stripe/package.json
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/register/route.ts
  apps/stripe/src/modules/trpc/trpc-client.ts
  apps/stripe/src/modules/trpc/trpc-server.ts
  apps/stripe/src/pages/_app.tsx
  apps/stripe/src/pages/index.tsx
  packages/shared/src/graphql-provider.tsx
  packages/shared/src/no-ssr-wrapper.tsx
  packages/shared/src/theme-synchronizer.tsx
  packages/shared/src/use-dashboard-notification.ts
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
  pnpm-lock.yaml
Due: shared

fix race import
  apps/avatax/src/lib/otel/with-flush-otel-metrics.ts
  packages/shared/package.json
Due: avatax, shared

fix sherif lint issue
  apps/stripe/package.json
  pnpm-lock.yaml
Due: none

fix graphql codegen
  apps/stripe/generated/graphql.ts
Due: none

add race utility test
  packages/shared/src/race.test.ts
Due: shared

fix env example
  apps/avatax/.env.example
Due: avatax

Update vite & vitests
  apps/avatax/package.json
  apps/avatax/vitest.config.ts
  apps/avatax/vitest.workspace.ts
  apps/cms/package.json
  apps/cms/vitest.config.ts
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/products-feed/vitest.config.ts
  apps/search/package.json
  apps/search/vitest.config.ts
  apps/segment/package.json
  apps/segment/vitest.config.ts
  apps/smtp/package.json
  apps/smtp/src/modules/webhook-management/sync-webhook-status.test.ts
  apps/smtp/vitest.config.ts
  apps/stripe/package.json
  packages/logger/package.json
  packages/shared/package.json
  packages/shared/vitest.config.ts
  packages/webhook-utils/package.json
  packages/webhook-utils/vitest.config.ts
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

fix tsc & tests
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/products-feed/src/modules/category-mapping/categories-fetcher.test.ts
  apps/search/src/lib/debug.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/smtp/services/email-compiler.ts
  apps/smtp/src/modules/webhook-management/sync-webhook-status.test.ts
Due: avatax, products-feed, search, smtp

remove leftover from react-hook-form-macaw
  packages/react-hook-form-macaw/next-env.d.ts
  packages/react-hook-form-macaw/package.json
Due: none

fix lock
  pnpm-lock.yaml
Due: none

Update vite & vitests (#1831)
  apps/avatax/package.json
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/vitest.config.ts
  apps/avatax/vitest.workspace.ts
  apps/cms/package.json
  apps/cms/vitest.config.ts
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/products-feed/src/modules/category-mapping/categories-fetcher.test.ts
  apps/products-feed/vitest.config.ts
  apps/search/package.json
  apps/search/src/lib/debug.ts
  apps/search/vitest.config.ts
  apps/segment/package.json
  apps/segment/vitest.config.ts
  apps/smtp/package.json
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/smtp/services/email-compiler.ts
  apps/smtp/src/modules/webhook-management/sync-webhook-status.test.ts
  apps/smtp/vitest.config.ts
  apps/stripe/package.json
  packages/logger/package.json
  packages/react-hook-form-macaw/next-env.d.ts
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/shared/vitest.config.ts
  packages/webhook-utils/package.json
  packages/webhook-utils/vitest.config.ts
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

Release apps (#1826)
  .changeset/chilly-tips-train.md
  .changeset/four-melons-grin.md
  .changeset/green-eels-film.md
  .changeset/modern-eyes-sit.md
  .changeset/rotten-clocks-jump.md
  .changeset/six-apes-camp.md
  .changeset/slow-lions-clap.md
  .changeset/tender-cars-count.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: avatax, products-feed, search, segment, smtp, logger, shared

Scripts, tracing, graphql-client
  apps/stripe/package.json
  apps/stripe/scripts/deploy.ts
  apps/stripe/scripts/migration-logger.ts
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/lib/graphql-client.ts
  apps/stripe/src/lib/logger.ts
  apps/stripe/src/lib/tracing.ts
  apps/stripe/vitest.config.ts
  pnpm-lock.yaml
Due: none

add trpc
  apps/stripe/src/app/api/trpc/[trpc]/route.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
Due: none

add codecov & devcontainer
  .devcontainer/stripe/Dockerfile
  .devcontainer/stripe/devcontainer.json
  .devcontainer/stripe/docker-compose.yml
  codecov.yml
Due: none

add modern errors
  apps/stripe/package.json
  apps/stripe/src/lib/errors.ts
  pnpm-lock.yaml
Due: none

stripe client / key validator
  apps/stripe/package.json
  apps/stripe/src/modules/stripe/stripe-api-client.ts
  apps/stripe/src/modules/stripe/stripe-keys-validator.ts
  packages/eslint-config/index.js
  pnpm-lock.yaml
Due: none

Add stripe apis
  apps/stripe/src/lib/env.ts
  apps/stripe/src/modules/stripe/stripe-client-api.ts
  apps/stripe/src/modules/stripe/stripe-keys-validator.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restriced-key.ts
  apps/stripe/src/modules/stripe/stripe-secret-key.ts
  apps/stripe/src/modules/stripe/stripe-server-api.ts
  apps/stripe/turbo.json
Due: none

fix eslint rule
  apps/stripe/src/lib/tracing.ts
  packages/eslint-config/index.js
Due: none

fix typo
  apps/stripe/src/modules/stripe/stripe-restriced-key.ts
Due: none

add comment
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
Due: none

wip
  apps/stripe/src/modules/app-config/app-config.ts
Due: none

Add app config
  apps/stripe/src/lib/env.ts
  apps/stripe/src/modules/app-config/app-config.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restriced-key.ts
  apps/stripe/src/modules/stripe/stripe-secret-key.ts
  apps/stripe/turbo.json
Due: none

cleanup PR
  apps/stripe/package.json
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/src/modules/stripe/stripe-secret-key.ts
  apps/stripe/src/modules/stripe/stripe-server-api.ts
  apps/stripe/vitest.config.ts
  pnpm-lock.yaml
Due: none

Add GitHub Action to notify Discord on "Help Wanted" issues
  .github/workflows/help-wanted-issues-to-discord.yml
Due: none

Add scripts, devcontainers & basic Stripe API (#1832)
  .devcontainer/stripe/Dockerfile
  .devcontainer/stripe/devcontainer.json
  .devcontainer/stripe/docker-compose.yml
  apps/stripe/package.json
  apps/stripe/scripts/deploy.ts
  apps/stripe/scripts/migration-logger.ts
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/app/api/trpc/[trpc]/route.ts
  apps/stripe/src/lib/env.ts
  apps/stripe/src/lib/errors.ts
  apps/stripe/src/lib/graphql-client.ts
  apps/stripe/src/lib/logger.ts
  apps/stripe/src/lib/tracing.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
  apps/stripe/turbo.json
  apps/stripe/vitest.config.ts
  codecov.yml
  pnpm-lock.yaml
Due: none

Path conditions:
  avatax: any of: apps/avatax/
  cms: any of: apps/cms-v2/
  products-feed: any of: apps/products-feed/
  search: any of: apps/search/
  segment: any of: apps/segment/
  smtp: any of: apps/smtp/
  logger: any of: packages/logger/
  shared: any of: packages/shared/
  webhook-utils: any of: packages/webhook-utils/
