Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, logger, shared, webhook-utils

codecov.yml:

coverage:
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
      app-avatax:
        flags: [avatax]
      app-cms:
        flags: [cms]
      app-products-feed:
        flags: [products-feed]
      app-search:
        flags: [search]
      app-segment:
        flags: [segment]
      app-smtp:
        flags: [smtp]
      packages-logger:
        flags: [logger]
      packages-shared:
        flags: [shared]
      packages-webhook-utils:
        flags: [webhook-utils]

flags:
  avatax:
    paths:
      - apps/avatax/
  cms:
    paths:
      - apps/cms-v2/
  products-feed:
    paths:
      - apps/products-feed/
  search:
    paths:
      - apps/search/
  segment:
    paths:
      - apps/segment/
  smtp:
    paths:
      - apps/smtp/
  logger:
    paths:
      - packages/logger/
  shared:
    paths:
      - packages/shared/
  webhook-utils:
    paths:
      - packages/webhook-utils/

Add changeset for AvaTax Dockerfile improvements
  .changeset/avatax-docker-fix.md
Due: none

Update turborepo
  .eslintignore
  apps/avatax/.eslintrc.cjs
  apps/avatax/src/modules/client-logs/calculate-taxes-log-requests.ts
  apps/avatax/turbo.json
  apps/cms/.eslintrc.cjs
  apps/cms/turbo.json
  apps/klaviyo/.eslintrc.cjs
  apps/klaviyo/turbo.json
  apps/products-feed/.eslintrc.cjs
  apps/products-feed/turbo.json
  apps/search/.eslintrc.cjs
  apps/search/turbo.json
  apps/segment/.eslintrc.cjs
  apps/segment/turbo.json
  apps/smtp/.eslintrc.cjs
  apps/smtp/turbo.json
  package.json
  packages/e2e/turbo.json
  packages/eslint-config-saleor/package.json
  packages/logger/.eslintrc.cjs
  packages/otel/turbo.json
  packages/sentry-utils/turbo.json
  packages/shared/.eslintrc.cjs
  packages/trpc/turbo.json
  packages/webhook-utils/.eslintrc.cjs
  pnpm-lock.yaml
  turbo.json
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

rename to fix build
  apps/avatax/src/modules/client-logs/calculate-taxes-log-request.ts
Due: avatax

add missing outputs
  turbo.json
Due: none

Update sentry
  apps/avatax/next.config.js
  apps/avatax/sentry.client.config.ts
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/instrumentations/sentry-edge.ts
  apps/avatax/src/instrumentations/sentry-node.ts
  apps/avatax/src/pages/api/manifest.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
  package.json
  pnpm-lock.yaml
Due: avatax

fix wrong import
  apps/avatax/next.config.js
  apps/avatax/package.json
  apps/avatax/scripts/run-webhooks-migration.ts
  apps/search/next.config.js
  apps/segment/next.config.js
  apps/segment/package.json
  apps/segment/scripts/run-webhooks-migration.ts
  pnpm-lock.yaml
Due: avatax, search, segment

Cleanup AvaTax client logs
  .changeset/cold-clouds-search.md
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/fragments/TaxBase.graphql
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-mock-generator.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/client-logs/calculate-taxes-log-request.ts
  apps/avatax/src/modules/client-logs/dynamo-schema.ts
  apps/avatax/src/modules/client-logs/logs-repository.test.ts
  apps/avatax/src/modules/client-logs/order-cancelled-log-request.ts
  apps/avatax/src/modules/client-logs/order-confirmed-log-request.ts
  apps/avatax/src/modules/webhooks/validate-webhook-payload.test.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Due: avatax

Fix require logger in AvaTax app
  .changeset/lovely-ravens-rest.md
  apps/avatax/src/logger.ts
Due: avatax

Cleanup AvaTax client logs (#1769)
  .changeset/cold-clouds-search.md
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/fragments/TaxBase.graphql
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-mock-generator.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/client-logs/calculate-taxes-log-request.ts
  apps/avatax/src/modules/client-logs/dynamo-schema.ts
  apps/avatax/src/modules/client-logs/logs-repository.test.ts
  apps/avatax/src/modules/client-logs/order-cancelled-log-request.ts
  apps/avatax/src/modules/client-logs/order-confirmed-log-request.ts
  apps/avatax/src/modules/webhooks/validate-webhook-payload.test.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Due: avatax

Release apps (#1760)
  .changeset/cold-clouds-search.md
  .changeset/little-bottles-battle.md
  .changeset/lovely-zoos-grab.md
  .changeset/small-moles-tell.md
  .changeset/witty-fishes-tell.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
Due: avatax, products-feed, search, segment, smtp

Update turborepo (#1767)
  .eslintignore
  apps/avatax/.eslintrc.cjs
  apps/avatax/turbo.json
  apps/cms/.eslintrc.cjs
  apps/cms/turbo.json
  apps/klaviyo/.eslintrc.cjs
  apps/klaviyo/turbo.json
  apps/products-feed/.eslintrc.cjs
  apps/products-feed/turbo.json
  apps/search/.eslintrc.cjs
  apps/search/turbo.json
  apps/segment/.eslintrc.cjs
  apps/segment/turbo.json
  apps/smtp/.eslintrc.cjs
  apps/smtp/turbo.json
  package.json
  packages/e2e/turbo.json
  packages/eslint-config-saleor/package.json
  packages/logger/.eslintrc.cjs
  packages/otel/turbo.json
  packages/sentry-utils/turbo.json
  packages/shared/.eslintrc.cjs
  packages/trpc/turbo.json
  packages/webhook-utils/.eslintrc.cjs
  pnpm-lock.yaml
  turbo.json
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

Update PNPM to 10.6.3
  .cspell.json
  .devcontainer/avatax/Dockerfile
  .devcontainer/cms/Dockerfile
  .devcontainer/klaviyo/Dockerfile
  .devcontainer/products-feed/Dockerfile
  .devcontainer/search/Dockerfile
  .devcontainer/segment/Dockerfile
  .devcontainer/smtp/Dockerfile
  README.md
  package.json
Due: none

Add missing env vars to turbo configuration
  turbo.json
Due: none

Update PNPM to 10.6.3 (#1771)
  .cspell.json
  .devcontainer/avatax/Dockerfile
  .devcontainer/cms/Dockerfile
  .devcontainer/klaviyo/Dockerfile
  .devcontainer/products-feed/Dockerfile
  .devcontainer/search/Dockerfile
  .devcontainer/segment/Dockerfile
  .devcontainer/smtp/Dockerfile
  README.md
  package.json
Due: none

Add missing env vars to turbo configuration (#1772)
  turbo.json
Due: none

remove dockerfile.dev
  apps/avatax/Dockerfile.dev
Due: avatax

Fix broken deps after PNPM update
  .changeset/lucky-years-develop.md
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  package.json
  packages/e2e/package.json
  packages/eslint-config-saleor/package.json
  packages/logger/package.json
  packages/otel/package.json
  packages/react-hook-form-macaw/package.json
  packages/sentry-utils/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

Add shared tsconfig & change linter name to be in sync with other pkg names
  .changeset/lucky-years-develop.md
  apps/avatax/package.json
  apps/avatax/tsconfig.json
  apps/cms/package.json
  apps/cms/tsconfig.json
  apps/klaviyo/package.json
  apps/klaviyo/tsconfig.json
  apps/products-feed/package.json
  apps/products-feed/tsconfig.json
  apps/search/package.json
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/tsconfig.json
  apps/segment/package.json
  apps/segment/tsconfig.json
  apps/smtp/package.json
  apps/smtp/tsconfig.json
  packages/e2e/package.json
  packages/e2e/tsconfig.json
  packages/eslint-config-saleor/package.json
  packages/logger/package.json
  packages/logger/tsconfig.json
  packages/otel/package.json
  packages/otel/tsconfig.json
  packages/react-hook-form-macaw/package.json
  packages/react-hook-form-macaw/tsconfig.json
  packages/sentry-utils/package.json
  packages/sentry-utils/tsconfig.json
  packages/shared/package.json
  packages/shared/tsconfig.json
  packages/trpc/package.json
  packages/trpc/tsconfig.json
  packages/typescript-config-saleor/base.json
  packages/typescript-config-saleor/package.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  packages/webhook-utils/package.json
  packages/webhook-utils/tsconfig.json
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

remove not needed dep
  package.json
  pnpm-lock.yaml
Due: none

fix errors
  packages/logger/package.json
  packages/otel/package.json
  pnpm-lock.yaml
Due: logger

remove not needed sentry/node
  apps/avatax/next.config.js
  apps/avatax/package.json
  apps/avatax/scripts/run-webhooks-migration.ts
  apps/products-feed/package.json
  apps/search/next.config.js
  apps/segment/next.config.js
  apps/segment/package.json
  apps/segment/scripts/run-webhooks-migration.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, products-feed, search, segment

update lint-staged
  package.json
  pnpm-lock.yaml
Due: none

update sentry to 9xx
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Setup instrumentation
  apps/avatax/next.config.js
  apps/avatax/package.json
  apps/avatax/sentry.client.config.ts
  apps/avatax/sentry.edge.config.ts
  apps/avatax/sentry.server.config.ts
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/instrumentations/node.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/pages/api/manifest.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
  package.json
  pnpm-lock.yaml
Due: avatax

add missing eslint dep
  package.json
  pnpm-lock.yaml
Due: none

fix broken migration script
  apps/avatax/scripts/run-webhooks-migration.ts
Due: avatax

fix broken app-sdk
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  package.json
  packages/e2e/package.json
  packages/logger/package.json
  packages/otel/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

tree shake Sentry & update instrumentation
  apps/avatax/next.config.js
  apps/avatax/src/instrumentations/node.ts
Due: avatax

add sample trace rate
  apps/avatax/src/instrumentations/node.ts
Due: avatax

add app sampler
  apps/avatax/src/env.ts
  apps/avatax/src/instrumentations/node.ts
Due: avatax

fix env error
  apps/avatax/src/env.ts
  apps/avatax/src/instrumentations/node.ts
Due: avatax

update lock
  pnpm-lock.yaml
Due: none

cleanup
  apps/avatax/src/instrumentations/node.ts
Due: avatax
