Repository saleor/apps: changes, and which Codecov flags are due for each by the changed paths.
All: avatax, cms, products-feed, search, segment, smtp, logger, shared, webhook-utils

Move existing eslint rules to errors
  packages/eslint-config/index.cjs
Due: none

Move existing eslint rules to errors (#1794)
  packages/eslint-config/index.cjs
Due: none

migrate avatax
  apps/avatax/next.config.js
  apps/cms/next.config.js
  apps/cms/sentry.client.config.ts
  apps/cms/sentry.server.config.ts
  apps/cms/src/instrumentation.ts
  apps/cms/src/instrumentations/sentry-edge.ts
  apps/cms/src/instrumentations/sentry-node.ts
Due: avatax

update app sdk
  package.json
  pnpm-lock.yaml
Due: none

Update rest of the apps
  .changeset/calm-monkeys-grab.md
  apps/cms/next.config.js
  apps/klaviyo/next.config.js
  apps/klaviyo/sentry.client.config.ts
  apps/klaviyo/src/instrumentation.ts
  apps/klaviyo/src/instrumentations/sentry-edge.ts
  apps/klaviyo/src/instrumentations/sentry-node.ts
  apps/products-feed/next.config.js
  apps/products-feed/sentry.client.config.ts
  apps/products-feed/src/instrumentation.ts
  apps/products-feed/src/instrumentations/sentry-edge.ts
  apps/products-feed/src/instrumentations/sentry-node.ts
  apps/search/next.config.js
  apps/search/sentry.client.config.ts
  apps/search/sentry.edge.config.ts
  apps/search/sentry.server.config.ts
  apps/search/src/instrumentation.ts
  apps/search/src/instrumentations/sentry-edge.ts
  apps/search/src/instrumentations/sentry-node.ts
  apps/segment/next.config.js
  apps/segment/scripts/run-webhooks-migration.ts
  apps/segment/sentry.edge.config.ts
  apps/segment/src/instrumentation.ts
  apps/segment/src/instrumentations/sentry-edge.ts
  apps/segment/src/instrumentations/sentry-node.ts
  apps/smtp/next.config.js
  apps/smtp/sentry.client.config.ts
  apps/smtp/sentry.edge.config.ts
  apps/smtp/sentry.server.config.ts
  apps/smtp/src/instrumentation.ts
  apps/smtp/src/instrumentations/sentry-edge.ts
  apps/smtp/src/instrumentations/sentry-node.ts
Due: products-feed, search, segment, smtp

migrate capture exception
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/pages/api/trpc/[trpc].ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
  apps/cms/src/modules/providers/contentful/contentful-client.ts
  apps/cms/src/modules/providers/datocms/datocms-client.ts
  apps/cms/src/pages/api/webhooks/product-updated.ts
  apps/cms/src/pages/api/webhooks/product-variant-created.ts
  apps/cms/src/pages/api/webhooks/product-variant-deleted.ts
  apps/cms/src/pages/api/webhooks/product-variant-updated.ts
  apps/segment/src/pages/api/trpc/[trpc].ts
  packages/logger/src/logger-vercel-runtime-transport.ts
Due: avatax, segment, logger

autofix
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
Due: avatax

Update turbo configuration
  turbo.json
Due: none

remove test task
  turbo.json
Due: none

gs
  apps/avatax/turbo.json
Due: avatax

cleanup env vars & adds missing turbo.json
  apps/avatax/turbo.json
  apps/cms/turbo.json
  apps/klaviyo/turbo.json
  apps/products-feed/turbo.json
  apps/search/turbo.json
  apps/segment/turbo.json
  apps/smtp/turbo.json
  packages/logger/turbo.json
  packages/react-hook-form-macaw/turbo.json
  packages/shared/turbo.json
  packages/ui/turbo.json
  packages/webhook-utils/turbo.json
  turbo.json
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

Update turbo configuration (#1795)
  apps/avatax/turbo.json
  apps/cms/turbo.json
  apps/klaviyo/turbo.json
  apps/products-feed/turbo.json
  apps/search/turbo.json
  apps/segment/turbo.json
  apps/smtp/turbo.json
  packages/logger/turbo.json
  packages/react-hook-form-macaw/turbo.json
  packages/shared/turbo.json
  packages/ui/turbo.json
  packages/webhook-utils/turbo.json
  turbo.json
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

wip
  apps/avatax/package.json
  apps/avatax/src/pages/_app.test.tsx
  apps/avatax/src/pages/_app.tsx
  apps/avatax/src/setup-tests.ts
  apps/cms/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/search/src/components/ImportProductsToAlgolia/useAlgoliaConfiguration.test.ts
  apps/search/src/components/ImportProductsToAlgolia/useBatchUpload.test.ts
  apps/segment/package.json
  apps/smtp/package.json
  pnpm-lock.yaml
Due: avatax, products-feed, search, segment, smtp

Test sentry error
  apps/avatax/src/pages/api/manifest.ts
Due: avatax

fix lint
  apps/avatax/src/pages/api/manifest.ts
  turbo.json
Due: avatax

fix lint
  apps/avatax/src/pages/api/manifest.ts
Due: avatax

Release apps (#1792)
  .changeset/calm-monkeys-grab.md
  .changeset/sweet-hairs-bow.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/e2e/CHANGELOG.md
  packages/e2e/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
  packages/react-hook-form-macaw/CHANGELOG.md
  packages/react-hook-form-macaw/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/webhook-utils/CHANGELOG.md
  packages/webhook-utils/package.json
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

Bring back lint:fix & test tasks
  turbo.json
Due: none

migrate AvaTax
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/mutations/DeleteAppMetadata.graphql
  apps/avatax/graphql/mutations/UpdateAppMetadata.graphql
  apps/avatax/saleor-app.ts
  apps/avatax/scripts/run-webhooks-migration.ts
  apps/avatax/src/modules/app/metadata-manager.ts
  apps/avatax/src/modules/taxes/tax-provider-webhook.ts
  apps/avatax/src/modules/trpc/protected-client-procedure.ts
  apps/avatax/src/modules/trpc/trpc-client.ts
  apps/avatax/src/modules/trpc/trpc-context.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  packages/logger/src/logger-context.ts
  packages/otel/src/with-span-attributes.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: avatax, logger

migrate CMS
  apps/cms/src/modules/trpc/protected-client-procedure.ts
  apps/cms/src/modules/trpc/trpc-client.ts
  apps/cms/src/modules/trpc/trpc-context.ts
  apps/cms/src/pages/api/webhooks/product-updated.ts
  apps/cms/src/pages/api/webhooks/product-variant-created.ts
  apps/cms/src/pages/api/webhooks/product-variant-deleted.ts
  apps/cms/src/pages/api/webhooks/product-variant-updated.ts
  apps/cms/src/saleor-app.ts
Due: none

migrate klaviyo
  apps/avatax/src/modules/app/metadata-manager.ts
  apps/cms/src/pages/api/webhooks/product-updated.ts
  apps/cms/src/pages/api/webhooks/product-variant-created.ts
  apps/cms/src/pages/api/webhooks/product-variant-deleted.ts
  apps/cms/src/pages/api/webhooks/product-variant-updated.ts
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/graphql/mutations/DeleteAppMetadata.graphql
  apps/klaviyo/saleor-app.ts
  apps/klaviyo/src/hooks/useAppApi.ts
  apps/klaviyo/src/lib/metadata.ts
  apps/klaviyo/src/pages/api/configuration.ts
  apps/klaviyo/src/pages/api/webhooks/customer-created.ts
  apps/klaviyo/src/pages/api/webhooks/fulfillment-created.ts
  apps/klaviyo/src/pages/api/webhooks/order-created.ts
  apps/klaviyo/src/pages/api/webhooks/order-fully-paid.ts
Due: avatax

migrate products-feed & search
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql/mutations/.gitkeep
  apps/products-feed/graphql/mutations/DeleteAppMetadata.graphql
  apps/products-feed/graphql/mutations/UpdateAppMetadata.graphql
  apps/products-feed/src/lib/metadata-manager.ts
  apps/products-feed/src/modules/trpc/protected-client-procedure.ts
  apps/products-feed/src/modules/trpc/trpc-client.ts
  apps/products-feed/src/modules/trpc/trpc-context.ts
  apps/products-feed/src/saleor-app.ts
  apps/search/saleor-app.ts
  apps/search/src/modules/trpc/protected-client-procedure.ts
  apps/search/src/modules/trpc/trpc-client.ts
  apps/search/src/modules/trpc/trpc-context.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/webhooks-status.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_back_in_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_out_of_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
  apps/search/src/test/handlers/webhooks-status-handler.test.ts
Due: products-feed, search

migrate segment
  apps/segment/src/lib/dyanmodb-apl.test.ts
  apps/segment/src/modules/db/dynamo-apl-mapper.ts
  apps/segment/src/modules/db/dynamo-apl-repository.test.ts
  apps/segment/src/modules/trpc/protected-client-procedure.ts
  apps/segment/src/modules/trpc/trpc-client.ts
  apps/segment/src/modules/trpc/trpc-context.ts
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-confirmed.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
  apps/segment/src/saleor-app.ts
Due: segment

migrate smtp
  apps/smtp/generated/graphql.ts
  apps/smtp/src/lib/metadata-manager.ts
  apps/smtp/src/modules/trpc/protected-client-procedure.ts
  apps/smtp/src/modules/trpc/trpc-client.ts
  apps/smtp/src/modules/trpc/trpc-context.ts
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
  apps/smtp/src/pages/api/webhooks/order-refunded.ts
  apps/smtp/src/saleor-app.ts
Due: smtp

Fix lint issues
  apps/avatax/src/modules/app/metadata-manager.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  packages/trpc/src/context.ts
  packages/trpc/src/http-batch-link.ts
Due: avatax

add changeset
  .changeset/clever-bees-brush.md
Due: none

Bring back lint:fix & test tasks (#1798)
  turbo.json
Due: none

remove not needed env vars
  apps/avatax/scripts/run-webhooks-migration.ts
Due: avatax

remove lint-staged configs
  .lintstagedrc.js
  apps/avatax/.lintstagedrc.js
  apps/cms/.lintstagedrc.js
  apps/klaviyo/.lintstagedrc.js
  apps/products-feed/.lintstagedrc.js
  apps/search/.lintstagedrc.js
  apps/segment/.lintstagedrc.js
  apps/smtp/.lintstagedrc.js
  packages/e2e/.lintstagedrc.js
  packages/eslint-config/.lintstagedrc.js
  packages/logger/.lintstagedrc.js
  packages/otel/.lintstagedrc.js
  packages/react-hook-form-macaw/.lintstagedrc.js
  packages/sentry-utils/.lintstagedrc.js
  packages/shared/.lintstagedrc.js
  packages/trpc/.lintstagedrc.js
  packages/typescript-config/.lintstagedrc.js
  packages/ui/.lintstagedrc.js
  packages/webhook-utils/.lintstagedrc.js
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

Fix lint staged configuration & use tool.config.js format
  .prettierrc
  apps/avatax/.eslintrc.cjs
  apps/avatax/lint-staged.config.js
  apps/cms/.eslintrc.cjs
  apps/cms/lint-staged.config.js
  apps/klaviyo/.eslintrc.cjs
  apps/klaviyo/lint-staged.config.js
  apps/products-feed/.eslintrc.cjs
  apps/products-feed/lint-staged.config.js
  apps/search/.eslintrc.cjs
  apps/search/lint-staged.config.js
  apps/segment/.eslintrc.cjs
  apps/segment/lint-staged.config.js
  apps/smtp/.eslintrc.cjs
  apps/smtp/lint-staged.config.js
  lint-staged.config.js
  packages/e2e/.eslintrc.cjs
  packages/e2e/lint-staged.config.js
  packages/eslint-config/lint-staged.config.js
  packages/logger/.eslintrc.cjs
  packages/logger/lint-staged.config.js
  packages/otel/.eslintrc.cjs
  packages/otel/lint-staged.config.js
  packages/react-hook-form-macaw/.eslintrc.cjs
  packages/react-hook-form-macaw/lint-staged.config.js
  packages/sentry-utils/.eslintrc.cjs
  packages/sentry-utils/lint-staged.config.js
  packages/shared/.eslintrc.cjs
  packages/shared/lint-staged.config.js
  packages/trpc/.eslintrc.cjs
  packages/trpc/lint-staged.config.js
  packages/typescript-config/lint-staged.config.js
  packages/ui/.eslintrc.cjs
  packages/ui/lint-staged.config.js
  packages/webhook-utils/.eslintrc.cjs
  packages/webhook-utils/lint-staged.config.js
  prettier.config.js
Due: avatax, products-feed, search, segment, smtp, logger, shared, webhook-utils

Remove storybook
  apps/avatax/package.json
  apps/avatax/src/pages/_app.test.tsx
  apps/avatax/src/setup-tests.ts
  packages/react-hook-form-macaw/.storybook/main.ts
  packages/react-hook-form-macaw/.storybook/preview.tsx
  packages/react-hook-form-macaw/.storybook/styles.css
  packages/react-hook-form-macaw/README.md
  packages/react-hook-form-macaw/package.json
  packages/react-hook-form-macaw/src/components/Combobox.stories.tsx
  packages/react-hook-form-macaw/src/components/Input.stories.tsx
  packages/react-hook-form-macaw/src/components/Multiselect.stories.tsx
  packages/react-hook-form-macaw/src/components/Select.stories.tsx
  packages/react-hook-form-macaw/src/stories/Introduction.mdx
  pnpm-lock.yaml
Due: avatax

WIP: investigate missing internal spans
  apps/avatax/src/instrumentations/otel-node.ts
Due: avatax

fix lint
  apps/avatax/src/instrumentations/otel-node.ts
Due: avatax

dont use sampler
  apps/avatax/src/instrumentations/otel-node.ts
Due: avatax

Path conditions:
  avatax: any of: apps/avatax/
  cms: any of: apps/cms-v2/
  products-feed: any of: apps/products-feed/
  search: any of: apps/search/
  segment: any of: apps/segment/
  smtp: any of: apps/smtp/
  logger: any of: packages/logger/
  shared: any of: packages/shared/
  webhook-utils: any of: packages/webhook-utils/
